/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.admin-button
{
    background-color:#dfe5ec; 
    color: #444; 
    -webkit-border-radius:3px; 
    -moz-border-radius:3px; 
    border:0; 
    font-weight:bold; 
    font-size:11px; 
    padding:2px 7px 2px 7px;
}

.admin-button:hover										
{ text-decoration: none; 
  background-color: #0076ab; 
  color:#fff; 
  cursor:pointer
}

.frozen-header
{
   position:relative ;
   top:expression(this.offsetParent.scrollTop);
   z-index: 10;
}
.mGrid1 { 
    background-color: #fff; 
    margin: 10px 5px 10px 0; 
    border-bottom: solid 0px #525252;
    border-collapse:collapse; 
    height: 100%;
    overflow:scroll;
}

.mGrid1 tr
{
    position:relative;
    border-bottom-color: #C0C0C0;
}
.mGrid1 tr td { 
    padding: 5px; 
    border-bottom: solid 1px #c1c1c1; 
    color: #717171; 
}

.mGrid1 tr th { 
    padding: 4px 5px; 
    color: #000; 
    /*background-color: #ffffff; */
    border-top: solid 2px #cccccc;
    border-bottom: solid 1px #525252;
    /*border-bottom: solid 1px #B5B1B2;
    border-top: solid 1px #ffffff;*/
    font-size: 1.0em; 
    background:#d0d0d0;
    background:-moz-linear-gradient(top,#d0d0d0 0%,#f8f8f8 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d0d0d0),color-stop(100%,#f8f8f8));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0D0D0',endColorstr='#f8f8f8',GradientType=0);
    
}
.mGrid1 .alt { background: #F8F8F8 url() repeat-x top; }
.mGrid1 .pgr 
{ 
    background: #ffffff url() repeat-x top; 
    text-align:center;
}


.mGrid1 .pgr table  
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border-collapse:collapse;
    display:inline-table;
    border-spacing:0px;
    
}
 
.mGrid1 .pgr tr
{
    float:right;
}

.mGrid1 .pgr tr td 
{   
    float: left;
    text-align:center;
}  

.mGrid1 .pgr tr td:active
{
    background-color:#0076ab;
}


.mGrid1 .pgr tr td a 
{ 
    color: #114861; 
    text-decoration:none; 
}
.mGrid1 .pgr a:active
{
    display:inline-block;
    background-color:#0076ab;
    color:#ffffff;
    
}
.mGrid1 .pgr tr td a:hover { color: #666; text-decoration: underline; }




.search-container 
{

}

.search-container .ui-select, .search-container .ui-multiselect 
{
  width:130px !important;
  overflow:hidden;
}