/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.left-filter
{
    background-color: #dfe5ec;
    position: absolute;
    width: 170px;
    height: 696px;
    top: 0px;
}

.left-filter span.checkbox:hover, .left-filter label.radio:hover
{
    background-color: #0076ab;
    color: #ffffff;
}
.left-filter span.checkbox, .left-filter label.radio
{
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    color: #333333;
    cursor: pointer;
    padding: 0 2px;
    margin: 0;
    width: 98%;
    display: block;
}
.checkboxLabel
{
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    color: inherit;
    cursor: pointer;
    padding-left: 2px;
    margin: 0;
    width: 86%;
    display: inline-block !important;
}
.checkboxLabel:hover
{
    background-color: #0076ab;
    color: #ffffff;
}

.left-filter select
{
    width: 155px;
}

.left-filter .ui-select span, .left-filter .ui-multiselect span
{
    overflow: hidden;
}
.left-filter .ui-select, .left-filter .ui-multiselect
{
    width: 130px !important;
    overflow: hidden;
}
.left-filter hr
{
    margin: 0 0.4em;
    border-top-color: #c6ccd4;
    border-bottom-color: #f3f9fb;
}
.left-filter fieldset
{
    padding: 0;
    margin: 0 0;
}
.left-filter label
{
    display: block;
}

.top-filter
{
    padding: 0.5em 0px;
    background: #f0f0f0;
    border-bottom: solid 1px #dddddd;
    position: absolute;
    vertical-align: top;
    width: 820px;
    top: 0px;
    overflow: visible;
}

.top-filter-label
{
    float: left;
    padding: 5px;
}

.top-filter-date-label
{
    float: right;
    padding: 5px;
}

.top-filter .ui-multiselect
{
    width: 200px !important;
}

#drpScheduleDiv .ui-select span, #drpScheduleDiv .ui-multiselect span
{
    overflow: hidden;
    text-overflow: ellipsis;
}

#drpGroupDiv .ui-select span, #drpGroupDiv .ui-multiselect span
{
    overflow: hidden;
    text-overflow: ellipsis;
}

#drpDatedate
{
    width: 120px !important;
}

.LastCall:hover
{
    font-weight: bold;
}

.div_appt_buttons
{
    float: right;
    height: 35px;
    margin-top: 10px;
    width: 370px;
}

.div_appt_header
{
    float: left;
    margin-top: 10px;
    padding-left: 8px;
    width: 200px;
}

.appt_PatientName_Col
{
    width: 170px;
    float: left;
    padding: 0;
    margin: 0;
}

.appt_Phone_Col
{
    width: 100px;
    float: left;
    padding: 0;
    margin: 0;
}

.appt_ApptTime_Col
{
    width: 60px;
    float: left;
    padding: 0;
    margin: 0;
}

.appt_Type_Col
{
    width: 152px;
    float: left;
    padding: 0;
    margin: 0;
}

.appt_Provider_Col
{
    width: 150px;
    float: left;
    padding: 0;
    margin: 0;
}

.appt_Facility_Col
{
    width: 118px;
    float: left;
    padding: 0;
    margin: 0;
}

.appt_FacilityHdr_Col
{
    width: 122px;
    float: left;
    padding: 0;
    margin: 0;
}
