/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
table {
  margin: 0px 0px 0px 0px;
  border: 0px;
  border-spacing:0;
  clear:both;
}

#primary-content {
    margin-left: 170px;
    padding: 0px 0px 0px 0px;
    position: relative;
}

#primary-content-header .content 
{
    padding: 10px 10px 20px 10px;
}

.nowrap
{
    white-space:nowrap;
}

th, td {
    line-height: inherit;
    padding: 0 0;
}

.datepickerex
{
    float:left;
    margin-right: 1em; 
    font-weight: bold;
    text-rendering: optimizelegibility; 
}

.datepickerex-datepicker
{
    display: inline-block;
    margin:0px -5px 0px -4px;
}

.datepickerex-prev
{
    border: none;
    background-image: url("../../Images/pulldown-left.png");
    background-repeat: no-repeat;
    height:26px;
    width:26px;
    display:inline-block;
    padding:0;
    vertical-align:middle;
    margin:0;
}
.datepickerex-next
{
    border:none;
    background-image: url("../../Images/pulldown-right.png");
    height:26px;
    width:26px;
    display:inline-block;
    padding:0;
    position:relative;
    vertical-align:middle;
}
.datepickerex-editor
{
    vertical-align:middle;
}

tr td 
{
    padding:0;
    border:none;
}
