/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.filter-panel
{
    clear:both;
    padding:5px 5px 0 5px;
    width:770px;
    text-align:left;
}
    
.filter-field
{
    vertical-align:middle;
}
    
.filter-argument
{
    margin-left:5px;
    vertical-align:middle;
}
    
.filter-value
{
    margin-left:5px;
    vertical-align:middle;
}

.filter-button
{
    vertical-align:middle;
    font-weight:bold;
    font-size:14px;
    margin-right:5px;
    width:30px;
}

.filter-label
{
    margin:0 7px 0 10px;
    font-weight:bold;
}

.filter-expand
{
    cursor:pointer;
    float:right;
    width:25px;
    height:25px;
    background:url(../../Images/expand.png) 0px 0px no-repeat;
}

.filter-expand:hover
{
    background:url(../../Images/expand-over.png) 0px 0px no-repeat;
}

.filter-collapse
{
    cursor:pointer;
    float:right;
    width:25px;
    height:25px;
    background:url(../../Images/collapse.png) 0px 0px no-repeat;
}

.filter-collapse:hover
{
    background:url(../../Images/collapse-over.png) 0px 0px no-repeat;
}

.filter-grid-focus
{
    padding-bottom:7px;
    height:27px;
}

.filter-grid-focus table
{
    width:425px;
}