/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.form-outer-wrapper 
{
    background-color:#f0f0f0;
    border:1px solid #dfe5ec;
    padding:6px;
    margin:0 10px;
}

.form-inner-wrapper
{
    background-color:#dfe5ec;
    border:solid 1px #c6ccd4;
}

.form-inner-wrapper-nocol
{
    background-color:#fff;
    border:solid 1px #c6ccd4;
    padding:10px;
}

.form-title-row-top
{
    text-align:right;
    padding:3px 7px 7px 10px;
    border-left:1px solid #f3f9fb;
    border-right:1px solid #c6ccd4;
    border-top:1px solid #f3f9fb;
    border-bottom:1px solid #c6ccd4;
}

.form-data-row-top
{
    padding-left:6px;
    padding-right:7px;
    background-color:#fff;
    border-left:1px solid #dfe5ec;
}

/*
.form-inner-wrapper tr:hover > .form-title-row, .form-inner-wrapper tr:hover > .form-title-row-top
{
    background-color:#c0deeb;
}
*/

.form-title-row
{
    text-align:right;
    padding:3px 7px 7px 10px;
    border-left:1px solid #f3f9fb;
    border-right:1px solid #c6ccd4;
    border-top:1px solid #f3f9fb;
    border-bottom:1px solid #c6ccd4;
}

.form-data-row
{
    padding-left:6px;
    padding-right:7px;
    background-color:#fff;
    border:none;
    border-left:1px solid #dfe5ec;
}

/*
.form-inner-wrapper tr:hover > .form-data-row, .form-inner-wrapper tr:hover > .form-data-row-top
{
    background-color:#dfe5ec;
}
*/

.form-submit
{
    text-align:center;
    border:none;
    background-color:#fff;
    margin:10px;
    width:100%;
    clear:both;
}