/*Note section and Note History*/   
#followupWrapper {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: left;
    min-height: 395px;
    width: 47%;
    margin-top:20px;
    margin-left:15px;
}
.NoteTitle {
    background: none repeat scroll 0 0 #DFE3E5;
    border: 1px solid #828282;
    color: #333333;
    font-family: "segoe ui",arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 5px 5px 5px 9px;
    vertical-align: bottom;
    
}
.followupContainer {
    float: left;
    padding: 10px;
    width: 96%;
}

.followupLabel {
    font-family: 'segoe ui',arial,sans-serif;
    font-size: 12px;
}

.followupTxtArea textarea {
    border: 1px solid #CCCCCC;
    font-family: "segoe ui",arial,sans-serif;
    font-size: 12px;
    height: 100px;
    overflow-y: auto;
    resize: none;
    width: 99%;
}

.historyWrapper {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: right;
    width: 47%;
    margin-top:20px;
    margin-right:15px;
}
.historyContainer {
    height: 355px;
    overflow-y: auto;
    padding: 5px;
}
 /*history panel start here*/
        .historyContainerTable 
        {
            table-layout:fixed;
            word-wrap: break-word;
            width: 100%;
            *width: 97%;
            margin-top:10px;
        }
         .historyContainerHeader
        {
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            word-wrap: break-word;
            font-weight: Bold;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        .historyContainerDetail
        {
            border-top: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            padding-top: 4px;
            padding-left: 5px;
            padding-bottom: 4px;
            padding-right: 5px;
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            word-wrap: break-word;
            margin-bottom:10px;
        }
         .historyContainer
        {
            height: 355px;
            *height: 364px;
            overflow-y: auto;
            padding: 5px;
        }
        .historyNotediv
        {
            width:430px;
            word-wrap: break-word;
        }
        
        .actionErrMsg {
            background: none repeat scroll 0 0 #FFFFCC;
            border-bottom: 2px solid #DCD51C;
            border-top: 2px solid #DCD51C;
            color: #323232;
            left: 176px;
            line-height: 1em;
            margin-top: 2px;
            padding: 0.5em;
            position: static;
            z-index: 2;
        }
         
/*Communication history start here*/

.commHistoryContainer 
{
    float:left;
    background:#F0F0F0;
    width:100%;
    min-height:395px;
}

#calenderSec 

{

float:left;

width:240px;

margin-left:10px;

}

#patientCommSec 

{

float:left;

width:490px;

border-left:1px solid #ccc;

border-right:1px solid #ccc;

}

#alertRecommSec 

{

float:left;

width:245px;

}

.calenderTitle, .alertTitle
{
    margin-top:5px;
    height:25px;
    font-weight:bold;
    font-size:15px;
    color:#000;
}

.alertTitle 

{

margin-left:10px;

}

#patientCommData .datasection 

{

background:#fff;

float:left;

border-bottom:1px solid #ccc;

}

#patientCommData .dataTitle 

{
    font-size: 17px;
    font-weight: bold;
    padding: 5px 5px;
    background:#fff;
    border-bottom:1px solid #ccc;
    float:left;
    width:98%;
    color:#000;
}

#patientCommData .dataContent 

{

width:96%;

}

#patientCommData .colorbgCode 

{

width:4%;

}

#patientCommData .dataWrapper 

{
    width:96%;
    margin:2px 10px;
    font-weight:bold;
    float:left;
    color:#333;
    font-size:12px;
} 

.callStatus 

{
    width:115px;
    display:inline-block;
    font-size:12px;
}

.iconStatus 

{
    width:25px;
    display:inline-block;
}

.timeStatus 

{
    width:50px;
    display:inline-block;
    text-align:right;
    margin-right:10px;
    font-size:12px;
}

#alertRecommSec ul

{
    background:#fff;
    min-height:750px;

}

#alertRecommSec li

{
    padding:10px;
    color:#666666;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
}

.colorFilter ul 
{
margin:5px;
float:left;
}
.colorFilter li 
{
float:left; 
border:1px solid #3D6079;
padding: 3px 5px;
background:#FFF;
line-height:12px;
}
.colorFilter li span 
{
cursor:pointer;
}
.colorFilter li.all 
{
background:#3D6079;
color:#FFF;
font-size:11px;
}
.colorFilter li.orange span
{
background:#FFAA8A;
display: inline-block;
width: 12px;
}
.colorFilter li.yellow span 
{
background:#FFE18A;
display: inline-block;
width: 12px;
}
.colorFilter li.green span
{
background:#76DBAD;
display: inline-block;
width: 12px;
}
.colorFilter li.blue span
{
background:#79AFD5;
display: inline-block;
width: 12px;
}
/*Calendar Section*/
.calendarWrapper 
{
    background:#FFF;
    width: 230px;
    margin-bottom: 5px;
}
.calendarWrapper h3 
{
    font-size:12px;
    color:#000;
    padding:5px 5px 0 5px;
}
.weekday 
{
    background:#FFF;
    color:#000;
    padding:3px;
    font-size:11px;
    font-weight:normal;
}
.other-month 
{
    color:#999;
    font-size:12px;
    font-weight:normal;
    background:#F0F0F0;
    padding:3px;
    border-top:0px;
    text-align: center;
    height: 25px;
    width: 25px;
}
.current-month 
{
    color:#000;
    font-size:12px;
    font-weight:normal;
    padding:3px;
    border-top:0px;
    text-align: center;
    border:1px solid #F0F0F0;
    height: 25px;
    width: 25px;
}


.setDropHeight 
{
height:100px;
overflow-x:hidden;
overflow-y:scroll;
}
.RadComboBoxDropDown .rcbScroll 
{
overflow:hidden !important;
}

/*Communication history end here*/

         