/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
#docMain
{
	overflow:auto;
	height:577px;
	padding-left:50px;
}

.surveyDiv
{
	overflow:hidden;
	width: 665px;
	height:573px;
	border-bottom: 3px solid #f0f0f0;
}

.patientSurvey
{
	visibility:visible;	
}

/* Header Styles */
.hdrTable
{
	width: 665px;
	border-top: 3px solid #f0f0f0;
	border-right: 3px solid #f0f0f0;
	border-left:0;
	border-bottom: 3px solid #f0f0f0;
	line-height: 16px !important;
}

.docHeader
{
	height: 33px; 
	background:url(../../images/header-background.png) right -90px;
	text-align: center;
	font-weight:bold;
	font-size:12pt;
	color:#97c7dc;
	
}

.docPatientHeader
{
	text-align:left;
	height: 20px; 
	background-color: #B9CDE5;
	font-size:10pt;	
	padding-left:10px;
	border:0;
    line-height: 16px !important;
}

.docPatientInfo
{
	height: 25px;
	text-align:left;
	padding-left:10px;
	border:0;
	line-height: 16px !important;	
}


.docFooterButtonBar
{
	height: 28px; 
	background-color: #8EB4E3;
	font-size:10pt;
	border:0 !important;
}

.wideText
{
	width:162px;
	display:inline-block;
}

.extraWideText
{
	width:200px;
	display:inline-block;
}
.narrowText
{
	width:100px;
	display:inline-block;
}

/* General Styles */

.docLabel
{
	font-size:8pt;
	font-weight:bold;	
	margin-right:0;
	padding-right:0;
}

.docText
{
	font-size:9pt;
	font-weight:normal;	
}

#txtUpdatedBy
{
	width: 130px;
	height:10px;
	overflow:hidden;
	display:inline-block;
}

.required
{
	color: Red;
	font-size:10pt;
	font-weight:bold;
	display:block; 
	float:left;
	width:25px;
	height:15px;

}

.requiredBlock
{
	visibility:hidden;
	display:block; 
	float:left;
	width:25px;
	height:15px;
}

.requiredLegend
{
	color: Red;
	font-size:8pt;
	font-weight:normal;
	vertical-align:middle;
	display:block;
	margin-left:3px;
	width:80%;
	padding-bottom:5px;
}

.hideBlock
{
	visibility:hidden;
	display:block;
	height:13px;
}

.hide
{
	visibility:hidden;
	display:none;
}

.completeColor
{
	color:#00EE00;
}

.incompleteColor
{
	color:#D77804;
}
/* Detail Styles */

.divQuestions
{
	width: 662px; 
	height: 448px;
	border-right: 3px solid #f0f0f0;
	border-top: 0;
	border-left:0;
	border-bottom: 3px solid #f0f0f0;
	overflow:auto;
}

.tblQuestions
{
	width: 645px; 
	border:0;
}

.sectionHeader
{
	height: 17px; 
	width: 100%;
	background-color: #DBE5F1;
	text-align: left;
	font-size:8pt;
	font-weight:bold;	
}

.measureHeader
{
	height: 17px; 
	width: 100%;
	text-align: left;
	font-size:9pt;
	font-weight:bold;	
}

.measureHeaderDetail
{
    background:#E4F5F0;
    border: 0;
    line-height:16px !important;
}

.sectionDetail
{
	width: 100%;
	text-align: left;
	font-size:9pt;
	font-weight:normal;	
	border-bottom: 1px solid #E4F5F0;
}

.sectionHeaderLabel
{
	padding-left:0px;
	text-align:left;
	background:#E4F5F0;
	font-weight:bold;
}

.sectionLabel
{
	padding-left:30px;
	text-align:left;
	height:13px;
	border:0;
}

.sectionLabelIndent
{
	padding-left:50px;
	text-align:left;
	border:0;	
}

.sectionLabelWide
{
	padding-left:30px;
	text-align:left;
	width:85%;
	border:0;
}

.sectionLabelIndentWide
{
	padding-left:50px;
	text-align:left;
	width:90%;
	border:0;
}

.sectionInput
{
	padding-right:0;	
	margin-top:0px;
	padding-top:0px;	
	padding-bottom:0px;
	margin-bottom: 0px;
	border:0;
	padding-left: 45px;
}

.sectionInputHeader
{
	text-align:right;
	padding-right:30px;	
	border:0;	
	min-width:65px;
}

.sectionInputWide
{
	padding-right:0;	
	margin-top:0px;
	padding-top:0px;	
	padding-bottom:0px;
	margin-bottom: 0px;
	border:0;
	padding-left: 45px;
}

.sectionInputHeaderWide
{
	text-align:right;
	padding-right:30px;	
	border:0;	
}

.disabledLabel
{
	color:gray;
	padding:0;
}

/* ValueDateNP Styles */

.vdnpText
{
	width:30px;
	height: 15px;
	padding-bottom:0px;
	padding-top:0px;
	padding-right:5px;
	font-size:9pt;
	border-right: solid 1px #DBE5F1;
	border-top: solid 1px #DBE5F1;
	border-left: solid 1px #DBE5F1;
	border-bottom: solid 1px #DBE5F1;
}

.vdnpDate
{
	margin-left: 2px;
	height:15px;
	float: left;
	border-right: solid 1px #DBE5F1;
	border-top: solid 1px #DBE5F1;
	border-left: solid 1px #DBE5F1;
	border-bottom: solid 1px #DBE5F1;
}

.vdnpDateShort
{
	width:15px;
	height: 15px;
	padding-bottom:0px;
	padding-top:0px;
	font-size:9pt;
	border:0;
	text-align:left;
}

.vdnpDateShort[disabled="disabled"]
{
	width:15px;
	height: 15px;
	padding-bottom:0px;
	padding-top:0px;
	font-size:9pt;
	border:0;
	text-align:left;
}

.dateSlash
{
	height: 15px;
	padding-bottom:0px;
	padding-top:0px;
	font-size:9pt;
	border:0;
	float:left;
}

.vdnpDateLong
{
	width:30px;
	height: 15px;
	padding-bottom:0px;
	padding-top:0px;
	font-size:9pt;
	border:0;
	text-align:left;
}

.floatRight
{
	float:right;
}

.floatLeft
{
	float:left;
}

.vdInputHeader
{
	text-align:left;
	padding-left:0px;
	border:0;
}

.npInputHeader
{
	text-align:right;
	padding-right:0;
	margin-right:0;
	padding-left:0;
	margin-left:0;
	border:0;	
}

.vdnpLeft
{
	margin:5px;
}

.vdnpRight
{
	margin:0px;
}
.vdnpFieldSpace
{
	margin: 0px;
}

.vdSectionInput
{
	padding-right:0px;	
	margin-top:0px;
	padding-top:0px;	
	padding-bottom:0px;
	margin-bottom: 0px;
	border:0;
    width:150;
}

.npSectionInput
{
	text-align:right;
	padding-right:0;	
	margin-top:0px;
	padding-top:0px;	
	padding-bottom:0px;
	padding-left:45px;
	margin-bottom: 0px;
	border:0;
	
}
/* Resizable Frame */

#patientListFrame {
	overflow: hidden;
	width: 220px;
	border: 3px solid #f0f0f0;
	margin: 0;
	color: black;
	padding: 0;
	float:left;
	font-size:7.5pt;
	height:570px;
}
.internal 
{
    font-size:8pt;
	overflow: auto;
	width: 210px;
	height: 559px;
	border: 0px;
	background: white;
	color: black;
	margin:0;
	padding:8px 0px 8px 8px;
}

.incomplete
{
	color:#D77804;
	width: 10px;
	display:block;
	float:left;
	padding-right:20px;
	padding-left:10px;
	padding-top:5px;
}

.complete
{
	color:#00EE00;
	width:10px;
	display:block;
	float:left;
	padding-right:20px;
	padding-left:10px;
	padding-top:5px;
}

.link
{
	text-decoration: underline;
}

.link:hover
{
	text-decoration: underline;
	cursor:pointer;
}
.linkHighlight
{
	text-decoration: underline;
	background:#B9CDE5;
}

.linkHighight:hover
{
	text-decoration: underline;
	cursor:pointer;
	background:#B9CDE5;
}
#statusHdr
{
	width:40px;
	display:block;
	float:left;
	color:black;
	margin:0 !important;
	
}

.legendHdr
{
	width:40px;
	display:block;
	font-weight:bold;
}

#nameHdr
{
	display:block;
	color:black;	
	margin:0 !important;
	width:150px;	
}

/* Confirmation Box */


#confirmBox{
	position: fixed;
	top: 300px;
	left: auto;
	width: 502px;
	z-index: 2000;
	text-align: center;
	padding-left:242px;
}

#confirm {
	border:1px solid black;
	font-size:8pt;
	width:400px;
	padding:5px;
	background:white;
	text-align:left;
}

#confirmCenter {
	border:1px solid black;
	font-size:8pt;
	width:490px;
	padding:5px;
	background:white;
	text-align:center;
}

#confirmExclaim
{
	width:20px;
	height:20px;
	float:left;
	padding-right:5px;
	display:block;
}

#confirmExclaimNoFloat
{
	width:20px;
	height:20px;
	padding-right:5px;
}

#confirmMessage
{
	height:20px;
}

#confirmLogo
{
	width:95px;
	height:28px;
}

#confirmButtonDiv
{
	text-align:center;
}
