/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
div.scroll
{
    height: 430px;
    width: 945px;
    overflow: auto;
    padding-bottom:10px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 20px;
    text
}
.tos_button_style
{ 
  background-color:#dfe5ec ;
  color: #444;
  -webkit-border-radius:3px; 
  -moz-border-radius:3px; 
  border:0;
  font-weight:bold;
  font-size:11px;
  height:20px;
  
}
.tos_button_location
{
    width:200px;
    margin:0 auto;
    height:22px;
    text-align:center;
    line-height:24px;
    font-size:10pt;
    color:white;
    font-family:Arial;
    padding-top: 10px;
}    
.tos_button_style:hover										
{ 
    text-decoration: none; 
    background-color: #0076ab; 
    color:#fff; 
    cursor:pointer
}
.tos_print_right a
{
    color: Black;
    height: 0px;
    margin-top: -20px;
}
.tos_print_right
{
    width:20%; 
    text-align:right; 
    float:right; 
    font-weight:bold;
    padding-top:0px;
    margin-right:25px;
    font-size: 11px;
    height: 8px;
    margin-top: -10px;
}
