body {
}
        /* This Section contains Home Page Related Styles and few common one for Discharge Patient Details Page*/
        #main
        {
            position: relative;
            vertical-align: top;
            background-color: #DFE5EC !important;
        }
        
        .contentActualMargin .options
        {
            background-color: #DFE5EC;
            float: left;
            z-index: 5;
            padding-left: 6px;
            padding-top: 6px;
            min-height: 680px;
            height: 100%;
            width: 137px;
        }
        
        .content
        {
            padding-bottom: 0px !important;
        }
        
        .leftSidebar div.checkBoxItem
        {
            padding: 4px;
        }
        
        .checkbox input
        {
            margin-left: 8px;
            vertical-align: middle;
        }
        .checkbox label, .filterCheckBox label
        {
            display: inline;
            vertical-align: middle;
            font-weight: normal;
        }
        
        .PhoneStyle
        {
            white-space: nowrap;
        }
        .optionsCheckbox label
        {
            color: #333333;
            display: inline;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            vertical-align: middle;
        }
        
        .lblPageSizeCSSClass
        {
            margin-left: 200px !important;
        }
        .AssesmentImageVisibleStyle
        {
            z-index: 100;
            padding-right: 10px !important;
            padding-left: 0px !important;
        }
        .FollowUpImageVisibleStyle
        {
            float: left;
            width: 15px;
            padding-left: 5px;
            height: 20px;
        }
        
        #top-filter
        {
            background: none repeat scroll 0 0 #F0F0F0;
            border-bottom: 1px solid #DDDDDD;
            height: auto;
            overflow: hidden;
            padding: 0.5em 0;
        }
        
        
        .graydiv
        {
            position: absolute;
            background-color: #5B5B5B;
            left: 0px;
            top: 0px;
            z-index: 10000;
            display: none;
        }
        
        
        .pagerCombo
        {
            margin-left: 5px !important;
            width: 50px !important;
        }
        
        #TopPane td
        {
            width: 100px;
        }
        
        
        #formContent
        {
            color: #333333;
            display: inline;
            font-size: 12px;
            font-style: normal;
        }
        
        div.topFilterRow
        {
            padding-top: 6px;
            padding-left: 8px;
            padding-right: 8px;
            height: 28px;
            width: 100%;
        }
        
        div.topFilterRow label, div.topFilterRow select, div.topFilterRow div.RadComboBox
        {
            margin-right: 8px;
            display: block;
            float: left;
        }
        
        div.topFilterRow label
        {
            margin-right: 8px;
        }
        
        div.topFilterRow select, div.topFilterRow div.RadComboBox
        {
            margin-right: 18px;
        }
        
        div.topButtonRow
        {
            padding-bottom: 8px;
            padding-left: 12px;
            margin-bottom: 8px;
            height: 28px;
        }
        
        .columnSelectionGrid
        {
            float: right;
            padding-bottom: 10px;
            padding-top: 8px;
        }
        
        .leftSidebar
        {
            background-color: #DFE5EC;
            float: left;
            left: 0px;
            top: 0px;
            z-index: 5;
            padding-left: 6px;
            padding-top: 6px;
            clear: both;
        }
        
        .leftSidebar div.checkBoxItem
        {
            padding: 4px;
        }
        
        .lightGray
        {
            background-color: #f0f0f0;
        }
        .hide
        {
            display: none;
        }
        .pager
        {
            float: right;
        }
        .required
        {
            font-size: 1.4em;
        }
        
     div.gridSection
        {                               
            float: left;
            width:100%;
        }
        
        
        
        #filter-update
        {
            left: 167px;
            background: #ffffcc;
            line-height: 2em;
            padding: 1em;
            border-top: solid 2px #dcd51c;
            border-bottom: solid 2px #dcd51c;
            z-index: 2;
            color: #323232;
        }
        
        .physicianComparisonMeasures
        {
            float: right;
            margin-right: 8px;
        }
        .RadComboBoxDropDown_Default .rcbScroll
        {
            overflow-y: auto;
            overflow-x: hidden !important;
        }
        
        .ComboSetWidth .RadComboBox table
        {
            width: 100% !important;
        }
        
        .rcbSlide
        {
            z-index: 185 !important;
        }
        
        .footer
        {
            background-color: #FFFFFF;
        }
        .footer-wrapper 
        {
            margin: -40px auto 0;    
        }
        
        .popup-panel
        {
            border: 1px solid #828282 !important;
            z-index: 999 !important;
            opacity: 2;
        }
        .rgMasterTable
        {
            border-bottom: 1px solid #CCCCCC;
            border-top: 1px solid #CCCCCC;
            border-left: 1px solid #CCCCCC;
            border-right: 1px solid #CCCCCC;
        }
        
        .SelectedItem
        {
            background: #C0DEEB !important;
        }
        .SelectedItem td
        {
            border-color: #C0DEEB !important;
        }
        
        
        .RadGrid_Default
        {
            border-left: 0px !important;
            border-right: 0px !important;
            border: 0px !important;
        }
        
        .RadGrid_Default .rgRow a, .RadGrid_Default .rgAltRow a
        {
            color: #114861 !important;
            font-weight: bold;
        }
        .RadGrid_Default th.rgHeader, .RadGrid_Default th.rgSorted
        {
            background-image: none;
            background-color: #DFE3E5 !important;
            filter: none;
            border-bottom:0;
        }
        
        .RadGrid_Default .rgAltRow td, .RadGrid_Default .rgAltRow td.rgSorted
        {
            background-color: #F2F7FD;
            border-top: 1px solid #C0C0C0 !important;
            color: #545454;
        }
        
        /*.RadGrid_Default th.rgHeader a, .RadGrid_Default th.rgSorted a
        {
            color: #114861 !important;
        }*/
        
        .RadGrid_Default .rgRow td
        {
            word-wrap: break-word !important;
            border-top: 1px solid #C0C0C0 !important;
        }
        
        
        .RadGrid_Default .rgAltRow td
        {
            word-wrap: break-word !important;
        }
        
        .RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td
        {
            padding-top: 4px !important;
            padding-right: 7px !important;
            padding-bottom: 3px !important;
            padding-left: 7px !important;
        }
        
        .RadGrid_Default .rgRow a:hover, .RadGrid_Default .rgAltRow a:hover
        {
            color: #114861 !important;
            font-weight: bold;
        }
        
        .RadGrid_Default .rgRow .rgSorted
        {
            background-color: transparent !important;
        }
        
        .RadGrid_Default .rgSelectedRow td, .RadGrid_Default .rgSelectedRow td.rgSorted
        {
            background-color: #C0DEEB !important;
        }
        
        .buttonH
        {
            background: url(../../Assets/Images/button.png) 0px 0px no-repeat;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 11px;
            color: #114861;
            line-height: 12px;
            height: 12px;
            border: solid 1px #bfddea;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            padding: 4px 5px 3px 10px;
        }
        
        
        .icon.DueImage
        {
            background: url(/Assets/Images/warning.png) no-repeat;
            display: inline-block;
            width: 16px;
        }
        
        
        .icon.DidnotRequestImage
        {
            background: url(/Assets/Images/stop.png) no-repeat;
            display: inline-block;
            width: 16px;
        }
        
        .icon.red-alert
        {
            background: url(/Assets/Images/red-alert.png) no-repeat;
            display: inline-block;
            width: 16px;
        }
        
        .icon.in-progress
        {
            background: url(/Assets/Images/in-progress.png) no-repeat;
            display: inline-block;
            width: 16px;
        }
        
        .disChargePatientsGrid thead tr th.leftJustifiedHeader, .disChargePatientsGrid tbody tr td.leftJustifiedText
        {
            text-align: left !important;
            word-wrap: break-word;
        }
        
        .disChargePatientsGrid thead tr th.centerJustifiedHeader, .disChargePatientsGrid tbody tr td.centerJustifiedHeader
        {
            text-align: center !important;
            word-wrap: break-word;
        }
        
        .disChargePatientsGrid thead tr th.rightJustifiedHeader, .disChargePatientsGrid tbody tr td.rightJustifiedText
        {
            text-align: right !important;
            word-wrap: break-word;
        }
        
        .marginForChildDetails
        {
            margin: 0px 0px 0px 0px !important;
        }
        
        .displayNone
        {
            display: none;
        }
        
        .RadGrid_Default .rgSelectedRow
        {
            background: #C0DEEB !important;
        }
        
        
        #grid-atleastcolumn
        {
            position: static;
            left: 176px;
            width: 796px;
            background: #B6D3DD;
            line-height: 2em;
            padding: 1em;
            border-top: solid 2px #7896A9;
            border-bottom: solid 2px #7896A9;
            z-index: 2;
        }
        
        #grid-maxrecords, .blueWarning
        {
            position: static;
            left: 176px;
            background: #B6D3DD;
            line-height: 2em;
            padding: 1em;
            border-top: solid 2px #7896A9;
            border-bottom: solid 2px #7896A9;
            z-index: 2;
        }
        
        .leftSidebar div.sectionHeading
        {
            width: 161px;
            background-color: #F0F0F0;
            color: #114861;
            font-size: 12px;
            font-weight: bold;
            padding: 2px;
            padding-left: 4px;
            margin-left: -6px;
            margin-top: 12px;
            margin-bottom: 6px;
        }
        
        div.sectionHeading
        {
            width: 135px;
            background-color: #F0F0F0;
            color: #114861;
            font-size: 12px;
            font-weight: bold;
            padding: 2px;
            padding-left: 4px;
            margin-left: -6px;
            margin-top: 12px;
            margin-bottom: 6px;
        }
        
        .dvPageStyleBar
        {
            background-color: White;
            opacity: 0.2;
            height: 25px;
            margin-left: -82px;
            margin-top: 6px;
            padding-left: 5px;
            position: absolute;
            width: 80px;
            filter: alpha(opacity = 20);
        }
        
        
        .spanPrintLevelStyle
        {
            width: 77px;
            float: left;
            margin-top: 8px;
        }
        
        .buttonH a
        {
            color: gray;
        }
        
        /*  This Style Section include only Discharge Patient Details Page related Styles */
        
        .navToParentDetails
        {
            text-decoration: underline;
            font-weight: bold;
        }
        
        .DetailTableLabel
        {
            border-top: 0px;
            width: 50px;
            border-color: #F3F9FB #C6CCD4 #C6CCD4 #F3F9FB;
            border-width: 1px;
            padding: 1px 6px 0 1px;
            text-align: right;
        }
        
        .DetailTableContent
        {
            border-left: 0px;
            padding-left: 2px;
            padding-right: 3px;
            width: 92px;
        }
        
        .DetailTableLeftContent
        {
            width: 100px;
        }
        .DetailTableRightContent
        {
            width: 80px;
        }
        .radPanelForDischarge
        {
            clear: both;
            padding-top: 25px;
        }
        .dischargeDetailsHeader
        {
            margin-bottom: 5px;
            padding-top: 5px;
        }
        .specialLabelUser
        {
            /*float: right;*/
            white-space: nowrap;
            font-weight: normal;
            font-size: 11px;
        }
        
        label.newRequired, span.newRequired
        {
            font-weight: bold;
        }
        .ModelDetailsTable
        {
            height: 150px;
            margin-top: 0px;
        }
        .ModelDetailsTable td
        {
            width: 150px;
        }
        
        #divNavToPreviousPage
        {
            background-color: #F0F0F0;
            border-bottom: 1px solid #DDDDDD;
            font-size: 12px; /*width: 832px; existing ui width*/
            width: 100%;
            float: right;
            height: 26px;
            padding-top: 8px;
            display: inline;
        }
        
        
        #divNavSamePage
        {
            padding-bottom: 3px;
            font-size: 16px;
            vertical-align: middle;
            overflow: hidden;
            float: right;
            padding-right: 5px;
            width: 50px;
        }
        
        #divMustSaveNote
        {
            position: static;
            left: 180px;
            width: 830px;
            background: #C0DEEB;
            line-height: 2em;
            padding: 1em;
            border-top: solid 2px #76ACC5;
            border-bottom: solid 2px #76ACC5;
            z-index: 2;
            padding-right: 5px;
            color: #323232;
        }
        
        .RadPanelBar .rpRootGroup
        {
            border-width: 0px !important;
        }
        
        #divNavigationImages
        {
            width: 400px;
            float: left;
            padding-left:15px;
        }
        
        .boldForReason
        {
            font-weight: bold;
            text-align: right;
            padding-right: 10px;
            vertical-align: middle;
        }
        
        .boldForReasonTop
        {
            font-weight: bold;
            text-align: right;
            padding-right: 10px;
            vertical-align: top;
        }
        .noteField
        {
            text-align: right;
            vertical-align: top;
            padding-right: 10px;
        }
        
        .imageEnabled
        {
            float: right;
            cursor: pointer;
            border: 0;
        }
        
        .imageDisabled
        {
            float: right;
            cursor: default;
            border: 0;
        }
        .none
        {
            display: none;
        }
        
        .labelMargin
        {
            margin-left: 3px;
        }
        #divBlanket
        {
            background-color: #DFE5EC;
            opacity: 0.65;
            filter: alpha(opacity=65);
            position: absolute;
            z-index: 100;
            top: 0px;
            left: 0px;
            width: 100%;
        }
        
        #divPopUp
        {
            position: absolute;
            background-color: #eeeeee;
            width: 500px;
            height: auto;
            z-index: 130;
            border: 1px;
            border-style: solid;
            margin-left: -10px;
            margin-top: -38px;
        }
        
        .btnForScheduleNote
        {
            text-align: right;
            padding-right: 35px;
            padding-bottom: 10px;
            vertical-align: middle;
            padding-top: 10px;
        }
        .saveButtonMargin
        {
            margin-right: 5px;
        }
        
        #divEditFollowup
        {
            position: absolute;
            background-color: #eeeeee;
            width: 500px;
            height: auto;
            z-index: 130;
            border: 1px;
            border-style: solid;
            margin-left: -10px;
            margin-top: -38px;
        }
        #divCancelFollowup
        {
            position: absolute;
            background-color: #eeeeee;
            width: 500px;
            height: 270px;
            z-index: 130;
            border: 1px;
            border-style: solid;
            margin-left: -10px;
            margin-top: -38px;
        }
        .addFollowupDisplayDetailsDays
        {
            margin-left: 5px;
        }
        
        .addFollowupSpecificDate label
        {
            display: inline;
            vertical-align: middle;
            font-weight: normal;
            font-size: 12px;
        }
        
        .addFolloupFromToDay label
        {
            display: inline;
            vertical-align: middle;
            font-weight: normal;
            font-size: 12px;
        }
        .addFollowupFromToday label
        {
            display: inline;
            vertical-align: middle;
            font-weight: normal;
            font-size: 12px;
        }
        
        .ddlFromToDayDivLayerCls
        {
            background: #EEEEEE;
            opacity: 0.5;
            filter: alpha(opacity=50);
            width: 250px;
            height: 25px;
            margin-bottom: 12px;
            position: absolute;
        }
        
        .rdpDatePickerDivLayerCls
        {
            background: #EEEEEE;
            opacity: 0.5;
            filter: alpha(opacity=50);
            width: 250px;
            height: 25px;
            margin-bottom: 12px;
            position: absolute;
        }
        .errorMessageForEditSchedule
        {
            color: #A52A2A;
            vertical-align: middle;
            height: 40px;
            padding: 0px 3px 0px 3px;
        }
        .errorMessageForSchedule
        {
            color: #A52A2A;
            padding-left: 3px;
            height: 20px;
        }
        
        .slidingDiv
        {
            width: 273px;
            padding: 2px;
            height: 120px;
            float: left;
        }
        
        .text
        {
            width: 100px;
            float: left;
            margin-right: 8px;
        }
        .value
        {
            width: 110px;
            float: left;
        }
        
        .divdetails li
        {
            clear: both;
        }
        
        .mainModalTitle Label
        {
            display: inline;
        }
        .mainModalTitle p
        {
            color: white;
        }
        
        .mainModalTitle
        {
            font-size: 18px;
            font-weight: bold;
            top: 0px;
            z-index: 5;
            padding-left: 6px;
            height: 30px;
            line-height: 30px;
            vertical-align: top;
        }
        
        .radio label
        {
            display: inline;
            vertical-align: middle;
        }
        
        .leftContent
        {
            /*width: 847px; existing ui
            width: 990px;*/
            float: left;
            *float: none;
            background: #FFFFFF;
        }
        
        .radPanelBarContent
        {
            margin-left: 10px;
        }
        
        .printButton
        {
            float: right;
            margin-right: 8px;
            padding-bottom: 10px;
            padding-right: 5px;
            padding-top: 5px;
            text-align: right;
        }
        
        .dischargePatientName
        {
            width: 100%;
            padding-bottom: 10px;
        }
        .dischargePatientNameLeft
        {
            text-align: left;
            float: left;
        }
        .dischargeInstructionsTab
        {
            font-weight: bold;
            height: 30px;
            background-color: White;
        }
        .dischargeInstructionsTabData
        {
            margin: 10px;
            overflow: auto;
        }
        .historyTabData
        {
            overflow-x: auto;
            height: 140px;
            margin: 10px;
            overflow: auto;
        }
        
        
        .radTabs
        {
            margin-top: 5px;
            border: none;
            min-height: 240px;
            background-color: White;
        }
        .addNoteAlign
        {
            padding: 10px;
        }
        .addNoteGrid
        {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 98%;
            position: relative;
        }
        .noteHeader
        {
            clear: both;
            padding: 10px 0px 5px 10px;
        }
        .addNotes
        {
            display: none;
            padding: 10px;
        }
        .displayNotesGridHidden
        {
            position: relative;
            width: 790px;
        }
        .displayNotesGrid
        {
            width: 790px;
        }
        .numericText
        {
            text-align: right;
        }
        .patientDetails
        {
            padding-left: 10px;
        }
        
        .patientDetails .specialLabelUser
        {
            margin: 0px;
        }
        
        .patientDetails tbody tr td
        {
            padding-bottom: 4px;
            vertical-align: top;
        }
        
        .patientDetails tbody tr td label
        {
            margin: 0px;
        }
        
        .insertNotes
        {
            float: left;
            padding-right: 5px;
        }
        html body .RadInput_Default .riHover, html body .RadInputMgr_Hover_Default, html body .RadInput_Hover .riFocused, html body .RadInput_Focused_Default
        {
            border-color: #8E8E8E #B8B8B8 #B8B8B8 #8E8E8E !important;
        }
        input[type=submit], input[type=reset], input[type=button]
        {
            filter: chroma(color=#000000) !important;
        }
        
        /*new sprint1 classes start here - 05/30/12*/
        
        /*history panel start here*/
        .historyContainerTable 
        {
            table-layout:fixed;
            word-wrap: break-word;
            width: 100%;
            *width: 97%;
        }
        .historyWrapper
        {
            float: right;
            width: 55%;
            *width: 54%;
            border-bottom: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
        }
        .historyTitle
        {
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            font-weight: bold;
            background: #DFE3E5;
            color: #333333;
            line-height: 18px;
            vertical-align: bottom;
            border: 1px solid #828282;
            padding: 5px;
        }
        .historyContainer
        {
            height: 355px;
            *height: 364px;
            overflow-y: auto;
            padding: 5px;
        }
        
        .alternateRow
        {
            background: #F2F7FD;
        }
        .historyContainerQuesAns 
        {
            border: 1px solid #cccccc;
            padding-top:0px;
            padding-bottom:0px;
        }
        .historyContainerQues
        {
            padding: 5px;
            min-height: 16px;
            line-height: 16px;
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            word-wrap: break-word;
            float:left;
            width:75%;
        }
        .historyContainerAns
        {
            padding: 5px 5px 5px 20px;
            min-height: 16px;
            line-height: 16px;
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            word-wrap: break-word;
            float:left;
            width:18%;
        }
        .historyContainerDetail
        {
            border-top: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            padding-top: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
            min-height: 16px;
            line-height: 16px;
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            word-wrap: break-word;
        }
        .historyContainerHeader
        {
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            word-wrap: break-word;
            font-weight: Bold;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        tbody tr td
        {
            border-top: 0;
        }
        /*history panel end here*/
        
        #followupWrapper
        {
            float: left;
            width: 44%;
            *width: 45%;
            border-bottom: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            min-height: 395px;
        }
        .followupTxt
        {
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            font-weight: bold;
            color: #333333;
            line-height: 18px;
            text-align: left;
            vertical-align: baseline;
            padding: 5px 10px;
        }
        .followupToday
        {
            background-color: #FFFFCC;
            border: 1px solid #DCD51C;
        }
        .followupOverdue
        {
            background-color: #F2D2D5;
            border: 1px solid #D17981;
        }
        .followupComplete
        {
            background-color: #d8e8d2;
            border: 1px solid #009966;
        }
        #followupToday .icon, #followupOverdue .icon, #followupComplete .icon
        {
            margin-top: 2px;
            display: block;
            float: left;
            margin-right: 4px;
        }
        .followupContainer
        {
            padding: 10px;
            float: left;
            width: 96%;
        }
        .reasonsTxt
        {
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            font-weight: bold;
            color: #333333;
            line-height: 16px;
            vertical-align: bottom;
            padding-bottom: 20px;
        }
        .followupTxtArea textarea
        {
            border: 1px solid #cccccc;
            overflow-y: auto;
            width: 99%;
            height: 100px;
            resize: none;
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
        }
        .followupCheck
        {
            margin: 10px 0 30px 0;
        }
        .followupButton
        {
            float: right;
        }
        .noteErr
        {
            color: #A52A2A;
        }
        .followupAction select
        {
            font-family: "segoe ui" ,arial,sans-serif;
            font-size: 12px;
            border: 1px solid #cccccc;
            margin-bottom: 15px;
        }
        .actionErrMsg
        {
            position: static;
            left: 176px;
            background: #ffffcc;
            line-height: 1em;
            padding: 0.5em;
            border-top: solid 2px #dcd51c;
            border-bottom: solid 2px #dcd51c;
            z-index: 2;
            color: #323232;
            margin-top:2px;
        }
        
         .drpRequiredStyle
        {
            border: 2px solid #DCD51C;
        }
        
        .drpRequiredStyle table
        {
            background-color: #FFFFCC;
        }
        .drpRequiredStyle table td.rcbInputCell
        {
            background-image: none;
        }
        .followupLabel {
            font-family:'segoe ui',arial,sans-serif; 
            font-size:12px;
        }
        /*followup end here*/


        /*banner section start here*/
        .divdetails {
            float:left;
        }
        .divdetails li div 
        {
            font-family:"segoe ui",arial,sans-serif;
            font-size:12px;
            font-weight:400;
            float:left;
            margin-top:6px;
            color:#333333;
            line-height:16px;
            font-style:normal;
            font-size-adjust:none;
            text-transform:none;
            text-decoration:none;
            letter-spacing:normal;
            word-spacing:0;
            vertical-align:bottom;
            word-wrap: break-word;
        }
        .bannerRowWrapper {
            padding-right:10px;
            float: left;
        }
        
        .bannerRowTop {
            float: left;
            width:98%;
            margin: 10px 5px 5px 15px;
        }
        .colOne {
            max-width: 45%;
            float: left; 
            margin-right: 20px;
            font-size:24px;
            line-height:30px;
            color:#333333;
            font-family:"segoe ui",arial,sans-serif;
            font-weight:bold;
            word-wrap: break-word;
        }
        .colTwo {
            float: left; 
            width: 35%; 
            padding-top: 6px;
            font-size:12px;
            line-height:25px;
            color:#333333;
            font-family:"segoe ui",arial,sans-serif;
            text-align:center;
        }
        .colThree {
            float: left; 
            width: 158px; 
            height:25px;
            line-height:20px;
            font-size:20px;
            color:#333333;
            font-family:"segoe ui",arial,sans-serif;
            word-wrap: break-word;
            text-align:center;
            background:url('/Assets/Images/phone_bg.png') no-repeat;
        }
        .bannerRowOne {
            padding-left:5px;
            width:33%;
        }
        .bannerRowTwo {
            width:29%;
        }
        .bannerRowThree {
            width:34%;
        }
        .labelWidth, .labelWidthTwo, .labelWidthThree  
        {
            width:70px;
            text-align:right;
            font-weight:normal;
            float:left;
            padding-right:3px;
            color:#333333;
        }
        .labelWidthTwo 
        {
            width:80px;
        }
        .labelWidthThree 
        {
            width:130px;
        }
        label {
            font-size:12px;
        }
        /**** GET LOST SKYPE! ****/
        span.skype_pnh_container {display:none !important;}
        span.skype_pnh_print_container {display:inline !important;}
        /*banner section end here*/
        .nospace { 
            margin-left:0; 
            margin-right:0;
            padding-left:0; 
            padding-right:0; 
        }
        /*new sprint1 classes end here - 05/30/12*/
        /* css for dynamic reason checkboxes*/
        .reasonCheck 
        {
            display: block;
            width: 162px;
        }
        
        .reasonCheck label, .reasonCheck input 
        {
            color: #333333;
            height: 20px;
        }
        .buttonHL-arrow 
        {
            padding-right:10px;
        }
   