<form>
    <div class="row pad top">
        <div class="span3">
            <span class="grey">Element</span>
        </div>
        <div class="span3">
            <span class="grey">Value</span>
        </div>
        <div class="span2">
            <span class="grey">Date</span>
        </div>
        <div class="span4">
            <span class="grey">Source</span>
        </div>
    </div>
    <div class="row pad top">
        <div class="span3">
            <input type="text" />
        </div>
        <div class="span3">
            <input type="text" />
        </div>
        <div class="span2">
            <input class="datepicker hasDatepicker" type="text" id="dp1386105161755" />
        </div>
        <div class="span3">
            <select>
                <option>Opt 1</option>
                <option>Opt 2</option>
                <option>Opt 3</option>
            </select>
            <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 0px;" title="">
                <a class="chosen-single" tabindex="-1">
                    <span>Opt 1</span>
                    <div><b></b></div>
                </a>
                <div class="chosen-drop">
                    <div class="chosen-search">
                        <input type="text" autocomplete="off" readonly="" />
                    </div>
                    <ul class="chosen-results"></ul>
                </div>
            </div>
        </div>
        <div class="span1">
            <a href="#">
                <i class="icon-plus"></i>
            </a>
        </div>
    </div>
    <div class="position bottom right">
        <div class="pad vertical">
            <button class="cancel">Cancel</button>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>