<form class="simple_form new_todo" data-bind="with: selectedPatient">
    <div class="row" data-bind="if: $parent.hasErrors">
        <ul data-bind="foreach: $parent.errors">
            <li class="validation-errors">
                <h5 data-bind="text: Message"></h5>
            </li>
        </ul>
    </div>
    <div class="row" data-bind="with: $parent.newTodo">
        <div class="span2 align-right grey">Category:
        </div>
        <div class="span3 pad-left">
            <div data-bind="chsnsingle: { options: $parents[1].categories, value: category, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
        </div>
    </div>
    <div class="row pad-top" data-bind="with: $parent.newTodo">
        <div class="span2 align-right grey">Status:     
        </div>
        <div class="span3 pad-left">
            <div data-bind="chsnsingle: { options: $parents[1].statuses, value: status, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
        </div>
    </div>
    <div class="row pad-top" data-bind="with: $parent.newTodo">
        <div class="span2 align-right grey">Due Date:     
        </div>
        <div class="span3 pad-left">            
            <input placeholder="due date" size="30" type="text" data-bind="datepicker: dueDate">
        </div>
    </div>
    <div class="row pad-top" data-bind="with: $parent.newTodo">
        <div class="span2 align-right grey">Assigned to:     
        </div>
        <div class="span3 pad-left">
            <input class="span12" type="text" data-bind="typeahead: { name: 'assignedToIdTypeAhead', taOptions: $parents[1].careManagersBloodhound, displayKey: 'preferredName'}, value: $parents[1].assignedToDisplay, initOptions: { minLength: 3 }" placeholder="Enter name" />
        </div>
    </div>
    <div class="row pad-top" data-bind="with: $parent.newTodo">
        <div class="span2 align-right grey">Priority:
        </div>
        <div class="span3 pad-left">
            <div data-bind="chsnsingle: { options: $parents[1].priorities, value: priority, text: 'levelName', label: 'action-status', caption: 'Choose...' }"></div>
        </div>
    </div>
    <div class="row pad-top" data-bind="with: $parent.newTodo">
        <div class="span2 align-right grey">Individual:     
        </div>
        <div class="span3 pad-left">
            <span data-bind="text: (patientDetails() && patientDetails().fullName()) ?  patientDetails().fullName() : '-'"></span>
        </div>
        <div class="span5 align-right">
            <button class="close small" data-bind="enable: patientId(), click: $parents[1].removeAssociation">Remove Association</button>
        </div>
    </div>
    <div class="row pad-top" data-bind="with: $parent.newTodo">
        <div class="span2 align-right grey">Related Program(s):
        </div>
        <div class="span5 pad-left" data-bind="visible: patientId()">
            <div class="span12" data-bind="multiselect: { options: $parents[1].availablePrograms, values: programIds, idValue: 'id', text: 'name', label: 'programs', stringValue: programString }"></div>
        </div>
        <div class="span5 pad-left" data-bind="visible: !patientId()">
            <span>-</span>
        </div>
    </div>
    <div class="row pad-top" data-bind="with: $parent.newTodo">
        <div class="span2 align-right grey">Title:
        </div>
        <div class="span9 pad-left">
            <input placeholder="title" size="80" maxlength="500" type="text" data-bind="value: title, valueUpdate: 'afterkeydown', css: { invalid: ($parents[1].errors().length !== 0) }">
        </div>
    </div>
    <div class="row pad-top">
        <div class="span3 grey">Description:
        </div>
    </div>
    <div class="row" data-bind="with: $parent.newTodo">
        <div class="span12">
            <textarea data-bind="value: description" maxlength="500">
            </textarea>
        </div>
    </div>
    <div class="row pad">
    </div>
    <div class="position bottom right">
        <div class="pad vertical">
            <button data-bind="click: $parent.cancel" class="cancel">Cancel</button>
            <button data-bind="click: $parent.save, enable: $parent.canSave" class="btn color">Save</button>
        </div>
    </div>
</form>