<div class="span6 flush">
    <div class="widget translucent">
        <div class="content">
            <header>
                <h1>Whitepaper</h1>
                <div class="controls">
                    <div class="toggle next"></div>
                </div>
            </header>
            <div class="body">
                <ul class="unstyled">
                    <li class="row">
                        <img alt="Wp poph" class="pull-left" src="/Content/images/login_screen/wp-popH.png" width="70px" />
                        <div style="margin-left: 80px">
                            <h2>Population Health Management: A Roadmap for Provider-Based Automation in a New 	Era of Healthcare</h2>
                        </div>
                    </li>
                    <li class="row">
                        <p>Population health management has been around for a while, but only recently has it gained serious attention from mainstream healthcare organizations. The reason is simple: healthcare reimbursement is changing...	</p><a href="http://www3.phytel.com/expertise/population-health-white-papers/population-health-management-a-roadmap-for-providerbased-automation-in-a-new-era-of-healthcare.aspx">Read More</a>
                    </li>
                </ul>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
    <div class="widget translucent">
        <div class="content">
            <header>
                <h1>Blog</h1>
                <div class="controls">
                    <div class="toggle next">
                    </div>
                </div>
            </header>
            <div class="body">
                <h2>Automate Care Management; Reach More Patients</h2><img alt="Img blue circles" class="pad vertical" src="/Content/images/login_screen/img-blue-circles.jpg" width="100%" />
                <p>For many physicians, the demands of their extremely busy schedules make it a challenge for them to consistency reach out and engage their patients between visits...</p><a href="http://blog.phytel.com/2012/07/automating-care-management-to-reach-more-patients/">Read More</a>
            </div>
        </div>
    </div>
</div>