<div class="widget" data-bind="css: { 'open': isOpen, 'fullscreen': isFullScreen() }, columnSizer: {triggers: {a: isOpen(), b: filtersHeaderOpen(), c: filtersOpen()}}">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="filters" data-bind="visible: filtersHeaderOpen">
                        <div class="table-cell">
                            <div class="wrapper">
                                <section class="pinned">
                                    <div class="row">
                                        <div class="span5">
                                            <label class="row">
                                                <span class="span3">Type:</span>
                                                <div class="span8" data-bind="multiselect: { options: allergyTypes, values: selectedAllergyTypes, text: 'name', label: 'allergytypes', idValue: 'id' }"></div>
                                            </label>
                                        </div>
                                        <div class="span5">&nbsp</div>
                                        <div class="span2" data-bind="click: resetFilters">
                                            <div class="pull-right filters grey">
                                                <i class="icon-filter_clear pointer blue toggle" data-bind="visible: canReset" style="position: inherit;" title="Clear Filter"></i>
                                                <span>&nbsp</span>
                                            </div>
                                        </div>                                        
                                    </div>
                                </section>
                                <div class="filter-content" data-bind="visible: filtersOpen">
                                    <section>
                                        <div class="row">
                                            <div class="span4 grey">Status:</div>
                                        </div>
                                        <div class="row">
                                            <div class="span4" data-bind="multiselect: { options: allergyStatuses, values: selectedAllergyStatuses, text: 'name', label: 'allergystatuses', idValue: 'id' }"></div>
                                        </div>
                                    </section>
                                </div>
                                <div class="toggle" data-bind="clickToggle: filtersOpen, css: filtersOpen() ? 'up-down' : 'down-up'"></div>
                            </div>
                        </div>
                    </div>
                    <div class="header pointer" data-bind="click: toggleWidgetOpen">
                        <div class="table-cell">
                            <header class="ellipsis">
                                <h1>
                                    <span data-bind="text: widget.name"></span>
                                </h1>
                                <div class="controls">
									<div class="toggle" data-bind="">
										<i class="pointer icon-plus" data-bind="click: addAllergy, clickBubble: false" title="Add"></i>
									</div>
                                    <i class="fa fa-filter pad-right" data-bind="click: function () { toggleHeaderOpen(filtersHeaderOpen, isOpen); }, clickBubble: false, css: ((selectedAllergyTypes().length > 0 || selectedAllergyStatuses().length > 0) ? 'red' : (filtersHeaderOpen() ? 'lighterblue': 'lightestblue'))"></i>                                    
									<div class="toggle gray" data-bind="click: refreshData, clickBubble: false" title="Refresh Data">
										<i class="fa fa-lg fa-refresh filter-toggle" data-bind="css: { 'fa-spin': allergySaving }"></i>
									</div>
                                    <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: toggleFullScreen, clickBubble: false">
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="body">
                                <div class="content">
                                    <div data-bind="compose: { model: 'viewmodels/templates/allergies.panel', activationData: { allergies: myAllergies, selectedPatient: selectedPatient, columns: activeAllergyColumns, toggleSort: toggleAllergySort, selectedSortColumn: selectedSortColumn, canSort: true } }">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>