<div class="widget open" data-bind="css: { 'fullscreen': isFullScreen(), 'open': isOpen }, columnSizer: {triggers: isOpen}">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="header pointer" data-bind="click: $parents[1].toggleWidgetOpen">
                        <div class="table-cell">
                            <header>
                                <h1 data-bind="text: name"></h1>
                                <!-- ko compose: 'widgets/controls.html' -->
                                <!-- /ko -->
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="body">
                                <div class="content" data-bind="with: $parents[1].selectedPatient, visible: $parents[1].selectedPatient() && $parents[1].selectedPatient().programs().length > 0">
                                    <!-- ko compose: { model: 'viewmodels/patients/sections/programs', activationData: { selectedPatient: $data, activeAction: $parents[2].activeAction, activeProgram: $parents[2].activeProgram, activeModule: $parents[2].activeModule, elementStateIds: $parent.elementStateIds, sortOverride: $parent.sortOverride } } -->
                                    <!-- /ko -->
                                </div>
                                <div class="content" data-bind="visible: $parents[1].selectedPatient() && $parents[1].selectedPatient().programs().length === 0">
                                    <em class="grey">No programs assigned to this individual.</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>