<div class="widget" data-bind="css: { 'open': isOpen, 'fullscreen': isFullScreen() }, columnSizer: {triggers: {a: isOpen(), b: $parents[1].selectedPatient(), c:$parents[1].selectedPatient().goals()}}">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="header">
                        <div class="table-cell">
                            <header class="pointer" data-bind="click: $parents[1].toggleWidgetOpen">
                                <h1 data-bind="text: name"></h1>
                                <div class="options goals-options" data-bind="if: canAdd">
                                    <div class="toggle" >
                                        <i class="pointer icon-plus" data-bind="click: $parents[1].addGoal, disable: $parent.isEditing, clickBubble: false" title="Add"></i>
                                    </div>
                                </div>
                                <!-- ko compose: 'widgets/controls.html' -->
                                <!-- /ko -->
                            </header>
                        </div>
                    </div>
                    <div class="table-row" data-bind="with: $parents[1].selectedPatient">
                        <!-- ko if: goals().length > 0 -->
                        <div class="table-cell">
                            <div class="body" data-bind="compose: { model: 'viewmodels/patients/sections/goals', activationData: { selectedPatient: $data, activeGoal: $parents[2].activeGoal, activeTask: $parents[2].activeTask, activeIntervention: $parents[2].activeIntervention, statusIds: $parent.statusIds, emptyMesssage: $parent.emptyMesssage, sortOverride: $parent.sortOverride } }">
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: goals().length === 0 -->
                        <div class="table-cell">
                            <div class="body">
                                <div class="content">
                                    <em class="grey">No goals created for this individual.</em>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
