<div class="row pad pad-top">
    <div class="row">
        <!--Where the question id goes-->
        <h2 class="span4">Question Id</h2>
        <small class="push2 span6">12345</small>
    </div>
    <div class="row">
        <!--Where the question type selector goes-->
        <h3 class="span4">Question Type</h3>
        <div data-bind="chsnsingle: { options: questionTypes, value: questionType, text: 'name', label: 'question-type' }"></div>
    </div>
    <div class="row">
        <!--Where the actual question goes-->
        <h3 class="span4">Question</h3>
        <input class="push2 span6" type="text" data-bind="value: question" />
    </div>
</div>