<div class="row">
    <div class="span2">
        <i class="icon-address blue"></i>
    </div>
    <div class="span10 ellipsis line short">
        <div class="row">
            <div class="span12 ellipsis">
                <div class="row">
                    <span class="span12 ellipsis" data-bind="text: line1, attr: { title: line1 }"></span>
                </div>
                <div class="row">
                    <span class="span12 ellipsis" data-bind="text: line2, attr: { title: line2 }"></span>
                </div>
                <div class="row">
                    <span class="span12 ellipsis" data-bind="text: line3, attr: { title: line3 }"></span>
                </div>
                <div class="row">
                    <span class="span12 ellipsis" data-bind="text: cityStateZip, attr: { title: cityStateZip }"></span>
                </div>
            </div>
        </div>
    </div>
</div>