<div class="body" data-bind="visible: showing">
	<section class="accordion" data-bind="if: showDropdown">
		<div class="row">
            <span class="span3"><strong>Select Data Category:</strong></span>
            <div class="span9 pad-left" data-bind="chsnsingle: { options: dataTypes, value: computedActiveDataType, text: 'name' }"></div>
		</div>
        <div class="row" data-bind="visible: showDropdown">
            <div class="span12">
                <hr>
            </div>
        </div>
	</section>
    <section class="accordion" data-bind="visible: showing">
        <div class="row" data-bind="with: activeDataType">
            <h3 data-bind="text: name, attr: { title: name }"></h3>
        </div>
        <!-- ko compose: { model: 'viewmodels/patients/patientssections/basicobservations', activationData: { activeDataType: activeDataType, selectedPatient: selectedPatient } } -->
        <!-- /ko -->
    </section>
    <section class="accordion" data-bind="visible: showing">
        <div class="row" data-bind="visible: showDropdown">
            <div class="span12">
                <hr>
            </div>
        </div>
        <div class="row" data-bind="with: activeDataType">
            <h3 data-bind="text: ('Additional ' + name()), attr: { title: ('Additional ' + name()) }"></h3>
        </div>
        <!-- ko compose: { model: 'viewmodels/patients/patientssections/additionalobservations', activationData: { activeDataType: activeDataType, selectedPatient: selectedPatient } } -->
        <!-- /ko -->
    </section>
    <section class="accordion" data-bind="visible: showActions">
        <div class="row">
            <div class="accordion-content columns">
                <div class="column">
                    <form>
                        <div class="row">
                            <div class="pad vertical">
                            </div>
                            <div class="position bottom right">
                                <button data-bind="click: cancelDataEntry" class="cancel small">Cancel</button>
                                <button data-bind="click: saveDataEntry" class="small color">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>