<div class="row pad top" data-bind="with: observation">
    <div class="span2">
        <span data-bind="text: name, attr: { title: name }"></span> <span data-bind="with: units">(<span data-bind="text: $data, attr: { title: $data }"></span>)</span>
    </div>
    <div class="span4">
        <div class="row">
            <div class="span6" data-bind="with: $parent.systolicObservationValue">
                <input type="text" data-bind="value: value, valueUpdate: 'afterkeydown', css: { 'invalid': (!value() && (value() || $parent.startDate())) }">
            </div>
            <div class="span6" data-bind="with: $parent.diastolicObservationValue">
                <input type="text" data-bind="value: value, valueUpdate: 'afterkeydown', css: { 'invalid': (!value() && (value() || $parent.startDate())) }">
            </div>
        </div>
    </div>
    <div class="span3">
        <input class="datepicker" type="text" data-bind="datepicker: startDate, datepickerOptions: { maxDate: '+0' }, css: { 'invalid': (($parent.diastolicObservationValue() && $parent.diastolicObservationValue().value() || $parent.systolicObservationValue() && $parent.systolicObservationValue().value()) && !moment(startDate()).isValid()) }" />
    </div>
    <div class="span2">
        <label>
            <span data-bind="text: $parent.customBPString, attr: { title: $parent.customBPString }"></span>
        </label>
    </div>
    <div class="span1 pull-left">
        <a href="#" data-bind="click: $parent.addNew, enable: $parent.canAdd, css: { 'disabled': !$parent.canAdd() }">
            <i class="icon-plus"></i>
        </a>
    </div>
</div>