<div class="body">
    <div class="row">
        <h2 class="span12" data-bind="text: fullName"></h2>
    </div>
    <div class="row">
        <label class="span6">
            <span>First Name</span>
            <input type="text" data-bind="value: firstName, valueUpdate: 'afterkeydown'" placeholder="first name" />
            <span><em class="grey" data-bind="visible: firstName().length === 0">First name is required</em></span>
        </label>
        <label class="span6">
            <span>Middle Name</span>
            <input type="text" data-bind="value: middleName, valueUpdate: 'afterkeydown'" placeholder="middle name" />
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>Last Name</span>
            <input type="text" data-bind="value: lastName, valueUpdate: 'afterkeydown'" placeholder="last name" />
            <span><em class="grey" data-bind="visible: lastName().length === 0">Last name is required</em></span>
        </label>
        <label class="span6">
            <span>Suffix</span>
            <input type="text" data-bind="value: suffix, valueUpdate: 'afterkeydown'" placeholder="suffix" />
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>Preferred Name</span>
            <input type="text" data-bind="value: preferredName, valueUpdate: 'afterkeydown'" placeholder="preferred name" />
        </label>
        <label class="span6">
            <span>DOB</span>
            <input type="text" data-bind="value: dOB, valueUpdate: 'afterkeydown'" placeholder="date of birth" />
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>Override SSN - <span data-bind="with: formattedSSN">(<span data-bind="text: $data"></span>)</span>:</span>
            <input type="text" data-bind="value: fullSSN" placeholder="full ssn" />
        </label>
    </div>
    <div class="row">
        <label class="span6" data-bind="with: genderModel">
            <div class="row">
                <span class="">Gender</span>
                <img alt="Patient small" class="" data-bind="attr: { src: SmallImgSrc }" />
                <div class="span8" data-bind="chsnsingle: { options:  $root.genders, value: $parent.gender, text: 'Description', idValue: 'Gender' }"></div>
            </div>
        </label>
        <label class="span6" data-bind="with: priorityModel">
            <div class="row">   
                <span>Priority</span>
                <img data-bind="attr: { src: imageSource }">
                <div class="span8" data-bind="chsnsingle: { options:  $root.priorities, value:  $parent.priority, text: 'levelName', idValue: 'id' }"></div>
            </div>
        </label>
    </div>
</div>