<Phytel.ASE.Process>
  <ProcessConfiguration>
    <Sites>
      <Site>https://api.phytel.com/Nightingale</Site>
      <Site>https://api.phytel.com/Security</Site>
      <Site>http://localhost:444/Action</Site>
      <Site>http://localhost:444/CareMember</Site>
      <Site>http://localhost:444/Cohort</Site>
      <Site>http://localhost:444/Contact</Site>
      <Site>http://localhost:444/Lookup</Site>
      <Site>http://localhost:444/Module</Site>
      <Site>http://localhost:444/Patient</Site>
      <Site>http://localhost:444/PatientGoal</Site>
      <Site>http://localhost:444/PatientNote</Site>
      <Site>http://localhost:444/PatientObservation</Site>
      <Site>http://localhost:444/PatientProblem</Site>
      <Site>http://localhost:444/PatientSystem</Site>
      <Site>http://localhost:444/Program</Site>
      <Site>http://localhost:444/Step</Site>
      <Site>https://login.phytel.com</Site>
    </Sites>
  </ProcessConfiguration>
</Phytel.ASE.Process>