<div class="widget open fullscreen" data-bind="columnSizer: {triggers: {a: $parents[1].isOpen, b: $parents[1].selectedPatient()}}">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
<!--                     <div class="filters">
                        <div class="table-cell">
                            <div class="wrapper">
                                <section class="pinned">
                                    <label>
                                        <span>Data Type</span>
                                        <select data-placeholder="Data Type">
                                            <option>Labs</option>
                                            <option>Problem List</option>
                                            <option>Vitals</option>
                                        </select>
                                    </label>
                                    <label>
                                        <span>Name</span>
                                        <select>
                                            <option>Blood Pressure</option>
                                            <option>BMI</option>
                                            <option>HbA1c</option>
                                            <option>Height</option>
                                            <option>LDL</option>
                                            <option>Waist Circumference</option>
                                            <option>Weight</option>
                                        </select>
                                    </label>
                                    <label>
                                        <span>Reported By</span>
                                        <select>
                                            <option>All</option>
                                            <option>Care Manager</option>
                                            <option>Individual</option>
                                        </select>
                                    </label>
                                </section>
                            </div>
                        </div>
                    </div> -->
                    <div class="header">
                        <div class="table-cell">
                            <header>
                                <h1>Data Summary</h1>
                                <div class="options">
									<div class="toggle">
										<i class="pointer icon-plus" data-bind="click: $parents[1].addData, disable: $parents[1].isEditing" title="Add"></i>
									</div>                                    
                                </div>
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell" data-bind="with: $parents[1].selectedPatient">
                            <div class="body" data-bind="compose: { model: 'viewmodels/patients/sections/data.list', activationData: { selectedPatient: $data } }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>