<div class="widget" data-bind="css: { 'fullscreen': isFullScreen() }, columnSizer: true">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="header">
                        <div class="table-cell">
                            <header>
                                <h1>History</h1>
                                <!-- ko compose: 'widgets/controls.html' -->
                                <!-- /ko -->
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="body">
                                <div class="content">
                                    <ul class="dividers">
                                        <li class="row line grey">
                                            <div class="span2">Create Date</div>
                                            <div class="span2">Type</div>
                                            <div class="span5">Content</div>
                                            <div class="span2">By</div>
                                            <div class="span1"> </div>
                                        </li>
                                        <!-- ko foreach: $parents[1].groups -->
                                        <li>
                                            <!-- ko compose: { model: 'viewmodels/patients/sections/notes', activationData: { activeNote: $parents[2].activeNote, group: $data } } -->
                                            <!-- /ko -->
                                        </li>
                                        <!-- /ko -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>