<div class="body" data-bind="visible: showing">
    <div class="row">
    	<section class="accordion">
    		<div class="row">
                <span class="span2"><strong>Select Data Type:</strong></span>
                <div class="span2" data-bind="chsnsingle: { options: dataTypes, value: computedActiveDataType, text: 'name' }"></div>
    		</div>
            <div class="row">
                <div class="span12">
                    <hr>
                </div>
            </div>
    	</section>
        <section class="accordion" data-bind="with: selectedTemplate">
            <div class="row" data-bind="with: $parent.activeDataType">
                <h3 data-bind="text: name, attr: { title: name }"></h3>
            </div>
            <!-- ko with: firstSection -->
                <!-- ko compose: { model: path, activationData: { activeDataType: $parents[1].activeDataType, selectedPatient: $parents[1].selectedPatient } } -->
                <!-- /ko -->
            <!-- /ko -->
        </section>
        <section class="accordion" data-bind="with: selectedTemplate">
            <div class="row">
                <div class="span12">
                    <hr>
                </div>
            </div>
            <!-- ko with: secondSection -->
                <!-- ko compose: { model: path, activationData: { activeDataType: $parents[1].activeDataType, selectedPatient: $parents[1].selectedPatient } } -->
                <!-- /ko -->
            <!-- /ko -->
        </section>
    </div>
</div>