<div class="body" data-bind="with: todo">	
	<!-- ko compose: "templates/validation.errors.html" -->
	<!-- /ko --> 
	<div class="row pad-top">
		<div class="span2 align-right grey">Category:
		</div>
		<div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.toDoCategories, value: category, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Status: 		
		</div>
		<div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.statuses, value: status, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Assigned to:
		</div>
		<div class="span3 pad-left">
			<input class="span12" type="text" data-bind="typeahead: { name: 'assignedToIdTypeAhead', taOptions: $parent.careManagersBloodhound, displayKey: 'preferredName'}, value: $parent.assignedToDisplay, initOptions: { minLength: 3 }" placeholder="Enter name" />
		</div>
		<div class="span5 align-right">
			<button class="close small" data-bind="enable: assignedToId(), click: $parent.removeUserAssociation">Remove Association</button>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Due Date: 		
		</div>
		<div class="span3 pad-left">
			<!-- <input placeholder="due date" size="30" type="text" data-bind="datepicker: dueDate"> -->
			<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
				{
					observableDateTime: dueDate, dateErrors: dueDateErrors, showInvalid: showInvalidDueDate, dateName: 'dueDateDate', timeName: 'dueDateTime',
					datepickerOptions:{ }, datepickerDynamicOptions: {}, showTime: false, dateCss: 'span12'
				}
			} -->
			<!-- /ko -->
		</div>
	</div>
	<div class="row pad-top">
        <div class="span2 align-right grey">Start Time:     
        </div>
        <div class="span3 pad-left">            
			<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
				{
					observableDateTime: startTime, dateErrors: startTimeErrors, timeName: 'startTime', showDate: false,
					datepickerOptions:{ }, datepickerDynamicOptions: {}, showInvalidTime: showInvalidStartTime, showTime: true, timeCss: 'span12'
				}
			} -->
			<!-- /ko -->
        </div>
    </div>
	<div class="row pad-top">
        <div class="span2 align-right grey">Duration:     
        </div>
        <div class="span2 pad-left">            
			<input type="text" data-bind="value: duration, valueUpdate: 'afterkeydown', numeric: duration, 
						attr:{maxlength: 4, max: 1440, min: 1, title:'Duration: enter a number of minutes from 1 to 1440'},
						css: { 'invalid': (validationErrorsArray().indexOf('duration') !== -1) }"></input>
        </div>
		<span class="span2 grey pad-left">(minutes)</span>
    </div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Priority:
		</div>
		<div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.priorities, value: priority, text: 'levelName', label: 'action-status', caption: 'Choose...' }"></div>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Individual:
		</div>
		<div class="span3 pad-left">
			<span data-bind="text: (patientDetails() && patientDetails().fullName()) ?  patientDetails().fullName() : '-'"></span>
		</div>
		<div class="span5 align-right">
			<button class="close small" data-bind="enable: patientId(), click: $parent.removePatientAssociation">Remove Association</button>
		</div>
	</div>
	<div class="row pad-top" data-bind="">
		<div class="span2 align-right grey">Program(s):
		</div>
		<div class="span4 pad-left" data-bind="visible: patientId()">
            <div data-bind="multiselect: { options: $parent.availablePrograms, values: programIds, idValue: 'id', text: 'name', label: 'programs', stringValue: programString, disable: $parent.noPatient }">
            </div>
		</div>
		<div class="span3 pad-left" data-bind="visible: !patientId()">
            <span>-</span>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Title:
		</div>
		<div class="span9 pad-left">
			<input placeholder="title" size="80" maxlength="500" type="text" data-bind="value: title, valueUpdate: 'afterkeydown', css: { invalid: ($parent.errors().length !== 0) }">
		</div>
	</div>
	<div class="row">
		<div class="span3 grey">Description:
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<textarea data-bind="value: description" maxlength="500">
			</textarea>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Created On: 		
		</div>
		<div class="span3 pad-left">
			<span data-bind="DateOrDash: createdOn"></span>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Updated On: 		
		</div>
		<div class="span3 pad-left" data-bind="DateOrDash: updatedOn">
		</div>
	</div>
	<div class="row pad-top" data-bind="visible: !isNew()">
		<button data-bind="click: $parent.deleteToDo">
			<i class="icon-cancel"></i> Delete
		</button>
	</div>
</div>