<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ADSecurityServiceUrl" value="http://azurePhytelDev.cloudapp.net:59900/Security" />
    <add key="DDPatientServiceUrl" value="http://localhost:8888/Patient" />
    <add key="DDPatientProblemServiceUrl" value="http://localhost:8888/PatientProblem" />
    <add key="DDLookupServiceUrl" value="http://localhost:8888/Lookup" />
    <add key="DDProgramServiceUrl" value="http://localhost:8888/Program" />
    <add key="DDCohortServiceUrl" value="http://localhost:8888/Cohort" />
    <add key="DDPatientSystemUrl" value="http://localhost:8888/PatientSystem" />
    <add key="AuditSystemUrl" value="http://localhost:666/Audit" />
    <add key="DDContactServiceUrl" value="http://localhost:8888/Contact" />
    <add key="DDPatientGoalUrl" value="http://localhost:8888/PatientGoal" />
    <add key="DDPatientNoteUrl" value="http://localhost:8888/PatientNote" />
    <add key="DDCareMemberUrl" value="http://localhost:8888/CareMember" />
    <add key="DDPatientObservationUrl" value="http://localhost:8888/PatientObservation" />
    <add key="DDSchedulingUrl" value="http://localhost:8888/Scheduling" />
    <add key="DDAllergyUrl" value="http://localhost:8888/Allergy" />
    <add key="DDMedicationUrl" value="http://localhost:8888/Medication" />
    <add key="PhytelServicesConnName" value="Phytel" />
    <add key="SearchIndexPath" value="C:\Program Files\Phytel.Net\Indexes" />    
    <add key="ASEProcessID" value="17" />
    <add key="UnitTestMode" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>