<section data-type="flex">
    <div class="column open">
        <div class="widget open">
            <div class="content">
                <header>
                    <h1>Population</h1>
                </header>
                <div class="body">
                    <svg id="visualizer" height="576" width="576">
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="widget open">
            <div class="content">
                <header>
                    <h1>Patients</h1>
                    <div class="options">
                    </div>
                </header>
                <div class="body">
                    <table class="nowrap">
                        <thead>
                            <tr>
                                <th class="narrow">
                                    <div class="checker" id="uniform-selectAll">
                                        <span>
                                            <input id="selectAll" name="selectAll" type="checkbox" value="1" />
                                        </span>
                                    </div>
                                </th>
                                <th class="narrow">ID</th>
                                <th>Patient Name</th>
                                <th>Care Gaps</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>