<div class="pad-vertical">
    <div class="row">
        <div class="span3">
            <strong>Name</strong>
        </div>
        <div class="span3">
            <strong>Type</strong>
        </div>
        <div class="span3">
            <strong>Start Date</strong>
        </div>
        <div class="span3">
            <strong>End Date</strong>
        </div>
    </div>
    <!-- ko foreach: newPatientAllergies -->
	    <div class="row pad-top divider">
	        <div class="span3">
	        	<pre data-bind="text: allergyName"></pre>
	        </div>
	        <div class="span3">
	        	<!-- ko if: !isUserCreated() -->
	        	<div class="ellipsis">
	        		<span data-bind="text: typeString, attr: { title: typeString }"></span>
	        	</div>
	        	<!-- /ko -->
	        	<div data-bind="visible: isUserCreated">
                	<div class="span9" data-bind="multiselect: { options: $parent.allergyTypes, values: allergyTypeIds, idValue: 'id', text: 'name', label: 'allergytypes', stringValue: typeString, isRequired: true }"></div>
	        	</div>
	        </div>
	        <div class="span3">
				<div class="span7">
					<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
						{
							observableDateTime: startDate, dateErrors: startDateErrors, showInvalid: setInvalidStartDate,
							maxDate: 'today', datepickerOptions:{ maxDate: '+0' }, datepickerDynamicOptions: {}, dateName: 'startDate'
						}
					} -->
					<!-- /ko -->
				</div>
	        </div>
	        <div class="span2">
				<div class="span10">
					<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
						{
							observableDateTime: endDate, dateErrors: endDateErrors, showInvalid: setInvalidEndDate,
							maxDate: 'today', datepickerOptions:{maxDate: '+0'}, datepickerDynamicOptions: {minDate: startDate}, dateName: 'endDate'
						}
					} -->
					<!-- /ko -->
				</div>
	        </div>
	        <div class="span1 pull-right">
	            <a href="#" title="Remove" data-bind="click: $parent.removeAllergy">
	            	<i class="close pull-right icon-cancel red"></i>
	        	</a>
	        </div>
	    </div>
	    <div class="row pad-top">
	        <div class="span3">
	            <strong>Reaction</strong>
	        </div>
	        <div class="span3">
	            <strong>Severity</strong>
	        </div>
	        <div class="span3">
	            <strong>Source</strong>
	        </div>
			<div class="span3">
	            <strong>Status</strong>
	        </div>
	    </div>
	    <div class="row pad-top">
	        <div class="span3">
	            &nbsp;
                <div class="span10" data-bind="multiselect: { options: $parent.reactions, values: reactionIds, idValue: 'id', text: 'name', label: 'reactions', stringValue: reactionString }"></div>
	        </div>
	        <div class="span3">
                <div class="span10" data-bind="chsnsingle: { options: $parent.severities, value: severity, text: 'name', label: 'severities' }"></div>
	        </div>
	        <div class="span3">
	            <div class="span10" data-bind="chsnsingle: { options: $parent.allergySources, value: source, text: 'name', label: 'sources' }"></div>
	        </div>
			<div class="span3">
	            <div class="span10" data-bind="chsnsingle: { options: $parent.allergyStatuses, value: status, text: 'name', label: 'status' }"></div>
	        </div>
	    </div>
	    <div class="row pad-top">
	    	<div class="span3 grey">Notes:</div>
		</div>
		<div class="row">
			<div class="span12">
				<textarea data-bind="value: notes"></textarea>
			</div>
		</div>
    <!-- /ko -->
	    <div class="divider"></div>
</div>