<section class="accordion hoverable open" data-phyautomation="patient-background-pane">
    <div class="row line accordion-toggle">
        <strong class="ellipsis" data-bind="clickToggle: isOpen">Background</strong>
        <a class="edit hover-toggle" href="#" data-bind="click: toggleEditing, text: !isEditing() ? 'Edit' : 'Cancel'" data-phyautomation="patient-background-edit"></a>
    </div>
    <div class="accordion-content columns" data-bind="visible: isOpen">
        <div class="column" data-phyautomation="patient-background-whole">
            <div class="row" data-bind="with: selectedPatient">           
                <!-- ko ifnot: $parent.isExpanded -->
                <div class="span12" data-bind="visible: background">
                    <textarea data-bind="text: background, attr: { 'title': background }" readonly="readonly" class="display-only no-scroll" rows="5"></textarea>
                    <a class="grey" data-bind="clickToggle: $parent.isExpanded" href="#">...</a>
                </div>
                <!-- /ko -->
                <!-- ko if: $parent.isExpanded -->
                <textarea data-bind="text: background, autoHeight: background, attr: { 'title': background }" readonly="readonly" class="display-only span12" ></textarea>           
                <!-- /ko -->
            </div>
        </div>
    </div>
</section>