<div class="columns">
    <div class="column">
        <form>
            <div class="row pad">
                <div class="span2">
                    <strong>Element</strong>
                </div>
                <div class="span2">
                    <strong>Value</strong>
                </div>
				<div class="span1">
                    <strong>Units</strong>
                </div>
                <div class="span2">
                    <strong>Date</strong>
                </div>
                <div class="span4">
                    <strong></strong>
                </div>
                <div class="span1">
                    <strong></strong>
                </div>
            </div>
            <!-- ko foreach: computedBasicObservations -->
            <!-- ko if: groupId -->
            <!-- ko compose: { model: 'viewmodels/templates/observation.bloodpressure.add', activationData: { observation: $data, addNew: $parent.addNew } } -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: !groupId() -->
            <!-- ko compose: { model: 'viewmodels/templates/observation.add', activationData: { observation: $data, addNew: $parent.addNew } } -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </form>
    </div>
</div>