<section class="accordion hoverable open">
    <div class="row line accordion-toggle">
        <strong class="ellipsis" data-bind="clickToggle: isOpen">Communication</strong>
        <a class="edit hover-toggle" href="#" data-bind="click: editContact">Edit</a>
    </div>
    <div class="accordion-content columns" data-bind="with: contactCard, visible: isOpen">
        <div class="column">
            <!-- ko foreach: $parent.primaryCommunications -->
            <div data-bind="compose: template">
            </div>
            <!-- /ko -->
            <div class="row">
                <div class="span4 grey">Mode</div>
                <div class="span8">
                    <em class="row grey" data-bind="visible: !prefCommMethods()">Unknown</em>
                    <span class="row" data-bind="visible: prefCommMethods, text: prefCommMethods, attr: { 'title': prefCommMethods }"></span>
                </div>
            </div>
            <div class="row">
                <div class="span4 grey">Days</div>
                <div class="span8">
                    <em class="row grey" data-bind="visible: !preferredDaysOfWeek()">Unknown</em>
                    <span class="row" data-bind="visible: preferredDaysOfWeek, text: preferredDaysOfWeek, attr: { 'title': preferredDaysOfWeek }"></span>
                </div>
            </div>
            <div class="row">
                <div class="span4 grey">Time</div>
                <div class="span8">
                    <em class="row grey" data-bind="visible: !preferredTimesOfDay()">Unknown</em>
                    <span class="row" data-bind="visible: preferredTimesOfDay, text: preferredTimesOfDay, attr: { 'title': preferredTimesOfDay }"></span>
                </div>
            </div>
            <div class="row" data-bind="with: timeZone">
                <div class="span4 grey">Time Zone</div>
                <div class="span8" data-bind="text: name, attr: { 'title': name }"></div>
            </div>
            <div class="row">
                <div class="span4 grey">Language</div>
                <div class="span8">
                    <em class="row grey" data-bind="visible: !preferredLanguage()">Unknown</em>
                    <!-- ko with: preferredLanguage -->
                    <span class="row" data-bind="text: name, attr: { 'title': name }"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="column">
            <!-- ko foreach: $parent.secondaryCommunications -->
            <div data-bind="compose: template">
            </div>
            <!-- /ko -->
            <!-- ko if : phoneOptedOut -->
            <div class="row">
                <div class="span2">
                    <i class="icon-phone"></i>
                </div>
                <div class="span10 ellipsis line short" data-bind="attr: { 'title': 'phone opt out' }">
                    <div class="row">
                        <em class="grey">&lt;phone opt out&gt;</em>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if : emailOptedOut -->
            <div class="row">
                <div class="span2">
                    <i class="icon-email"></i>
                </div>
                <div class="span10 ellipsis line short" data-bind="attr: { 'title': 'email opt out' }">
                    <div class="row">
                        <em class="grey">&lt;email opt out&gt;</em>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if : addressOptedOut -->
            <div class="row">
                <div class="span2">
                    <i class="icon-address"></i>
                </div>
                <div class="span10 ellipsis line short" data-bind="attr: { 'title': 'mail opt out' }">
                    <div class="row">
                        <em class="grey">&lt;mail opt out&gt;</em>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if : textOptedOut -->
            <div class="row">
                <div class="span2">
                    <i class="icon-sms"></i>
                </div>
                <div class="span10 ellipsis line short" data-bind="attr: { 'title': 'text opt out' }">
                    <div class="row">
                        <em class="grey">&lt;text opt out&gt;</em>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class="row" data-bind="with: secondaryLanguagesText">
                <div class="span4 grey">Language</div>
                <div class="span8 line short">
                    <span class="row" data-bind="text: $data, attr: { 'title': $data }"></span>
                </div>
            </div>
        </div>
    </div>
</section>