<section class="accordion hoverable open" data-phyautomation="patients-focus-areas-pane">
    <div class="row line accordion-toggle">
        <strong class="ellipsis" data-bind="clickToggle: isOpen">Focus Problems</strong>
        <a class="edit hover-toggle" href="#" data-bind="click: toggleEditing" data-phyautomation="patient-demographics-edit">Edit</a>
    </div>
    <div class="accordion-content columns" data-bind="visible: isOpen, with: problems">
        <!-- ko if: length !== 0 -->
        <ul class="column" data-phyautomation="patients-problems-left">
            <li><em>Primary</em></li>
            <!-- ko foreach: $parent.primaryProblems -->
                <li class="push2 ellipsis" data-bind="text: name, attr: { 'title': name }"></li>
            <!-- /ko -->
            <li class="push2 grey" data-bind="visible: !$parent.isExpanded() && $parent.primaryProblems().length === 5">
                <a class="grey" data-bind="clickToggle: $parent.isExpanded" href="#">...
                </a>
            </li>
        </ul>
        <ul class="column pad vertical" data-phyautomation="patients-problems-right">
            <li><em>Secondary</em></li>
            <!-- ko foreach: $parent.secondaryProblems -->
                <li class="push2 ellipsis" data-bind="text: name, attr: { 'title': name }"></li>
            <!-- /ko -->
            <li class="push2 grey" data-bind="visible: !$parent.isExpanded() && $parent.secondaryProblems().length === 5">
                <a class="grey" data-bind="clickToggle: $parent.isExpanded" href="#">...</a>
            </li>
        </ul>
        <!-- /ko -->
        <!-- ko if: length === 0 -->
        <em class="grey">No primary or secondary focus problems</em>
        <!-- /ko -->
    </div>
</section>