<div class="content">
    <!-- ko foreach: computedGoals -->
        <!-- ko if: !isNew() -->
            <section class="accordion" data-bind="css: { 'open': isOpen }">
                <div class="row accordion-toggle filter-toggle" data-bind="clickToggle: isOpen, css: { 'open': isOpen }, css: { 'active': $parent.activeGoal() === $data }">
                    <h2 class="span12">
                        <a class="pull-left">
                            <i data-bind="css: status().iconClass"></i>
                        </a>
                        <a class="name">
                            <span data-bind="text: name, attr: { 'title': name }, css: status().textClass">
                            </span>
                        </a>
                        <a data-bind="click: $parent.setActiveGoal.bind($parent), clickBubble: false, arrowMover: ''" class="icon filter-toggle pull-right" href="#" title="Goal Details">
                            <i class="icon-info"></i>
                        </a>
                    </h2>
                </div>
                <div class="accordion-content" data-bind="if: isOpen()">
                    <div class="span12 accordion" data-bind="css: { 'open': isExpanded }">
                        <header class="rule">
                            <div class="span6">
                                <div class="large grey muted line pad-horizontal pad-icon-left">
                                    Tasks
                                    <a class="accordion-toggle pull-right" data-bind="click: $parent.addTask">
                                        <i class="icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="span6 last">
                                <div class="large grey muted line pad-horizontal pad-icon-left">
                                    Interventions
                                    <a class="accordion-toggle pull-right" data-bind="click: $parent.addIntervention">
                                        <i class="icon-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </header>
                        <div class="task row">
                            <div class="span6">
                                <div class="row rule"></div>
                                <!-- ko foreach: sortedTasks -->
                                <div class="row rule filter-toggle" data-bind="css: { 'active': $parents[1].activeTask() === $data }">
                                    <div class="span12 details">
                                        <div class="status line rule">
                                            <div class="pull-left">
                                                <i data-bind="css: status().iconClass"></i>
                                            </div>
                                            <div class="name pad-icon-left accordion-toggle" data-bind="click: $parents[1].setActiveTask.bind($parents[1])">
                                                <div class="line-reset" data-bind="with: status">
                                                    <!-- ko if: (name() !== 'Met' && name() !== 'Abandoned') -->
                                                        <span data-bind="text: $parent.description, css: textClass"></span>
                                                    <!-- /ko -->
                                                    <!-- ko if: (name() === 'Met' || name() === 'Abandoned') -->
                                                        <em>
                                                            <span data-bind="text: $parent.description, css: textClass"></span>
                                                            - <span data-bind="Date: $parent.closedDate, attr: { 'title': $parent.closedDate }"></span>
                                                        </em>
                                                    <!-- /ko -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: tasks().length === 0 -->
                                <div class="intervention row rule">
                                    <div class="details">
                                        <div class="status line">
                                            <div class="name pad-icon-left">
                                                <div class="line-reset">
                                                    <em class="grey">No tasks</em>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <div class="span6 last">
                                <div class="row rule"></div>
                                <!-- ko foreach: sortedInterventions -->
                                    <div class="row rule filter-toggle" data-bind="css: { 'active': $parents[1].activeIntervention() === $data }, click: $parents[1].setActiveIntervention.bind($parents[1])">
                                        <div class="span12 details">
                                            <div class="status line rule">
                                                <div class="pull-left" data-bind="with: status">
                                                    <i data-bind="css: iconClass"></i>
                                                </div>
                                                <div class="line-reset" data-bind="with: status">
                                                    <!-- ko if: name() !== 'Completed' -->
                                                        <span data-bind="text: $parent.description, css: textClass"></span>
                                                    <!-- /ko -->
                                                    <!-- ko if: name() === 'Completed' -->
                                                        <em>
                                                            <span data-bind="text: $parent.description, css: textClass"></span>
                                                            - <span data-bind="Date: $parent.closedDate, attr: { 'title': $parent.closedDate }"></span>
                                                        </em>
                                                    <!-- /ko -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- /ko -->
                                <!-- ko if: interventions().length === 0 -->
                                <div class="intervention row rule">
                                    <div class="details">
                                        <div class="status line">
                                            <div class="name pad-icon-left">
                                                <div class="line-reset">
                                                    <em class="grey">No interventions</em>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pad-top">
            </div>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: computedGoals().length > 0 -->
        <section class="accordion"></section>
    <!-- /ko -->
    <!-- ko if: computedGoals().length === 0 -->
        <em class="grey">No goals match the criteria</em>
    <!-- /ko -->
</div>
