<div class="content">
    <div class="row">
        <div class="span1 grey">
            Type
        </div>
        <div class="span2 grey">
            Name
        </div>
        <div class="span2 grey">
            Strength
        </div>
        <div class="span3 grey">
            SIG
        </div>
        <div class="span3 grey">
            Reason
        </div>
        <div class="span1"></div>
    </div>
    <div class="row divider">
        <div class="span1 icon-otc"
        style="font-style: italic">
        </div>
        <div class="span2">
            <a class="edit" href="#">Aspirin</a>
        </div>
        <div class="span2">
            80 mg
        </div>
        <div class=
        "span3 ellipsis">
            Take One Tablet Daily
        </div>
        <div class="span3">
            Heart Attack Protection
        </div>
        <div class="span1">
            <a class="edit hover-toggle grey fa fa-lg fa-pencil" href="#" style="font-style: italic"></a>
        </div>
    </div>
</div>
