<section class="accordion" data-bind="css: { 'open': isOpen() }, with: group">
    <a data-bind="clickToggle: $parent.isOpen" href="#">
        <h3 class="row line grey accordion-toggle" data-bind="text: Name, attr: { 'title': Name }"></h3>
    </a>
    <!-- ko foreach: Notes -->
    <div class="row line filter-toggle" data-bind="click: $parents[1].setActiveNote, css: { 'active': $parents[1].activeNote() === $data }, visible: $parents[1].isOpen">
        <div class="span2 pad-left small grey pull-left" data-bind="Time: createdOn"></div>
        <div class="span2 grey ellipsis">
            <span data-bind="with: type">
                <span data-bind="text: name, attr:{title: name}"></span>
            </span>
            <span data-bind="if: !type()">-</span>
        </div>
        <div class="span5 ellipsis" data-bind="text: displayText, attr: { 'title': text }"></div>
        <div class="span3 grey ellipsis"><span data-bind="with: createdBy"><span data-bind="text: preferredName, attr: { 'title': preferredName }"></span></span></div>        
    </div>
    <!-- /ko -->
</section>