<section class="accordion hoverable open" data-phyautomation="patient-status-pane">
    <div class="row line accordion-toggle">
        <strong class="ellipsis" data-bind="clickToggle: isOpen">Status</strong>
        <a class="edit hover-toggle" href="#" data-bind="click: toggleEditing, text: !isEditing() ? 'Edit' : 'Cancel'"></a>
    </div>
    <div class="accordion-content columns" data-bind="visible: isOpen, with: selectedPatient">
        <div class="column">
            <div class="row">           
                <div class="span4 grey">
                    Status
                </div>
                <div class="span8">				
                    <span data-bind="with: patientStatus">
						<span data-bind="text: name" data-phyautomation="status"></span>
					</span>                    
                </div>
            </div>
			<div class="row" data-bind="visible: (statusId() !== '1')">           
                <div class="span4 grey">
                    Reason
                </div>
                <div class="span8">				
                    <span data-bind="with: patientStatusReason">
						<span data-bind="text: name" data-phyautomation="reason"></span>
					</span>                    
                </div>
            </div>
			<div class="row">           
                <div class="span4 grey">
                    System
                </div>
                <div class="span8">					
					<span data-bind="text: statusDataSource || 'N/A'" data-phyautomation="source"></span>
                </div>
            </div>
        </div>
    </div>
</section>