<section class="slider" data-type="flex">
    <!-- ko if: selectedPatient() -->
    <div>
        <div class="column open">
            <div class="widget-wrapper">
                <div class="widget shared" data-bind="css: { 'open': todosPanelOpen, 'fullscreen': fullScreenWidget() === 'todopanel' }, columnSizer: {triggers: {a: todosPanelOpen(), b: todoFiltersHeaderOpen(), c: todoFiltersOpen()}}">
                    <div class="content">
                        <div class="content-fill">
                            <div class="wrapper">
                                <div class="content">
                                    <div class="filters" data-bind="visible: (todoFiltersHeaderOpen())">
                                        <div class="table-cell">
                                            <div class="wrapper">
                                                <section class="pinned">
                                                    <div class="row">
                                                        <div class="span5">                                                        
															<label class="span1 gray">Filter:</label>
															<div style="display: inline-block" data-bind="chsnsingle: { options: todoViews, value: selectedTodoView, text: 'name', label: 'todoViews' }"></div>                                                           
                                                        </div>
                                                        <div class="span4 grey">
                                                            <label data-bind="visible: (selectedTodoCategories().length > 0 || selectedTodoPriorities().length > 0)">
                                                                <i class="fa fa-filter red"></i>
                                                                Additional filters applied
                                                            </label>
                                                            <span style="color: whitesmoke;">-</span>
                                                        </div>
                                                        <div class="span3 grey">
                                                            <div class="pull-right filters" data-bind="visible: (selectedTodoCategories().length > 0 || selectedTodoPriorities().length > 0)">
                                                                <i class="icon-filter_clear pointer blue toggle" data-bind="click: resetTodoFilters, enable: (selectedTodoCategories().length > 0 || selectedTodoPriorities().length > 0)" style="position: inherit;" title="Clear Filter"></i>
																<span>&nbsp</span>
                                                            </div>
                                                            <span style="color: whitesmoke;">-</span>
                                                        </div>                                                        
                                                    </div>
                                                </section>
                                                <div class="filter-content" data-bind="visible: todoFiltersOpen">
                                                    <section>
                                                        <div class="row">
                                                            <div class="span3">
																<span class="span2 gray">Priority:</span>
															</div>
                                                            <div class="span3">
																<span class="span2 gray">Category:</span>
															</div>
                                                        </div>
                                                        <div class="row">
															<div class="span3">
																<div class="span6" data-bind="multiselect: { options: todoPriorities, values: selectedTodoPriorities, text: 'levelName', label: 'todocategories', idValue: 'id' }"></div>
															</div>
																
															<div class="span3">
																<div class="span6" data-bind="multiselect: { options: todoCategories, values: selectedTodoCategories, text: 'name', label: 'taskcategories', idValue: 'id' }"></div>
															</div>
														
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="toggle" data-bind="clickToggle: todoFiltersOpen, css: todoFiltersOpen() ? 'up-down' : 'down-up'"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header pointer" data-bind="click: function () { toggleWidgetOpen(todosPanelOpen) }">
                                        <div class="table-cell">
                                            <header class="ellipsis">
                                                <h1>
                                                    <span data-bind="text: selectedTodoView() ? selectedTodoView().name : 'To-Do List'"></span> - <span data-bind="text: myToDos().length + ' showing'"></span>
                                                </h1>
                                                <div class="controls">
                                                    <i class="fa fa-filter pad-right" data-bind="click: function () { toggleHeaderOpen(todoFiltersHeaderOpen, todosPanelOpen); }, clickBubble: false, css: ((selectedTodoCategories().length > 0 || selectedTodoPriorities().length > 0) ? 'red' : (todoFiltersHeaderOpen() ? 'lighterblue': 'lightestblue'))">
                                                    </i>
													<div class="toggle gray" data-bind="click: refreshTodoView, clickBubble: false" title="Refresh Data">
														<i class="fa fa-lg fa-refresh filter-toggle" data-bind="css: { 'fa-spin': todosSaving }"></i>
													</div>
                                                    <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('todopanel') }, clickBubble: false">
                                                    </div>
                                                </div>
                                            </header>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <div class="body">
                                                <div class="content">
                                                    <div data-bind="compose: { model: 'viewmodels/templates/todo.panel', activationData: { todos: myToDos, columns: activeTodoColumns, toggleSort: toggleTodoSort, selectedSortColumn: selectedTodoSortColumn, canSort: true, isBackendSort:false } }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget shared" data-bind="css: { 'open': interventionsPanelOpen, 'fullscreen': fullScreenWidget() === 'interventionpanel' }, columnSizer: {triggers: {a: interventionsPanelOpen(), b: interventionFiltersHeaderOpen(), c: interventionFiltersOpen()}}">
                    <div class="content">
                        <div class="content-fill">
                            <div class="wrapper">
                                <div class="content">
                                    <div class="filters" data-bind="visible: (interventionFiltersHeaderOpen())">
                                        <div class="table-cell">
                                            <div class="wrapper">
                                                <section class="pinned">
                                                    <div class="row">
                                                        <div class="span5">
															<label class="span1 gray">Filter:</label>
															<div style="display: inline-block" data-bind="chsnsingle: { options: interventionViews, value: selectedInterventionView, text: 'name', label: 'interventionViews' }"></div>
                                                        </div>
                                                        <div class="span5 grey">
                                                            <label data-bind="visible: (selectedInterventionCategories().length > 0)">
                                                                <i class="fa fa-filter red"></i>
                                                                Additional filters applied
                                                            </label>
                                                            <span style="color: whitesmoke;">-</span>
                                                        </div>
                                                        <div class="span2 grey">
															<div class="pull-right filters" data-bind="visible: (selectedInterventionCategories().length > 0)">
                                                                <i class="icon-filter_clear pointer blue toggle" data-bind="click: resetInterventionFilters, enable: (selectedInterventionCategories().length > 0)" style="position: inherit;" title="Clear Filter"></i>
																<span>&nbsp</span>
                                                            </div>
                                                            <span style="color: whitesmoke;">-</span>
                                                        </div>                                                        
                                                    </div>
                                                </section>
                                                <div class="filter-content" data-bind="visible: interventionFiltersOpen">
                                                    <section>
                                                        <div class="row">
															<div class="span3">
																<span class="span2 grey">Category:</span>
															</div>
                                                        </div>
                                                        <div class="row">
															<div class="span3">
																<div class="span6" data-bind="multiselect: { options: interventionCategories, values: selectedInterventionCategories, text: 'name', label: 'interventioncategories', idValue: 'id' }"></div>
															</div>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="toggle" data-bind="clickToggle: interventionFiltersOpen, css: interventionFiltersOpen() ? 'up-down' : 'down-up'"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header pointer" data-bind="click: function () { toggleWidgetOpen(interventionsPanelOpen) }">
                                        <div class="table-cell">
                                            <header class="ellipsis">
                                                <h1>
                                                    <span data-bind="text: selectedInterventionView() ? selectedInterventionView().name : 'Intervention List'"></span> - <span data-bind="text: myInterventions().length + ' showing'"></span>
                                                </h1>
                                                <div class="controls">
                                                    <i class="fa fa-filter pad-right" data-bind="click: function () { toggleHeaderOpen(interventionFiltersHeaderOpen, interventionsPanelOpen); }, clickBubble: false, css: (selectedInterventionCategories().length > 0 ? 'red' : (interventionFiltersHeaderOpen() ? 'lighterblue': 'lightestblue'))">
                                                    </i>
													<div class="toggle gray" data-bind="click: refreshInterventionView, clickBubble: false" title="Refresh Data">
														<i class="fa fa-lg fa-refresh filter-toggle" data-bind="css: { 'fa-spin': interventionsSaving }"></i>
													</div>
                                                    <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('interventionpanel') }, clickBubble: false">
                                                    </div>
                                                </div>
                                            </header>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <div class="body">
                                                <div class="content">
                                                    <div data-bind="compose: { model: 'viewmodels/templates/intervention.panel', activationData: { interventions: myInterventions, columns: activeInterventionColumns, toggleSort: toggleInterventionSort, selectedSortColumn: selectedInterventionSortColumn, canSort: true } }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget shared" data-bind="css: { 'open': taskPanelOpen, 'fullscreen': fullScreenWidget() === 'taskpanel' }, columnSizer: {triggers: {a: taskPanelOpen(), b: taskFiltersHeaderOpen()}}">
                    <div class="content">
                        <div class="content-fill">
                            <div class="wrapper">
                                <div class="content">
                                    <div class="filters" data-bind="visible: (taskFiltersHeaderOpen())">
                                        <div class="table-cell">
                                            <div class="wrapper">
                                                <section class="pinned">
                                                    <div class="row">
                                                        <div class="span5">
                                                            <label class="span1 gray">Filter:</label>
                                                            <div style="display: inline-block" data-bind="chsnsingle: { options: taskViews, value: selectedTaskView, text: 'name', label: 'taskViews' }"></div>
                                                        </div>
                                                        <div class="span5 grey">
                                                            <label data-bind="visible: (-1 > 0)">
                                                                <i class="fa fa-filter red"></i>
                                                                Additional filters applied
                                                            </label>
                                                            <span style="color: whitesmoke;">-</span>
                                                        </div>
                                                        <div class="span2 grey">
															<div class="pull-right filters" data-bind="visible: (-1 > 0)">
                                                                <i class="icon-filter_clear pointer blue toggle" data-bind="click: resetTaskFilters, enable: (-1 > 0)" style="position: inherit;" title="Clear Filter"></i>
																<span>&nbsp</span>
                                                            </div>                                                            
                                                            <span style="color: whitesmoke;">-</span>
                                                        </div>                                                        
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header pointer" data-bind="click: function () { toggleWidgetOpen(taskPanelOpen) }">
                                        <div class="table-cell">
                                            <header class="ellipsis">
                                                <h1>
                                                    <span data-bind="text: selectedTaskView() ? selectedTaskView().name : 'Task List'"></span> - <span data-bind="text: myTasks().length + ' showing'"></span>
                                                </h1>
                                                <div class="controls">
                                                    <i class="fa fa-filter lightestblue pad-right" data-bind="click: function () { toggleHeaderOpen(taskFiltersHeaderOpen, taskPanelOpen); }, clickBubble: false, css: ((taskFiltersHeaderOpen() ? 'lighterblue': 'lightestblue'))">
                                                    </i>
													<div class="toggle gray" data-bind="click: refreshTaskView, clickBubble: false" title="Refresh Data">
														<i class="fa fa-lg fa-refresh filter-toggle" data-bind="css: { 'fa-spin': tasksSaving }"></i>
													</div>
                                                    <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('taskpanel') }, clickBubble: false">
                                                    </div>
                                                </div>
                                            </header>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <div class="body">
                                                <div class="content">
                                                    <div data-bind="compose: { model: 'viewmodels/templates/task.panel', activationData: { tasks: myTasks, columns: activeTaskColumns, toggleSort: toggleTaskSort, selectedSortColumn: selectedTaskSortColumn, canSort: true } }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column details"><div class="widget-wrapper"></div></div>
    </div>
    <!-- /ko -->
    <!-- ko if: !selectedPatient() -->
    <div>
        <div class="column">
            <div class="widget-wrapper">
                <div class="widget open" data-bind="columnSizer: {triggers: {a: selectedPatient()}}">
                    <div class="content">
                        <div class="content-fill">
                            <div class="wrapper">
                                <div class="content">
                                    <div class="header">
                                        <div class="table-cell">
                                            <header class="ellipsis">
                                                <h1>Overview</h1>
                                            </header>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <div class="body">
                                                <div class="content">
                                                    <div class="body">
                                                        <em class="grey">No individual selected.</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</section>