<div class="route">
    <section data-type="flex">
        <div>
            <div class="column" data-bind="css: { 'open': leftColumnOpen() }">
                <div class="widget-wrapper">
                    <div class="widget open" data-bind="css: { 'fullscreen': fullScreenWidget() === 'todopanel' }, columnSizer: {triggers: {a: selectedView().name(), b: filtersHeaderOpen(), c: filtersOpen()}}">
                        <div class="content">
                            <div class="content-fill">
                                <div class="wrapper">
                                    <div class="content">
                                        <div class="filters" data-bind="visible: (filtersHeaderOpen())">
                                            <div class="table-cell">
                                                <div class="wrapper">
                                                    <section class="pinned">
                                                        <div class="row">
                                                            <div class="span6">
																<label class="span1 gray">Filter:</label>
																<div class="span10" style="display: inline-block" data-bind="chsnsingle: { options: views, value: selectedView, text: 'name', label: 'programs' }"></div>                                                                
                                                            </div>
                                                            <div class="span4 grey">
                                                                <label data-bind="visible: (selectedCategories().length > 0 || selectedPriorities().length > 0)">
                                                                    <i class="fa fa-filter red"></i>
                                                                    Filters applied
                                                                </label>
                                                                <span style="color: whitesmoke;">-</span>
                                                            </div>
                                                            <div class="span2 grey">
                                                                <div class="pull-right filters" data-bind="visible: (selectedCategories().length > 0 || selectedPriorities().length > 0)">
																	<i class="icon-filter_clear pointer blue toggle" data-bind="click: resetFilters, enable: (selectedCategories().length > 0 || selectedPriorities().length > 0)" style="position: inherit;" title="Clear Filter"></i>
																	<span>&nbsp</span>
                                                                </div>
                                                                <!-- <span style="color: whitesmoke;">-</span> -->
                                                            </div>                                                            
                                                        </div>
                                                    </section>
                                                    <div class="filter-content" data-bind="visible: filtersOpen">
                                                        <section>
                                                            <div class="row">
																<div class="span3">
																	<div class="span2 grey" data-bind="visible: selectedView() && selectedView().type() === 'todos'">Priority:</div>
																</div>
                                                                <div class="span3">
																	<div class="span2 grey">Category:</div>
																</div>
                                                            </div>
                                                            <div class="row">
																<div class="span3">
																	<div class="span6" data-bind="multiselect: { options: priorities, values: selectedPriorities, text: 'levelName', label: 'categories', idValue: 'id' }, visible: selectedView() && selectedView().type() === 'todos'"></div>
																</div>
																<div class="span3">
																	<div class="span10" data-bind="multiselect: { options: categories, values: selectedCategories, text: 'name', label: 'categories', idValue: 'id' }"></div>
																</div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="toggle" data-bind="clickToggle: filtersOpen, css: filtersOpen() ? 'up-down' : 'down-up'"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ko if: selectedView() && selectedView().type() === 'todos' -->
                                        <div class="header">
                                            <div class="table-cell">
                                                <header class="ellipsis">
                                                    <h1><span data-bind="text: selectedView() ? selectedView().name : 'To-Do List'"></span> - <span data-bind="text: todosShowingText"></span></h1>
                                                    <div class="controls">
														<div class="toggle" ">
															<i class="pointer icon-plus" data-bind="click: addToDo, clickBubble: false" title="Add"></i>
														</div>
                                                        <i class="pointer fa fa-filter pad-horizontal" data-bind="clickToggle: filtersHeaderOpen, clickBubble: false, css: ((selectedCategories().length > 0 || selectedPriorities().length > 0) ? 'red' : (filtersHeaderOpen() ? 'lighterblue': 'lightestblue'))">
                                                        </i>
														<div class="toggle gray" data-bind="click: refreshView, clickBubble: false" title="Refresh Data">
															<i class="fa fa-lg fa-refresh filter-toggle" data-bind="css: { 'fa-spin': todosSaving }"></i>
														</div>
                                                        <div class="toggle single-arrow-left" data-method="open" data-target="column" data-type="remove" data-bind="click: toggleOpenColumn, enable: leftColumnOpen(), clickBubble: false">
                                                        </div>
                                                        <div class="toggle double-arrow-right" data-method="open" data-target="column" data-type="add" data-bind="click: toggleOpenColumn, enable: !leftColumnOpen(), clickBubble: false">
                                                        </div>
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('todopanel') }, clickBubble: false">
                                                        </div>
                                                    </div>                                                   
                                                </header>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <div class="body">
                                                    <div class="content" data-bind="compose: { model: 'viewmodels/templates/todo.panel', 
																activationData: { todos: myToDos, columns: activeColumns, toggleSort: toggleSort, 
																					selectedSortColumn: selectedSortColumn, canSort: true,																						
																					maxToToDosLoaded: maxToToDosLoaded, isBackendSort:true, todosReloading: todosReloading } }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: selectedView() && selectedView().type() === 'interventions' -->
                                        <div class="header">
                                            <div class="table-cell">
                                                <header class="ellipsis">
                                                    <h1><span data-bind="text: selectedView() ? selectedView().name : 'Intervention List'"></span> - <span data-bind="text: myInterventions().length + ' showing'"></span></h1>
                                                    <div class="controls">
                                                        <i class="pointer fa fa-filter pad-horizontal" data-bind="clickToggle: filtersHeaderOpen, clickBubble: false, css: ((selectedCategories().length > 0) ? 'red' : (filtersHeaderOpen() ? 'lighterblue': 'lightestblue'))">
                                                        </i>
														<div class="toggle gray" data-bind="click: refreshView, clickBubble: false" title="Refresh Data">
															<i class="fa fa-lg fa-refresh filter-toggle" data-bind="css: { 'fa-spin': todosSaving }"></i>
														</div>
                                                        <div class="toggle single-arrow-left" data-method="open" data-target="column" data-type="remove" data-bind="click: toggleOpenColumn, enable: leftColumnOpen(), clickBubble: false">
                                                        </div>
                                                        <div class="toggle double-arrow-right" data-method="open" data-target="column" data-type="add" data-bind="click: toggleOpenColumn, enable: !leftColumnOpen(), clickBubble: false">
                                                        </div>
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('interventionpanel') }, clickBubble: false">
                                                        </div>
                                                    </div>
                                                    <div class="options">
                                                    </div>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <div class="body">
                                                    <div class="content" data-bind="compose: { model: 'viewmodels/templates/intervention.panel', activationData: { interventions: myInterventions, columns: activeColumns, toggleSort: toggleSort, selectedSortColumn: selectedSortColumn, canSort: true } }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" data-bind="css: { 'open': !leftColumnOpen() }">
                <div class="widget-wrapper">
                    <div class="widget open" data-bind="css: { 'fullscreen': fullScreenWidget() === 'todochart' }, columnSizer: {triggers:{a: selectedView().name()}}">
                        <div class="content">
                            <div class="content-fill">
                                <div class="wrapper">
                                    <div class="content" data-bind="visible: selectedView() && selectedView().type() === 'todos'">
                                        <div class="header">
                                            <div class="table-cell">
                                                <header>
                                                    <h1 data-bind="text: selectedView() ? selectedView().name : 'To Do Summary'"></h1>
                                                    <div class="controls">
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('todochart') }, clickBubble: false">
                                                        </div>
                                                    </div>
                                                    <div class="options myhome">
                                                        <div data-bind="chsnsingle: { options: availableTodoSummaries, value: selectedTodoSummary, text: 'name', label: 'todo-summaries' }"></div>
                                                    </div>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <div class="body">
                                                    <div class="content">
                                                        <em data-bind="if: myToDosChart().length === 0">No chart data available</em>
                                                        <div class="graph todosummary">
                                                            <div class="" data-bind="pieChart: myToDosChart, chartOptions: { title: 'Pie Chart' }">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content" data-bind="visible: selectedView() && selectedView().type() === 'interventions'">
                                        <div class="header">
                                            <div class="table-cell">
                                                <header>
                                                    <h1 data-bind="text: selectedView() ? selectedView().name : 'To Do Summary'"></h1>
                                                    <div class="controls">
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('todochart') }, clickBubble: false">
                                                        </div>
                                                    </div>
                                                    <div class="options myhome">
                                                        <div data-bind="chsnsingle: { options: availableInterventionSummaries, value: selectedInterventionSummary, text: 'name', label: 'todo-summaries' }"></div>
                                                    </div>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <div class="body">
                                                    <div class="content">
                                                        <em data-bind="if: myInterventionsChart().length === 0">No chart data available</em>
                                                        <div class="graph todosummary">
                                                            <div class="" data-bind="pieChart: myInterventionsChart, chartOptions: { title: 'Pie Chart' }">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>