$dark-gray: #424040;
$light-gray: gray;
$highlighted: black;

.underline-input {
    background: transparent;
    border: transparent;
    border-bottom: 2px solid $dark-gray;
    outline: none;
    color: $dark-gray;
    text-align: center;
    width: 40px;
    &:focus {
        border-bottom: 2px solid $highlighted;
    }
    &:disabled {
        border-bottom: 2px solid $light-gray;
    }
}


.well {
    min-height: 10px !important;
    padding: 4px !important;
    margin-bottom: 10px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.hover-parent {
    min-height: 20px;
    >.hover-show {
        display: none;
        background-color: #FFFFFF;
    }
    &:hover {
        >.hover-show {
            display: inherit;
            background-color: #FFFFFF;
        }
    }
    >.filter-toggle {
        background-color: #FFFFFF;
    }
}

@-webkit-keyframes bounce {
  0%, 10%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
    0%,10%,20%,50%,80%{transform:translateY(0)}
    40%{transform:translateY(-15px)}
    60%{transform:translateY(-15px)}
}
.faa-bounce.animated,
.faa-bounce.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-bounce {

-webkit-animation: bounce 3s infinite linear;
    animation: bounce 2s ease infinite;
}

.widget .content > .filters .wrapper .filter-content {
    display: block;
}

.module {
    > .details {
        display: none;
    }
    &:hover > .details {
        display: inline;
    }
}

.circle-text { margin-top: -0.1em; }

.transparent {
    color: transparent;
}

.widget.shared .content > .filters {
    display: table-row;
}

.pointer {
    cursor: pointer;
}

.watson-logo {
  height: 24px !important;
  opacity: 100 !important;
  color: white !important;
  margin: 12px 25px !important;
}