/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.asplistview
{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    font-weight: bold;
    empty-cells: show;
}

.asplistviewpager
{
    margin: 0;
    padding: 0;
    text-align: right;
    height: 31px;
    line-height: 31px;
    background: #ccc url(../../Images/Bars/subtitlesilver.gif);
    border-top: solid 1px #ccc;
}

.asplistviewpager2
{
    margin: 0;
    padding: 0;
    text-align: right;
    height: 31px;
    line-height: 31px;
}

.asplistviewpages
{
    float: left;
    text-align: left;
    text-indent: 10px;
}

.asplistview .header
{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 31px;
    line-height: 31px;
    background: #ccc url(../../Images/Bars/subtitlesilver.gif) repeat-x;
}

.asplistview .header th
{
    border-left: solid 1px #ccc;
}

.asplistview .header a
{
    display: block;
    margin: 0 7px;
    padding: 0;
    text-decoration: none;
    text-align: center;
    background: url(../../Images/Arrows/arrow-both.png) no-repeat right 50%;
}

.asplistview .header th:hover
{
    background: url(../../Images/Bars/subtitlesilver.gif) repeat-x 0px -31px;
}

/* change the background image when the column is being sorted by */
.asplistview .sortasc, .asplistview .sortdesc
{
    background: url(../../Images/Bars/subtitlesilver.gif) repeat-x 0px -31px;
}

/* change image if it is an asc sort */
.asplistview .sortasc a
{
    background: url(../../Images/Arrows/arrow-up.png) no-repeat right 50%;
}

/* change image if it is a desc sort */
.asplistview .sortdesc a
{
    background: url(../../Images/Arrows/arrow-dn.png) no-repeat right 50%;
}

.asplistview .row
{
    background-color: #fff;
}

.asplistview .row:hover
{
    background-color: #ffffcc;
}

.asplistview .row TD
{
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-indent: 7px;
    font-weight:normal;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.asplistview .rowresults
{
    background-color: #fff;
}

.asplistview .rowresults:hover
{
    background-color: #ffffcc;
}

.asplistview .rowresults TD
{
    margin: 0;
    padding: 10px 5px;
    border-top: solid 1px #ccc;
}

.asplistview .altrowresults
{
    background-color: #e0ecff;
}

.asplistview .altrowresults:hover
{
    background-color: #ffffcc;
}

.asplistview .altrowresults TD
{
    margin: 0;
    padding: 10px 5px;
    border-top: solid 1px #ccc;
}

.asplistview .altrow, .asplistview .row .sort
{
    background-color: #f5f9ff;
}

.asplistview .altrow .sort
{
    background-color: #e0ecff;
}

.asplistview .altrow:hover
{
    background-color: #ffffcc;
}

.asplistview .altrow TD, .asplistview .edit-info TD
{
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-indent: 7px;
    font-weight:normal;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.asplistview .rowinsert
{
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-indent: 7px;
    border-top: solid 1px #ff9900;
    border-left: solid 1px #ffcc66;
    background: #000 url( '../../Images/Bars/blackglass.gif' ) repeat-x;
}

.asplistview .rowselect
{
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-indent: 7px;
    border-top: solid 1px #ff9900;
    border-left: solid 1px #ffcc66;
    background: #ff9900 url( '../../Images/Bars/orangeglass.gif' ) repeat-x;
}

.asplistview .command
{
    text-align: center;
}

.asplistviewupdate
{
    margin: 0 0 5px 0;
    padding: 5px;
    clear: both;
    background: #003366;
    color: #fff;
    font-weight: bold;
    border: solid 2px #ff9900;
}
