/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/* Styling for the Header control */
/* Style for the Upper Left Logo */
#container > .header #company-name
{
    position: absolute;
    top: 0;
    background: url(../../Images/IBM_White_Logo_34.png) 0% 0% no-repeat;
    background-size: contain;
    width: 220px;
    height: 5px;
    padding: 7px 0 2px 116px;
    margin: 10px 10px;
    opacity: 0.5;
    overflow: hidden;
    color:  #97c7dc;
    font-size: 14px;
    font-weight: normal;
    clear: none;
    text-shadow: none;
}

.headerContainer
{
    width: 440px;
    float: right;
}

.headerContainer #loggedInUserContainer {
    width: 380px;
    float: right;   
}

.headerContainer #divSupportContainer .dropdownMenuContainer {
    width: 40px;
}

.headerContainer #divAccount {
    width: 180px;
}

.hdSupportDiv
{
    float: right;
    background-position: center center;
    padding-top: 9px;
}


.account-controls
{
    position: relative;
    padding: 0;
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #97c7dc;
    /*z-index: 610;  Parent control has higher z-index to fix ie7 z-index bug */
}
/*
.account-controls a
{
    text-decoration: none;
}

.account-controls a:hover
{
    color: #97c7dc;
}

.account-controls .dropdownMenuItemContainer a:hover
{
    color: #1d5680;
    background-color: #ccc;
    text-decoration: none;
}

.account-controls .welcome
{
    margin: 3px 0 0 0;
    padding: 1px 4px 3px 4px;
    cursor: pointer;
}

.account-controls .welcome .arrow
{
    background: url(../../Images/icon-down.png) no-repeat right;
    padding: 3px 20px 2px 7px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.account-controls .welcome:hover .arrow
{
    color: #fff;
    background: url(../../Images/icon-down.png) no-repeat right;
    padding: 3px 20px 2px 7px;
}

.account-controls .welcome-open
{
    margin: 3px 0 0 0;
    padding: 1px 3px 2px 3px;
    cursor: pointer;
    border: dotted 1px #ccc;
    background: url(../../Images/application-switcher-button-active.png) left repeat;
}

.account-controls .welcome-open .arrow
{
    color: #fff;
    background: url(../../Images/icon-down.png) no-repeat right -40px;
    padding: 3px 20px 2px 7px;
}

.account-controls-panel
{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 600;
    width: 170px;
    border: inset 1px #444;
    background-color: #f0f1f1;
    font-size: 11px;
    font-weight: bold;
    visibility: hidden;
    right: 0;
}

.account-controls-panel a
{
    display: block;
    margin: 3px;
    padding: 3px 5px;
    color: #1d5680;
    background-color: #f0f1f1;
    text-decoration: none;
}

.account-controls-panel a:hover
{
    text-decoration: none;
    color: #1d5680;
    background-color: #ccc;
}
*/
.as-spn-clear
{
    z-index: 10;
    height: 15px;
    width: 15px;
}

#patientSummaryBody table
{
    margin: 0px 0px 0px 0px;
    border: 0px;
    border-spacing: 0;
}

#patientSummaryBody tr th .special
{
    color: black;
    background: transparent;
}

#patientSummaryBody tr
{
    line-height: inherit;
    padding: 0 0;
}

#patientSummaryBody tr:hover > td .special
{
    background: transparent;
    background-color: #ffffff;
    color: Black;
}


#patientSummaryBody tr td .special
{
    padding: 0;
    border: none;
    text-align: left;
    margin-right: 0px;
    margin-left: 0px;
    color: White;
}

#patientSummaryBody tr td
{
    padding: 0;
    border: none;
    text-align: left;
    margin-right: 0px;
    margin-left: 0px;
}

.subgridview table
{
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    margin: 10px 0px 0px 0px;
    background: whitesmoke;
    vertical-align: top;
    padding: 0;
    padding-top: 5px;
    border: 1px solid darkgrey;
}

.subgridview table th
{
    background: white;
    color: gray;
}

.subgridview table tr
{
    padding: 5px 0px 5px 0px;
}

.subgridview table tr td
{
    margin-left: 50px;
    padding: 5px 0px 5px 0px;
    text-align: left;
}

#containerTab
{
    margin: 0 auto;
    width: 100%;
}

#containerTab ul
{
    list-style: none;
    list-style-position: outside;
}

#containerTab ul.tabmenu li
{
    float: left;
    margin-right: 5px;
    margin-bottom: -1px;
}

#containerTab ul.tabmenu li
{
    font-weight: 700; /*display: block;  */
    padding: 5px 10px 5px 10px;
    background: #efefef;
    margin-bottom: -1px;
    border: 1px solid #d0ccc9;
    border-width: 1px 1px 1px 1px;
    position: relative;
    color: #898989;
    cursor: pointer;
}
#containerTab ul.tabmenu li.active
{
    background: #fff;
    top: 1px;
    border-bottom: 0;
    color: #5f95ef;
}
/******* /MENU *******/
/******* CONTENT *******/
.tabcontent
{
    margin: 0px auto;
    background: #efefef;
    background: #fff;
    border: 1px solid #d0ccc9;
    text-align: left;
    padding: 10px;
    height: 352px;
    font-size: 11px;
}


/*
.tabcontent.communication{  
    display: block;  
}  
    
/******* TUTORIALS *******  

 
.tabcontent.outreach{  
    display: none;  
}  
/******* /TUTORIALS *******/
/******* LINKS ******* 

.tabcontent.appointment{  
    display: none;  
}  
.tabcontent.appointment a{  
    color: #5f95ef;  
}  

/******* /LINKS *******/
.clearthis
{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

.optoutheader
{
    display: inline;
    font: bold 18px/1.5em Arial, Helvetica, sans-serif;
    padding-top: 5px;
}

.optoutlabel
{
    width: 60px;
    font: bold 12px/1.5em Arial, Helvetica, sans-serif;
}

.optoutrdocell
{
    display: inline;
}

.optoutrdodatebutton
{
    vertical-align: middle;
}

.optoutrdodaysbutton
{
    vertical-align: middle;
}


.optoutrdodatelabel
{
    display: inline-block;
    width: 40px;
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.optoutrdodayslabel
{
    display: inline-block;
    width: 40px;
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.optoutrdodatelabel label
{
    float: left;
}

.optoutrdodayslabel label
{
    float: left;
    vertical-align: middle;
}

.optoutrow
{
    padding: 1px 1px 1px 1px;
    height: 30px;
    vertical-align: middle;
}


#patientSummaryBody
{
    min-height: 430px;
    height: 445px;
}
