/* Verified in PB, QC */
#main
{
    position: relative;
    vertical-align: top;
    background-color: #DFE5EC;
}

/* Verified in PB, QC, CO */
.content
{
    margin: 0px 0px 0px 170px;
    background-color: #FFFFFF;
    height: 100%;
    min-height: 680px;
    padding-bottom: 10px;
}

.leftSidebar
{
    background-color: #DFE5EC;
    float: left;
    z-index: 5;
    padding-left: 6px;
}

.leftSidebar div.checkBoxItem
{
    padding: 4px;
}

span.runDate
{
    display: block;
    margin-left: 12px;
    margin-top: 0.5em;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight: normal;
}

.rgMasterTable
{
    margin-bottom: 12px;
}

.RadGrid_Atmosphere .rgWrap, .RadGrid_Default .rgWrap
{
    zoom: 1 !important;
}


/* OffShore Updations*/

/* YBoD Message - Verified in PS, PL, CO */
#filter-update, #divErrorMessage
{
    position: static;
    background: #ffffcc;
    line-height: 2em;
    padding: 4px;
    border-top: solid 2px #dcd51c;
    border-bottom: solid 2px #dcd51c;
}

/* Verified in PS, PL, CO, PB, QC */
input[type=submit], input[type=reset], input[type=button]
{
    filter: chroma(color=#000000) !important;
}

.textBox
{
    border: 1px solid #999999 !important;
}

/* Verified in PS, PL, CO */
#top-filter
{
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #DDDDDD;
    height: auto;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 4px;
}

/* Verified in PS, PL, CO [M] */
div.topFilterRow
{
    padding-left: 8px;
    height: 25px;
    width: 100%; /*Need to Verify this in CO, as in aspx we didnt have */
}

/* Verified in PS, PL, CO */
div.topFilterRow label, div.topFilterRow select, div.topFilterRow div.RadComboBox
{
    margin-right: 8px;
    display: block;
    float: left;
}

/* Verified in PS, PL, CO, PB, QC*/
div.topFilterRow label
{
    margin-right: 8px;
}

/* Verified in PS, PL, CO, PB, QC */
div.topFilterRow select, div.topFilterRow div.RadComboBox
{
    margin-right: 18px;
}

/* Verified in PS, PL, CO */
div.topButtonRow
{
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

/* Verified in PS, PL, CO, PB */
.buttonHL-arrow-wrapper
{
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

/* Verified in PS, PL, CO */
.lightGray
{
    background-color: #f0f0f0;
}

/* Verified in PS, PL, CO */
.buttonDef
{
    background-color: #E4EFF4 !important;
    border-bottom-color: #bfddea;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #bfddea;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #bfddea;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: #bfddea;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-color: #bfddea;
    border-top-style: solid;
    border-top-width: 1px;
    color: #b9b9b9 !important;
    cursor: default !important;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    line-height: 21px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    width: 49px !important;
}

/* Verified in PS, PL, CO */
td input.button
{
    padding: 0 12px;
    width: 0; /* IE table-cell margin fix */
    overflow: visible;
}

/* Verified in PS, PL, CO */
td input.button[class]
{
    /* IE ignores [class] */
    width: auto; /* cancel margin fix for other browsers */
}

/* Verified in PB, QC */
.checkbox input
{
    margin-left: 8px !important;
    vertical-align: middle !important;
}

/* Verified in PB, QC */
.checkbox label
{
    display: inline !important;
    vertical-align: middle !important;
    font-weight: normal !important;
}


/* Verified in PL, CO  */
#grid-maxrecords
{
    position: static;
    background: #B6D3DD;
    line-height: 2em;
    padding: 4px;
    margin-bottom: 10px;
    border-top: solid 2px #7896A9;
    border-bottom: solid 2px #7896A9;
}

/* Verified in PL, CO, PB, QC  */
#popupcontent
{
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
    left: 464px;
    top: 188px;
    width: 330px;
    height: 40px;
}

/* Verified in PL, CO  */
div.gridSection, div#chartSection
{
    margin-left: 8px auto;
    margin-right: 8px auto;
    margin-top: 0px;
}

/* Verified in PL, CO  */
#grid-atleastcolumn
{
    position: static;
    background: #B6D3DD;
    line-height: 2em;
    padding: 4px;
    border-top: solid 2px #7896A9;
    border-bottom: solid 2px #7896A9;
}

/* Verified in PB, QC */
.radio label
{
    display: inline;
    vertical-align: middle;
}

/* Verified in PB */
.topFilterSecondRow
{
    margin-bottom: 7px;
}

/* Verified in PB, QC */
.grdRowsContents
{
    text-align: right;
}

/* Verified in CO, PL */
.displayFilterOption
{
    display: block !important;
}

/* Verified in PB*/
.grdRowsItemColOne
{
    text-align: left;
    width: 175px;
}

/* Verified in PB*/
div.topFilterRow label
{
    margin-right: 8px;
}

/* Verified in PB, QC*/
.leftSidebar div.sectionHeading
{
    width: 158px;
    background-color: #F0F0F0;
    color: #114861;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    padding-left: 4px;
    margin-left: -6px;
    margin-top: 10px;
    margin-bottom: 6px;
}

/* Verified in PB*/
.leftSidebar .sidebarFilter
{
    width: 140px;
}

/* Verified in PB, QC */
.hide
{
    display: none;
}

/* Verified in PB, QC */
.required
{
    font-size: 1.4em;
}

/* Verified in PB, QC */
.chartTooltip
{
    font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

/* Verified in PB, QC */
.chartTooltip table
{
    width: auto;
}

/* Verified in PB, QC */
.chartTooltip table div
{
    padding: 3px 6px;
}

/* Verified in PB, QC */
.footer
{
    background-color: #FFFFFF;
}

/* Verified in PB */
.multilinetextCheckBox input
{
    float: left;
}

/* Verified in PB */
.multilinetextCheckBox label
{
    display: block;
    float: left;
    margin-top: 1px;
    width: 116px;
}

/* Verified in PS */
.linksText
{
    display: block;
    margin-left: 12px;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    color: Blue;
}

/* Verified in PS */
.checkbox input, .filterCheckBox input
{
    margin-left: 8px;
    vertical-align: middle;
}

/* Verified in PS */
.checkbox label, .filterCheckBox label
{
    display: inline;
    vertical-align: middle;
    font-weight: normal;
}

/* Verified in PS */
.optionsCheckbox label
{
    color: #333333;
    display: inline;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    vertical-align: middle;
}

.RadInput_Default a.riDown
{
    background-position: 0 -199px;
}

.RadInput_Default a.riDown:hover
{
    background-position: 0 -199px;
}

.RadInput_Default a.riUp
{
    background-position: 0 -98px;
}

.RadInput_Default a.riUp:hover
{
    background-position: 0 -98px;
}

/* Modal Pop-up Extender Start */
.modalBackground
{
    background: #ffffff;
    opacity: 0.7;
    filter: alpha(opacity=70);
    overflow: visible;
}
.modalPopup
{
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 450px;
    height: 80px;
}

.modalPopup p
{
    text-align: left;
    padding: 10px 5px 12px 5px;
    color: #333333;
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
}
/*Modal Pop-up Extender*/

