/*@font-face { font-family: 'Clean'; src: url('Fonts/Clean.ttf'); }*/        

@font-face
{
    font-family : "TradeGothicLTStd-Bold";
    src: url('TradeGothicLTStd-Bold.woff');
}
        
/*body { margin:0px; padding: 0px;font-family: "news-gothic-std-1","news-gothic-std-2",sans-serif; background: #181818 url(Images/financial_screen_bg.jpg) no-repeat; background-size: 100% 100%, auto; height: 100%; width: 100%;}*/
header  
{
    /*font-family: "atrament-web-1" , "atrament-web-2"; */
    font-size: 30px; 
    font-family : "TradeGothicLTStd-Bold";
    font-weight:bold;
}

#mainDashBoardArea { display: block; position:relative;}
#mainDashBoardArea, body{ -o-background-size: 100% 100%, auto;}
#mainDashBoardArea, body{ -moz-background-size: 100% 100%, auto;}
#mainDashBoardArea, body{ -webkit-background-size: 100% 100%, auto;}
        
#containerDockLayer {width:100%; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: 3px; border: 0px solid #fff; }
#containerDockLayer #header { padding-bottom: 0px; height:68px; width: 100%; margin: auto; position:relative;  font-family : "TradeGothicLTStd-Bold"; font-size: 30px;}
#containerDockLayer #header input[type=button] {float: right; margin-top: 25px; }
#containerDockLayer #contentHolder { position:relative; margin: auto; height:562px; width: 100%;  overflow: hidden; } 
#containerDockLayer #left { float: left; background: url(Images/left_arrow.png) no-repeat; vertical-align:middle;}
#containerDockLayer #right { float: right; background: url(Images/right_arrow.png) no-repeat; vertical-align:middle;}

.scroller { height: 105px; margin: 75px 0px 0px; width: 40px; display:none; }
.scroller:hover {cursor: pointer}

#cloudButton, #gridButton{opacity: 1; filter: Alpha(Opacity=100);}

#aaglogo { display: none; clear: none; position: relative; left: 3px; top: 4px; }
#aagTopRight { display: block; clear: none; position:absolute; right: 3px; top: 3px; }
#aagTopRight #buttons {margin-top: 19px;}
#aagTopRight #buttons .enabled {opacity:.2; filter: Alpha(Opacity=20);}
#aagTopRight #buttons .enabled:hover {cursor:pointer}

       
.Left 
{
    float:left;
    width:45%;
    text-align:left;   
}
        
.Right 
{
    float:right;
    width:45%;
    text-align:right;
    display: block;
}
        
.LeftIndent
{
    float:left;
    width:70%;
    margin-left:22px;
}  
        
.RightIndent
{
    float:right;
    width:22%;
    margin: 0px 10px 0px 0px;
    text-align:right;
}
   
.Clear
{
    margin-top:10px;
    clear:both;
}
        
.Bold
{
    font-weight:bold;
}
        
.Even
{
    background-color: #efefef;
}

.odd, .even{margin-bottom: 25px;}        

.Security
{
    font-size: 10pt;
    margin-left:15px;
}        


/* Ticker styles */

.Marquee
{
    background-color: rgba(137, 137, 137, 0.3);
}

#MarqueeNews, #MarqueeQuotes {
	position:relative;
	height:22px;
	width:100%;
	display:block;
	overflow:hidden;
	}
	
div.scrollingtext {
	position:absolute;
	white-space:nowrap;
	font-family: "news-gothic-std-1","news-gothic-std-2",sans-serif;
	font-size:14px;
	font-weight:normal;
	color: White;
	padding-top: 3px;
	bottom: 3px;
}

#ticker { display:none;}

.TickerQuoteContainer { color: White; }
.TickerLast { color:#fff }


#MarqueeNewsTitle{ background-color:#1D5083;
                    color:#eaeaea;
                    float:left;
                    font-weight:bold;
                    height:22px;
                    margin-top:-44px;
                    padding:0 12px;
                    position:absolute;
                    width:50px;
                    vertical-align:middle;
                    font-family : "TradeGothicLTStd-Bold";
                    display:block;
                    font-size: 14pt;
                    border-bottom: 1px solid #619CD9;
                   }
#MarqueeQuotesTitle{ background-color:#2C79C7;
                     color: #eaeaea ;
                    float:left;
                    font-weight:bold;
                    height:22px;
                    margin-top:-22px;
                    padding:0 12px;
                    position:absolute;
                    width:50px;
                    vertical-align:middle;
                    font-family : "TradeGothicLTStd-Bold";
                    display:block;
                    font-size: 14pt;
                     }
#topRightImage{display: block; clear: none; position:absolute; right: 77px; top: 10px;}

/*dashboard widgets*/
#container, #container-wrapper
{
    min-height: inherit !important;
    width: 990px;
}
        
#containerDockLayer #contentHolder
{
    float: left;
}
        
div.topFilterRow
{
    margin-top: 10px;
}
div.topButtonRow
{
    float: left;
    padding-bottom: 10px;
    width: 99%;
}
div.topButtonRow input
{
    float: right;
    margin-right: 5px;
}

/*Hypercholesterolemia tabular section*/
.dashboardGrid li
{
    float: left;
    width: 100%;
}
.dashboardGrid li div
{
    float: left;
    line-height: 20px;
}
.dashboardGrid li .firstSec
{
    width: 165px;
    border-right: 1px solid #DADADA;
    margin: 0 2px 0 1px;
    word-wrap: break-word;
}
.dashboardGrid li .secondSec
{
    width: 55px;
    margin: 0 1px 0 2px;
}
.dashboardGrid .titleColor
{
    background-color: #DADADA;
}
.dashboardGrid .alternateColor
{
    background-color: #F2F7FD;
}

/*Obesity and hypertension tabular section*/
.dashboardGrid li .firstSecObesity, .dashboardGrid li .firstSecHyper 
{
    width:160px;
    border-right:1px solid #DADADA;
    margin:0 2px 0 1px;
    word-wrap: break-word;
}
.dashboardGrid li .secondSecObesity, .dashboardGrid li .secondSecHyper 
{
    width:60px;
    margin:0 1px 0 2px;
}

/*Preventive and condition compliance tabular section*/
.dashboardGrid li .firstSecPrev, .dashboardGrid li .firstSecCond 
{
    width:138px;
    border-right:1px solid #DADADA;
    margin:0 2px 0 1px;
    word-wrap: break-word;
}
.dashboardGrid li .secondSecPrev, .dashboardGrid li .secondSecCond 
{
    width:82px;
    margin:0 1px 0 2px;
}

/*Groups and Providers dropdown*/
#top-filter
{
    background: #F0F0F0;
    border-bottom: 1px solid #DDD;
    height: auto;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 4px;
}
div.topFilterRow
{
    padding-right: 8px;
    padding-left: 8px;
    height: 25px;
    width: 100%;
}
.lightGray
{
    background-color: #F0F0F0;
}
.top-filter-label
{
    float: left;
    padding: 5px;
}
div.topFilterRow select, div.topFilterRow div.RadComboBox
{
    margin-right: 18px;
}
div.topFilterRow label, div.topFilterRow select, div.topFilterRow div.RadComboBox
{
    display: block;
    float: left;
}
div.topButtonRow
{
    height: 30px;
    margin: 10px 10px 0 0;
}
#filter-update, #divErrorMessage
{
    background: #FFC;
    line-height: 2em;
    padding: 4px;
    border-top: solid 2px #DCD51C;
    border-bottom: solid 2px #DCD51C;
    position: static;
    width: 99%;
    float: left;
    margin-bottom: 10px;
}