/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.fm_sign_in 
{
  width: 940px;
  margin-left:20px;
}
.fm_sign_in label 
{
  float:left;
  clear:left;
  font-size:12px;
  line-height:17px;
  font-weight:bold;
  color:#333333;
  padding-bottom:8px;
}
.fm_sign_in input 
{
  float:left;
  width:200px;
  height:18px;
  line-height:18px;
}
.fm_sign_in_header
{
    width:950px; 
    height:51px; 
    padding-top:10px;
    margin-left: 14px;
    border-bottom: 1px solid #cccccc;
}
.fm_sign_in_header:after
{
  content:"\0020";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}

.fm_sign_in_header_left
{
    width:48%; 
    float:left;
    padding: 0;
    margin-left: 5px;
}
.fm_sign_in_header_right a
{
    color: Black;
}
.fm_sign_in_header_right
{
    width:48%; 
    text-align:right; 
    float:right; 
    font-weight:bold;
    padding-top:14px;
    margin-right:10px;
    font-size: 11px;
}
.fm_sign_in .form-help 
{
  clear:left;
  margin-left:75px;
}
.phytel_news 
{
  width:965px;
  height:450px;
  margin-top:19px;
  border-top: 1px solid #cccccc;
  margin-left: 12px;
}
.phytel_news_content
{
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom:15px;
  width:100%;
}
.phytel_news h1 
{ 
    font-size:13px; 
}
.rssItem
{
   line-height: 18px;
   border:0;
}
.forgot_password
{
    margin-left:70px;
    font-size:11px;
}
#Content_MainLogin_PasswordRecoveryLink
{
    font-size:11px;
    color:#333333;
    margin-left:73px;
}
#Content_MainLogin_PasswordRecoveryLink:hover
{
    cursor:pointer
}
.validationMessageContainer
{
    position:absolute;
    top:195px;
    padding: 5px 0px 5px 5px;
    margin-left: -10px;
    visibility: visible;
    display: block;
}