/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.sq_table 
{
  width: 700px;
  height: 100px;
  margin-bottom:20px;
}

.sq_panel
{    
    margin-left: 14px;    
}
.sq_table tr td
{
  border:none;
  border-style:none;  
}

.sq_labels 
{ 
  float:right;
  text-align:right;
  
  font-size:12px;
  line-height:10px;
  font-weight:bold;
  color:#333333;
  padding-bottom:10px;
  padding-right:10px;
  width:120px;
}

.sq_labelcol
{
    width:100px;
}

.sq_dropdowncell
{
    padding-bottom:10px; 
    width:500px;   
}

.sq_textboxes
{
  float:left;
  width:200px;
  height:18px;
}

.sq_instructions
{    
    clear:both;
    margin-top:20px;
    margin-left:10px;
    font-size:11px;
}

.sq_instructions_body
{
    margin-left:5px;
}
