<section data-type="flex">
    <!-- ko if: selectedPatient() -->
    <div data-bind="foreach: columns">
        <div class="column" data-bind="click: $parent.setOpenColumn, css: { open: $parent.computedOpenColumn() === $data }">
            <div class="widget-wrapper" data-bind="foreach: widgets">
                <!-- ko compose: path -->
                <!-- /ko -->
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: !selectedPatient() -->
    <div>
        <div class="column">
            <div class="widget-wrapper">
                <div class="widget open" data-bind="columnSizer: true">
                    <div class="content">
                        <div class="content-fill">
                            <div class="wrapper">
                                <div class="content">
                                    <div class="header">
                                        <div class="table-cell">
                                            <header>
                                                <h1>Data Summary</h1>
                                            </header>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <div class="body">
                                                <div class="content">
                                                    <div class="body">
                                                        <em class="grey">No individual selected.</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</section>