<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear/>
    <add key="Phytel" value="https://www.myget.org/F/phytelservices/" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <Phytel>
      <add key="Username" value="phytelnuget" />
      <add key="ClearTextPassword" value="Phytel1!" />
    </Phytel>
  </packageSourceCredentials>
</configuration>