<div class="route">
	<section data-type="flex">    
		<div>
			<div class="column" data-bind="css: { 'open': leftColumnOpen() }">
				<div class="widget-wrapper">
					<div class="widget open" data-bind="css: { 'fullscreen': fullScreenWidget() === 'contactspanel' }, columnSizer: { triggers: {a: myContactSearchResults(), b: selectedContact()} }">
						<div class="content">
							<div class="content-fill">
								<div class="wrapper">
									<div class="content">
										<div class="header">
											<div class="table-cell">
												<header class="ellipsis">
													<h1>Contacts</h1>
													<div class="controls">
														<div class="toggle grey" data-bind="visible: showResetFilters()">
															<i class="icon-filter_clear pointer blue toggle" data-bind="click: resetFilters" title="Clear Filters"></i>
														</div>
														<div class="toggle" ">
															<i class="pointer icon-plus" data-bind="click: addContact, clickBubble: false" title="Add"></i>
														</div>
														 <div class="toggle single-arrow-left" data-method="open" data-target="column" data-type="remove" data-bind="click: toggleOpenColumn, enable: leftColumnOpen(), clickBubble: false">
                                                        </div>
                                                        <div class="toggle double-arrow-right" data-method="open" data-target="column" data-type="add" data-bind="click: toggleOpenColumn, enable: !leftColumnOpen(), clickBubble: false">
                                                        </div>
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('contactspanel') }, clickBubble: false">
                                                        </div>
													</div>
												</header>
												<!-- search area -->
												<div class="content pad-left">
													<div class="row validation-summary">
														<div class="validation-errors">
															<h5 data-bind="visible: !canSearchContacts()">Please select a criteria</h5>
														</div>
													</div>
													<div class="row pad-top">
														<div class="span1 align-right gray">Contact Type</div>
														<div class="span3 pad-left">															
															<div data-bind="chsnsingle:{ options: contactTypes, value: criteriaContactTypeId, idValue: 'id', text: 'name', label: 'criteriaContactType'}"></div>
														</div>
													</div>
													<div class="row pad-top">
														<div class="span1 align-right grey">First Name</div>
														<div class="span3 pad-left">
															<input type="text" data-bind="value: criteriaFirstName, valueUpdate: 'afterkeydown'" placeholder="first name" />
														</div>
														<div class="span1 align-right grey">Last Name</div>
														<div class="span3 pad-left">		
															<input type="text" data-bind="value: criteriaLastName, valueUpdate: 'afterkeydown'" placeholder="last name" />
														</div>
													</div>
													<div class="row pad-top">
														<!-- <label class="span4">
															<span>Phone</span>																		
															<input data-bind="phone: criteriaPhone, value: number, valueUpdate: 'afterkeydown', css: { invalid: !isValid() }" placeholder="XXX-XXX-XXXX" title="XXX-XXX-XXXX"/>																			
														</label> -->
														<div class="span1 align-right grey">Type</div>
														<div class="span3 pad-left">
															<div data-bind="multiselect: { options: contactSubTypes, values: criteriaContactSubTypes, text: 'name', idValue: 'id', label: 'criteriaContactSubTypes' }"></div>					
														</div>														
														<div class="span1 align-right grey">Status</div>
														<div class="span3 pad-left">
															<div data-bind="multiselect: { options: contactStatuses, values: criteriaContactStatuses, text: 'name', idValue: 'id', label: 'criteriaContactStatuses' }"></div>
														</div>
														<div class="span2">
															<button class="btn color pull-right" data-bind="click: searchContacts, enable: canSearchContacts">
																<i class="icon-search"></i>
																<span class="pad-left">Search</span>
															</button>
														</div>
													</div>
													<div class="line"></div>
												</div>
												
											</div>
										</div>
										<div class="header">
											<div class="table-cell">
												<header class="ellipsis" data-bind="visible: (myContactSearchResults().length > 0)">															
													<h1>Results<span data-bind="text: contactsShowingText"></span></h1>
												</header>
											</div>
										</div>
										
										<em class="grey pad-left" data-bind="visible: noResultsFound()">No records meet your search criteria</em>
										<div class="header grey" data-bind="visible: (myContactSearchResults().length > 0)">
											<div class="table-cell">
												<header>
													<div class="line">
														<div class="span2">Last Name</div>
														<div class="span2">First Name</div>
														<div class="span8">Summary</div>
													</div>
												</header>
											</div>
										</div>
										<div class="table-row">
											<div class="table-cell">
												<div class="body">
													<div class="content" style="padding-top: 0;">
														
														<!-- list results area -->
														<!-- <div class="row pad-top"></div> -->
														<div>
															<h1 data-bind="visible: searching()">Searching...</h1>
															<div data-bind="visible: !searching()">																																																													
																<!--ko compose: "templates/contactSearchResults.panel.html" --><!-- /ko -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>					
					</div>	
				</div>
			</div>
			<div class="column" data-bind="css: { 'open': !leftColumnOpen() }">
				<div class="widget-wrapper">
					<div class="widget open" data-bind="css: { 'fullscreen': fullScreenWidget() === 'contactdetails' }, columnSizer: true">
						<div class="content">
							<div class="content-fill">
								<div class="wrapper">
									<div class="content">
										<div class="header">
											<div class="table-cell">
												<header>
													<h1>Details<span data-bind="text: (selectedContact() ? ' - ' + selectedContact().firstName() + ' ' + selectedContact().lastName() : '')"></h1>
													<div class="controls">
														<!-- ko with: selectedContact -->
														<div class="toggle" data-bind="click: $parent.editContact, clickBubble: false, visible: $parent.showEditButton" style="margin-right: 4px;">
															<a href="#">
																<i class="icon-edit"></i>
															</a>
														</div>	
														<!-- /ko -->
														<!-- ko if: showDeleteButton -->
														<!-- <div class="toggle">
															<a href="#" data-bind="click: deleteContact, clickBubble: false">
																<i class="icon-cancel red"></i>
															</a>
														</div> -->
														<!-- /ko -->																											
														<div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('contactdetails') }, clickBubble: false">
														</div>
													</div>
												</header>											
											</div>
										</div>
										<div class="table-row">
											<div class="table-cell">
												<div class="body">
													<div class="content" >
														<!-- ko compose: { model: 'viewmodels/home/contacts/contact.details', activationData:{ contact: selectedContact } } -->
														<!-- /ko -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>					
					</div>	
				</div>
			</div>
		</div>
	</section>
</div>