<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated NG=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="ADSecurityServiceUrl" value="http://localhost:59900/Security"/>
    <add key="DDPatientServiceUrl" value="http://localhost:59901/Patient"/>
    <add key="DDPatientProblemServiceUrl" value="http://localhost:59901/PatientProblem"/>
    <add key="DDLookupServiceUrl" value="http://localhost:59901/Lookup"/>
    <add key="DDProgramServiceUrl" value="http://localhost:59901/Program"/>
    <add key="DDCohortServiceUrl" value="http://localhost:59901/Cohort"/>
    <add key="DDPatientSystemUrl" value="http://localhost:59901/PatientSystem"/>
    <add key="DDContactServiceUrl" value="http://localhost:59901/Contact"/>
    <add key="DDPatientGoalUrl" value="http://localhost:59901/PatientGoal"/>
    <add key="DDPatientNoteUrl" value="http://localhost:59901/PatientNote"/>
    <add key="DDPatientObservationUrl" value="http://localhost:59901/PatientObservation"/>    
    <add key="DDCareMemberUrl" value="http://localhost:59901/CareMember"/>
    <add key="DDSchedulingUrl" value="http://localhost:59901/Scheduling"/>
    <add key="DDAllergyUrl" value="http://localhost:59901/Allergy"/>
    <add key="DDMedicationUrl" value="http://localhost:59901/Medication"/>
    <add key="DDSearchUrl" value="http://localhost:59901/Search"/>
    <add key="PhytelServicesConnName" value="Phytel"/>
    <add key="ASEProcessID" value="16"/>
    <add key="ASEAPI" value="http://localhost:59901/ASEAPI/1.0"/>
    <add key="Profiler" value="false"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>