<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="ADSecurityServiceUrl" value="http://localhost:888/Security" />
    <add key="DDPatientServiceUrl" value="http://localhost:8888/Patient" />
    <add key="DDPatientProblemServiceUrl" value="http://localhost:8888/PatientProblem" />
    <add key="DDLookupServiceUrl" value="http://localhost:8888/Lookup" />
    <add key="DDProgramServiceUrl" value="http://localhost:8888/Program" />  
    <add key="DDCohortServiceUrl" value="http://localhost:8888/Cohort" />
    <add key="DDPatientSystemUrl" value="http://localhost:8888/PatientSystem" />
    <add key="AuditSystemUrl" value="http://localhost:666/Audit" />
    <add key="DDContactServiceUrl" value="http://localhost:8888/Contact" />
    <add key="DDPatientGoalUrl" value="http://localhost:8888/PatientGoal" />
    <add key="DDPatientNoteUrl" value="http://localhost:8888/PatientNote" />
    <add key="DDCareMemberUrl" value="http://localhost:8888/CareMember" />
    <add key="DDPatientObservationUrl" value="http://localhost:8888/PatientObservation" />
    <add key="DDAllergyUrl" value="http://localhost:8888/Allergy" />
    <add key="DDMedicationUrl" value="http://localhost:8888/Medication" />
    <add key="DDSchedulingUrl" value="http://localhost:8888/Scheduling" />
    <add key="DDSearchUrl" value="http://localhost:8888/Search" />
    <add key="PhytelServicesConnName" value="Phytel" />
    <add key="ASEProcessID" value="16" />
    <add key="ASEAPI" value="http://localhost:8888/ASEAPI/1.0" /> 
    <add key="Profiler" value="false" /> 
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <remove name="WebDAVModule" />
      <remove name="WebDAV" />
      
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>