<form class="simple_form new_note">
    <div class="row pad top accordion divider">
        <div class="accordion-toggle" data-bind="clickToggle: $parent.tpDetailsOpen">
            <div class="row">
                <div class="bold line pull-left">
                    Details:
                </div>
                <div class="small line grey pad-left pull-left" data-bind="visible: !$parent.tpDetailsOpen(), with: $parent.newTouchPoint">
                    <!-- ko if: outcome() && method() -->
                    <span data-bind="text: outcome().name"></span> <span data-bind="text: method().name"></span> <span data-bind="text: source().name() === 'Outbound' ? 'to' : 'from' "></span> <span data-bind="text: who().name() === 'Individual' ? $parent.fullName() : who().name()"></span> on <span data-bind="Date: contactedOn"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="accordion-content" data-bind="with: $parent.newTouchPoint, visible: $parent.tpDetailsOpen">
            <div class="row pad">
                <div class="span3">
                    <h5 class="grey pad-bottom">Method</h5>
                    <div class="icon-list">
            			<div data-bind="chsnsingle: { options: $parents[1].methods, value: method, text: 'name', label: 'methods' }"></div>
                    </div>
                </div>
                <div class="span3">
                    <h5 class="grey pad-bottom">Who</h5>
                    <div class="icon-list">
            			<div data-bind="chsnsingle: { options: $parents[1].whos, value: who, text: 'name', label: 'whose' }"></div>
                    </div>
                </div>
                <div class="span3">
                    <h5 class="grey pad-bottom">Source</h5>
                    <div class="icon-list">
            			<div data-bind="chsnsingle: { options: $parents[1].sources, value: source, text: 'name', label: 'sources' }"></div>
                    </div>
                </div>
                <div class="span3">
                    <h5 class="grey pad-bottom">Outcome</h5>
                    <div class="icon-list">
            			<div data-bind="chsnsingle: { options: $parents[1].outcomes, value: outcome, text: 'name', label: 'outcomes' }"></div>
                    </div>
                </div>
            </div>
            <div class="row pad">
                <div class="span6">
			        <h5 class="grey pad-bottom">Date/Time of Contact</h5>
                	<div class="row">
					    <div class="span6">
					        <input data-bind="datepicker: contactedOn, datepickerOptions: {  }" type="text">
					    </div>
					    <div class="span6">						
							<!-- ko if: Modernizr.inputtypes.time -->
								<input data-bind="timepicker: contactedOn, attr: { 'disabled': !contactedOn() }" type="time" style="height: 20px; width: 100%">
							<!-- /ko -->
							<!-- ko ifnot: Modernizr.inputtypes.time -->
								<input data-bind="jqtimepicker: contactedOn, attr: { 'disabled': !contactedOn() }" type="text" style="height: 20px; width: 100%">
							<!-- /ko -->
					    </div>
					</div>
                </div>
                <div class="span6">
                    <h5 class="grey pad-bottom">Program(s)</h5>
                    <div class="icon-list span10" data-bind="multiselect: { options: $parents[1].availablePrograms, values: programIds, idValue: 'id', text: 'name', label: 'programs', stringValue: programString }"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad accordion open divider" data-bind="with: $parent.newTouchPoint">
        <div class="accordion-toggle" data-bind="clickToggle: $parents[1].tpContentOpen">
            <div class="bold line">Content:
            </div>
        </div>
        <div class="accordion-content pad" data-bind="visible: $parents[1].tpContentOpen">
            <div class="row">
                <div class="span2">
                    <h5 class="grey pad-bottom">Duration</h5>
                </div>
                <div class="span4">
                    <div data-bind="chsnsingle: { options: $parents[1].durations, value: duration, text: 'name', label: 'durations' }"></div>
                </div>
                <div class="span6">
                    <label class="control-group">
					    <div class="checker" data-bind="hoverToggle: 'hover'">
					        <span data-bind="css: { 'checked': validatedIdentity() === true }">
					            <input type="checkbox" data-bind="checked: validatedIdentity" />
					        </span>
					    </div>
                        <span class="grey">Validated identity
                        </span>
					</label>
                </div>
            </div>
            <div class="row pad-top">
                <div class="span12">
                    <label>
                        <div class="input inline text optional note_content">
                            <textarea data-bind="value: text, valueUpdate: 'afterkeydown'" class="text optional" maxlength="5000"></textarea>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad accordion divider">
        <div class="accordion-toggle" data-bind="clickToggle: $parent.tpLastNotesOpen">
            <div class="bold line">Past Notes:
            </div>
        </div>
        <div class="accordion-content" data-bind="visible: $parent.tpLastNotesOpen, foreach: $parent.lastThreeNotes">
            <div class="row pad-top divider" data-bind="if: createdOn">
                <a class="span12" href="#" data-bind="click: $parents[1].viewDetails">
                    <div class="row">
                        <strong data-bind="Date: createdOn"></strong> : <span data-bind="with: createdBy"><span data-bind="text: preferredName"></span> - </span>
                    </div>
                    <div class="row">
                        <span class="span12 ellipsis" data-bind="text: text"></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="accordion-content" data-bind="visible: $parent.lastThreeNotes().length === 0">
            <em>No notes have been entered</em>
        </div>
	</div>
    <div class="row pad-top divider" data-bind="visible: !$parent.tpLastNotesOpen()">
    </div>
    <div class="position bottom left">
        <div class="pad vertical">
            <a class="btn color" href="#" data-bind="click: $parent.gotoHistory">View More</a>
        </div>
    </div>
    <div class="position bottom right">
        <div class="pad vertical">
            <button data-bind="click: $parent.cancelTouchPoint" class="cancel">Cancel</button>
            <input data-bind="click: $parent.saveTouchPoint, enable: $parent.canSaveTouchPoint" type="submit" value="Save">
        </div>
    </div>
</form>