SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RPT_ToDoProgram](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MongoToDoId] [varchar](50) NULL,
	[ToDoId] [int] NULL,
	[ProgramId] [int] NULL,
	[MongoProgramId] [varchar](50) NULL,
 CONSTRAINT [PK_ToDoProgram_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RPT_ToDoProgram]  WITH CHECK ADD  CONSTRAINT [FK_ToDoProgram_ToDo] FOREIGN KEY([ToDoId])
REFERENCES [RPT_ToDo] ([ToDoId])
GO
ALTER TABLE [RPT_ToDoProgram] CHECK CONSTRAINT [FK_ToDoProgram_ToDo]
GO
