SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RPT_PatientMedSuppNDC](
	[NDCId] [int] IDENTITY(1,1) NOT NULL,
	[PatientMedSuppId] [int] NOT NULL,
	[MongoPatientMedSuppId] [varchar](50) NOT NULL,
	[NDC] [varchar](200) NOT NULL,
 CONSTRAINT [PK_PatientMedSuppNDC] PRIMARY KEY CLUSTERED 
(
	[NDCId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
