<div class="widget" data-bind="css: { 'fullscreen': isFullScreen() }">
    <div class="content">
        <header>
            <h1>Details</h1>
            <!-- ko compose: 'widgets/controls.html' -->
            <!-- /ko -->
        </header>
        <div class="body" data-bind="with: $parents[1].activeAction">
            <!-- ko foreach: computedPath -->
                <!-- ko compose: stepType().path -->
                <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>