<div class="widget" data-bind="css: { 'fullscreen': isFullScreen() }">
    <div class="content">
        <header>
            <h1>Plan</h1>
            <!-- ko compose: 'widgets/controls.html' -->
            <!-- /ko -->
        </header>
        <div class="body">
            <!-- ko foreach: $parents[1].selectedPatientsPrograms() -->
                <!-- ko if: elementState() !== 1 -->
                <!-- ko compose: { model: 'viewmodels/patients/patientssections/programssection', activationData: { activeAction: $parents[2].activeAction, program: $data } } -->
                <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: $parents[1].selectedPatient().programs().length === 0 -->
            <section class="accordion open">
                <div class="row accordion-toggle">
                    <h2>
                        <a></a>
                    </h2>
                </div>
                <div class="accordion-content">
                    <table class="goal-action">
                        <tbody>
                            <tr>
                                <td>
                                    <em class="grey">No programs loaded for this patient.</em>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- /ko -->
        </div>
    </div>
</div>