<div class="widget" data-bind="css: { 'fullscreen': isFullScreen() }">
    <div class="content">
        <header>
            <h1>Details</h1>
            <!-- ko compose: 'widgets/controls.html' -->
            <!-- /ko -->
        </header>
        <div class="table-row">
            <div class="table-cell">
                <!-- ko compose: { model: 'viewmodels/templates/clinical.dataentry', activationData: { activeDataType: $parents[1].activeDataType, selectedPatient: $parents[1].selectedPatient, saveDataEntry: $parents[1].saveDataEntry, cancelDataEntry: $parents[1].cancelDataEntry} } -->
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>