<div class="widget open" data-bind="css: { 'fullscreen': isFullScreen() }">
    <div class="content">
        <header>
            <h1>Data-Type</h1>
            <!-- ko compose: 'widgets/controls.html' -->
            <!-- /ko -->
        </header>
        <div class="table-row">
            <div class="table-cell">
                <div class="body">
                    <ul class="dividers">
                        <!-- ko foreach: $parents[1].dataTypes-->
                        <li class="h3 row line grey filter-toggle" data-bind="text: name, click: $parents[2].setActiveDataType, css: { 'active': $parents[2].activeDataType() === $data }, attr: { 'title': name }"></li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>