<div class="widget open" data-bind="if: $parents[1].activeGoal">
    <div class="content" data-bind="with: $parents[1].activeGoal">
        <div class="wrapper">
            <div class="header">
                <div class="table-cell">
                    <header>
                        <h1 data-bind="text: (!isNew() ? 'Goal Details' : 'New Goal'), attr: { 'title': 'Goal Details' }"></h1>
                        <div class="options goals-options">
                            <a class="toggle" data-bind="click: $parents[2].closeSlider" href="#">
                                <i class="icon-cancel"></i>
                            </a>
                        </div>
                    </header>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <!-- ko if: $parents[2].isEditing -->
                    <!-- ko compose: { model: 'viewmodels/patients/patientssections/goaleditsection', activationData: { activeGoal: $data } } -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: !$parents[2].isEditing() -->
                    <!-- ko compose: { model: 'viewmodels/patients/patientssections/goaldetailsection', activationData: { activeGoal: $data } } -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>