<div class="widget" data-bind="css: { 'fullscreen': isFullScreen() }">
    <div class="content">
        <header>
            <h1>Details</h1>
            <!-- ko compose: 'widgets/controls.html' -->
            <!-- /ko -->
        </header>
        <div class="table-row">
            <div class="table-cell">
                <div class="body">
                    <div class="filter-content" data-bind="with: $parents[1].activeNote">
                        <div class="row pad-top">
                            <strong class="span3">Programs:</strong>
                            <span class="span9" data-bind="text: programString, attr: { 'title': programString }"></span>
                        </div>
                        <div class="row pad-top">
                            <strong class="span3">By:</strong>
                            <em class="span9" data-bind="text: createdBy().preferredName, attr: { 'title': createdBy().preferredName }"></em>
                        </div>
                        <div class="row pad-top">
                            <strong>Note</strong>
                        </div>
                        <div class="row">
                            <textarea disabled="disabled" class="display-only span12" data-bind="text: text, autoHeight: text, attr: { 'title': text }"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>