<div class="widget" data-bind="css: { 'fullscreen': isFullScreen() }">
    <div class="content">
        <header>
            <h1>History</h1>
            <!-- ko compose: 'widgets/controls.html' -->
            <!-- /ko -->
        </header>
        <div class="table-row">
            <div class="table-cell">
                <div class="body">
                    <ul class="dividers">
                        <li class="row line grey">
                            <div class="span2">Date</div>
                            <div class="span5">Note</div>
                            <div class="span5">By</div>
                        </li>
                        <!-- ko foreach: $parents[1].groups -->
                        <li>
                            <!-- ko compose: { model: 'viewmodels/patients/patientssections/notessection', activationData: { activeNote: $parents[2].activeNote, group: $data } } -->
                            <!-- /ko -->
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>