<div class="widget open">
    <div class="content">
        <header>
            <div class="controls">
                <div class="toggle single-arrow-left" data-method="open" data-type="remove" data-phyautomation="patients-details-left-arrow" data-bind="click: minimizePatientsDataColumn"></div>
                <div class="toggle double-arrow-right" data-method="open" data-type="add" data-phyautomation="patients-details-right-arrows" data-bind="click: maximizePatientsDataColumn"></div>
            </div>
        </header>
        <div class="body" data-bind="with: selectedPatient">
            <!-- ko if: $data -->
            <!-- ko compose: { model: 'viewmodels/patients/patientssections/demographicssection',  activationData: { selectedPatient: $data }  } -->
            <!-- /ko -->
            <!-- ko compose: { model: 'viewmodels/patients/patientssections/focusareassection',  activationData: { problems: problems }  } -->
            <!-- /ko -->
            <!-- ko compose: { model: 'viewmodels/patients/patientssections/backgroundsection',  activationData: { selectedPatient: $data }  } -->
            <!-- /ko -->
            <!-- ko compose: { model: 'viewmodels/patients/patientssections/communicationssection',  activationData: { contactCard: contactCard }  } -->
            <!-- /ko -->
            <!-- ko compose: { model: 'viewmodels/patients/patientssections/careteamsection',  activationData: { selectedPatient: $data }  } -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>