<div class="widget">
    <div class="content">
        <header>
            <div class="options">
                <div data-bind="chsnsingle: { options: cohortsList, value: selectedCohort, text: 'sName', label: 'cohort' }"></div>
            </div>
            <div class="controls">
                <div class="toggle single-arrow-left" data-bind="click: minimizePatientsListFlyoutColumn" data-method="open" data-type="remove" data-phyautomation="cohort-left-arrow"></div>
                <div class="toggle double-arrow-right" data-bind="click: maximizePatientsListFlyoutColumn" data-method="open" data-type="add" data-phyautomation="cohort-right-arrows"></div>
            </div>
        </header>
        <div class="body">
            <input data-bind="value: cohortFilter, valueUpdate: 'afterkeydown', disable: !selectedCohort()" placeholder="Search" type="search" data-phyautomation="cohort-patient-search"/>
            <div class="patients scroll">
                <ul data-bind="foreach: patientsList" data-phyautomation="cohort-patient-list">
                    <li class="row ellipsis" data-bind="click: $parent.choosePatient">
                        <img alt="Patient small" class="pull-left" data-bind="attr: { src: genderModel().SmallImgSrc }" />
                        <a href="#" class="line" data-bind="text: fullLastName() + ', ' + fullFirstName(), attr: { 'title': (fullLastName() + ', ' + fullFirstName()) }"></a><span></span>
                        <span class="line short grey pad horizontal" data-bind="with: dOB"><span data-bind="text: '(' + $data + ')', attr: { 'title': $data }" data-phyautomation="dob"></span></span>
                    </li>
                </ul>
            </div>
            <div class="row" data-bind="visible: canLoadMoreCohortPatients">
                <div class="push2 span8">
                    <button class="small" data-bind="click: loadMoreCohortPatients">
                        Load more patients...
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>