<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PhytelServicesConnName" value="Phytel"/>
    <add key="ASEProcessID" value="29"/>
    <add key="ExpireDays" value="7"/>
    <add key="ASEAPI" value="http://localhost:8888/ASEAPI/1.0"/>
  </appSettings>
</configuration>