
@font-face { font-family: "fontcustom"; src: url("//phytelcdndev.blob.core.windows.net/glyphs/fontcustom.eot"); src: url("//phytelcdndev.blob.core.windows.net/glyphs/fontcustom.eot?#iefix") format("embedded-opentype"), url("//phytelcdndev.blob.core.windows.net/glyphs/fontcustom.woff") format("woff"), url("//phytelcdndev.blob.core.windows.net/glyphs/fontcustom.ttf") format("truetype"), url("//phytelcdndev.blob.core.windows.net/glyphs/fontcustom.svg#fontcustom") format("svg"); font-weight: normal; font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { @font-face { font-family: "fontcustom"; src: url("//phytelcdndev.blob.core.windows.net/glyphs/fontcustom.svg#fontcustom") format("svg"); } }
/* line 23, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
[data-icon]:before { content: attr(data-icon); }

/* line 61, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
[data-icon]:before, .icon-address:before, .icon-angle-double-down:before, .icon-angle-double-left:before, .icon-angle-double-right:before, .icon-angle-double-up:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-assign-patient:before, .icon-calendar:before, .icon-cancel:before, .icon-check:before, .icon-edit:before, .icon-email:before, .icon-enter-fullscreen:before, .icon-exit-fullscreen:before, .icon-flag:before, .icon-menu:before, .icon-notes:before, .icon-notes-call:before, .icon-notes-metrics:before, .icon-otc:before, .icon-phone:before, .icon-plus:before, .icon-print:before, .icon-priority:before, .icon-priority-empty:before, .icon-rx:before, .icon-search:before, .icon-single-chevron-down:before, .icon-single-chevron-left:before, .icon-single-chevron-right:before, .icon-single-chevron-up:before, .icon-sms:before, .icon-table:before, .icon-triangle-down:before, .icon-twitter:before { display: inline-block; font-family: "fontcustom"; font-style: normal; font-weight: normal; font-variant: normal; line-height: 1; text-decoration: inherit; text-transform: none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

/* line 74, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-address:before { content: "\f100"; }

/* line 85, ../../../app/assets/stylesheets/partials/_fontcustom.scss */
.icon-calendar:before, .input.datepicker:before { content: "\f108"; }

/* line 75, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-angle-double-down:before { content: "\f101"; }

/* line 76, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-angle-double-left:before { content: "\f102"; }

/* line 77, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-angle-double-right:before { content: "\f103"; }

/* line 78, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-angle-double-up:before { content: "\f104"; }

/* line 79, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-arrow-left:before { content: "\f105"; }

/* line 80, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-arrow-right:before { content: "\f106"; }

/* line 81, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-assign-patient:before { content: "\f120"; }

/* line 82, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-calendar:before { content: "\f107"; }

/* line 83, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-cancel:before { content: "\f108"; }

/* line 84, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-check:before { content: "\f109"; }

/* line 85, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-edit:before { content: "\f10a"; }

/* line 86, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-email:before { content: "\f10b"; }

/* line 87, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-enter-fullscreen:before { content: "\f10c"; }

/* line 88, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-exit-fullscreen:before { content: "\f10d"; }

/* line 89, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-flag:before { content: "\f10e"; }

/* line 90, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-menu:before { content: "\f10f"; }

/* line 91, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-notes:before { content: "\f121"; }

/* line 92, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-notes-call:before { content: "\f122"; }

/* line 93, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-notes-metrics:before { content: "\f123"; }

/* line 94, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-otc:before { content: "\f110"; }

/* line 95, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-phone:before { content: "\f111"; }

/* line 96, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-plus:before { content: "\f112"; }

/* line 97, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-print:before { content: "\f113"; }

/* line 98, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-priority:before { content: "\f114"; }

/* line 99, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-priority-empty:before { content: "\f115"; }

/* line 100, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-rx:before { content: "\f116"; }

/* line 101, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-search:before { content: "\f117"; }

/* line 102, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-single-chevron-down:before { content: "\f118"; }

/* line 103, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-single-chevron-left:before { content: "\f119"; }

/* line 104, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-single-chevron-right:before { content: "\f11a"; }

/* line 105, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-single-chevron-up:before { content: "\f11b"; }

/* line 106, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-sms:before { content: "\f11c"; }

/* line 107, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-table:before { content: "\f11d"; }

/* line 108, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-triangle-down:before { content: "\f11e"; }

/* line 109, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_fontcustom.scss */
.icon-twitter:before { content: "\f11f"; }