.RadSiteMap_Atmosphere .rsmLink,
.RadSiteMap_Atmosphere .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 2px solid #CCC;
	color: #333;
}

.RadSiteMap_Atmosphere .rsmLink:hover
{
	color: #888;
}

.RadSiteMap_Atmosphere .rsmLevel2 .rsmLink:hover,
.RadSiteMap_Atmosphere .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Atmosphere .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Atmosphere .rsmOneLevel .rsmItem .rsmLink:hover
{
	color: #333;
	background: #c5c5c5 url('SiteMap/rsmHover.png') repeat-x 0 0;
}
