<div class="widget open" data-bind="columnSizer: true">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="header">
                        <div class="table-cell">
                            <header>
                                <div class="controls">
                                    <div class="toggle single-arrow-left" data-method="open" data-type="remove" data-phyautomation="patients-details-left-arrow" data-bind="click: minimizePatientsDataColumn"></div>
                                    <div class="toggle double-arrow-right" data-method="open" data-type="add" data-phyautomation="patients-details-right-arrows" data-bind="click: maximizePatientsDataColumn"></div>
                                </div>
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="body" data-bind="with: selectedPatient">
                                <div class="content">
                                <!-- ko if: $data -->
                                <!-- ko compose: { model: 'viewmodels/patients/sections/demographics',  activationData: { selectedPatient: $data }  } -->
                                <!-- /ko -->
								<!-- ko compose: { model: 'viewmodels/patients/sections/status',  activationData: { selectedPatient: $data }  } -->
                                <!-- /ko -->
                                <!-- ko compose: { model: 'viewmodels/patients/sections/system.ids',  activationData: { selectedPatient: $data }  } -->
                                <!-- /ko -->
                                <!-- ko compose: { model: 'viewmodels/patients/sections/focus.areas',  activationData: { problems: problems, selectedPatient: $data }  } -->
                                <!-- /ko -->
                                <!-- ko compose: { model: 'viewmodels/patients/sections/background',  activationData: { selectedPatient: $data }  } -->
                                <!-- /ko -->
                                <!-- ko compose: { model: 'viewmodels/patients/sections/clinicalBackground',  activationData: { selectedPatient: $data }  } -->
                                <!-- /ko -->								
                                <!-- ko compose: { model: 'viewmodels/patients/sections/communications',  activationData: { contactCard: contactCard }  } -->
                                <!-- /ko -->
                                <!-- ko compose: { model: 'viewmodels/patients/sections/care.team',  activationData: { selectedPatient: $data }  } -->
                                <!-- /ko -->
                                <!-- /ko -->
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>