<div class="body" data-bind="visible: showing">
	<div class="pad-vertical">	
<strong>edit not implemented</Strong>	
	</div>
	<!-- <div class="pad-vertical" data-bind="visible: canAddId">
		<div class="row">
			<div class="pull-right">
				<div class="span6 pad-horizontal">
					<input type="text" size="30" placeholder="ID Value" data-bind="value: newSystemId, valueUpdate: 'afterkeydown'" />
				</div>
				<div class="span3 pad-left">
					<button class="btn color small pull-right" href="#" data-bind="click: createNewId, enable: newSystemId">
						<i class="icon-plus"></i>
						<span class="pad-left">Add</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="pad-vertical">
		<div>
			<div class="row">
				<div class="span1">
					<strong>Primary</strong>
				</div>
				<div class="span3">
					<strong>Value</strong>
				</div>
				<div class="span2">
				</div>
			</div>
			TODO: missing part here
		</div>
	</div> -->
</div>