<div class="widget open">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="fixed">
                                <div class="content">
                                    <div class="pad-vertical">
                                        <h1>Active Report</h1>
                                        <!-- <div class="row">
                                            <div class="span12" data-bind="chsnsingle: { options: numberOfContainers, value: selectedCount, text: 'Number', label: 'container-count' }"></div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="body">
                                <div class="content">
                                    <!-- ko foreach: reportContainers -->
                                    <div class="row" data-bind="click: $parent.setActiveReportContainer">
                                        <div class="span12">
                                            <!-- <button class="btn small" data-bind="text: Name"></button> -->
                                            <div data-bind="attr: { 'id': Name }">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>