<div class="row pad-bottom">	
	<div class="span3">&nbsp;</div>
	<div class="span4">
		<div>
			<input type="text" data-bind="typeahead: { name: 'allergies', taOptions: allergyBloodhound, displayKey: 'DisplayName' }, value: selectedAllergy, valueUpdate: 'afterkeydown', initOptions: { hint: true, highlight: true, minLength: 3 }, showResultsCount: resultsMessage" placeholder="Search Allergies" />
		</div>			
	</div>
	<div class="span2">
		<button class="btn color small" data-bind="click: addNewAllergy, enable: canAdd">
			<i class="icon-plus"></i>
			<span class="pad-left">Add</span>
		</button>
	</div>	
</div>