<div class="task span12" data-bind="with: barrier">
    <div class="rule"></div>
    <div class="barrier row rule">
        <div class="details">
            <div class="filter-toggle status line" data-bind="click: $parent.toggleIsExpanded">
                <div class="pull-left">
                    <i data-bind="css: ($parent.isExpanded() ? 'icon-single-chevron-up' : 'icon-angle-double-down')"></i>
                    <i data-bind="css: (status() ? status().iconClass() : '')"></i>
                </div>
                <div class="name pad-icon-left accordion-toggle">
                    <div class="line-reset">
                        <span data-bind="text: name, css: (status() ? status().textClass() : '')">
                        </span>
                    </div>
                </div>
            </div>
            <!-- ko if: $parent.isExpanded -->
            <div class="accordion-content muted pad pad-icon-left">
                <div class="row pad-bottom">
                    <div class="span6 grey">
                        Category
                    </div>
                    <div class="span6">
                        <span data-bind="with: category">
                            <span data-bind="text: name"></span>
                        </span>
                        <span data-bind="if: !category()">-</span>
                    </div>
                </div>
                <div class="row pad-bottom filter-toggle" data-bind="click: $parent.toggleDetailsExpanded">
                    <div class="span6 grey">
                        Details
                    </div>
                    <span class="span6" data-bind="visible: (!$parent.hasDetails()), text: '-'"></span>
                </div>
                <div class="row pad-bottom" data-bind="visible: details">
                    <!-- ko ifnot: $parent.isDetailsExpanded -->
                    <textarea class="span12 display-only no-scroll muted" style="height: 6.5em;" rows="5" data-bind="text: details, attr:{ 'title': details }, visible: details" readonly="readonly"></textarea>
                    <a class="grey" data-bind="click: $parent.toggleDetailsExpanded, visible: details" href="#">...</a>
                    <!-- /ko -->
                    <!-- ko if: $parent.isDetailsExpanded -->
                    <textarea class="span12 display-only muted" data-bind="text: details, autoHeight: details, attr:{ 'title': details }" readonly="readonly"></textarea>
                    <!-- /ko -->
                </div>

                <div class="row pad-bottom filter-toggle">
                    <div class="span6 grey">
                        Related Tasks
                    </div>
                    <textarea class="span12 display-only muted" rows="2" data-bind="text: taskListString, attr:{ 'title': taskListString }" readonly="readonly"></textarea>
                </div>

                <div class="row pad-bottom filter-toggle">
                    <div class="span6 grey">
                        Related Interventions
                    </div>
                    <textarea class="span12 display-only muted" rows="2" data-bind="text: interventionListString, attr:{ 'title': interventionListString }" readonly="readonly"></textarea>
                    <span>-</span>
                </div>

                <div class="row">
                    <div class="pull-left">
                        <a class="edit_barrier icon-outset" href="#" data-bind="click: $parent.editBarrier"><i class="icon-edit"></i>Edit</a>
                    </div>
                    <div class="pull-right">
                        <a class="delete_barrier" href="#" data-bind="click: $parent.deleteBarrier"><i class="icon-cancel"></i>Delete</a>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>