<div class="widget open" data-bind="css: { 'fullscreen': isFullScreen() }, with: activeModule, columnSizer: true">
    <div class="content">
        <!-- <div class="arrow-runner">
            <i class="arrow"></i>
        </div> -->
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="header">
                        <div class="table-cell">
                            <header>
                                <h1 class="ellipsis span10" data-bind="text: name, attr: { 'title': name }"></h1>
                                <div class="controls">
                                    <div class="toggle fullscreen" data-bind="click: $parent.toggleFullScreen, clickBubble: false">
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="body">
                                <div class="content">
                                    <section class="tabbed fill">
                                        <nav class="tabs" data-bind="foreach: $parent.tabs">
                                            <span data-bind="text: name, click: $parents[1].setActiveTab, css: { 'active': $parents[1].activeTab() === $data }"></span>
                                        </nav>
                                        <!-- ko foreach: $parent.tabs -->
                                            <!-- ko compose: { model: path, activationData: { tab: $data, activeModule: $parent } } -->
                                            <!-- /ko -->
                                        <!-- /ko -->
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>