<div>
    <!-- ko with: navigation -->
    <!-- ko compose: 'shell/banner.html' --><!-- /ko -->
    <!-- ko compose: 'shell/subnav.html' --><!-- /ko -->
    <!-- /ko -->
    <main role="application" data-bind="router: { cacheViews: true }">
    </main>
	<!-- ko compose: 'shell/footer.html' --><!-- /ko -->
    <!-- ko with: currentModal -->
    <div id="modal" data-bind="visible: Showing, css: classOverride">	
        <div class="content" data-bind="with: Entity">
            <header>
                <h2 class="title">
                    <span data-bind="text: $parent.Title"></span>
                    <i class="close pull-right icon-cancel blue" data-bind="click: $parent.cancelChanges"></i>
                </h2>
            </header>
            <!-- ko if: ($parent.TemplatePath().indexOf('html') === -1) -->
                <!-- ko compose: { model: $parent.TemplatePath, activationData: activationData } -->
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: ($parent.TemplatePath().indexOf('html') === -1) -->
                <!-- ko compose: $parent.TemplatePath -->
                <!-- /ko -->
            <!-- /ko -->
            <footer>
                <div class="pull-right">
                    <a class="btn cancel" data-bind="click: $parent.cancelChanges">Cancel</a>
                    <button class="btn color" data-bind="visible: !$parent.canDelete(), enable: canSave, click: $parent.saveChanges">Save</button>
					<!-- ko foreach: $parent.customButtons -->
						<button class="btn color" data-bind="visible: !$parents[1].canDelete(), enable: btnEnabled, click: btnFunction, text: btnText"></button>
					<!-- /ko -->
                    <button class="btn color" data-bind="visible: $parent.canDelete, enable: canSave, click: $parent.delete, text: $parent.deleteText"></button>
                </div>
            </footer>
        </div>
    </div>
    <!-- /ko -->
    <div id="alerts" data-bind="foreach: alerts">
        <!-- ko compose: alertPath -->
        <!-- /ko -->
    </div>
</div>