<header role="navigation">
    <div class="menu_toggle" data-bind="click: $parent.toggleNavVisibility">
        <img src="/NightingaleUI/Content/images/main_menu_toggle.png" data-phyautomation="navigation-context-button" />
        <img data-bind="attr: { src: (!!currentRoute() && currentRoute().config  && !!currentRoute().config.settings) ? currentRoute().config.settings.imageSource : '' }" data-phyautomation="route-image" />
        <span data-bind="text: ((currentRoute() && currentRoute().config && !!currentRoute().config.settings) ? currentRoute().config.settings.content : '') " data-phyautomation="route-header"></span>
    </div>
    <div>
    <!-- ko compose: 'shell/sidebar.html' --><!-- /ko -->
    </div>
    <nav class="tabs" data-bind="if: currentRoute() && currentRoute().config">
        <!-- ko foreach: currentRoute().config.settings.pages -->
            <a role="menuitem" data-bind="click: $parent.setSubRoute, text: content, css: { 'active': $parent.currentSubRoute() === $data }"></a>
        <!-- /ko -->
    </nav>
    <div id="quick-add" data-bind="visible: $parent.showQuickAdd">
        <!-- ko compose: 'viewmodels/shell/quickadd/quickaddpopover' -->
        <!-- /ko -->
    </div>
</header>