#alerts {
    right: 20px;
    margin-right: 0px;
}

#alerts .alert {
    float: right;
}

/* Hide the date picker on load */
#ui-datepicker-div {display: none;}

.module > img {
    white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; vertical-align: middle;
}

/* line 42, ../../../app/assets/stylesheets/partials/_toggles.sass */
.filter-toggle.dirty {
    background-color: #416c81;
    opacity: 0.80;
    filter: alpha(opacity=1);
    -moz-opacity: 0.80;
}

/* line 42, ../../../app/assets/stylesheets/partials/_toggles.sass */
.filter-toggle strong { color: white; }

td.image-container {
    width:30px;
}

/* General settings */
/* line 124, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span { background-image: url("../images/uniform-sprite.png"); background-repeat: no-repeat; -webkit-font-smoothing: antialiased; }
/* line 137, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector, div.checker, div.button, div.radio, div.uploader { display: -moz-inline-stack; display: inline-block; vertical-align: top; *vertical-align: auto; zoom: 1; *display: inline; /* Keeping this as :focus to remove browser styles */ }
/* line 145, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus { outline: 0; }
/* line 155, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * { margin: 0; padding: 0; }

/* Input & Textarea */
/* line 166, ../../../app/assets/stylesheets/partials/_uniform.sass */
input.uniform-input, select.uniform-multiselect, textarea.uniform { padding: 3px; background: url("../images/bg-input.png") repeat-x 0 0; outline: 0; }
/* line 48, ../../../app/assets/stylesheets/partials/_uniform.sass */
input.uniform-input.active, select.uniform-multiselect.active, textarea.uniform.active { background: url("../images/bg-input-focus.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles. Keeping this as :active to remove browser styles */
/* line 178, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker input, input[type="search"], input[type="search"]:active { -moz-appearance: none; -webkit-appearance: none; }

/* Select */
/* line 185, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector { background-position: 0 -100px; line-height: 20px; height: 20px; padding: 0 0 0 10px; position: relative; overflow: hidden; }
/* line 193, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector span { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; background-position: right 0; height: 20px; line-height: 20px; padding-right: 25px; cursor: pointer; width: 100%; display: block; }
/* line 204, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.fixedWidth { width: 190px; }
/* line 207, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.fixedWidth span { width: 155px; }
/* line 212, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector select { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; position: absolute; height: 20px; top: 0; left: 0px; width: 100%; }
/* line 48, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.active { background-position: 0 -120px; }
/* line 224, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.active span { background-position: right -20px; }
/* line 52, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.hover, div.selector.focus { background-position: 0 -140px; }
/* line 232, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.hover span, div.selector.focus span { background-position: right -40px; }
/* line 48, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.hover.active, div.selector.focus.active { background-position: 0 -160px; }
/* line 239, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.hover.active span, div.selector.focus.active span { background-position: right -60px; }
/* line 56, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.disabled, div.selector.disabled.active { background-position: 0 -180px; }
/* line 248, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.selector.disabled span, div.selector.disabled.active span { background-position: right -80px; }

/* Checkbox */
/* line 255, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker { margin-right: 0; position: relative; }
/* line 259, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker, div.checker span, div.checker input { width: 20px; height: 20px; }
/* line 264, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker span { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; text-align: center; background-position: 0 0; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker span.checked { background-position: -80px 0; }
/* line 274, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }
/* line 280, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker.active span { background-position: -40px 0; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker.active span.checked { background-position: -120px 0; }
/* line 290, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker.hover span, div.checker.focus span { background-position: -20px 0; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker.hover span.checked, div.checker.focus span.checked { background-position: -100px 0; }
/* line 299, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker.hover.active span, div.checker.focus.active span { background-position: -40px 0; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker.hover.active span.checked, div.checker.focus.active span.checked { background-position: -120px 0; }
/* line 310, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker.disabled span, div.checker.disabled.active span { background-position: -60px 0; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.checker.disabled span.checked, div.checker.disabled.active span.checked { background-position: -140px 0; }

/* Radio */
/* line 320, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio { margin-right: 0; position: relative; }
/* line 324, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio, div.radio span, div.radio input { width: 20px; height: 20px; }
/* line 329, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio span { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; text-align: center; background-position: 0 -20px; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio span.checked { background-position: -80px -20px; }
/* line 339, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; text-align: center; }
/* line 346, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio.active span { background-position: -40px -20px; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio.active span.checked { background-position: -120px -20px; }
/* line 356, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio.hover span, div.radio.focus span { background-position: -20px -20px; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio.hover span.checked, div.radio.focus span.checked { background-position: -100px -20px; }
/* line 365, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio.hover.active span, div.radio.focus.active span { background-position: -40px -20px; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio.hover.active span.checked, div.radio.focus.active span.checked { background-position: -120px -20px; }
/* line 376, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio.disabled span, div.radio.disabled.active span { background-position: -60px -20px; }
/* line 60, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.radio.disabled span.checked, div.radio.disabled.active span.checked { background-position: -140px -20px; }

/* Uploader */
/* line 386, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader { background-position: 0 -40px; height: 28px; width: 190px; cursor: pointer; position: relative; overflow: hidden; }
/* line 394, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader span.action { background-position: right -152px; height: 28px; line-height: 28px; width: 85px; text-align: center; float: left; display: inline; overflow: hidden; cursor: pointer; }
/* line 406, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader span.filename { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; float: left; cursor: default; height: 24px; margin: 2px 0 2px 2px; line-height: 24px; width: 82px; padding: 0 10px; }
/* line 417, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader input { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; border: none; background: none; position: absolute; top: 0; right: 0; float: right; cursor: default; width: 100%; height: 100%; }
/* line 429, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader.active span.action { background-position: right -208px; }
/* line 52, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader.hover, div.uploader.focus { background-position: 0 -96px; }
/* line 437, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader.hover span.action, div.uploader.focus span.action { background-position: right -180px; }
/* line 442, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader.hover.active span.action, div.uploader.focus.active span.action { background-position: right -236px; }
/* line 56, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader.disabled, div.uploader.disabled.active { background-position: 0 -68px; }
/* line 451, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.uploader.disabled span.action, div.uploader.disabled.active span.action { background-position: right -124px; }

/* Buttons */
/* line 457, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button { background-position: 0 -384px; height: 30px; cursor: pointer; position: relative; /* Keep buttons barely visible so they can get focus */ }
/* line 464, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button a, div.button button, div.button input { opacity: 0.01; filter: alpha(opacity=1); -moz-opacity: 0.01; display: block; top: 0; left: 0; right: 0; bottom: 0; position: absolute; }
/* line 474, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button span { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; line-height: 30px; text-align: center; background-position: right -264px; height: 30px; margin-left: 13px; padding: 0; }
/* line 48, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button.active { background-position: 0 -414px; }
/* line 487, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button.active span { background-position: right -294px; cursor: default; }
/* line 52, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button.hover, div.button.focus { background-position: 0 -444px; }
/* line 496, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button.hover span, div.button.focus span { background-position: right -324px; }
/* line 56, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button.disabled, div.button.disabled.active { background-position: 0 -474px; }
/* line 504, ../../../app/assets/stylesheets/partials/_uniform.sass */
div.button.disabled span, div.button.disabled.active span { background-position: right -354px; cursor: default; }

#modal nav.tabs { float: left; margin-left: 10px; margin-top: -10px; font-size: 14px; }
#modal nav.tabs li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; -webkit-transition: opacity 500ms; -moz-transition: opacity 500ms; -o-transition: opacity 500ms; transition: opacity 500ms; border-bottom: 5px solid transparent; border-top: 5px solid transparent; color: #0d4862; cursor: pointer; line-height: 38px;  opacity: 0.5; }
#modal nav.tabs li.active { border-bottom-color: #0d4862; opacity: 1; }
#modal nav.tabs li:not(.active):hover { opacity: 1; }
#modal nav.tabs a { text-decoration: none !important; vertical-align: middle; }
#modal nav.tabs img { vertical-align: middle; }
#modal .body { min-height: 300px; }
#modal .list-items > li { border-bottom: 1px solid gainsboro; padding: 5px 0; }

/* line 179, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_panels.sass */
main[role=application] > div .widget header .myhome { display: inline; float: right; margin-left: 40px; }

/* line 65, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button, a.btn, input[type="submit"], input[type="reset"] { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #777777; border: 1px solid #777777; color: white; cursor: pointer; display: inline-block; font-weight: bold; line-height: 30px; margin-right: 10px; min-width: 70px; padding: 0 10px; text-align: center; }
/* line 79, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button i, a.btn i, button.btn i, input[type="submit"] i, input[type="reset"] i { color: inherit; }
/* line 82, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button:hover, a.btn:hover, input[type="submit"]:hover, input[type="reset"]:hover { border-color: #787878; text-decoration: none; }
/* line 86, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button:last-child, a.btn:last-child, input[type="submit"]:last-child, input[type="reset"]:last-child { margin-right: 0; }
/* line 89, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button:active, button:focus, a.btn:active, a.btn:focus, input[type="submit"]:active, input[type="submit"]:focus, input[type="reset"]:active, input[type="reset"]:focus { background: #969696; outline: none; }
/* line 93, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button:disabled, button.disabled, a.btn:disabled, a.btn.disabled, input[type="submit"]:disabled, input[type="submit"].disabled, input[type="reset"]:disabled, input[type="reset"].disabled { color: #222222; cursor: default; opacity: 0.3; }
/* line 98, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button:disabled:hover, button:disabled:active, button.disabled:hover, button.disabled:active, a.btn:disabled:hover, a.btn:disabled:active, a.btn.disabled:hover, a.btn.disabled:active, input[type="submit"]:disabled:hover, input[type="submit"]:disabled:active, input[type="submit"].disabled:hover, input[type="submit"].disabled:active, input[type="reset"]:disabled:hover, input[type="reset"]:disabled:active, input[type="reset"].disabled:hover, input[type="reset"].disabled:active { background: #777777; border-color: #777777; }
/* line 102, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button.color, button[type="submit"], a.btn.color, a.btn[type="submit"], input[type="submit"].color, input[type="submit"][type="submit"], input[type="reset"].color, input[type="reset"][type="submit"] { background: #7191a1; border-color: #7191a1; color: white; }
/* line 107, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button.color:hover, button[type="submit"]:hover, a.btn.color:hover, a.btn[type="submit"]:hover, input[type="submit"].color:hover, input[type="submit"][type="submit"]:hover, input[type="reset"].color:hover, input[type="reset"][type="submit"]:hover { border-color: #0d4862; }
/* line 110, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button.color:active, button.color:focus, button[type="submit"]:active, button[type="submit"]:focus, a.btn.color:active, a.btn.color:focus, a.btn[type="submit"]:active, a.btn[type="submit"]:focus, input[type="submit"].color:active, input[type="submit"].color:focus, input[type="submit"][type="submit"]:active, input[type="submit"][type="submit"]:focus, input[type="reset"].color:active, input[type="reset"].color:focus, input[type="reset"][type="submit"]:active, input[type="reset"][type="submit"]:focus { background: #416c81; }
/* line 113, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button.color:disabled, button.color.disabled, button[type="submit"]:disabled, button[type="submit"].disabled, a.btn.color:disabled, a.btn.color.disabled, a.btn[type="submit"]:disabled, a.btn[type="submit"].disabled, input[type="submit"].color:disabled, input[type="submit"].color.disabled, input[type="submit"][type="submit"]:disabled, input[type="submit"][type="submit"].disabled, input[type="reset"].color:disabled, input[type="reset"].color.disabled, input[type="reset"][type="submit"]:disabled, input[type="reset"][type="submit"].disabled { background: #777777; border-color: #777777; color: #222222; }
/* line 118, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button.color:disabled:hover, button.color:disabled:active, button.color.disabled:hover, button.color.disabled:active, button[type="submit"]:disabled:hover, button[type="submit"]:disabled:active, button[type="submit"].disabled:hover, button[type="submit"].disabled:active, a.btn.color:disabled:hover, a.btn.color:disabled:active, a.btn.color.disabled:hover, a.btn.color.disabled:active, a.btn[type="submit"]:disabled:hover, a.btn[type="submit"]:disabled:active, a.btn[type="submit"].disabled:hover, a.btn[type="submit"].disabled:active, input[type="submit"].color:disabled:hover, input[type="submit"].color:disabled:active, input[type="submit"].color.disabled:hover, input[type="submit"].color.disabled:active, input[type="submit"][type="submit"]:disabled:hover, input[type="submit"][type="submit"]:disabled:active, input[type="submit"][type="submit"].disabled:hover, input[type="submit"][type="submit"].disabled:active, input[type="reset"].color:disabled:hover, input[type="reset"].color:disabled:active, input[type="reset"].color.disabled:hover, input[type="reset"].color.disabled:active, input[type="reset"][type="submit"]:disabled:hover, input[type="reset"][type="submit"]:disabled:active, input[type="reset"][type="submit"].disabled:hover, input[type="reset"][type="submit"].disabled:active { background: #777777; border-color: #777777; }
/* line 122, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button.small, a.btn.small, input[type="submit"].small, input[type="reset"].small { line-height: 20px; }
/* line 125, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_forms.sass */
button.small i, a.btn.small i, input[type="submit"].small i, input[type="reset"].small i { font-size: 12px; width: 8px; }

/* line 96, ../../../app/assets/stylesheets/partials/_panels.sass */
main[role=application] > div section[data-type="fixed"][data-type="flex"].slider > div:not(.column):not(.widget) > .column.open, main[role=application] > div section[data-type="flex"][data-type="flex"].slider > div:not(.column):not(.widget) > .column.open, main[role=application] > div section[data-type="full"][data-type="flex"].slider > div:not(.column):not(.widget) > .column.open, main[role=application] > div section.highlights[data-type="flex"].slider > div:not(.column):not(.widget) > .column.open { width: 100%; height: 100%; }

.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}
/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* Had to do this to pull the options to the right side of the column */
/* line 173, ../../../app/assets/stylesheets/partials/_panels.sass */
main[role=application] > div .widget header h1 + .options { margin-left: inherit; display: inline; float: right; }
/* This too */
.options.goals-options { position: inherit !important; }

/* line 59, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_quickadd.sass */
#quick-add form { padding-bottom: 52px; }

.tt-dropdown-menu {
    background: white;
    top: 100%;
    padding: 10px;
    position: absolute;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    max-height: 200px;
    overflow-y: auto;
}
.tt-suggestion p {
	white-space: nowrap !important; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis;
}
.tt-suggestion {
	max-width: 200px;
}
.tt-dropdown-menu p {
    margin-bottom: .5em;
}
.tt-dropdown-menu .tt-cursor {
    cursor: pointer;
    outline:none;
    border-color: black;
    box-shadow:0 0 3px black;
}
.tt-dropdown-menu .tt-cursor p {
	white-space: normal !important;
    overflow: visible !important;
    -ms-text-overflow: none !important;
    -o-text-overflow: none !important;
    text-overflow: none !important;
}

 textarea.display-only {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    opacity: 1 !important;
 }

 a.disabled {
     opacity: .5;
     cursor: default;
 }

input.invalid, textarea.invalid {
    outline:none;
    border-color:#FF0000;
    box-shadow:0 0 3px #FF0000;
}

.validation-errors {
    border-color:#FF0000;
    box-shadow:0 0 3px #FF0000;
}

.validation-errors h5 {
    background-color: #CC3333;
    color: white;
    font-weight: bold;
}

.loading-messages {
    width: 200px;
    padding-right: 20px;
}

.loading-messages .dropdown-content {
    width: 200px;
}

/* line 2, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_accordions.sass */
.accordion .accordion-toggle { cursor: pointer; }

.no-scroll {
	overflow: hidden !important;
}

.is-editing {
	background-color: whitesmoke;
}

/* line 39, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_accordions.sass */
.accordion .filter-toggle.icon.icon:hover, .accordion .filter-toggle.icon.icon:focus { background: transparent; }
/* line 42, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_accordions.sass */
.accordion .filter-toggle.icon.icon:hover i[class*="icon"], .accordion .filter-toggle.icon.icon:focus i[class*="icon"] { color: #7191a1; }
/* line 45, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_accordions.sass */
.accordion .filter-toggle.icon.icon.active { background: transparent; }
/* line 48, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_accordions.sass */
.accordion .filter-toggle.icon.icon.active i[class*="icon"] { color: #416c81; }

/* line 30, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
section.tabbed nav.tabs a, section.tabbed nav.tabs span { line-height: 30px; }
/* line 33, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
section.tabbed .tab { display: none; }
/* line 36, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
section.tabbed .tab.active { display: inherit; }
/* line 39, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
section.tabbed.fill { position: absolute; top: 50px; bottom: 10px; left: 10px; right: 10px; }
/* line 46, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
section.tabbed.fill nav.tabs { margin-top: -60px; }
/* line 49, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
section.tabbed.fill .tab { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: auto; }

/* line 1, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
nav.tabs { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; margin-left: -10px; padding-left: 10px; margin-right: -10px; padding-right: 10px; border-bottom: 1px solid #e6e6e6; }
/* line 6, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
nav.tabs a, nav.tabs span { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; -webkit-transition: color 500ms; -moz-transition: color 500ms; -o-transition: color 500ms; transition: color 500ms; border: none; border-bottom: 5px solid transparent; border-top: 5px solid transparent; color: #416c81; cursor: pointer; line-height: 38px; margin-right: 5px; padding: 0 5px; }
/* line 18, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
nav.tabs a.active, nav.tabs span.active { border-bottom-color: #7191a1; }
/* line 21, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_tabs.sass */
nav.tabs a.active, nav.tabs a:hover, nav.tabs span.active, nav.tabs span:hover { color: #072735; }

.widget > .content > .arrow-runner { width: 20px; height: 100%; border-right: 4px solid #7191a1; overflow: hidden; position: absolute; left: -20px; }
/* line 39, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_widgets.sass */
.widget > .content > .arrow-runner .arrow { border: 10px solid transparent; border-right-color: #7191a1; position: absolute; right: 0; top: 50%; margin-left: -24px; margin-top: -10px; }
/* line 50, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_widgets.sass */
.widget.fullscreen .arrow-runner { display: none; }

table th.wrap, table td.wrap { overflow: visible !important; vertical-align: top; white-space: normal !important; line-height: 15px; padding: 7px 10px; }

textarea.strong { font-weight: 700; color: #7191a1; }

.affix {
    position: fixed;
    top: 0px;
}

textarea.strong { font-weight: 700; color: #7191a1; }

li.strong > a { font-weight: 700; }



/*For the fixed top of a column*/

/*.widget > .content > .content-fill > .wrapper > .content > .table-row > .table-cell > .fixed, .widget > .content > .content-fill > .wrapper > .content > .table-row > .table-cell > table.nowrap { border-bottom: 1px solid #e6e6e6; padding: 0 10px; }*/

/*main[role=application] section[data-type="fixed"] > .column .widget > .content, main[role=application] section[data-type="flex"] > .column .widget > .content, main[role=application] section[data-type="full"] > .column .widget > .content, main[role=application] section.highlights > .column .widget > .content { display: table-cell; height: auto; position: relative; }*/
/* line 178, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_panels.sass */
/*main[role=application] section[data-type="fixed"] > .column .widget > .content .body, main[role=application] section[data-type="flex"] > .column .widget > .content .body, main[role=application] section[data-type="full"] > .column .widget > .content .body, main[role=application] section.highlights > .column .widget > .content .body { width: 100%; height: 100%; position: relative; }*/


/*

main[role=application] section[data-type="fixed"] > .column .widget > .content .body > .content,
main[role=application] section[data-type="flex"] > .column .widget > .content .body > .content,
main[role=application] section[data-type="full"] > .column .widget > .content .body > .content,
main[role=application] section.highlights > .column .widget > .content .body > .content { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: auto; padding: 10px; }*/
/*
.table-cell {
	display: table-cell;
}*/



/* line 40, /home/ubuntu/workspace/Nightingale/app/assets/stylesheets/partials/_header.sass */
header[role=banner] .user-menu .dropdown-content > div { height: 20px; line-height: 20px; }

.watson-logo {
  height: 24px;
  opacity: 100;
  color: white;
  margin: 12px 25px;
}