<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Phytel Utilities" value="https://www.myget.org/F/phytelutilities" />
    <add key="Phytel API DTO" value="https://www.myget.org/F/phytelapidto" />
    <add key="Phytel Archive" value="https://www.myget.org/F/phytelarchive" />
  </packageSources>
</configuration>