<section class="accordion hoverable open" data-phyautomation="patients-system-ids-pane">
    <div class="row line accordion-toggle open">
        <strong class="ellipsis" data-bind="clickToggle: isOpen">IDs</strong>
        <a class="edit hover-toggle" href="#" data-bind="click: editSystemIds">Edit</a>
    </div>
    <ul class="accordion-content columns" data-bind="visible: isOpen">
        <ul class="column">
			<!-- ko foreach: computedPatientSystemsDisplay -->
			<div data-bind="visible: (Number(statusId()) === 1)">
				<li class="pad-bottom ellipsis">
					<span data-bind="with: system">
						<span class="" data-bind="text: displayLabel, attr: { title: (displayLabel() + ': ' + $parent.value()) }" style="overflow: hidden; text-overflow: ellipsis;"></span>
					</span>: <span class="" data-bind="text: value, attr: { title: value }" style="white-space: pre;"></span>
				</li>
			</div>
			<!-- /ko -->
			<li class="grey" data-bind="visible: showEllipsis">
				<a class="grey" data-bind="clickToggle: isExpanded" href="#">...</a>
			</li>
        </ul>		
    </ul>
</section>