<div class="tab" data-bind="css: { 'active': tab.isActive() }, with: activeProgram">
    <div class="row">
        <section class="accordion">
            <div class="row accordion-toggle" data-bind="clickToggle: $parent.descriptionSectionOpen">
                <h3>Program Description</h3>
            </div>
            <div class="accordion-content" data-bind="visible: $parent.descriptionSectionOpen">
                <div class="column">
                    <!-- ko ifnot: description() -->
                    <em class="grey">No description available</em>
                    <!-- /ko -->
                    <div class="row pad-top">
                        <!-- ko if: description() -->
                        <p data-bind="text: description"></p>
                        <!-- /ko -->
                    </div>
                    <!-- ko if: eligibilityRequirements() || eligibilityDatesStatement() -->
                    <div class="row">
                        <h3>Eligibility Requirements</h3>
                    </div>
                    <div class="row pad-top">
                        <p data-bind="text: eligibilityRequirements"></p>
                        <p data-bind="text: eligibilityDatesStatement"></p>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </section>
    </div>
    <div class="row pad-top divider">
        <section class="accordion hoverable">
            <div class="row accordion-toggle">
                <div class="span11"  data-bind="clickToggle: $parent.individualAttributesSectionOpen">
                    <h3>Individual Attributes</h3>
                </div>
                <div class="span1">
                    <a class="pull-right hover-toggle" href="#" data-bind="visible: $parent.canEdit, click: $parent.toggleModalShowing">Edit</a>
                </div>
            </div>
            <div class="accordion-content" data-bind="visible: $parent.individualAttributesSectionOpen">
                <div>
                    <div class="column">
                        <div class="row pad-top">
                            <div class="span3 align-left">
                                <span>Assigned Date:</span>
                            </div>
                            <div class="span9" data-bind="DateOrNothing: assignDate"></div>
                        </div>
                        <div class="row pad-top">
                            <div class="span3 align-left">
                                <span>Assigned By:</span>
                            </div>
                            <div class="span9" data-bind="with: assignBy"><span data-bind="text: preferredName"></span></div>
                        </div>
                        <div class="row pad-top">
                            <div class="span3 align-left">
                                <span>Assigned To:</span>
                            </div>
                            <!-- ko if: assignToId() -->
                            <div class="span9" data-bind="with: assignTo"><span data-bind="text: preferredName"></span></div>
                            <!-- /ko -->
                            <!-- ko ifnot: assignToId() -->
                            <div class="span9"><em class="grey">Unassigned</em></div>
                            <!-- /ko -->
                        </div>
                        <div class="row pad-top divider">
                            <div class="span3 align-left">
                                <span>Program State:</span>
                            </div>
                            <div class="span9"><span data-bind="text: elementStateModel().name"></span><span data-bind="if: stateUpdatedOn"> as of <span data-bind="DateOrNothing: stateUpdatedOn"></span></span></div>
                        </div>
                        <div class="row pad-top">
                            <div class="span3 align-left">
                                <span>Start Date:</span>
                            </div>
                            <div class="span9" data-bind="DateOrNothing: attrStartDate"></div>
                        </div>
                        <div class="row pad-top">
                            <div class="span3 align-left">
                                <span>End Date:</span>
                            </div>
                            <div class="span9" data-bind="DateOrNothing: attrEndDate"></div>
                        </div>
                        <!-- ko with: attributes -->
                        <div class="row pad-top">
                            <div class="span3 align-left">
                                <span>Graduated:</span>
                            </div>
                            <div class="span9" data-bind="text: graduatedFlagModel() ? graduatedFlagModel().name() : ''"></div>
                        </div>
                        <div class="row pad-top divider">
                            <div class="span3 align-left">
                                <span>Eligibility Status:</span>
                            </div>
                            <div class="span9" data-bind="text: eligibilityModel() ? eligibilityModel().name() : ''"></div>
                        </div>
                        <div class="row pad-top">
                            <div class="span3 align-left">
                                <span>Enrollment Status:</span>
                            </div>
                            <div class="span9" data-bind="text:  enrollmentModel() ? enrollmentModel().name() : ''"></div>
                        </div>
                        <!-- /ko -->
                        <!-- <div class="row pad-top divider">
                            <div class="span3 align-left">
                                <span>Market:</span>
                            </div>
                            <div class="span9" data-bind="text: market"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row pad-top divider">
        <section class="accordion">
            <div class="row accordion-toggle" data-bind="clickToggle: $parent.attributesSectionOpen">
                <h3>Program Attributes</h3>
            </div>
            <div class="accordion-content" data-bind="visible: $parent.attributesSectionOpen">
                <div class="row pad-top">
                    <div class="span3 align-left">
                        <span>Authored By:</span>
                    </div>
                    <div class="span9" data-bind="text: authoredBy"></div>
                </div>
                <div class="row pad-top">
                    <div class="span3 align-left">
                        <span>Start Date:</span>
                    </div>
                    <div class="span9" data-bind="DateOrNothing: startDate"></div>
                </div>
                <div class="row pad-top">
                    <div class="span3 align-left">
                        <span>End Date:</span>
                    </div>
                    <div class="span9" data-bind="DateOrNothing: endDate"></div>
                </div>
                <div class="row pad-top divider">
                    <div class="span3 align-left">
                        <span>Program Version:</span>
                    </div>
                    <div class="span9"><span data-bind="text: programVersion"></span> <span data-bind="if: programVersionUpdatedOn">(<span data-bind="Date: programVersionUpdatedOn"></span>)</span></div>
                </div>
                <div class="row pad-top">
                    <div class="span3 align-left">
                        <span>Program Template:</span>
                    </div>
                    <div class="span9" data-bind="text: templateName"></div>
                </div>
                <div class="row pad-top">
                    <div class="span3 align-left">
                        <span>Template Version:</span>
                    </div>
                    <div class="span9" data-bind="text: templateVersion"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="row pad-top divider"></div>
</div>