/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/*Telerik RadInput Default Skin*/

/*global*/

.RadInput_Atmosphere,
.RadInputMgr_Atmosphere
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_Atmosphere .riTextBox,
html body .RadInputMgr_Atmosphere
{
	border-color:#8e8e8e #b8b8b8 #b8b8b8 #8e8e8e;
	background:#fff;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_Atmosphere .riEmpty,
html body .RadInput_Empty_Atmosphere
{
	color:#8a8a8a;
}

html body .RadInput_Atmosphere .riHover,
html body .RadInput_Hover_Atmosphere,
html body .RadInput_Atmosphere .riFocused,
html body .RadInput_Focused_Atmosphere
{
	border-color:#8e8e8e #b8b8b8 #b8b8b8 #8e8e8e;
}

html body .RadInput_Atmosphere .riRead,
html body .RadInput_Read_Atmosphere
{
	border-color:#d0d0d0;
}

html body .RadInput_Atmosphere .riDisabled,
html body .RadInput_Disabled_Atmosphere
{
	border-color:#d0d0d0;
	color:#8a8a8a;
	cursor:default;
}

html body .RadInput_Atmosphere .riError,
html body .RadInput_Error_Atmosphere
{
	border-color:#d51923;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#d51923;
}

.RadForm.rfdTextbox .RadInput_Atmosphere .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Atmosphere[type="text"]
{
	border-color:#d51923;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#d51923;
}

html body .RadInput_Atmosphere .riNegative,
html body .RadInput_Negative_Atmosphere
{
	color:#565656;
}

/*buttons*/

.RadInput_Atmosphere a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_Atmosphere .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_Atmosphere .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_Atmosphere .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_Atmosphere a.riUp
{
	background-position:4px -98px;
}

.RadInput_Atmosphere a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_Atmosphere a.riDown
{
	background-position:4px -199px;
}

.RadInput_Atmosphere a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_Atmosphere .riLabel
{
	color:#000;
}

/*rtl*/

html body .RadInputRTL_Atmosphere .riError,
html body .RadInputRTL_Error_Atmosphere
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_Atmosphere .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_Atmosphere[type="text"]
{
	background-position:3px -298px;
} 