/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/* RadSlider for ASP.NET AJAX Default Skin */

.RadSlider_Atmosphere
{
    zoom: 1.0;
    position: relative;
    float: left;
    z-index:999;
}

.RadSlider_Atmosphere .rslTrack
{
    border-color: #b9b9b9 #939393 #939393 #b9b9b9;
}

.RadSlider_Atmosphere .rslHorizontal a.rslHandle
{
    background-image: url('Slider/Handles.gif');
}

.RadSlider_Atmosphere .rslHorizontal a.rslDraghandle
{
    background-image: url('Slider/DragHandle.gif');
}

.RadSlider_Atmosphere .rslTop a.rslDraghandle
{
    background-image: url('Slider/DragHandleDown.gif');
}

.RadSlider_Atmosphere .rslHorizontal .rslTrack
{
    background: url('Slider/TrackBgr.gif') repeat-x;
}

.RadSlider_Atmosphere .rslHorizontal .rslSelectedregion
{
    background: url('Slider/SelectedRegionHorizontalBgr.gif') right top no-repeat;
}

/* vertical slider */
.RadSlider_Atmosphere .rslVertical a.rslHandle
{
    background-image: url('Slider/HandlesVertical.gif');
}

.RadSlider_Atmosphere .rslVertical .rslTrack
{
    background: url('Slider/TrackVerticalBgr.gif') repeat-y;
}

.RadSlider_Atmosphere .rslVertical .rslSelectedregion
{
    background: url('Slider/SelectedRegionVerticalBgr.gif') left bottom no-repeat;
}

.RadSlider_Atmosphere .rslVertical a.rslDraghandle
{
    background: url('Slider/DragVerticalHandle.gif') no-repeat;
}

.RadSlider_Atmosphere .rslLeft a.rslDraghandle
{
    background: url('Slider/DragVerticalHandleRight.gif') no-repeat;
}

.RadSlider_Atmosphere .rslItem, .RadSlider_Atmosphere .rslLargeTick span
{
    color: #333;
}

.RadSlider_Atmosphere .rslItemsWrapper .rslItemSelected
{
    color: #000;
}

/* horizontal slider items */
.RadSlider_Atmosphere .rslHorizontal .rslItem
{
    background-image: url('Slider/ItemHorizontalBgr.gif');
}

.RadSlider_Atmosphere .rslHorizontal
{
    zoom: 1.0;
    position: relative;
    float: left;
}

/* vertical slider items */
.RadSlider_Atmosphere .rslVertical .rslItem
{
    background-image: url('Slider/ItemVerticalBgr.gif');
}

/* horizontal slider - TrackPosition=Top/Bottom */
.RadSlider_Atmosphere .rslTop .rslSmallTick, .RadSlider_Atmosphere .rslBottom .rslSmallTick
{
    background-image: url('Slider/SmallChangeHorizontal.gif');
}

.RadSlider_Atmosphere .rslTop .rslLargeTick, .RadSlider_Atmosphere .rslBottom .rslLargeTick
{
    background-image: url('Slider/LargeChangeHorizontal.gif');
}

/* vertical slider - TrackPosition=Left/Right */
.RadSlider_Atmosphere .rslLeft .rslSmallTick, .RadSlider_Atmosphere .rslRight .rslSmallTick
{
    background-image: url('Slider/SmallChangeVertical.gif');
}

.RadSlider_Atmosphere .rslLeft .rslLargeTick, .RadSlider_Atmosphere .rslRight .rslLargeTick
{
    background-image: url('Slider/LargelChangeVertical.gif');
}

/* horizontal slider - TrackPosition=Center */
.RadSlider_Atmosphere .rslMiddle .rslSmallTick
{
    background-image: url('Slider/SmallChangeMiddleHorizontal.gif');
}

.RadSlider_Atmosphere .rslMiddle .rslLargeTick
{
    background-image: url('Slider/LargeChangeMiddleHorizontal.gif');
}

/* vertical slider - TrackPosition=Center */
.RadSlider_Atmosphere .rslCenter .rslSmallTick
{
    background-image: url('Slider/SmallChangeCenterVertical.gif');
}

.RadSlider_Atmosphere .rslCenter .rslLargeTick
{
    background-image: url('Slider/LargelChangeCenterVertical.gif');
}
