<div class="ellipsis" data-bind="with: status">
    <span class="pull-left" data-bind="if: id() === '1'">
    	<a href="#" data-bind="click: $parent.inactivate"><i class="fa fa-check-square-o" title="Deactivate"></i></a>
    </span>
    <div class="pull-left" data-bind="if: id() === '2'">
        <!-- <em data-bind="text: name, attr: { title: name }"></em> -->
		<a href="#" data-bind="click: $parent.activatePatientAllergy"><i class="fa fa-square-o" title="Activate"></i></a>
    </div>
	<div class="pull-right filters">
		<a href="#" data-bind="click: $parent.deletePatientAllergy"><i class="icon-cancel red toggle" title="Delete"></i></a>		
	</div>
</div>