<div class="body" data-bind="with: selectedPatient">
    <div class="column">
        <section class="data-set clearfix" data-bind="foreach: careMembers">
            <div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Preferred Name</span>
                </div>
                <div class="span9">
                    <strong data-bind="text: preferredName" class="string optional" maxlength="255" type="text"></strong>
                </div>
            </div>
        </section>
        <section class="data-set clearfix">
            <div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Assign to</span>
                </div>
                <div class="span9">
                    <input type="text" data-bind="typeahead: { name: 'newAssignedToTypeAhead', taOptions: $parent.careManagersBloodhound, displayKey: 'preferredName'}, value: $parent.assignToDisplay, initOptions: { minLength: 3 }" placeholder="Enter name" />
                    <!-- <input data-bind="value: $parent.newAssignedTo, valueUpdate: 'afterkeydown'" class="string optional" maxlength="255" type="text" /> -->
                </div>
            </div>
        </section>
    </div>
</div>