<div id="modal">
        <div class="content" style="margin-top: auto; left: 30%; width: 40%; margin-left:0%;">
            <header>
                <h2 class="title">
                    <span data-bind="html: title"></span>
                    <i class="close pull-right icon-cancel blue" data-bind="click: cancel"></i>
                </h2>
            </header>            
			<div style="padding: 10%">
				<h1 class="message" data-bind="html: message"></h1>								
			</div>
            <footer>
                <div class="pull-right">
					<!-- ko foreach: options -->
					<button data-bind="click: function () { $parent.selectOption($data.value); }, text: ($data.text), css: ($data.css)"></button>
					<!-- /ko -->					
                </div>
            </footer>
        </div>
</div>