<div class="body" data-bind="with: todo">	
    <div class="row" data-bind="if: $parent.hasErrors">
        <ul data-bind="foreach: $parent.errors">
            <li class="validation-errors">
                <h5 data-bind="text: Message"></h5>
            </li>
        </ul>
    </div>
	<div class="row">
		<div class="span2 align-right grey">Category:
		</div>
		<div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.toDoCategories, value: category, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Status: 		
		</div>
		<div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.statuses, value: status, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Assigned to:
		</div>
		<div class="span3 pad-left">
			<input class="span12" type="text" data-bind="typeahead: { name: 'assignedToIdTypeAhead', taOptions: $parent.careManagersBloodhound, displayKey: 'preferredName'}, value: $parent.assignedToDisplay, initOptions: { minLength: 3 }" placeholder="Enter name" />
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Due Date: 		
		</div>
		<div class="span3 pad-left">
			<input placeholder="due date" size="30" type="text" data-bind="datepicker: dueDate">
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Priority:
		</div>
		<div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.priorities, value: priority, text: 'levelName', label: 'action-status', caption: 'Choose...' }"></div>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Individual:
		</div>
		<div class="span3 pad-left">
			<span data-bind="text: (patientDetails() && patientDetails().fullName()) ?  patientDetails().fullName() : '-'"></span>
		</div>
		<div class="span5 align-right">
			<button class="close small" data-bind="enable: patientId(), click: $parent.removeAssociation">Remove Association</button>
		</div>
	</div>
	<div class="row pad-top" data-bind="">
		<div class="span2 align-right grey">Related Programs:
		</div>
		<div class="span3 pad-left" data-bind="visible: patientId()">
            <div data-bind="multiselect: { options: $parent.availablePrograms, values: programIds, idValue: 'id', text: 'name', label: 'programs', stringValue: programString, disable: $parent.noPatient }">
            </div>
		</div>
		<div class="span3 pad-left" data-bind="visible: !patientId()">
            <span>-</span>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Title:
		</div>
		<div class="span9 pad-left">
			<input placeholder="title" size="80" maxlength="500" type="text" data-bind="value: title, valueUpdate: 'afterkeydown', css: { invalid: ($parent.errors().length !== 0) }">
		</div>
	</div>
	<div class="row">
		<div class="span3 grey">Description:
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<textarea data-bind="value: description" maxlength="500">
			</textarea>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Created On: 		
		</div>
		<div class="span3 pad-left">
			<span data-bind="DateOrDash: createdOn"></span>
		</div>
	</div>
	<div class="row pad-top">
		<div class="span2 align-right grey">Updated On: 		
		</div>
		<div class="span3 pad-left" data-bind="DateOrDash: updatedOn">
		</div>
	</div>
	<div class="row pad-top" data-bind="visible: !isNew()">
		<button data-bind="click: $parent.deleteToDo">
			<i class="icon-cancel"></i> Delete
		</button>
	</div>
</div>