<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Phytel.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="Phytel.Framework.ErrorHandler" type="Phytel.Framework.ErrorHandler.ErrorConfigSection, PhytelFramework" />
  </configSections>
  <applicationSettings>
    <Phytel.Framework.Properties.Settings>
    </Phytel.Framework.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="CommFeedActivityXML" value="FormatName:Direct=OS:modelase.phytelmodel.phytel.com\private$\commfeedactivityxml"/>
  </appSettings >
  <Phytel.Framework.ErrorHandler ErrorLogType="EventLog" InfoLogType="EventLog">
    <EventLog source="PhytelComAPIServices" />
  </Phytel.Framework.ErrorHandler>
</configuration>