#alerts {
  margin-left: $fixcol-width;
  position: absolute;
  top: $grid-padding / 2;
  z-index: 8;
  right: 20px;
  margin-right: 0;
  .alert {
    @include box-shadow(rgba(black, 0.5) 0 0 5px);
    @include nowrap;
    background: white;
    clear: both;
    float: right;
    height: 40px;
    line-height: 30px;
    margin: $grid-padding / 2 $grid-padding 0;
    padding: $grid-padding / 2 $grid-padding;
  }
  .message {
    @include ellipsis(nowrap);
    margin-right: $grid-padding;
    max-width: 600px;
    min-width: 160px;
  }
  .close {
    cursor: pointer;
    opacity: 0.35;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 1;
    }
  }
  .message, .close {
    @include inline-block(middle);
    .color {
      color: $red;
    }
    span {
      margin-right: $grid-padding / 2;
    }
    span, img {
      @include inline-block(middle);
    }
  }
}
