.dropdown {
  list-style-type: none;
  position: relative;
  .dropdown-content {
    background: white;
    top: 100%;
    display: none;
    max-width: 200%;
    min-width: 100%;
    padding: $grid-padding;
    position: absolute;
    z-index: 10;
  }
  &.open .dropdown-content {
    display: block;
  }
}
