.hidden {
  display: none;
}

.responses {
  border: 1px solid #dddddd;
  padding: 10px;
}

.response {
  background-color: #eeeeee;
  padding: 10px;
}

.stripped tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

.rowseparator {
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

.modaction {
  display: none;
}

.modrow:hover .modaction {
  display: block;
}

.modrow:hover {
  background-color: #cccccc;
}

//jqtimepicker
div.time-picker {
  position: absolute;
  height: 198px;
  width: 80px; /*width:4em;*/ /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  cursor: pointer;
  height: 20px; /*10px*/
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 4px 3px;
}
div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}
.validation-summary {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    h3 {
        color: red;
    }
}
