.widget .content > .filters {
  display: none;
  height: $widget-header-height;
  .wrapper {
    background: $grey-light;
    padding: 0 $grid-padding;
    position: relative;
    section {
      @include bleed;
      @include box-sizing("border-box");
      @include pie-clearfix;
      border-bottom: 1px dashed $grey-border;
      display: block;
      padding: $grid-padding;
      &.pinned {
        height: $widget-header-height;
        label {
          @extend label.inline;
        }
      }
      &:not(.pinned) {
        background-color: rgba($grey, 0.35);
      }
      .cluster {
        @include float-left;
        &:first-child {
          width: 70px;
        }
        > .grey:first-child {
          margin-bottom: $grid-padding / 2;
        }
        i.icon-plus {
          font-size: 1.3em;
        }
      }
    }
    .toggle {
      position: absolute;
      bottom: $grid-padding;
      right: $grid-padding;
    }
    .filter-content {
      @include bleed;
      display: none;
    }
    // Form Elements
    label {
      color: $grey-dark;
    }
    .chosen-single {
      background-color: transparent;
      border: 1px solid rgba($border-color, 0.3);
      &:focus {
        border-color: rgba($border-color, 0.6);
      }
    }
    @include input-selectors {
      @extend .chosen-single;
      background-color: rgba(white, 0.5);
    }
  }
}

.widget.open .content > .filters {
  display: table-row;
}
