@import "datepicker";

form.stacked {
  .form-inputs {
    @include stretch(0, 40px, 10px, 0);
    textarea {
      height: 100%;
    }
  }
  .form-controls {
    @include float-right;
    width: 26px;
  }
}

@include placeholder-color($grey-dark);

@include input-selectors {
  @include adjust-leading-to(1);
  background-color: white;
  border: 1px solid $grey;
  border-top-color: $grey-dark;
  font-size: $base-font-size;
  height: 2 * $grid-padding;
  padding: 0 $grid-padding / 2;
  width: 100%;
  &.big {
    height: 30px;
    font-size: 1.5em;
    margin: 5px 0;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    color: $grey-dark;
    border-top-color: $grey;
  }
}

input[type="search"] {
  @include box-sizing("border-box");
  background-image: url("../images/search_light_blue.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 20px;
  padding: 0.5 * $grid-padding $grid-padding;
}

textarea {
  height: $grid-padding / 2 + 4 * 2 * $grid-padding;
  resize: none;
}

.input {
  @include pie-clearfix;
  //+leader(1)
  label {
    line-height: 20px;
    abbr {
      border-bottom: none;
      line-height: inherit;
    }
  }
  &.inline {
    label {
      @extend .span3;
      color: $grey-dark;
      text-align: right;
    }
    label + * {
      @extend .span9;
    }
    span.error {
      @include span-columns(9);
      @include push(3);
    }
  }
  &.error {
    @include input-selectors {
      border-color: $red;
    }

    label {
      color: $red;
    }
    span.error {
      background: lighten($red, 60%);
      border: 1px solid $red;
      border-top: none;
      color: $red;
      display: block;
      font-size: 10px;
      line-height: 14px;
      padding: 0 $grid-padding / 2;
    }
  }
}

select.full {
  width: 100%;
}

label {
  //color: $grey-dark
  display: block;
  margin-bottom: 0.75 * $grid-padding;
  > span {
    @include inline-block;
    line-height: 20px;
    vertical-align: middle;
  }
  &.disabled > span {
    color: darken($grey, 35%);
  }
  &.control-group {
    margin-bottom: 0;
  }
  &.inline {
    @include inline-block;
    margin-right: 2 * $grid-padding;
    > span:first-child {
      margin-right: $grid-padding / 2;
    }
    @include input-selectors {
      width: auto;
    }
  }
}

button, a.btn, input[type="submit"], input[type="reset"] {
  @include border-radius(3px);
  background: $grey-dark;
  border: 1px solid $grey-dark;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 30px;
  margin-right: $grid-padding;
  min-width: 7 * $grid-padding;
  padding: 0 $grid-padding;
  text-align: center;
  i[class*="icon-"], i[class*="fa-"] {
    color: inherit;
  }
  &:hover {
    border-color: #787878;
    text-decoration: none;
  }
  &:last-child {
    margin-right: 0;
  }
  &:active, &:focus {
    background: #969696;
    outline: none;
  }
  &:disabled, &.disabled {
    color: $grey-darker;
    cursor: default;
    opacity: 0.3;
    &:hover, &:active {
      background: $grey-dark;
      border-color: $grey-dark;
    }
  }
  &.color, &[type="submit"] {
    background: $blue;
    border-color: $blue;
    color: white;
    &:hover {
      border-color: $blue-darker;
    }
    &:active, &:focus {
      background: $blue-dark;
    }
    &:disabled, &.disabled {
      background: $grey-dark;
      border-color: $grey-dark;
      color: $grey-darker;
      &:hover, &:active {
        background: $grey-dark;
        border-color: $grey-dark;
      }
    }
  }
  &.warning {
      background: $red-light;
      color: black;
      border-color: $red-light;
      &:hover {
        border-color: $red;
      }
      &:disabled, &.disabled {
      background: $red-light;
      color: black;
      border-color: $red-light;
          &:hover {
          background: $red-light;
          color: black;
          border-color: $red-light;
          }
      }
  }
  &.stacked {
    line-height: 1em;
    min-width: 0;
    padding: 0;
    i[class*="icon"], i[class*="fa"] {
      @include adjust-font-size-to(24px);
      line-height: 1em;
    }
    + .stacked {
      @include leader;
    }
  }
  &.small {
    line-height: 20px;
    i {
      font-size: 12px;
      width: 8px;
    }
  }
}

.button_to input {
  margin-right: 0;
}
