circle.intersect {
  fill: rgba(white, 0.8);
  stroke: rgba(black, 0.5);
}

circle.layout {
  //fill: rgba(#e0e0e0, 0.5)
  fill-opacity: 0.1;
  stroke: none;
}

circle.node {
  fill-opacity: 0.5;
  stroke-opacity: 0.8;
}

circle.red {
  fill: red;
}

line {
  &.limit, &.red {
    stroke: red;
    stroke-width: 1;
  }
  &.tick {
    stroke: rgba(black, 0.25);
    stroke-width: 1;
  }
}

path.outline {
  fill: red;
}

td.icon.progress svg {}
