html,body {
  height: 100%;
  width: 100%;
}

body {
  @include container;
  background: #ebedf0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebedf0), color-stop(100%, #f8fafd)), #ebedf0;
  background: -webkit-linear-gradient(top, #ebedf0, #f8fafd), #ebedf0;
  background: -moz-linear-gradient(top, #ebedf0, #f8fafd), #ebedf0;
  background: -o-linear-gradient(top, #ebedf0, #f8fafd), #ebedf0;
  background: linear-gradient(top, #ebedf0, #f8fafd), #ebedf0;
  min-width: 1004px;
  min-height: 680px;
  overflow: auto;
  position: relative;
}

@for $i from 1 through $total-columns {
  .fullscreen .fullscreen-span#{$i}, .span#{$i} {
    @include reset-columns;
    @include span-columns($i);
    padding-right: $grid-padding;
    &.flush {
      @include span-columns($i);
      padding-right: 0;
    }
  }
  .push#{$i} {
    @include push($i);
  }
  .pull#{$i} {
    @include pull($i);
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.last {
  padding-right: 0 !important;
}

.clearfix {
  @include pie-clearfix;
  clear: both;
  &:before,
  &:after {
    content: "";
    display: block;
  }
  &:after {
    clear: both;
  }
}

.center > * {
  @include inline-block(middle);
}

.divider {
  @include divider(false);
}

.rule {
  border-top: 1px solid $blue;
  &:first-child {
    border-top: none;
  }
}

.row {
  @extend .clearfix;
  position: relative;
  width: 100%;
  [class*="span"] {
    @include nth-omega("last");
  }
  &.nowrap {
    @include ellipsis;
  }
}

.position {
  position: absolute;
  @each $side in top, right, bottom, left {
    &.#{$side} {
      #{$side}: 0;
    }
  }
}

.no-pad {
  margin: 0;
}

.pad {
  padding: $grid-padding;
}

.pad-horizontal {
  padding: 0 $grid-padding;
}

.pad-vertical {
  padding: $grid-padding 0;
}

.pad-bottom {
  padding: 0 0 $grid-padding;
}

.pad-top {
  padding: $grid-padding 0 0;
}

.pad-right {
  padding: 0;
  padding-right: $grid-padding;
}

.pad-left {
  padding: 0;
  padding-left: $grid-padding;
}

.pad-icon-left {
  padding-left: 3 * $grid-padding;
}

.bleed {
  @include bleed($grid-padding, top right bottom left);
}

.bleed-horizontal {
  @include bleed($grid-padding, left right);
}

.bleed-vertical {
  @include bleed($grid-padding, top bottom);
}

.bleed-top {
  @include bleed($grid-padding, top);
}

.bleed-right {
  @include bleed($grid-padding, right);
}

.outset {
  margin-left: -$grid-padding;
}

.icon-outset {
  margin-left: -2 * $grid-padding;
}

.muted {
  background: $grey-light;
}
