header[role=banner] {
  @include bleed;
  background: $blue-dark;
  height: $header-height;
  position: relative;
  text-align: justify;
  .brand {
    @include inline-block(middle);
    height: 2 * $grid-padding;
    margin: 1.5 * $grid-padding 3.5 * $grid-padding;
    opacity: 0.5;
  }
  .options {
    @include float-right;
    @include height($header-height - 2);
    > * {
      @include inline-block(middle);
    }
    > img {
      margin: 15px 10px 15px 0;
      opacity: 0.5;
    }
  }
  .user-menu {
    .dropdown-toggle a {
      padding: $grid-padding / 2;
      color: $blue-light;
      line-height: 20px;
      &:after {
        @include inline-block(middle);
        content: "\f123";
        font-family: "fontcustom";
        font-size: 16px;
        margin-top: -4px;
      }
    }
    .dropdown-content {
      li {
        @include height(2 * $grid-padding);
      }
    }
  }
  input[type="search"] {
    @include transition(background-color 500ms);
    background: #2d566a;
    border: none;
    color: white;
    height: 30px;
    width: 1.5 * $fixcol-width;
    &:hover {
      background: #1a3849;
    }
    &:focus {
      background-color: white;
      color: $grey-darker;
      opacity: 1;
    }
  }
  .search_menu {
    float: right;
    padding: 0;
    padding-top: $grid-padding;
    .dropdown-toggle {
      @include transition(background-color 250ms);
      @include size(45px 30px);
      background-color: #2d566a;
      background-image: url("../Images/menu_arrow_white.png");
      background-position: right center;
      background-repeat: no-repeat;
      margin: 0;
      margin-left: 2px;
      padding-right: 7px;
    }
    &:hover .dropdown-toggle,
    &.open .dropdown-toggle {
      background: #1a3849;
    }
    .dropdown-content {
      right: 0;
      left: auto;
      max-width: none;
      .row {
        cursor: pointer;
      }
    }
  }
  + main[role=application] {
    @include stretch($header-height + 1);
  }
}

header[role=navigation] {
  @include bleed;
  background: $grey-light;
  border-bottom: 1px solid $grey;
  font-size: 14px;
  height: $nav-height;
  padding: 0 $grid-padding;
  .menu_toggle {
    @include height($nav-height);
    cursor: pointer;
    float: left;
    position: relative;
    width: $fixcol-width;
    span,img {
      @include inline-block(middle);
    }
  }
  nav[role=main] {
    @include box-shadow(rgba(black, 0.3) 3px 3px 5px);
    @include transition(left 500ms);
    @include stretch($header-height + $nav-height + 1, 0, 0px, -$fixcol-width - 2 * $grid-padding);
    background: white;
    padding: 0 $grid-padding;
    width: $fixcol-width + $grid-padding;
    z-index: 11;
    &.open {
      left: 0;
    }
    a[role=menuitem] {
      display: block;
      padding-left: 2 * $grid-padding;
      > * {
        @include inline-block(middle);
      }
    }
    li {
      display: block;
      padding-left: 2 * $grid-padding;
      * {
        @include inline-block(middle);
      }
    }
  }
  nav.tabs {
    float: left;
    margin-left: $grid-padding;
    .active {
      position: relative;
      &:before {
        content: "";
        border: 8px solid transparent;
        border-top-color: $blue;
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
        margin-top: 5px;
        margin-left: -8px;
      }
    }
  }
  .quickadd {
    @extend .pad;
    @include float-right;
    margin: 5px;
    .quickadd-content {
      background: $manila;
      margin-top: -1px;
      //min-height: 300px
      width: auto;
      min-width: 600px;
      max-width:640px;
      .btn {
        font-size: 12px;
      }
    }
  }
  #notes {
    $width: 260px;
    float: right;
    height: $nav-height;
    line-height: $nav-height - 2 * $grid-padding;
    padding: $grid-padding;
    position: relative;
    min-width: $width;
    > a {
      margin-left: $grid-padding;
      padding-left: 2.5 * $grid-padding;
      background-image: url("../images/expand_down.png");
      background-repeat: no-repeat;
      background-position: left center;
      position: relative;
      z-index: 2;
      .count {
        padding-left: $grid-padding / 2;
      }
    }
    .content {
      @include drop-shadow;
      background: $manila;
      //display: none
      margin-top: 1px;
      position: absolute;
      top: 100%;
      right: $grid-padding;
      visibility: hidden;
      width: $width;
      z-index: 9000;
      &.expanded {
        width: 2 * $width - 2 * $grid-padding;
      }
      .header {
        height: 3 * $grid-padding;
        padding: $grid-padding / 2 0;
        margin: 0 $grid-padding;
        border-bottom: 1px solid #7191a1;
        position: relative;
        z-index: 2;
        img {
          margin-right: $grid-padding / 2;
        }
        .new {
          display: none;
        }
        * {
          @include inline-block(middle);
        }
      }
      .body {
        @include adjust-font-size-to(12px);
        position: relative;
        .list {
          float: right;
          height: 300px;
          margin: $grid-padding;
          width: $width - 2 * $grid-padding;
        }
        .add-form {
          border-bottom: 1px solid gainsboro;
          display: none;
          float: left;
          margin-left: $grid-padding;
          padding: $grid-padding 0;
          width: $width - 3 * $grid-padding;
          label {
            @include adjust-font-size-to(14px);
            color: #969696;
            display: block;
            font-weight: lighter;
            margin-bottom: $grid-padding / 2;
            width: 100%;
          }
          textarea {
            background: rgba(white, 0.5);
            border: 1px solid rgba(#cccccc, 0.5);
            display: block;
            height: 100px;
            outline: none;
            resize: none;
            width: $width - 4 * $grid-padding;
            &:focus {
              border-color: shade(rgba(#cccccc, 0.5), 15%);
            }
          }
        }
        section {
          border-bottom: 1px solid gainsboro;
          padding: $grid-padding / 2 0;
          &.gray {
            border-bottom-style: dashed;
            color: #b4b4b4;
          }
        }
      }
    }
    &.open {
      > a {
        background-image: url("../Images/collapse_up.png");
      }
      .content {
        //display: block
        visibility: visible;
      }
    }
  }
  + main[role=application] {
    @include stretch($header-height + $nav-height + 1);
  }
}
