i[class*="icon-"], i[class*="fa-"] {
  @include inline-block;
  //+size(20px 20px)
  color: $grey-dark;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  &.blue {
    color: $blue-darker;
  }
  &.lighterblue {
    color: $blue-dark;
  }
  &.green {
    color: $green;
  }
  &.red {
    color: $red;
  }
  &.orange {
    color: $orange;
  }
  &.yellow {
    color: $yellow;
  }
  &.darkgreen {
    color: $green-darker;
  }
  &.large {
    font-size: 25px;
  }
  &.lightestblue {
    color: $blue-light;
  }
  &.grey {
    color: $grey;
  }
}

.indicator {
  @include inline-block(middle);
  @include size(10px 10px);
}

.progress {
  position: relative;
  svg {
    @include size(20px 20px);
    position: absolute;
    top: 5px;
    left: 5px;
    circle {
      fill: none;
      stroke: $grey-dark;
      stroke-width: 2;
    }
    path {
      fill: $grey-dark;
      stroke: none;
    }
  }
}
