// Could probably clean this up a bit

header[role=banner] {
    .loading-messages {
        @include float-right;
        @include height($header-height - 2);
        > * {
          @include inline-block(middle);
        }
        > .messages-dropdown {            
            list-style-type: none;
            position: relative;
            ul.messages-content {
                background: white;
                top: 100%;
                display: none;
                width: 200px;
                padding: $grid-padding;
                position: absolute;
                z-index: 10;
                > li {
                    line-height: 20px;
                    min-height: 20px;
                }
            }
            &.open ul.messages-content {
                display: block;
            }
        }
    }
}