@mixin divider($remove-first-child: true, $style: solid, $padding: $grid-padding, $margin: $grid-padding) {
  border-top: 1px $style $grey;
  margin-top: $margin;
  padding-top: $padding;
  @if $remove-first-child {
    &:first-child {
      border-top: none;
      margin-top: 0;
    }
  }
}

@mixin drop-shadow {
  @include box-shadow(3px 3px 5px rgba(black, 0.3));
}

@mixin height($h) {
  line-height: $h;
  min-height: $h;
}

@mixin icon($url) {
  background-image: image-url(#{$url});
}

@mixin overflow-vertical {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin placeholder-color($color) {
  ::-webkit-input-placeholder {
    color: $color !important;
  }
  :-moz-placeholder {
    color: $color !important;
  }
  ::-moz-placeholder {
    color: $color !important;
  }
  :-ms-input-placeholder {
    color: $color !important;
  }
}

@mixin toggle-setup($disabled: false) {
  @if $disabled == disabled {
    cursor: default;
    opacity: 0.15;
  }
  @else {
    cursor: pointer;
    opacity: 0.35;
    &:hover {
      opacity: 1;
    }
  }
}

@mixin triangle($direction, $size, $color: $grey) {
  width: 0;
  height: 0;
  @if $direction is left {
    border-top: $size + px solid transparent;
    border-right: 1.5 * $size + px solid $color;
    border-bottom: $size + px solid transparent;
  }
  @else if $direction is right {
    border-top: $size + px solid transparent;
    border-left: 1.5 * $size + px solid $color;
    border-bottom: $size + px solid transparent;
  }
  @else if $direction is top {
    border-left: $size + px solid transparent;
    border-bottom: 1.5 * $size + px solid $color;
    border-right: $size + px solid transparent;
  }
  @else if $direction is bottom {
    border-left: $size + px solid transparent;
    border-top: 1.5 * $size + px solid $color;
    border-right: $size + px solid transparent;
  }
}

@mixin size($size) {
  @if length($size) == 1 {
    @if $size == auto {
      width: $size;
      height: $size;
    }
    @else if unitless($size) {
      width: $size + px;
      height: $size + px;
    }
    @else if not unitless($size) {
      width: $size;
      height: $size;
    }
  }
  // Width x Height
  @if length($size) == 2 {
    $width: nth($size, 1);
    $height: nth($size, 2);
    @if $width == auto {
      width: $width;
    }
    @else if not unitless($width) {
      width: $width;
    }
    @else if unitless($width) {
      width: $width + px;
    }
    @if $height == auto {
      height: $height;
    }
    @else if not unitless($height) {
      height: $height;
    }
    @else if unitless($height) {
      height: $height + px;
    }
  }
}

@mixin input-selectors {
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  textarea {
    @content;
  }
}

@mixin modalheight($percent, $offset){
    height: calc(#{$percent} - #{$offset}); 
    height: -moz-calc(#{$percent} - #{$offset}); 
    height: -webkit-calc(#{$percent} - #{$offset});
    //height: -o-calc(#{$percent} - #{$offset}); 
}

