
#modal {
  $width: 640px;
  
  background: rgba(white, 0.8);
  /*display: none;*/
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .content {
    @include box-shadow(rgba(black, 0.5) 0 0 30px);
    background: white;
    left: 50%;
    margin-left: -$width / 2;
    position: absolute;
    top: 100px;
    width: $width;
  }
  header {
    background: $grey-light;
    border-bottom: 1px solid $grey;
    padding: 0 3 * $grid-padding 0 $grid-padding;
    position: relative;
    .title {
      line-height: 4 * $grid-padding;
      width: $width - 4 * $grid-padding;
    }
    .close {
      cursor: pointer;
      opacity: 0.35;
      position: absolute;
      top: 50%;
      right: $grid-padding;
      margin-top: -$grid-padding;
      &:hover {
        opacity: 0.5;
      }
      &:active {
        opacity: 1;
      }
    }
  }
  .body {
    padding: $grid-padding;
    max-height: 400px;
    > .row.modal-tab { 
      overflow: auto;
      max-height: 400px; 
      min-height: 400px; 
    }
  }
  footer {
    background: $grey-light;
    border-top: 1px solid $grey;
    padding: $grid-padding;
    float: left;
    width: 100%;
  }
  &.small {
    .content {        
      width: 320px;
      margin-left: -160px;
    }
    header {
      .title {
        line-height: 30px;
        width: 320px;
      }
    }
    .body {
      min-height: 150px;
      max-height: 300px;
    }
  }
  
  &.modal-lg {
      .content{                     
        width: 80%;
        margin-left: -40%; 
        @include modalheight(100%, 109px);    
        .body {
            @include modalheight(100%, 94px);
            max-height: 1000%;
            > .row.modal-tab{
                max-height: 1000%;
            }
        }     
      }
      header{
        overflow: hidden;
        white-space: nowrap;
        .title{
            width: 100%;
            overflow: hidden;
        }
      }
  }
}