main[role=application] {
  height: auto !important;
  margin-bottom: $footer-height;
  overflow: hidden;
  > div {
    @include stretch;
    padding: $grid-padding / 2;
  }
  section[data-type="fixed"],
  section[data-type="flex"],
  section[data-type="full"],
  section.highlights {
    @include stretch;
    &.highlights {
      @include height(40px);
      padding: $grid-padding / 2 $grid-padding;
      width: 100%;
      h2 {
        line-height: 40px;
      }
      .progress-bar {
        margin: $grid-padding / 2 0 $grid-padding / 2 $grid-padding;
        width: 200px;
      }
      ~ section {
        margin-top: 40px;
      }
    }
    &[data-type="fixed"] {
      $width: $fixcol-width + $grid-padding;
      @include stretch-x($grid-padding / 2, auto);
      @include transition(width 500ms);
      width: $width;
      &.open {
        width: 2 * $width;
        + section[data-type="flex"] {
          left: 2 * $width + $grid-padding / 2;
        }
      }
      > .column {
        width: 100% !important;
      }
      .accordion {
        overflow: hidden;
      }
      .off-canvas {
        @include transition(left 500ms);
        left: -100%;
        position: absolute;
        z-index: 2;
        .wrapper {
          overflow: visible;
        }
        .controls {
          @include transition(margin-right 500ms);
          margin-right: -4 * $grid-padding;
          .toggle {
            vertical-align: top;
          }
          .toggle[data-type=add][data-method=open] {
            @include drop-shadow;
            @include size(30px 30px);
            @include toggle-setup;
            background-color: $grey-light;
            margin: 0;
            margin-top: -$grid-padding / 2;
            margin-left: -$grid-padding / 2;
            padding: $grid-padding / 2;
            opacity: 1;
          }
          .widget > .content {
            overflow: visible;
          }
        }
        &.open {
          .controls {
            margin-right: 0;
            .toggle[data-type=add][data-method=open] {
              @include box-shadow(none);
              background-color: inherit;
              cursor: default;
              opacity: 0.15;
              padding: inherit;
            }
          }
        }
        &.open {
          left: 0;
        }
      }
      .widget.open > .content > .body {
        overflow-x: hidden;
      }
      + section[data-type="flex"] {
        @include stretch-x($width + $grid-padding / 2, $grid-padding / 2);
        @include size(auto auto);
        @include transition(left 500ms);
      }
      .columns {
        &:not(.patient-list) {
          margin-bottom: $grid-padding;
        }
        width: 2 * $fixcol-width - $grid-padding;
        .column {
          @include inline-block(top);
          width: $fixcol-width - $grid-padding;
        }
      }
    }
    &[data-type="flex"] {
      @include nowrap;
      overflow: hidden;
      left: $grid-padding / 2;
      right: $grid-padding / 2;
      > div > .column {
        @include size(40% 100%);
        &.open {
          @include size(60% 100%);
        }
        &.equal {
          @include size(50% 100%);
        }
      }
      &.slider > div > .column.open {
        @include size(100% 100%);
      }
    }
    &[data-type="full"] {
      @include stretch;
      margin: 0 $grid-padding / 2;
    }
    &:not(.highlights) > div:not(.column):not(.widget) {
      height: 100%;
    }
    > div > .column {
      @include size(100% 100%);
      @include transition(width 500ms ease-in-out);
      @include inline-block(top);
      border-collapse: separate;
      border-spacing: $grid-padding / 2 $grid-padding;
      //position: relative
      .widget > .content > .wrapper {
        overflow: hidden;
      }
      &.off-canvas .widget > .content > .wrapper {
        overflow: auto;
      }
      > .widget-wrapper {
        @include size(100% 100%);
        display: table;
      }
      &:only-child {
        @include transition(none);
        width: 100%;
        .widget.open {
          height: 100%;
        }
      }
      .widget {
        display: table-row;
        height: 40px;
        &:only-child {
          height: 100%;
        }
        &.open {
          height: auto;
        }
        &.fullscreen > .content {
          @include stretch($grid-padding, $grid-padding / 2, $grid-padding, $grid-padding / 2);
          display: block;
          width: auto;
          z-index: 10;
          .controls img:not([data-method=fullscreen]) {
            display: none;
          }
        }
        > .content {
          display: table-cell;
          height: auto;
          position: relative;
          .body {
            //+has-layout
            @include size(100% 100%);
            position: relative;
            > .content {
              @include stretch;
              overflow: auto;
              padding: $grid-padding;
            }
            section {
              @include divider;
            }
          }
        }
        &.footer > .content > .body {
          //bottom: 50px
       
        }
        &.filters > .content > .body {
          //top: 2*$widget-header-height + $grid-padding
       
        }
      }
    }
  }
  .widget {
    margin: $grid-padding $grid-padding / 2;
    &.translucent > .content > .wrapper > .content {
      background: rgba(white, 0.35);
    }
    &.floating > .content > .wrapper {
      bottom: auto;
      height: auto;
      > .content {
        .table-row, .table-cell {
          display: block;
        }
      }
    }
    .header header {
      @include transition(border-color 500ms);
      border-bottom: 1px solid darken($grey, 5%);
      height: $widget-header-height;
      padding: $grid-padding / 2 $grid-padding;
      h1 {
        float: left;
        line-height: 30px;
      }
      .options {
        @include float-right;
      }
    }
    .footer {
      background: $grey-light;
      border-top: 1px solid $grey-border;
      footer {
        //height: $widget-header-height - $grid-padding
        padding: $grid-padding;
        position: relative;
        width: 100%;
        a.tray-toggle {
          @include bleed(15px, top bottom);
          @include inline-block;
          padding-left: 15px;
          padding-right: 15px;
          i[class*="icon"], i[class*="fa"] {
            @include adjust-font-size-to(24px);
            line-height: 1em;
          }
        }
        a.open {
          background: $grey;
        }
        .tray {
          @include bleed($grid-padding, top left right);
          background: $grey;
          display: none;
          margin-bottom: -$base-line-height;
          position: relative;
          z-index: 2;
        }
      }
    }
    > .content > div > .wrapper {
      @include box-shadow($grey 0px 0px 5px);
      > .content {
        background: white;
        height: 100%;
        padding: 0 $grid-padding;
        width: 100%;
        white-space: normal;
      }
    }
    &.no-selection {
      > .content > .wrapper {
        @include box-shadow(none);
        > .content {
          background: transparent;
          .centered {
            margin-top: 10 * $grid-padding;
            text-align: center;
            text-shadow: 1px 1px white;
            i.big {
              font-size: 60px;
            }
          }
        }
      }
    }
  }
  .controls {
    float: right;
    padding: $grid-padding / 2 0;
    .toggle {
      &[data-type=add][data-method=open] {
        @include toggle-setup;
      }
      &[data-type=remove][data-method=open] {
        @include toggle-setup(disabled);
      }
    }
  }
  &.open {
    .controls {
      .toggle {
        &[data-type=add][data-method=open] {
          @include toggle-setup(disabled);
        }
        &[data-type=remove][data-method=open] {
          @include toggle-setup;
        }
      }
    }
  }
  .options {
    padding: $grid-padding / 2 0;
  }
  .column.open .controls .toggle,
  section.open .controls .toggle {
    &[data-type=add][data-method=open] {
      @include toggle-setup(disabled);
    }
    &[data-type=remove][data-method=open] {
      @include toggle-setup;
    }
  }
}
