.progress-bar {
  @include inline-block;
  background: tint($red, 15%);
  height: $grid-padding;
  margin: 1.5 * $grid-padding 0;
  position: relative;
  z-index: 1;
  .progress {
    background: $green;
    height: 100%;
  }
  .progress-label {
    display: block;
    margin-top: -$grid-padding / 2;
  }
}
