.quickadd {
  @include inline-block(middle);
  position: relative;
  .quickadd-toggle {
    cursor: pointer;
    .toggle {
      margin-right: $grid-padding / 2;
    }
    strong {
      @include transition(color 250ms);
    }
    &:hover strong {
      color: $blue-darker;
    }
    &:hover .toggle {
      opacity: 1;
    }
  }
  .quickadd-content {
    @include drop-shadow;
    background: white;
    display: none;
    top: 100%;
    position: absolute;
    right: 0;
    z-index: 11;
    header {
      @include pie-clearfix;
      background: $manila-ten-shade;
      border-bottom: 1px solid rgb(225, 220, 211);
      .tab {
        @include float-left;
		//intended to be used for Quickadd tabs when we have more than 6 tabs... (remaked as we dont use it now and its failing to compile.)
//        &:nth-child("6n") a {
//          border-right: none;
//        }
        a {
          @include transition(background 500ms);
          @extend .pad;
          background: $manila-five-shade;
          border-right: 1px solid rgb(225, 220, 211);
          display: block;
          &.active {
            background: $manila;
          }
        }
        &:hover a {
          background: $manila;
        }
      }
    }
    section {
      display: none;
      &.active {
        display: block;
      }
      form {
        padding-bottom: 52px;
      }
    }
  }
  &.open {
    .quickadd-content {
      display: block;
    }
  }
}
