nav.tabs {
  @include bleed;
  //background: $grey-light
  border-bottom: 1px solid $grey;
  a, span {
    @include inline-block(middle);
    @include transition(color 500ms);
    border: none;
    border-bottom: $grid-padding / 2 solid transparent;
    border-top: $grid-padding / 2 solid transparent;
    color: $blue-dark;
    cursor: pointer;
    line-height: $nav-height - $grid-padding;
    margin-right: $grid-padding / 2;
    padding: 0 $grid-padding / 2;
    &.active {
      border-bottom-color: $blue;
    }
    &.active, &:hover {
	  color: $blue-sky;      
    }
  }
}

header nav.tabs {
  background: none;
  border-bottom: none;
}

section.tabbed {
  nav.tabs {
    a, span {
      line-height: 3 * $grid-padding;
    }
  }
  .tab {
    display: none;
    &.active {
      display: inherit;
    }
  }
  &.fill {
    position: absolute;
    top: 5 * $grid-padding;
    bottom: $grid-padding;
    left: $grid-padding;
    right: $grid-padding;
    nav.tabs {
      margin-top: -6 * $grid-padding;
    }
    .tab {
      @include stretch;
      overflow: auto;
    }
  }
}
