
header, .header, .filters {
  .toggle {
    @include inline-block(middle);
    @include size(20px 20px);
    @include transition(opacity 250ms);
    @include toggle-setup;
    background-position: center center;
    background-repeat: no-repeat;

		&.refresh {
			background-image: url("../images/refresh.png");
		}

		&.filter {
			background-image: url("../images/filter_inactive.png");

			&.active {
				background-image: url("../images/filter_active.png");
			}
		}

        &.fullscreen {
          background-image: url("../images/full_screen_open.png");
        }
        &.double-arrow-right {
          background-image: url("../images/expand_right.png");
        }
        &.single-arrow-left {
          background-image: url("../images/collapse_left.png");
        }
        &.next {
          background-image: url("../images/page_forward_small.png");
        }
        &.down-up {
          background-image: url("../images/expand_down.png");
        }
        &.up-down {
          background-image: url("../images/collapse_up.png");
        }

		&.plus {
			background-image: url("../images/add_blue.png");
		}

		&.print {
			background-image: url("../images/print_blue_small.png");
		}

		&.edit {
			background-image: url("../images/edit_blue.png");
		}

		&.remove {
			background-image: url("../images/cancel_x.png");
		}
	}
}

.widget.fullscreen .toggle.fullscreen {
  background-image: url("../images/full_screen_close.png");
}

.accordion.open .toggle,
.quickadd.open .toggle {
  &.down-up {
    background-image: url("../images/collapse_up.png");
  }
  &.up-down {
    background-image: url("../images/expand_down.png");
  }
}

.filter-toggle {
  cursor: pointer;
  &:hover {
		background-color: tint($blue-lighter, 60%);
  }
  &.active {
    background-color: $blue-lighter;
  }
  &.dirty {
    background-color: $blue-dark; 
    opacity: 0.80;
    filter: alpha(opacity=1); 
    -moz-opacity: 0.80;
    strong {
        color: white;
    }
  }
}

section:not(.slider) .btn.active.toggle[data-method="slider"][data-type="remove"] {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
