// Compass vertical rhythm
$base-font-size: 12px;
$base-line-height: 16px;
$default-rhythm-border-style: solid;
$relative-font-sizing: false;

@include establish-baseline;

// Susy variables
$border-box-sizing: true;
$container-style: fluid;
$total-columns: 12;
$column-width: 60px;
$gutter-width: 0px;
$grid-padding: 10px;
$grid-background-column-color: shade(#ebedf0, 2%);
$omega-float: $from-direction;
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie: true;

@include border-box-sizing;

// Colors
$blue-lighter: #e0f5ff;
$blue-lightest: #f2fbff;
$blue-light: #afc3cd;
$blue-sky: #00b2ef;
$blue: #004266 !default;
$blue-dark: #004266 !default;
$blue-darker: darken(#0d4862, 10%);

$grey-darker: #222222;
$grey-dark: #777777;
$gray-strong: #8B9398;
$grey: #e6e6e6;
$grey-light: whitesmoke;
$grey-border: #d6d6d6;

$manila: #faf5eb;
// Come back and replace these when the shade function is working
$manila-ten-shade: #e1dcd3;
$manila-five-shade: #ede8df;
$red-light: #FBCBC7;
$red: #871409;
$green: #8cc36f;
$green-darker: #61a34b;
$orange: #e09529;
$yellow: #ffd600;

$border-color: #afc3cd;

// Metrics
$header-height: 50px;
$footer-height: $header-height;
$nav-height: 48px;
$fixcol-width: 200px;
$widget-header-height: 40px;
