.widget > .content {
  height: 1px;
  > .content-fill {
    @include size(100% 100%);
    position: relative;
    > .wrapper {
      @include has-layout;
      @include stretch;
      @include size(100% 100%);
      overflow: hidden;
      > .content {
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        height: 100%;
        table-layout: fixed;
        position: relative;
        width: 100%;
        > .table-row > .table-cell > .fixed {
          border-bottom: 1px solid $grey;
          padding: 0 $grid-padding;
        }
        .body {
          header {
            @extend .line;
            @include box-sizing("content-box");
          }
        }
      }
    }
    .header, .footer {
      display: table-row;
      height: $widget-header-height;
    }
  }
  > .arrow-runner {
    @include size(20px 100%);
    border-right: 4px solid $blue;
    overflow: hidden;
    position: absolute;
    left: -20px;
    .arrow {
      border: 10px solid transparent;
      border-right-color: $blue;
      position: absolute;
      right: 0;
      top: 50%;
      margin-left: -24px;
      margin-top: -10px;
    }
  }
  .fullscreen-only {
      display: none;
  }
}

.widget.fullscreen {
  .arrow-runner {
    display: none;
  }
  > .content .fullscreen-only {
      display: initial;
  }
}
