#toolbox_container
{
    width: 100%;
    margin: 0 auto;
    border: none;
    min-height:1000px;
}

#toolbox
{
    margin: 0px auto;
    width: 825px;
    border: none;
    padding: 5px;
}

#form_table
{

}

.page_title {
    font-size: large;
    font-weight: bold;
    border: none;
    clear: both;
    width: 100%;
    padding-bottom: 10px;
}

.form_instruction {
    font-size: larger;
    padding: 10px 0 10px 0;
    line-height: 1.25em;
}

.form_segment_item {
    clear: both;
    padding: 5px;
    vertical-align: top;
}

.form_label_container {
    width: 100px;
    white-space: nowrap;
    float: left;
}

.form_label_container_Confirmation {
    width: 150px;
    white-space: nowrap;
    float: left;
}

.form_element_container {
    width: auto;
    float: left;
}

.toolbox_button_row {
    clear: both;
    border-top: 0px solid #d5d5d5;
    padding-top: 5px;
    padding-bottom: 25px;
    width: 100%;
}

.toolbox_error_message ul {
    font-size: small;
    color: red;
    font-weight: bold;
}

#toolbox_hint
{
    clear: both;
    font-style: italic;
    text-align: justify;
    width: 90%;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.current_facility
{
    padding-left: 10px;
    padding-bottom: 10px;
    width: 220px;
    min-height: 50px;
    float: left;
    text-align: left;
    font-size: larger;
    font-style: normal;
    line-height: 1.25em;
    color: Navy;
}

.sample_messages {
    width: 500px;
    margin: 0px auto;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    line-height: normal;
}

/*  CUSTOM TOOLTIP */

a.tooltip { color: #c00; }

a.tooltip b { display: none; }

a.tooltip:hover {
    border: 0;
    position: relative;
    z-index: 25000;
    text-decoration: none;
}

a.tooltip:hover b {
    display: block;
    position: absolute;
    top: 20px;
    left: -25px;
    padding: 15px;
    font-weight: normal;
    color: #000;
    border: 1px solid #888;
    background: #ffc;
    width: 275px;
    white-space: normal;
}

a.tooltip:hover b em {
    position: absolute;
    left: 20px;
    top: -6px;
    height: auto;
    background: #fff url('/Assets/Images/tooltip.gif') 0 0;
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    white-space: normal;
}