<section data-type="flex">
    <!-- ko if: selectedPatient() -->
    <div data-bind="foreach: columns">
        <div class="column" data-bind="foreach: widgets, click: $parent.setOpenColumn, css: { open: $parent.computedOpenColumn() === $data }">
            <!-- ko compose: path -->
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: !selectedPatient() -->
    <div>
        <div class="column">
            <div class="widget open">
                <div class="content">
                    <header>
                        <h1>Data-Type</h1>
                    </header>
                    <div class="body">
                        <em class="grey">No individual selected.</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</section>