<div class="content">
	<div class="clinicaldatalist">
		<div class="vitalslist">
			<table class="no-wrap">
				<thead>
					<tr>
						<th></th>
						<th>Type</th>
						<th>Name</th>
						<th>Value</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Source</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<!-- ko foreach: computedObservationGroups -->
						<tr data-bind="style: { backgroundColor: $index()%2 == 0 ? 'whitesmoke' : '' }">
							<td>																								
								<a class="toggle vitalshistory filters" href="#" data-bind="click: $parent.toggleExpand">
									<i class="toggle" data-bind="css: isOpen() ? 'icon-single-chevron-up' : 'icon-angle-double-down'"></i>
								</a>
							</td>
							<!-- ko with: parentObservation -->
							<td data-bind="with: type"><span data-bind="text: name"></td>
							<td data-bind="text: name"></td>
							<td data-bind="text: computedValueString"></td>
							<td data-bind="DateOrDash: startDate"></td>
							<td data-bind="DateOrDash: endDate"></td>
							<td data-bind="text: source() ? source() : '-'"></td>
							<td>
								<span data-bind="with: state">
									<span data-bind="text: name"></span>
								</span>
								<!-- ko if: !state() -->
									<span>-</span>
								<!-- /ko -->
							</td>
							<td>
								<a title="Remove" data-bind="visible: false"> <!-- click: $parents[1].removeObservation -->
									<i class="icon-cancel" style="color: lightgrey;"></i>
								</a>
							</td>
							<!-- /ko -->
						</tr>
						<!-- ko if: isOpen -->
							<!-- ko foreach: computedObservations -->
							<tr data-bind="style: { backgroundColor: $parentContext.$index()%2 == 0 ? 'whitesmoke' : ''    }" class="hidden vhist" style="display: table-row;">
								<td>
								</td>
								<td>
								</td>
								<td></td>
								<td data-bind="text: computedValueString"></td>
								<td data-bind="DateOrDash: startDate"></td>
								<td data-bind="DateOrDash: endDate"></td>
								<td data-bind="text: source() ? source() : '-'"></td>
								<td>
									<span data-bind="with: state">
										<span data-bind="text: name"></span>
									</span>
									<!-- ko if: !state() -->
										<span>-</span>
									<!-- /ko -->
								</td>
								<td>
									<a title="Remove" data-bind="visible: false"> <!-- click: $parents[1].removeObservation -->
										<i class="icon-cancel" style="color: lightgrey;"></i>
									</a>
								</td>
							</tr>
							<!-- /ko -->
							<!-- ko if: computedObservations().length === 0 -->
							<tr data-bind="style: { backgroundColor: $index()%2 == 0 ? 'whitesmoke' : ''    }" class="hidden vhist" style="display: table-row;">
								<td>
									<!-- ko if: isLoadingObs -->
									<i class="fa fa-spinner fa-spin"></i>
									<!-- /ko -->
								</td>
								<td></td>
								<td></td>
								<td colspan="10">
									<em>No additional data</em>
								</td>
							</tr>
							<!-- /ko -->
						<!-- /ko -->
					<!-- /ko -->
				</tbody>
			</table>
			<!-- ko if: computedObservationGroups().length === 0 -->
				<em class="grey">No observations available for the individual.</em>
			<!-- /ko -->
		</div>
	</div>
</div>