<div class="route">
    <section class="open" data-type="fixed" data-bind="visible: cohortPatientSelectPanelShowing">
        <div class="column">
            <div class="widget open" data-bind="columnSizer: true">
                <div class="content">
                    <header>
                        <h1>Cohorts</h1>
                    </header>
                    <div class="body">
                        <table id="filters">
                            <tbody>
                                <tr>
                                    <th colspan="3">Choose up to three:</th>
                                </tr>
                                <!-- ko foreach: computedCohorts -->
                                <tr class="condition active" data-bind="attr: { 'id': 'condition_' + sName() }">
                                    <td class="narrow">
                                        <div class="checker">
                                            <span class="checked" data-bind="css: { 'checked': isChecked }">
                                                <input checked="" data-comparator="contains" data-key="sName" type="checkbox" data-bind="checked: isChecked, attr: { 'value': sName }">
                                            </span>
                                        </div>
                                    </td>
                                    <td class="narrow">
                                        <div class="indicator" style="background-color: rgb(31, 119, 180); background-position: initial initial; background-repeat: initial initial;"></div>
                                    </td>
                                    <td data-bind="text: sName"></td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ko if: navigation.currentSubRoute() -->
    <!-- ko compose: { model: navigation.currentSubRoute().subroute } -->
    <!-- /ko -->
    <!-- /ko -->
</div>