<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="PhytelServicesConnName" value="Phytel"/>
    <add key="version" value="1.0"/>
    <add key="context" value="NG"/>
    <add key="contractNumber" value="InHealth001"/>
    <add key="contactTypeId" value="530cd571d433231ed4ba969b"/>
    <add key="DataDomainURL" value="http://azurePhytel.cloudapp.net:59901"/>
  </appSettings>
</configuration>