<div class="row pad pad-top">
    <!-- ko with: header -->
    <h2 class="pad vertical" data-bind="text: $data"></h2>
    <!-- /ko -->
    <h3 data-bind="html: question, css: { 'grey': !computedResponse() && !activeStep() }"></h3>
    <em class="gray" data-bind="html: notes"></em>
    <!-- ko ifnot: $parent.completed() -->        
    <!-- ko foreach: responses().sort($root.alphabeticalOrderSort) -->
    <label class="control-group">
        <div class="checker" data-bind="hoverToggle: 'hover'">
            <span data-bind="css: { 'checked': value() === 'true' }">
                <input type="checkbox" data-bind="checked: value, disable: (!$parent.computedResponse() && !$parent.activeStep() || $parents[1].completed()), clickRadio: $parent.computedResponse" />
            </span>
        </div>
        <strong data-bind="text: text, css: { 'grey': !$parent.computedResponse() && !$parent.activeStep() }"></strong>
    </label>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: $parent.completed() -->
    <br>
    <!-- ko if: computedResponse() -->
    <!-- ko foreach: responses().sort($root.alphabeticalOrderSort) -->
    <!-- ko if: value() === 'true' -->
    <div class="row">
        <i class="icon-check span1"></i><strong class="span11" data-bind="text: text"></strong><br>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !computedResponse() || hasNoTrueAnswers() === true -->
    <strong><em class="push1">&ltNot Answered&gt</em></strong>
    <!-- /ko -->
    <!-- /ko -->
</div>