<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net451" />
  <package id="OctoPack" version="3.0.42" targetFramework="net451" />
  <package id="Phytel.API.DataDomain.Contract.DTO" version="1.1.0.01" targetFramework="net451" />
  <package id="Phytel.Services.API" version="1.4.0.01" targetFramework="net451" />
  <package id="Phytel.Services.API.DTO" version="1.1.0.01" targetFramework="net451" />
  <package id="Phytel.Services.API.Filter" version="1.1.0.03" targetFramework="net451" />
  <package id="Phytel.Services.API.Provider" version="1.1.0.01" targetFramework="net451" />
  <package id="Phytel.Services.API.Urn" version="1.1.0.01" targetFramework="net451" />
  <package id="Phytel.Services.AppSettings" version="1.4.2.01" targetFramework="net451" />
  <package id="Phytel.Services.IOC" version="1.4.0.01" targetFramework="net451" />
  <package id="Phytel.Services.Security" version="1.4.0.01" targetFramework="net451" />
  <package id="ServiceStack" version="3.9.70" targetFramework="net451" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net451" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.70" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="3.9.70" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.70" targetFramework="net451" />
</packages>