<div class="widget" data-bind="css: { 'fullscreen': isFullScreen() }, columnSizer: true">
    <div class="content">
        <!-- <div class="arrow-runner"><i class="arrow" style="top: 125px;"></i></div> -->
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="header">
                        <div class="table-cell">
                            <header>
                                <h1>Details</h1>
                                <!-- ko compose: 'widgets/controls.html' -->
                                <!-- /ko -->
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="body">
                                <div class="content" data-bind="with: $parents[1].activeNote">
									<div data-bind="if: type().name().toLowerCase() === 'touchpoint'">
										<!-- ko compose: 'templates/note.touchpoint.details.html' -->
										<!-- /ko --> 
									</div>									                                    
									
									<div data-bind="if: type().name().toLowerCase() === 'utilization'">
										<!-- ko compose: 'templates/note.utilization.details.html' -->
										<!-- /ko --> 
									</div>	 																	

									<div data-bind="if: (type().name().toLowerCase() !== 'utilization' && type().name().toLowerCase() !== 'touchpoint')">
										<!-- ko compose: 'templates/note.general.details.html' -->
										<!-- /ko --> 
									</div>																	
                                    <div class="row pad-top" data-bind="with: programString">
                                        <strong class="span3">Program(s):</strong>
                                        <span class="span9" data-bind="text: $data, attr: { 'title': $data }"></span>
                                    </div>
                                    <div class="row pad-top" data-bind="visible: createdOn">
                                        <strong class="span3">Created:</strong>
										<span data-bind="DateTime: createdOn"></span> by <span data-bind="text: createdBy().preferredName"></span>
                                    </div>
									<div class="row pad-top" data-bind="visible: updatedOn">
                                        <strong class="span3">Updated:</strong>
                                        <span data-bind="DateTime: updatedOn"></span> by <span data-bind="text: (updatedBy()? updatedBy().preferredName : '')"></span>
                                    </div>
									<div class="row pad-top" data-bind="visible: dataSource">
                                        <strong class="span3">System:</strong>
                                        <span class="span9"><span data-bind="text: dataSource"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>