<div class="widget open" data-bind="columnSizer: 'nobody'">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="header">
                        <div class="table-cell">
                            <header>
                                <h1>Recent</h1>
                                <div class="controls">
                                    <div class="toggle single-arrow-left" data-bind="click: minimizePatientsListFlyoutColumn" data-method="open" data-type="remove" data-phyautomation="cohort-left-arrow"></div>
                                    <div class="toggle double-arrow-right" data-bind="click: maximizePatientsListFlyoutColumn" data-method="open" data-type="add" data-phyautomation="cohort-right-arrows"></div>
                                </div>
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <div class="fixed">
                                <div class="content">
                                    <!-- ko compose: { model: 'viewmodels/patients/sections/recent.individuals', activationData: { selectedPatient: selectedPatient, choosePatient: choosePatient } } -->
                                    <!-- /ko -->
                                    <div class="pad-vertical divider">
                                        <h1>Cohorts</h1>
                                        <div class="row">
                                            <div class="span10" data-bind="chsnsingle: { options: cohortsList, value: selectedCohort, text: 'sName', label: 'cohort' }"></div>
                                        </div>
                                        <div class="row pad-top">
                                            <input data-bind="value: cohortFilter, valueUpdate: 'afterkeydown', disable: !selectedCohort()" 
												placeholder="Search" type="search" data-phyautomation="cohort-patient-search" style="width: 87%;"/>
											<i class="pointer icon-cancel" data-bind="visible: cohortFilter, click: clearCohortFilter"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="body" data-bind="setHeightFromPrev: patientsList">
                                <div class="content" data-phyautomation="cohort-patient-list">
                                    <!-- ko foreach: patientsList -->
                                    <div class="row ellipsis" data-bind="click: $parent.choosePatient">
                                        <div class="columns patient-list">
                                            <div class="column ellipsis">
                                                <img alt="Patient small" class="pull-left" data-bind="attr: { src: genderModel().SmallImgSrc }" />
                                                <a href="#" class="line" data-bind="text: fullLastName() + ', ' + fullFirstName(), attr: { 'title': (fullLastName() + ', ' + fullFirstName()) }"></a>
                                            </div>
                                            <div class="column ellipsis">
                                                <span class="line grey pad horizontal" data-bind="with: dOB"><span data-bind="text: '(' + $data + ')', attr: { 'title': $data }" data-phyautomation="dob"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <div class="row" data-bind="visible: canLoadMoreCohortPatients">
                                        <div class="push2 span8">
                                            <button class="small" data-bind="click: loadMoreCohortPatients">
                                                Load more...
                                            </button>
                                        </div>
                                    </div>
									<div class="row" data-bind="visible: showNoResultsMessage">
										<span data-bind="text: noResultsMessage"></span>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>