<div class="row">
    <div class="span2">
        <i class="icon-address blue"></i>
    </div>
    <div class="span10 ellipsis short">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <input data-bind="value: line1, disable: $parent.addressOptedOut" placeholder="line one" />
                </div>
                <div class="row">
                    <input data-bind="value: line2, disable: $parent.addressOptedOut" placeholder="line two" />
                </div>
                <div class="row">
                    <input data-bind="value: line3, disable: $parent.addressOptedOut" placeholder="line three" />
                </div>
                <div class="row">
                    <input class="span5" style="padding-right: 0;" data-bind="value: city, disable: $parent.addressOptedOut" placeholder="city" />
                    <select class="span4" style="padding-right: 0;" data-bind="options: $root.stateList, value: stateId, optionsValue: 'id', optionsText: 'name', disable: $parent.addressOptedOut"></select>
                    <input class="span3" style="padding-right: 0;" data-bind="value: postalCode, disable: $parent.addressOptedOut" placeholder="zip" />
                </div>
            </div>
        </div>
    </div>
</div>