.ui-multiselect-menu {
  display:none;
  padding:3px;
  left:0px;
  position:absolute;
  top:-4px;
  width: auto !important;
  min-width: 200px !important;
  z-index:10000;
  background:#f4f4f4;
  -webkit-box-shadow:0 3px 10px rgba(0,0,0,0.25);
  -moz-box-shadow:0 3px 10px rgba(0,0,0,0.25);
  box-shadow:0 3px 10px rgba(0,0,0,0.25);
  margin:0 !important;
  border:1px solid #888888;
}