<div class="route">
    <section data-type="fixed" data-bind="css: { open: patientDataColumnOpen()  === true }">
        <div class="column-wrapper">
            <div class="column off-canvas" data-bind="css: { open: patientsListFlyoutOpen() === true }" data-phyautomation="cohort-column-pane">
                <div class="widget-wrapper" data-bind="compose: 'patients/widgets/patients.list.flyout.html'">
                </div>
            </div>
            <div class="column" data-phyautomation="patient-details-pane">
                <div class="widget-wrapper" data-bind="compose: 'patients/widgets/patients.details.html'">
                </div>
            </div>
        </div>
    </section>
    <!-- ko if: isComposed() && navigation.currentRoute() && navigation.currentSubRoute() -->
    <!-- ko compose: { model: navigation.currentSubRoute().subroute, activationData: { selectedPatient: selectedPatient } } -->
    <!-- /ko -->
    <!-- /ko -->
</div>