<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ADSecurityServiceUrl" value="http://localhost:888/Security"/>
    <add key="DDPatientServiceUrl" value="http://localhost:8888/Patient"/>
    <add key="DDPatientProblemServiceUrl" value="http://localhost:8888/PatientProblem"/>
    <add key="DDLookupServiceUrl" value="http://localhost:8888/Lookup"/>
    <add key="DDProgramServiceUrl" value="http://localhost:8888/Program"/>
    <add key="DDCohortServiceUrl" value="http://localhost:8888/Cohort"/>
    <add key="DDPatientSystemUrl" value="http://localhost:8888/PatientSystem"/>
    <add key="AuditSystemUrl" value="http://localhost:666/Audit"/>
    <add key="DDContactServiceUrl" value="http://localhost:8888/Contact"/>
    <add key="DDPatientGoalUrl" value="http://localhost:8888/PatientGoal"/>
    <add key="DDPatientNoteUrl" value="http://localhost:8888/PatientNote"/>
    <add key="DDCareMemberUrl" value="http://localhost:8888/CareMember"/>
    <add key="DDPatientObservationUrl" value="http://localhost:8888/PatientObservation"/>
    <add key="PhytelServicesConnName" value="Phytel"/>
    <add key="ASEProcessID" value="17"/>
    <add key="UnitTestMode" value="true"/>
  </appSettings>
</configuration>