<div class="widget open" data-bind="columnSizer: true">
    <div class="content">
        <div class="content-fill">
            <div class="wrapper">
                <div class="content">
                    <div class="header">
                        <div class="table-cell">
                            <header>
                                <h1>Goals</h1>
                                <div class="options goals-options">
                                    <button class="btn color small" data-bind="click: $parents[1].addGoal, disable: $parents[1].isEditing">
                                        <i class="icon-plus"></i>
                                        <span class="pad-left">New Goal</span>
                                    </button>
                                </div>
                            </header>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell" data-bind="with: $parents[1].selectedPatient">
                            <div class="body" data-bind="compose: { model: 'viewmodels/patients/sections/goals', activationData: { activeGoal: $parents[2].activeGoal, selectedPatient: $data } }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>