<div class="tab" data-bind="css: { 'active': tab.isActive() }, with: activeAction">
    <div class="fullscreen-span6">
        <h4 class="line short pull-left pad-right fullscreen-only">Current</h4>
        <div class="row">
            <section class="accordion">
                <div class="row accordion-toggle" data-bind="clickToggle: $parent.descriptionSectionOpen">
                    <h3>Action Description</h3>
                </div>
                <div class="accordion-content" data-bind="visible: $parent.descriptionSectionOpen">
                    <div class="column">
                        <!-- ko ifnot: description() -->
                        <em class="grey">No description available</em>
                        <!-- /ko -->
                        <div class="row pad-top">
                            <!-- ko if: description() -->
                            <p data-bind="text: description"></p>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row pad-top divider">
            <section class="accordion hoverable">
                <div class="row accordion-toggle">
                    <div class="span11"  data-bind="clickToggle: $parent.individualAttributesSectionOpen">
                        <h3>Individual Attributes</h3>
                    </div>
                    <div class="span1">
                        <a class="pull-right hover-toggle" href="#" data-bind="visible: $parent.canEdit, click: $parent.toggleModalShowing">Edit</a>
                    </div>
                </div>
                <div class="accordion-content" data-bind="visible: $parent.individualAttributesSectionOpen">
                    <div>
                        <div class="column">
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>Assigned Date:</span>
                                </div>
                                <div class="span9" data-bind="DateOrNothing: assignDate"></div>
                            </div>
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>Assigned By:</span>
                                </div>
                                <div class="span9" data-bind="with: assignBy"><span data-bind="text: preferredName"></span></div>
                            </div>
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>Assigned To:</span>
                                </div>
                                <!-- ko if: assignToId() -->
                                <div class="span9" data-bind="with: assignTo"><span data-bind="text: preferredName"></span></div>
                                <!-- /ko -->
                                <!-- ko ifnot: assignToId() -->
                                <div class="span9"><em class="grey">Unassigned</em></div>
                                <!-- /ko -->
                            </div>
                            <div class="row pad-top divider">
                                <div class="span3 align-left">
                                    <span>Action State:</span>
                                </div>
                                <div class="span9"><span data-bind="text: elementStateModel().name"></span><span data-bind="if: stateUpdatedOn"> as of <span data-bind="DateOrNothing: stateUpdatedOn"></span></span></div>
                                <!-- <div class="span9" data-bind="text: elementStateModel().name"></div> -->
                            </div>
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>Start Date:</span>
                                </div>
                                <div class="span9" data-bind="DateOrNothing: attrStartDate"></div>
                            </div>
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>End Date:</span>
                                </div>
                                <div class="span9" data-bind="DateOrNothing: attrEndDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- <div class="row pad-top divider">
            <section class="accordion">
                <div class="row accordion-toggle" data-bind="clickToggle: $parent.attributesSectionOpen">
                    <h3>Action Attributes</h3>
                </div>
                <div class="accordion-content" data-bind="visible: $parent.attributesSectionOpen">
                    <div class="row pad-top">
                        <div class="span3 align-left">
                            <span>Authored By:</span>
                        </div>
                        <div class="span9" data-bind="text: authoredBy"></div>
                    </div>
                    <div class="row pad-top divider">
                        <div class="span3 align-left">
                            <span>Action Version:</span>
                        </div>
                        <div class="span9"><span data-bind="text: actionVersion"></span> <span data-bind="if: actionVersionUpdatedOn">(<span data-bind="Date: actionVersionUpdatedOn"></span>)</span></div>
                    </div>
                </div>
            </section>
        </div> -->
        <div class="row pad-top divider" data-bind="with: $parent.computedObjectives">
            <section class="accordion">
                <div class="row accordion-toggle" data-bind="clickToggle: $parents[1].objectivesSectionOpen">
                    <h3>Objectives</h3>
                </div>
                <div class="accordion-content" data-bind="visible: $parents[1].objectivesSectionOpen">
                    <table class="goal-action" data-bind="if: showing">
                        <colgroup>
                            <col span="1" style="width: 40%">
                            <col span="1" style="width: 40%" >
                            <col span="1" style="width: 20%" >
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <strong>Category</strong>
                                </th>
                                <th>
                                    <strong>Objective</strong>
                                </th>
                                <th>
                                    <strong>Target</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $data">
                            <tr>
                                <td class="wrap"><span data-bind="text: categoriesString"></span></td>
                                <td class="wrap" data-bind="with: objective"><span data-bind="text: name"></span></td>
                                <td class="wrap"><span data-bind="if: value"><span data-bind="text: value"></span> <span data-bind="text: unit"></span></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ko if: !showing() -->
                    <em class="grey">No objectives set.</em>
                    <!-- /ko -->
                </div>
            </section>
        </div>
        <div class="row pad-top divider"></div>
    </div>
    <div class="fullscreen-only span6 muted" data-bind="with: $parent.selectedHistoricalAction">
        <h4 class="line short pull-left pad-right">History</h4>
        <div class="span6" data-bind="chsnsingle: { options: $parents[1].availableHistoricalActions, value: $parents[1].selectedHistoricalAction, text: 'formattedCompletedDate', label: 'action-actions', caption: 'Choose...' }"></div>        
        <div class="row">
            <section class="accordion">
                <div class="row accordion-toggle" data-bind="clickToggle: $parents[1].descriptionSectionOpen">
                    <h3>Action Description</h3>
                </div>
                <div class="accordion-content" data-bind="visible: $parents[1].descriptionSectionOpen">
                    <div class="column">
                        <!-- ko ifnot: description() -->
                        <em class="grey">No description available</em>
                        <!-- /ko -->
                        <div class="row pad-top">
                            <!-- ko if: description() -->
                            <p data-bind="text: description"></p>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row pad-top divider">
            <section class="accordion hoverable">
                <div class="row accordion-toggle">
                    <div class="span11"  data-bind="clickToggle: $parents[1].individualAttributesSectionOpen">
                        <h3>Individual Attributes</h3>
                    </div>
                    <div class="span1"><!-- 
                        <a class="pull-right hover-toggle" href="#" data-bind="visible: $parent.canEdit, click: $parent.toggleModalShowing">Edit</a> -->
                    </div>
                </div>
                <div class="accordion-content" data-bind="visible: $parents[1].individualAttributesSectionOpen">
                    <div>
                        <div class="column">
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>Assigned Date:</span>
                                </div>
                                <div class="span9" data-bind="DateOrNothing: assignDate"></div>
                            </div>
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>Assigned By:</span>
                                </div>
                                <div class="span9" data-bind="with: assignBy"><span data-bind="text: preferredName"></span></div>
                            </div>
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>Assigned To:</span>
                                </div>
                                <!-- ko if: assignToId() -->
                                <div class="span9" data-bind="with: assignTo"><span data-bind="text: preferredName"></span></div>
                                <!-- /ko -->
                                <!-- ko ifnot: assignToId() -->
                                <div class="span9"><em class="grey">Unassigned</em></div>
                                <!-- /ko -->
                            </div>
                            <div class="row pad-top divider">
                                <div class="span3 align-left">
                                    <span>Action State:</span>
                                </div>
                                <div class="span9"><span data-bind="text: elementStateModel().name"></span><span data-bind="if: stateUpdatedOn"> as of <span data-bind="DateOrNothing: stateUpdatedOn"></span></span></div>
                                <!-- <div class="span9" data-bind="text: elementStateModel().name"></div> -->
                            </div>
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>Start Date:</span>
                                </div>
                                <div class="span9" data-bind="DateOrNothing: attrStartDate"></div>
                            </div>
                            <div class="row pad-top">
                                <div class="span3 align-left">
                                    <span>End Date:</span>
                                </div>
                                <div class="span9" data-bind="DateOrNothing: attrEndDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row pad-top divider" data-bind="with: $parents[1].historicalComputedObjectives">
            <section class="accordion">
                <div class="row accordion-toggle" data-bind="clickToggle: $parents[2].objectivesSectionOpen">
                    <h3>Objectives</h3>
                </div>
                <div class="accordion-content" data-bind="visible: $parents[2].objectivesSectionOpen">
                    <table class="goal-action" data-bind="if: showing">
                        <colgroup>
                            <col span="1" style="width: 40%">
                            <col span="1" style="width: 40%" >
                            <col span="1" style="width: 20%" >
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <strong>Category</strong>
                                </th>
                                <th>
                                    <strong>Objective</strong>
                                </th>
                                <th>
                                    <strong>Target</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $data">
                            <tr>
                                <td class="wrap"><span data-bind="text: categoriesString"></span></td>
                                <td class="wrap" data-bind="with: objective"><span data-bind="text: name"></span></td>
                                <td class="wrap"><span data-bind="if: value"><span data-bind="text: value"></span> <span data-bind="text: unit"></span></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ko if: !showing() -->
                    <em class="grey">No objectives set.</em>
                    <!-- /ko -->
                </div>
            </section>
        </div>
        <div class="row pad-top divider"></div>
    </div>
    <div class="fullscreen-only span6" data-bind="visible: !$parent.selectedHistoricalAction()">
        <em>No historical data</em>
    </div>
</div>