/*
select[multiple] { display:none; }


.ui-select select, .ui-multiselect select {
  position:absolute;
  width:100%;
  z-index:1;
  opacity:0;
  filter:alpha(opacity=0);
}

*/

.ui-select, .ui-multiselect {
  position:relative;
  background:none;
  font:normal 12px/1.5em Arial, Helvetica, sans-serif;
  color:#333333;
  text-decoration:none !important;
  line-height:22px;
  height:23px;
  padding:0 26px 0 0;
  margin:0.2em 0 !important;
  border:none !important;
  white-space:nowrap;
  display:inline-block;
  text-align:left;
  cursor:pointer;
  width:auto !important;
}

.ui-select span, .ui-multiselect span 
{
    position:relative;
    line-height:22px;
    height:22px;
    width:100%;
    padding:0px 0.5em;
    margin:0 0 0 -3px !important;
    border:none !important;
    text-shadow:1px 1px 0px #ffffff;
    display:block !important;
    -webkit-min-device-pixel-ratio:0;
}

.ui-select span.ui-icon, .ui-multiselect span.ui-icon 
{
    background-position:right bottom;
    position:absolute;
    padding:0 !important;
    width:26px;
    height:23px;
    display:block !important;
    z-index:1;
}