<div id="modal">
    <div class="content">
        <header><h2 class="title">Test Email</h2><img alt="Close blue" class="close" src="/assets/close_blue.png" /></header>
        <div class="body">
            <div class="row">
                <label class="span6">
                    <span>
                        From
                    </span>
                    <input type="email" />
                </label>
                <label class="span6 pull-right">
                    <span>
                        To
                    </span>
                    <input type="email" />
                </label>
            </div>
            <div class="row">
                <label>
                    <span>
                        Subject
                    </span>
                    <input type="text" />
                </label>
            </div>
            <div class="row">
                <label>
                    <span>
                        Body
                    </span>
                    <textarea></textarea>
                </label>
            </div>
        </div>
        <footer>
            <a class="btn color">Send</a><a class="btn">Cancel</a>
        </footer>
    </div>
</div>