<div>
	<div data-bind="if: showDate, attr: {class: dateCss}">	
		<input 
			data-bind="value: dateStr, valueUpdate: 'afterkeydown', 
					css: { 'invalid': (dateErrors().length > 0) || showInvalid, 'datepicker': isDatepicker }, 
					datepickerOptions: datepickerOptions,
					attr:{ name: dateName }" type="text">		
	</div>
	<div data-bind="if: showTime, attr: {class: timeCss}">								
		<!-- ko if: Modernizr.inputtypes.time -->			
			<input data-bind="value: timeStr, valueUpdate: ['afterkeydown', 'input'], attr: { 'disabled': disableTime }, attr:{ name: timeName }, 
						css: {'invalid': showInvalidTime}" type="time" style="height: 20px; width: 100%">
		<!-- /ko -->
		<!-- ko ifnot: Modernizr.inputtypes.time -->
			<input data-bind="jqtimepicker: {observableDateTime: observableDateTime, showDate: showDate }, 
					attr: { 'disabled': isDisableTime, name: timeName }, css: {'invalid': showInvalidTime}" 
					type="text" style="height: 20px; width: 100%">			
		<!-- /ko -->
	</div>
</div>