<div class="body" data-bind="with: event">
	<div class="column">
		<div class="row pad-top">
		
			<!-- ko if ($parent.hasTimes) -->
				<div class="span3 align-left">
					<span>Date and Time: </span>
				</div>
				<div class="span9" data-bind="text: timeString()"></div>
			<!-- /ko -->			
			<!-- ko ifnot ($parent.hasTimes) -->
				<div class="span3 align-left">
					<span>Date: </span>
				</div>
				<div class="span9" data-bind="DateOrNothing: start"></div>
			<!-- /ko -->
		</div>
	</div>
	<div class="row pad-top">
		<div class="span3 align-left">
			<span>Individual:
			</span>
		</div>
      	<div class="span9" data-bind="text: patientName"></div>
	</div>
	<div class="row pad-top">
		<div class="span3 align-left">
			<span>Assigned to:
			</span>
		</div>
      	<div class="span9" data-bind="text: assignedToName"></div>
	</div>
	<div class="row pad-top">
		<div class="span3 align-left">
			<span>Title:
			</span>
		</div>
  		<span class="span9" data-bind="text: title"></span>
	</div>
	<div class="row pad-top">
		<div class="span3 align-left">
			<span>All day?:
			</span>
		</div>
  		<span class="span9" data-bind="text: allDay() ? 'Yes' : 'No'"></span>
	</div>
	<div class="row pad-top">
		<div class="span3 align-left">
			<button class="btn color" data-bind="text: $parent.btnMsg, click: $parent.gotoSource, enable: $parent.hasPatient"></button>
		</div>
	</div>
</div>