<div data-bind="with: note">
	<div class="column">
		<section class="accordion">
			<div class="row accordion-toggle"></div>
			<div class="accordion-content">
				<div class="row pad-top bold">Visit:</div>
				<div class="row pad-top">
					<div class="span3">
						<h5 class="grey pad-bottom">Type</h5>
						<div class="icon-list">
							<div data-bind="chsnsingle: { options: $parent.visitTypes, value: visitType, text: 'name', label: 'visitTypes' }"></div>
						</div>
					</div>
					<div class="span9" data-bind="visible: showOtherVisitType" >
						<h5 class="grey pad-bottom">Other Type</h5>
						<input data-bind="value: otherType, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('otherType') !== -1) }"
						maxlength="100" type="text" />
					</div>
				</div>
				<div class="row pad-top">
					<div class="span3">
						<h5 class="grey pad-bottom">Visit/Admit Date</h5>
						<div class="row">
								<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
									{
										observableDateTime: admitDate, dateErrors: admitDateErrors, dateName: 'admitDate', showInvalid: setInvalidAdmitDate,
										datepickerOptions:{ }, datepickerDynamicOptions: {}, dateCss: 'span12'
									}
								} -->
								<!-- /ko -->
							</div>
						</div>
						<div class="span3">
							<h5 class="grey pad-bottom">Admitted ?</h5>
							<div class="checker" data-bind="hoverToggle: 'hover'">
								<span data-bind="css: { 'checked': admitted() === true }">
									<input type="checkbox" data-bind="checked: admitted" />
								</span>
							</div>
						</div>
						<div class="span6">
							<h5 class="grey pad-bottom">Discharge Date</h5>
							<div class="span6">
							<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
								{
									observableDateTime: dischargeDate, dateErrors: dischargeDateErrors, dateName: 'dischargeDate', showInvalid: setInvalidDischargeDate,
									datepickerOptions:{ }, datepickerDynamicOptions: {minDate: admitDate}, dateCss: 'span12'
								}
							} -->
							<!-- /ko -->
						</div>
						<div data-bind="visible: utilizationLengthStr">
							<span class="grey" data-bind="text: utilizationLengthDesc"></span>
							<span class="pad-left" data-bind="text: utilizationLengthStr"></span>
						</div>
					</div>
				</div>
				<div class="row pad-top">					
					<h5 class="grey pad-bottom">Location</h5>
					<div class="icon-list span6">
						<div data-bind="chsnsingle: { options: $parent.utilizationLocations, value: utilizationLocation, text: 'name', label: 'utilizationLocations', isCancel: true }"></div>
					</div>
				</div>	
				<div class="row" data-bind="visible: showOtherLocation" >
					<div class="pad-top">
						<h5 class="grey pad-bottom">Other Location</h5>
						<input data-bind="value: otherLocation, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('otherLocation') !== -1) }"
							maxlength="100" type="text" />
					</div>
				</div>				
				<div class="row pad-top">
					<div class="span3">
						<h5 class="grey pad-bottom">Disposition</h5>
						<div class="icon-list">
							<div data-bind="chsnsingle: { options: $parent.dispositions, value: disposition, text: 'name', label: 'dispositions', isCancel: true }"></div>
						</div>
					</div>
					<div class="span9" data-bind="visible: showOtherDisposition" >
						<h5 class="grey pad-bottom">Other Disposition</h5>
						<input data-bind="value: otherDisposition, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('otherDisposition') !== -1) }"
						maxlength="100" type="text" />
					</div>
				</div>
				<div class="row divider pad-top bold">Content:</div>
				<div class="row pad-top">
					<div class="span3">
						<h5 class="grey pad-bottom">Source</h5>
						<div class="icon-list">
							<div data-bind="chsnsingle: { options: $parent.utilizationSources, value: utilizationSource, text: 'name', label: 'utilizationSources', isCancel: true }"></div>
						</div>
					</div>
					<div class="span6">
						<h5 class="grey pad-bottom">Program(s)</h5>
						<div class="icon-list span10" data-bind="multiselect: { options: $parent.availablePrograms, values: programIds, idValue: 'id', text: 'name', label: 'programs', stringValue: programString }"></div>
					</div>
				</div>

				<div class="row pad-top filter-toggle" data-bind="click: $parent.toggleOpen">
					<h5 class="grey">Current Reason</h5>
					<span data-bind="visible: (!($parent.existingContentOpen())), text: '...'"></span>					
				</div>
				<pre data-bind="text: text, visible: $parent.existingContentOpen" class="pad-top"></pre>				
				<div class="row pad-top divider">
					<h5 class="grey pad-bottom">Reason Update</h5>
					<textarea data-bind="value: newContent, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('text') !== -1) }" class="string optional" maxlength="5000" type="text" style="height: 150px; resize: both;"></textarea>
				</div>
				<div class="row pad-top">
					<span class="grey">Created On: 	</span>
					<span class="pad-left" data-bind="DateTime: createdOn"></span> by <span data-bind="text: createdBy().preferredName"></span>
				</div>
				<div class="row pad-top" data-bind="if: updatedOn">
					<span class="grey">Updated On:  </span>
					<span class="pad-left" data-bind="DateTime: updatedOn"></span> by <span data-bind="text: updatedBy().preferredName"></span>
				</div>
				<div class="row pad-top" data-bind="if: dataSource">
					<span class="grey" >System:  </span>
					<span class="pad-left" data-bind="text: dataSource"></span>
				</div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</section>
	</div>
</div>