<div data-bind="visible: (type().name().toLowerCase() !== 'utilization' && type().name().toLowerCase() !== 'touchpoint')">
	<div class="row pad-top">
		<strong>Content:</strong>
	</div>
	<div class="row pad-top">
		<textarea readonly="readonly" class="display-only span12" data-bind="text: text, autoHeight: text, attr: { 'title': text }"></textarea>
	</div>
	<div class="row pad-top divider"></div>
	<div data-bind="if: duration">
		<div class="row pad-top" >
			<strong class="span3">Duration:</strong>
			<span class="pad-top" data-bind="text: duration"></span> minutes
		</div>
	</div>
</div> 