<div class="body" data-bind="visible: showing">
	<div class="pad-vertical">
	</div>
	<!-- ko compose: "templates/validation.errors.html" -->
	<!-- /ko -->	
	<div class="pad-vertical" data-bind="visible: canAddId">
		<div class="row">
			<div class="span1">&nbsp;</div>
			<div class="span3">
				<div data-bind="chsnsingle: { options: systems, value: newSelectedSystem, text: 'displayLabel', label: 'systems' },
								css:{'invalid': (newIdValidationErrorsArray().indexOf('newSystem') !== -1 )}"></div>
			</div>
			<div class="span5">
				<input type="text" size="30" placeholder="ID Value" data-bind="value: newPatientSystemIdValue, valueUpdate: 'afterkeydown'
									, css:{'invalid': (newIdValidationErrorsArray().indexOf('newValue') !== -1 )}" maxlength="100" />
			</div>
			<div class="span2">
				<button class="btn color small" href="#" data-bind="click: createNewId, enable: canAddNewPatientSystem">
					<i class="icon-plus"></i>
					<span class="pad-left">Add</span>
				</button>
			</div>
		</div>
	</div>
	<div class="pad-vertical">
		<div>
			<div class="row pad-top">
				<div class="span1">
					<strong>Primary</strong>
				</div>
				<div class="span3">
					<strong>System</strong>
				</div>
				<div class="span5">
					<strong>Value</strong>
				</div>
				<div class="span2">
					<strong>Status</strong>
				</div>
				<div class="span1">
				</div>
			</div>
			<!-- ko foreach: computedEditSystemIds -->
				<!-- ko compose: "templates/system.id.edit.html" -->
				<!-- /ko -->
			<!-- /ko -->
			<div class="line"></div>
			<div class="line"></div>
		</div>
	</div>
</div>
