<div class="body" data-bind="with: program">
	<div class="pad-vertical">
		<div class="row">
			<h3 class="span12">Confirm that you want to remove the program <span data-bind="text: name"></span></h3>
		</div>
	</div>
	<div class="pad-vertical">
		<div class="row">
			<div class="span3">
				<strong>Reason for removing:</strong>
			</div>
		</div>
		<div class="row pad-top">
			<div class="span12">
			<textarea data-bind="value: $parent.reason"></textarea>
			</div>
		</div>
		<div class="row pad-top divider"><em>All modules and actions associated with this program, including the program itself, will be removed from the individual's plan.  You need to manually remove any data or other programs, modules, or actions that were set as a result of any actions and modules already completed that are no longer applicable.  </em>
		</div>
		<div class="row pad-top">
			<em>This action cannot be undone	</em>
		</div>
	</div>
</div>