<div id="alerts">
    <div class="alert error">
        <div class="message">
            <img alt="Alert red" src="/assets/alert_red.png" />
            <span class="color">
                Fatal error!
            </span>Contact your system administrator.
        </div><img alt="Close blue" class="close" src="/assets/close_blue.png" />
    </div>
    <div class="alert warning">
        <div class="message">
            <img alt="Warning yellow" src="/assets/warning_yellow.png" />Session expired. Please log in again.
        </div><img alt="Close blue" class="close" src="/assets/close_blue.png" />
    </div>
    <div class="alert info">
        <div class="message">
            Successfully logged in.
        </div><img alt="Close blue" class="close" src="/assets/close_blue.png" />
    </div>
</div>