<div class="span6 flush">
    <div class="widget translucent">
        <div class="content">
            <header>
                <h1><img alt="Twitter blue large" src="/Content/images/twitter_blue_large.png" style="opacity: 0.5;" /></h1><h1>@@Phytel </h1>
                <div class="controls">
                    <div class="toggle next"></div>
                </div>
            </header>
            <div class="body">
                <ul class="unstyled">
                    <li class="row">#MeaningfulUse Stage 3 may require social, behavioral data capture <a href="http://ow.ly/q5GF1">http://ow.ly/q5GF1</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="widget translucent">
        <div class="content">
            <header>
                <h1>Webinar</h1>
                <div class="controls">
                    <div class="toggle next">
                    </div>
                </div>
            </header>
            <div class="body">
                <div class="row">
                    <img alt="Pcpcc webinar" class="pull-left" src="/Content/images/login_screen/pcpcc_webinar.png" width="60px" />
                    <div style="margin-left: 70px">
                        <h2 class="pad bottom">Executive Roundtable: Population Health witin a Patient-Centered Medical Home Neighborhood</h2>
                        <div class="pad bottom">
                            <strong>11/12/2013 | 12:30 PM CST</strong>
                        </div>
                        <div class="pad bottom">
                            Presenters:
                        </div>
                        <ul class="unstyled">
                            <li>Jaan Sidorov, Owner, Sidorov Health Solutions and the Disease Management Care Blog</li>
                            <li>Robert Fortini, VP and Chief Clinical Officer, Bon Secours Medical Group</li>
                            <li>Richard Hodach, MD, MPH, PhD, Chief Medical Officer, Phytel, Inc</li>
                        </ul>
                        <div class="row pad top">
                            <a href="http://www3.phytel.com/expertise/healthcare-webinars-population-health.aspx">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>