<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-Nightingale.Login.Site-20131206093942.mdf;Initial Catalog=aspnet-Nightingale.Login.Site-20131206093942;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="540" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>



    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <clear/>
        <add applicationName="Phytel"
              name="SqlRoleManager"
              type="Phytel.Web.Security.SqlRoleProvider, Phytel.Web"/>
      </providers>
    </roleManager>
    <!-- Membership Provider -->
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider"
              type="Phytel.Web.Security.SqlMembershipProvider, Phytel.Web"
              applicationName="Phytel"
              enablePasswordRetrieval="true"
              enablePasswordReset="true"
              requiresQuestionAndAnswer="false"
              requiresUniqueEmail="false"
              maxInvalidPasswordAttempts="5"
              passwordAttemptWindow="5"
              minRequiredNonalphanumericCharacters="1"
              passwordFormat="Encrypted"
              minRequiredPasswordLength="6"/>
      </providers>
    </membership>
    <!-- SQL Session provider -->
    <sessionState
      mode="Custom"
      customProvider="MongoSessionStateProvider" timeout="540">
      <providers>
        <add name="MongoSessionStateProvider"
              type="Phytel.Web.MongoSessionStateStore, Phytel.Web"
              writeExceptionsToEventLog="false"/>
      </providers>
    </sessionState>
    <!--<sessionState mode="SQLServer" sqlConnectionString="data source=.;user id=c3user;password=c3p@ssword1;Application Name=Atmosphere" cookieless="false" timeout="540"/>-->
    <machineKey validationKey="0E4F841C0509C2F69A676083DF684EC0B9FCA4F7BB4D1495F05431EB46294DDD94FF2F99F7F85916CC4A82B32F0997958160BF116B9E60B58F7656F63E1E005C"
          decryptionKey="D4E60DEA28AF7E0AD44EA10B256E8CF521D02D515326EE1583DD74C538510F06" validation="SHA1" decryption="AES"/>
  </system.web>

  <!--<cachingConfiguration defaultCacheManager="C3Cache">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementation.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
    <cacheManagers>
      <add name="C3Cache" expirationPoolFrequencyInSeconds="1800" maximumElementsInCacheBeforeScavenging="5000" numberToRemoveWhenScavenging="100" backingStoreName="inMemory"/>
    </cacheManagers>
  </cachingConfiguration>-->

  <appSettings>
    <add key="PhytelServicesConnName" value="Phytel" />
    <add key="C3Cache.cacheFactory" value="C3.Framework.Cache.SimpleCache, C3.Framework"/>
    <add key="CommAPIConfigPath" value="C:\Program Files\Phytel.Net\CommAPI\"/>
    <add key="CommAPIConfigFileName" value="CommAPI.config"/>
    <add key="ApiKey" value="bda11d91-7ade-4da1-855d-24adfe39d174"/>
    <add key="Rest" value="http://localhost:3333"/>
    <add key="activeContainer" value="AtmosphereContainer"/>
    <add key="RestTimeout" value="100000"/>
    <add key="GridMaxRecords" value="2500"/>
    <add key="GridDefaultRecordsPerPage" value="25"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
    <add key="GlobalSiteRoot" value="~/"/>
    <add key="Asset_Root" value="Assets"/>
  </appSettings>

  
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>