<div class="controls">
    <div class="toggle single-arrow-left" data-method="open" data-target="column" data-type="remove" data-bind="click: minimizeThisColumn, enable: isOpen(), clickBubble: false">
    </div>
    <div class="toggle double-arrow-right" data-method="open" data-target="column" data-type="add" data-bind="click: maximizeThisColumn, enable: isOpen(), clickBubble: false">
    </div>
    <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: toggleFullScreen, clickBubble: false">
    </div>
</div>