<div class="route">
    <section class="highlights">
        <h2>Care Manager Home</h2>
    </section>
    <section data-type="flex">
        <div>
            <div class="column" data-bind="css: { 'open': leftColumnOpen() }">
                <div class="widget-wrapper">
                    <div class="widget open" data-bind="css: { 'fullscreen': fullScreenWidget() === 'calendar' }, columnSizer: true">
                        <div class="content">
                            <div class="content-fill">
                                <div class="wrapper">
                                    <div class="content">
                                        <div class="header">
                                            <div class="table-cell">
                                                <header>
                                                    <h1>Calendar</h1>
                                                    <div class="controls">
                                                        <div class="toggle single-arrow-left" data-method="open" data-target="column" data-type="remove" data-bind="click: toggleOpenColumn, enable: leftColumnOpen(), clickBubble: false">
                                                        </div>
                                                        <div class="toggle double-arrow-right" data-method="open" data-target="column" data-type="add" data-bind="click: toggleOpenColumn, enable: !leftColumnOpen(), clickBubble: false">
                                                        </div>
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('calendar') }, clickBubble: false">
                                                        </div>
                                                    </div>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <div class="body">
                                                    <div class="content">
                                                        <div class="calendar" data-bind="fullCalendar: calendarOptions">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" data-bind="css: { 'open': !leftColumnOpen() }">
                <div class="widget-wrapper">
                    <div class="widget" data-bind="css: { 'fullscreen': fullScreenWidget() === 'myToDoList', 'open': myToDoListOpen }, columnSizer: {triggers: myToDoListOpen}">
                        <div class="content">
                            <div class="content-fill">
                                <div class="wrapper">
                                    <div class="content">
                                        <div class="header filter-toggle">
                                            <div class="table-cell" data-bind="click: function () { toggleWidgetOpen(myToDoListOpen) }">
                                                <header>
                                                    <h1>My To-Do List - <span data-bind="text: todosShowingText"></span></h1>
                                                    <div class="controls pad-left">
														<div class="toggle">
															<i class="pointer icon-plus" data-bind="click: addToDo, clickBubble: false" title="Add"></i>
														</div>                                                       
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('myToDoList') }, clickBubble: false">
                                                        </div>
                                                    </div>                                                   
                                                </header>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <div class="body">
                                                    <div class="content" data-bind="compose: { model: 'viewmodels/templates/todo.panel', 
																	activationData: { todos: myToDos, columns: activeTodoColumns, toggleSort: toggleTodoSort, 
																						selectedSortColumn: selectedTodoSortColumn, canSort: true,
																						loadMoreTodos: loadMoreTodos, canLoadMoreTodos: canLoadMoreTodos, 
																						maxToToDosLoaded: maxToToDosLoaded, isBackendSort:true, todosReloading: todosReloading} }">
                                                    </div>
													<!-- 
														 loadPrevTodos: loadPrevTodos, canLoadPrevTodos: canLoadPrevTodos  -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="widget" data-bind="css: { 'fullscreen': fullScreenWidget() === 'myInterventionsList', 'open': myInterventionListOpen }, columnSizer: {triggers: myInterventionListOpen}">
                        <div class="content">
                            <div class="content-fill">
                                <div class="wrapper">
                                    <div class="content">
                                        <div class="header filter-toggle">
                                            <div class="table-cell" data-bind="click: function () { toggleWidgetOpen(myInterventionListOpen) }">
                                                <header>
                                                    <h1>My Interventions - <span data-bind="text: myInterventions().length + ' showing'"></span></h1>
                                                    <div class="controls pad-left">
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('myInterventionsList') }, clickBubble: false">
                                                        </div>
                                                    </div>
                                                    <div class="options">
                                                    </div>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <div class="body">
                                                    <div class="content" data-bind="compose: { model: 'viewmodels/templates/intervention.panel', activationData: { interventions: myInterventions, columns: activeInterventionColumns, toggleSort: toggleInterventionSort, selectedSortColumn: selectedInterventionSortColumn, canSort: true } }">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget" data-bind="css: { 'fullscreen': fullScreenWidget() === 'workList', 'open': myWorkListOpen }, columnSizer: {triggers: myWorkListOpen}">
                        <div class="content">
                            <div class="content-fill">
                                <div class="wrapper">
                                    <div class="content">
                                        <div class="header filter-toggle">
                                            <div class="table-cell" data-bind="click: function () { toggleWidgetOpen(myWorkListOpen) }">
                                                <header>
                                                    <h1 class="nowrap">Work List</h1>
                                                    <div class="controls pad-left">
                                                        <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: function () { toggleFullScreen('workList') }, clickBubble: false">
                                                        </div>
                                                    </div>
                                                    <div class="options myhome">
                                                        <div data-bind="chsnsingle: { options: cohortsList, value: selectedCohort, text: 'sName', label: 'cohort', disabled: !myWorkListOpen() }, click: function(){}, clickBubble: false"></div>
                                                    </div>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <div class="body">
                                                    <div class="content">
                                                        <table class="nowrap">
                                                            <tbody>
                                                                <tr>
                                                                    <th class="narrow">
                                                                        <div class="checker" id="uniform-selectAll"><span><input id="selectAll" name="selectAll" type="checkbox" value="1"></span></div>
                                                                    </th>
                                                                    <th>Name</th>
                                                                    <th>DOB</th>
                                                                    <th>Age</th>
                                                                    <th>Gender</th>
                                                                </tr>
                                                                <!-- ko foreach: patientsList -->
                                                                <tr>
                                                                    <td class="narrow">
                                                                        <div class="checker" id="uniform-selected">
                                                                            <span>
                                                                                <input id="selected" name="selected" type="checkbox" value="1">
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="ellipsis">
                                                                        <a data-bind="text: fullLastName() + ', ' + fullFirstName(), attr: { href: '#patients/' + id(), 'title': (fullLastName() + ', ' + fullFirstName()) }"></a>
                                                                    </td>
                                                                    <td>
                                                                        <span data-bind="with: dOB"><span data-bind="text: $data, attr: { 'title': $data }" data-phyautomation="dob"></span></span>
                                                                    </td>
                                                                    <td>
                                                                        <span data-bind="text: age" data-phyautomation="age"></span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="line" data-bind="text: genderModel().Description"></span>
                                                                    </td>
                                                                </tr>
                                                                <!-- /ko -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </section>
</div>