<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URL" value="http://localhost:444"/>
    <add key="Contract" value="InHealth001"/>
    <add key="UserId" value="000000000000000000000000"/>
    <add key="ConfigFile" value="C:\NG Support\Reports\ReportConfig.xml"/>
    <add key="OutputPath" value="C:\Temp\Reports"/>
  </appSettings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
