.accordion {
  @include pie-clearfix;
  padding: 0 !important;
  margin: 0 !important;
  .accordion-toggle {
    cursor: pointer;
    &.open {
      .icon-single-chevron-down,
      > .icon-angle-double-down {
        @extend .icon-single-chevron-up;
      }
    }
  }
  > .row:first-child {
    //@extend .line
    @include pie-clearfix;
    position: relative;
    .progress-bar {
      margin: 1.5 * $grid-padding 0;
    }
    h2 {
      line-height: 40px;
      .filter-toggle.icon {
        height: 40px;
        line-height: 40px;
        padding-left: 0;
      }
      i[class*="icon"], i[class*="fa"] {
        @include size(30px 40px);
        line-height: 40px;
        display: block;
        position: relative;
        z-index: 2;
      }
    }
  }
  .filter-toggle.icon.icon {
    &:hover, &:focus {
      background: transparent;
      i[class*="icon"], i[class*="fa"] {
        color: $blue;
      }
    }
    &.active {
      background: transparent;
      i[class*="icon"], i[class*="fa"] {
        color: $blue-dark;
      }
    }
  }
  .accordion-toggle {
    position: relative;
    z-index: 1;
    > a.edit {
      float: right;
      &:hover {
        color: inherit;
      }
    }
  }
}
