.hidden {
  display: none;
}

.responses {
  border: 1px solid #dddddd;
  padding: 10px;
}

.response {
  background-color: #eeeeee;
  padding: 10px;
}

.stripped tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

.rowseparator {
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

.modaction {
  display: none;
}

.modrow:hover .modaction {
  display: block;
}

.modrow:hover {
  background-color: #cccccc;
}
