table {
  width: 100%;
  &.ui-datepicker-calendar {
    width: auto;
  }
  tr {
    border-top: 1px solid $border-color;
    &:first-child {
      border-top: none;
    }
  }
  th {
    color: $grey-dark;
  }
  th,td {
    @include height(30px);
    padding: 0 10px;
    vertical-align: top;
    h1,h2,h3,h4,h5,h6 {
      line-height: inherit;
    }
    &.narrow {
      text-align: center;
      width: 3 * $grid-padding;
      padding: 0;
    }
    &.flush {
      padding: 0;
    }
    &.wrap {
      overflow: visible !important;
      vertical-align: top;
      white-space: normal !important;
      line-height: $base-line-height;
      padding: 7px $grid-padding;
    }
    &.icon {
      @extend .narrow;
      background-position: 5px center;
      background-repeat: no-repeat;
      padding-left: 3 * $grid-padding !important;
      &.complete {
        background-image: url(check_grey.png);
      }
      &.alert {
        background-image: url(alert_red.png);
      }
      &.progress {
        i,svg {
          margin: {
            left: -25px;
            right: 5px;
          };
        }
        i {
          color: green;
        }
        svg {
          height: 20px;
          width: 20px;
          margin: {
            top: 5px;
            bottom: -5px;
          };
          circle {
            fill: none;
            stroke: $grey-dark;
            stroke-width: 2;
          }
          path {
            fill: $grey-dark;
            stroke: none;
          }
        }
      }
    }
    &.legend {
      div {
        display: inline-block;
      }
      .square {
        margin: 0 $grid-padding / 2 0 $grid-padding;
        height: $grid-padding;
        width: $grid-padding;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  &.fixed {
    table-layout: fixed;
  }
  &.nowrap {
    @extend .fixed;
    th,td, img {
      //+ellipsis
   
    }
  }
  &.goal-action {
    table-layout: fixed;
    th {
      background: $grey-light;
    }
    th,td {
      //+ellipsis
      @include pad;
    }
  }
  &.history {
    th,td {
      border-top: none;
    }
    tr.section td {
      border-top: 1px dashed $border-color;
      height: auto;
      padding: 0;
      h3 {
        line-height: 2 * $grid-padding;
      }
    }
    tr:first-child td {
      border-top: none;
    }
    thead tr th {
      border-bottom: 1px solid $border-color;
    }
    td.type {
      padding: $grid-padding / 4 $grid-padding;
      span {
        display: inline-block;
        border-left: 5px solid transparent;
        margin-left: -$grid-padding / 2;
        padding-left: $grid-padding / 2;
      }
      img {
        margin-left: -32px - $grid-padding;
        margin-right: 1.5 * $grid-padding;
      }
    }
  }
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}
