.footer
{
    z-index: 10000;
}

.cp_Body
{
    height: 100px;
    float: none;
    margin-left: 20px;
    text-align: left;
    border: 0 solid;
    width: 358px;
}

.cp_table
{
    text-align: left;
    border: 0 solid;
}

.cp_table_colbuttons
{
    padding: 0px -5px 0px 0px;
}

.ui-multiselect-header
{
    width: 200px;
    border-bottom: solid 1px #ffffff;
    margin-bottom: 0 !important;
    padding: 4px 7px 0 6px;
    text-align: center;
}

.ui-multiselect-checkboxes
{
    position: relative;
    min-width: 210px;
    padding: 2px;
    margin: 0; /* fixes bug in IE6/7 */
    overflow-y: auto;
    overflow-x: hidden;
}

#left-nav .ui-select, #left-nav .ui-multiselect
{
    min-width: 155px !important;
    overflow: hidden;
}

#trUserListDropDowns .ui-select, #trUserListDropDowns .ui-multiselect
{
    min-width: 156px !important;
    overflow: hidden;
}

#trUserListDropDowns .ui-select span, #trUserListDropDowns .ui-multiselect span
{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
}

.datepickerbutton
{
    vertical-align: top;
    margin-top: 3px;
}

.ui-datepicker-container .ui-datepicker-next span
{
    background: url(../../../images/icon-right.png) no-repeat top center;
}



.mGrid
{
    background-color: #fff;
    overflow: hidden;
}

.mGrid tr
{
    position: fixed;
    border-bottom-color: #C0C0C0;
}
.mGrid tr td
{
    padding: 5px;
    border-bottom: solid 1px #c1c1c1;
    color: #717171;
}

.mGrid tr th
{
    padding: 2px 5px;
    color: #000;
    border-top: solid 0px #cccccc;
    border-bottom: solid 0px #525252;
    font-size: 1.0em;
    background: #d0d0d0;
    background: -moz-linear-gradient(top,#d0d0d0 0%,#f8f8f8 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d0d0d0),color-stop(100%,#f8f8f8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#D0D0D0',GradientType=0);
}

.mGrid .alt
{
    background: #F8F8F8 url() repeat-x top;
}

.button span
{
    height: 23px !important;
    display: inline-block;
    vertical-align: top;
}

.button:hover
{
    color: #ffffff;
    background-position: 0px -20px;
    border-color: #0076ab;
    text-decoration: none;
}

.button
{
    background: url(../../../Images/button.png) 0px 0px no-repeat;
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #114861;
    border: solid 1px #bfddea;
    padding: 0 4px 10px 4px;
    height: 23px !important;
    margin-bottom: 5px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.buttonHL
{
    background: url(../../../Images/button.png) 0px 0px no-repeat;
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #114861;
    border: solid 1px #bfddea;
    padding-bottom: 10px;
    margin-bottom: 5px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    height: 10px;
    text-decoration: none;
}

/*  Classes for jQuery enabled popup panels - .hide()/.show()  */

.popup-panel
{
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 150px;
    border: inset 1px #444;
    background-color: #f0f1f1;
    font-size: 11px;
    right: 5px;
    top: 22px;
    text-align: left;
    font-weight: bold;
}

.popup-panel a
{
    display: block;
    margin: 3px;
    padding: 3px 5px;
    color: #1d5680;
    background-color: #f0f1f1;
    text-decoration: none;
}

.popup-panel a:hover
{
    text-decoration: none;
    color: #1d5680;
    background-color: #ccc;
}

/*  Classes for arrow hyperlink buttons that remain open/use hover effect without hover (ie7 compliant) */

.buttonHL-arrow-wrapper
{
    float: right;
    width: 77px;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0;
}

.buttonHL-arrow
{
    background: url(../../../Images/button.png) 0px 1px no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #114861;
    line-height: 12px;
    height: 12px;
    border: solid 1px #bfddea;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 4px 5px 5px 10px;
    margin: 0;
    width: 67px;
}

.buttonHL-arrow:hover
{
    color: #ffffff;
    background-position: 0px -19px;
    border-color: #0076ab;
    text-decoration: none;
}

.buttonHL-arrow:hover a
{
    color: #fff;
}

.buttonHL-arrow:hover > span
{
    background-position: 0px -24px;
}

.buttonHL-arrow span
{
    height: 10px;
    width: 15px;
    background-image: url(../../../images/icon-down.png);
    background-position: 0px -4px;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    margin: 0;
}

.buttonHL-arrow-hover
{
    background: url(../../../Images/button.png) 0px -19px no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    height: 12px;
    border: solid 1px #0076ab;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 4px 5px 5px 10px;
    color: #ffffff;
    margin: 0;
    width: 67px;
}

.buttonHL-arrow-hover a
{
    color: #fff;
}

.buttonHL-arrow-hover span
{
    height: 10px;
    width: 15px;
    background-image: url(../../../images/icon-down.png);
    background-position: 0px -44px;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    margin: 0;
}

.tabs ul li a span
{
    background: url(../../../Images/tabs.png) right -90px;
    line-height: 30px;
    height: 30px;
    padding-right: 10px;
    display: block;
    cursor: pointer;
}

.master_FormHeader_left
{
    width: 500px;
    float: left;
    margin-left: 0px;
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 28px;
}

.fp_questiontable_buttoncell
{
    width: auto;
    text-align: left;
    padding-top: 5px;
    padding-left: 90px;
}

.sq_table
{
    width: 600px;
    height: 100px;
    margin-bottom: 20px;
}

.sq_labelcol
{
    width: 110px;
}

.sq_dropdowncell
{
    padding-bottom: 10px;
    width: 450px;
}

.sq_labels
{
    text-align: right;
    font-size: 12px;
    line-height: 10px;
    font-weight: bold;
    color: #333333;
    padding-bottom: 10px;
    width: 110px;
}

.ui-widget-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    opacity: 0.7;
    filter: alpha(opacity=70);
    overflow: visible;
    z-index: 997;
}

.search-submit
{
    margin-top: 0;
    margin-right: 0;
}

.checkboxLabel
{
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    color: #333333;
    cursor: pointer;
    padding-left: 2px;
    margin: 0;
    width: 86%;
    display: inline-block !important;
}

.tabcontent
{
    height: 358px;
}

#patientSummaryBody
{
    min-height: 430px;
    height: 470px;
}

.optoutrdodatelabel
{
    padding-bottom: 6px;
}

.optoutrdodayslabel
{
    padding-bottom: 4px;
}

.div_appt_buttons
{
    float: right;
    width: 520px;
    height: 35px;
}

.div_appt_header
{
    float: left;
    width: 100px;
    padding-left: 5px;
}

.div_outr_header
{
    float: left;
    width: 100px;
    padding-left: 5px;
}

.div_outr_buttons
{
    float: right;
    width: 370px;
    height: 35px;
}

#drpDatedate
{
    width: 150px !important;
}


.appt_Facility_Col
{
    width: 100px;
    float: left;
    padding: 0;
    margin: 0;
}

.appt_FacilityHdr_Col
{
    width: 122px;
    float: left;
    padding: 0;
    margin: 0;
}

#patientListFrame
{
    overflow: hidden;
    width: 220px;
    border: 3px solid #f0f0f0;
    margin: 0;
    color: black;
    padding: 0;
    float: left;
    font-size: 7.5pt;
    height: 571px;
}
.divQuestions
{
    width: 662px;
    height: 448px;
    border-right: 3px solid #f0f0f0;
    border-top: 0;
    border-left: 0;
    border-bottom: 3px solid #f0f0f0;
    overflow: auto;
}

.sectionInput
{
    padding-right: 0;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: 0;
    padding-left: 13px;
}

.rlbTemplateCell
{
    vertical-align: top;
}

.rlbGroupCell
{
    height: 90% !important;
}

.RadListBoxScrollable
{
    z-index: 250 !important;
}

.checkboxAlignAddPageView
{
    margin-right: 370px !important;
    margin-left: 15px !important;
    margin-top: 0px !important;
    float: left !important;
}

/* header.ascx overrides */

#divAccount {
    min-width: 140px;
    max-width: 180px;   
}

#divSupportContainer {
    width: 50px;
    right: 10px;
}


 