.card {
  border-top: 1px solid $grey;
  cursor: pointer;
  padding: $grid-padding 0;
  position: relative;
  &:first-child {
    border-top: none;
  }
  &.icon {
    padding-left: 3 * $grid-padding;
    i:first-child {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;
    }
    i.icon-single-chevron-right {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
    }
  }
}
