.chosen-container {
  @include inline-block(middle);
  @include user-select(none);
  color: $grey-darker;
  font-size: $base-font-size;
  height: 20px;
  position: relative;
  margin-right: $grid-padding / 2;
  width: auto !important;
  display: block;
  &.full {
    margin-right: 0;
    width: 100% !important;
    .chosen-single {
      width: 100%;
    }
  }
  &.auto {
    margin-right: 0;
  }
  a {
    cursor: pointer;
  }
  .chosen-drop {
    @include box-shadow(0 4px 5px rgba(0, 0, 0, 0.15));
    @include stretch(100%, auto, auto, -9999px);
    background: white;
    border: 1px solid #aaaaaa;
    margin-top: -1px;
    width: 100%;
    /*min-width: 125%;
    max-width: 150%;*/
    padding: 0 $grid-padding;
    z-index: 1010;
    /*&.above-container {
        box-shadow: (0 -4px 5px rgba(0, 0, 0, 0.15));
        bottom: 100%;
        top: auto;
    }*/
  }
  &.chosen-with-drop .chosen-drop {
    left: 0;
  }
  // SCSS isn't support 0  -$grid-padding so lets fix it
  $opposite-grid-padding: -$grid-padding;
  .chosen-results {
    @include overflow-vertical;
    position: relative;
    margin: 0 $opposite-grid-padding;
    max-height: 200px;
    overflow-x: auto;
    overflow-y: auto;
    width: auto;
    li {
      @include nowrap;
      display: none;
      color: $grey-darker;
      height: 20px;
      list-style: none;
      //line-height: 20px; this causes a scroll issue
      padding: 0 $grid-padding;
      &.active-result {
        display: list-item;
        cursor: pointer;
      }
      &.disabled-result {
        display: list-item;
        color: $grey-dark;
        cursor: default;
      }
      &.highlighted {
        background-color: #e0f5ff;
        display: block;
      }
      &.no-results {
        display: list-item;
        background: #f4f4f4;
      }
      &.group-result {
        display: list-item;
        font-weight: bold;
        cursor: default;
      }
      &.group-option {
        padding-left: 15px;
      }
      em {
        font-style: normal;
        text-decoration: underline;
      }
    }
  }
}

.chosen-container-single {
  .chosen-default {
    color: #999999;
  }
  .chosen-single {
    @include inline-block(top);
    color: inherit;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 $grid-padding;
    position: relative;
    text-decoration: none;
    display: block;
    &:hover {
      border-color: $border-color;
      div b {
        opacity: 1;
      }
    }
    span {
      @include ellipsis;
      display: block;
      overflow: hidden;
      margin-right: 26px;
    }
    abbr {
      @include stretch(6px, 26px, auto, auto);
      @include size(12px 12px);
      display: block;
      font-size: 1px;      
    }
    div {
      @include stretch(0, $grid-padding / 4, auto, auto);
      @include size(20px 100%);
      display: block;
      b {
        @include size(100% 100%);
        background-image: url("../images/menu_arrow_blue.png");
        display: block;
        opacity: 0.5;
      }
    }
  }
  .chosen-single-with-deselect{
       span {
        margin-right: 38px;
       } 
       abbr {
           	background-image: url("../images/close_grey.png");	
	        background-repeat: no-repeat;	
	        background-size: 100%;
	        top: 5px;
	        right: 20px;
       }             
  }

  .chosen-search {
    @include nowrap;
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    input[type="text"] {
      @include border-radius(0);
      @include box-sizing("border-box");
      @include size(100% auto);
      margin: 0;
      padding: 4px 20px 4px 5px;
      outline: 0;
      border: 1px solid #aaaaaa;
      font-size: 1em;
      font-family: sans-serif;
      line-height: normal;
    }
  }
  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
  }
}
.invalid {
  > .chosen-container, > div > .chosen-container {      
    outline: none;
    border-color: #FF0000;
    box-shadow: 0 0 3px #FF0000;
  }
}

.chosen-container-multi {
  min-width: 120px;
  .chosen-choices {
    //+box-sizing("content-box")
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2 * $grid-padding !important;
    height: 1%;
    border: 1px solid #aaaaaa;
    cursor: text;
    li {
      float: left;
      list-style: none;
      &.search-field {
        @include nowrap;
        margin: 0;
        padding: 0;
      }
      &.search-field input[type="text"] {
        margin: 1px 0;
        padding: 0 2 * $grid-padding 0 $grid-padding / 2;
        outline: 0;
        border: 0 !important;
        background: transparent !important;
        box-shadow: none;
        color: #666666;
        font-size: 100%;
        font-family: sans-serif;
        border-radius: 0;
        &.default {
          color: #999999;
        }
      }
      &.search-choice {
        @include border-radius(3px);
        @include box-shadow(0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05));
        position: relative;
        margin: 3px 0 3px 5px;
        padding: 3px 20px 3px 5px;
        border: 1px solid #aaaaaa;
        color: #333333;
        line-height: 13px;
        cursor: default;
        .search-choice-close {
          @include size(12px 12px);
          @include stretch(4px, 3px, auto auto);
          display: block;
          font-size: 1px;
        }
      }
      &.search-choice-disabled {
        padding-right: 5px;
        border: 1px solid #cccccc;
        color: #666666;
      }
      &.search-choice-focus {
        background: #d4d4d4;
      }
    }
    &.invalid {
        outline: none;
        border-color: #FF0000;
        box-shadow: 0 0 3px #FF0000;
    }
  }
  .chosen-drop .result-selected {
    display: list-item;
    color: #cccccc;
    cursor: default;
  }
}

.chosen-container-active {
  .chosen-single {
    border: 1px solid #5897fb;
  }
  &.chosen-with-drop .chosen-single {
    border: 1px solid #aaaaaa;
    div {
      border-left: none;
      background: transparent;
    }
    li.search-field input[type="text"] {
      color: #cccccc !important;
    }
  }
}

.chosen-disabled {
  cursor: default;
  .chosen-single {
    cursor: default;
  }
  .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}

.chosen-rtl {
  text-align: right;
  .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
    span {
      margin-right: 0;
      margin-left: 26px;
      direction: rtl;
    }
    div {
      right: auto;
      left: 3px;
    }
    abbr {
      right: auto;
      left: 26px;
    }
  }
  .chosen-single-with-deselect span {
    margin-left: 38px;
  }

  .chosen-choices li {
    float: right;
    &.search-field input[type="text"] {
      direction: rtl;
    }
    &.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px;
      .search-choice-close {
        right: auto;
        left: 4px;
      }
    }
    &.chosen-container-single-nosearch .chosen-search,
    .chosen-rtl .chosen-drop {
      left: 9999px;
    }
    &.chosen-container-single .chosen-results {
      margin: 0 0 4px 4px;
      padding: 0 4px 0 0;
    }
    .chosen-results li.group-option {
      padding-right: 15px;
      padding-left: 0;
    }
    &.chosen-container-active.chosen-with-drop .chosen-single div {
      border-right: none;
    }
    .chosen-search input[type="text"] {
      padding: 4px 5px 4px 20px;
      direction: rtl;
    }
  }
}

//---------------
// THEMES
//---------------

.chosen-container {
  $background-active: #e6ebf0;
  $background-hover: white;
  $background-normal: $background-hover;
  $border-active: #afc3cd;
  $border-hover: $border-active;
  $border-normal: rgba($border-active, 0.3);
  .chosen-single {
    background: $background-normal;
    border: 1px solid $border-normal;
  }
  &.chosen-container-active .chosen-single {
    border-color: $border-color;
  }
  &.chosen-with-drop .chosen-single {
    background: $background-active;
    border-color: $border-color;
  }
}

.chosen-container.dark {
  $background-active: #416c81;
  $background-hover: #7191a1;
  $background-normal: $background-hover;
  $border-active: #0d4862;
  $border-hover: #0d4862;
  $border-normal: $background-normal;
  color: white;
  .chosen-single {
    background: $background-normal;
    border-color: $border-normal;
    div b {
      background-image: url("../images/menu_arrow_white.png");
    }
    &:hover {
      border-color: $border-color;
    }
  }
  &.chosen-container-active .chosen-single {
    border-color: $border-color;
  }
  &.chosen-with-drop .chosen-single {
    background: $background-active;
    border-color: $border-color;
  }
}

.chosen-container.chosen-disabled {
  $background-active: white;
  $background-hover: $background-active;
  $background-normal: $background-active;
  $border-active: $grey;
  $border-hover: $border-active;
  $border-normal: $border-active;
  color: darken($grey, 35%);
  .chosen-single {
    background: $background-normal;
    border-color: $border-normal !important;
    div b {
      background-image: url("../images/menu_arrow_grey.png");
      opacity: 0.5;
    }
    &:hover {
      border-color: $border-color;
    }
  }
  &.chosen-container-active .chosen-single {
    border-color: $border-color;
  }
  &.chosen-with-drop .chosen-single {
    background: $background-active;
    border-color: $border-color;
  }
}

.chosen-container-multi {
  $background-active: #e6ebf0;
  $background-hover: white;
  $background-normal: $background-hover;
  $border-active: #afc3cd;
  $border-hover: $border-active;
  $border-normal: rgba($border-active, 0.3);
  &.chosen-container-active {
    .chosen-choices {
      background: $background-active;
      border-color: $border-active;
      opacity: 1;
    }
  }
  .chosen-choices {
    @extend .chosen-single;
    background: $background-normal;
    border: 1px solid $border-normal;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    li.search-field {
      background-image: url("../images/menu_arrow_blue.png");
      background-position: right center;
      background-repeat: no-repeat;
      float: none;
      height: 20px;
      input {
        color: $grey-darker;
        cursor: pointer;
      }
    }
    .search-choice {
      display: none;
    }
  }
  .chosen-drop {
    .chosen-results {
      li {
        cursor: pointer;
        padding-left: $checkbox-width + $grid-padding;
        z-index: 10;
        &.select-all {
          font-weight: 700;
        }
        &:before {
          @include inline-block(middle);
          background-image: url($sprite);
          background-position: 0 $checkbox-voffset;
          background-repeat: no-repeat;
          content: "";
          height: 100%;
          margin-left: -$checkbox-width - $grid-padding / 2;
          width: $checkbox-width;
        }
        &:hover:before {
          background-position: -1 * $checkbox-width $checkbox-voffset;
        }
        &:active:before {
          background-position: -2 * $radio-width $radio-voffset;
        }
        &:hover:active:before {
          background-position: -2 * $checkbox-width $checkbox-voffset;
        }
        &.result-selected:before {
          background-position: -4 * $checkbox-width $checkbox-voffset;
        }
        &.result-selected:hover:before {
          background-position: -5 * $checkbox-width $checkbox-voffset;
        }
        &.result-selected:active:before {
          background-position: -6 * $checkbox-width $checkbox-voffset;
        }
        &.result-selected:hover:active:before {
          background-position: -6 * $checkbox-width $checkbox-voffset;
        }
        &.disabled-result:before {
          background-position: -3 * $checkbox-width $checkbox-voffset;
        }
      }
    }
  }
}
/*.force-down {
    &.above-container {
        bottom: auto !important;
        top: 100% !important;
    }
}*/
.input.error .chosen-container {
  .chosen-single {
    border-color: $red;
    background: lighten($red, 60%);
    color: $red;
    b {
      @extend .icon-triangle-down;
      background-image: none;
      font-size: 20px;
    }
  }
}