input.datepicker {
  @extend .icon-calendar;
  background:url('../images/calendar_grey_small.png') no-repeat right bottom;
  position: relative;
  min-width: 100px;
  &:before {
    color: $grey-dark;
    position: absolute;
    font-size: 2 * $grid-padding;
    right: 0;
    top: 50%;
    margin-top: -$grid-padding;
  }    
  &.fixed {
    width: 8em;
  }
  &.error {
    input[type="text"] {
      background: lighten($red, 60%);
      color: $red;
    }
    &:before {
      color: $red;
    }
  }
  input[type="text"] {
    padding-right: 2.5 * $grid-padding;
  }
}

#ui-datepicker-div {
  @include box-shadow(3px 3px 5px rgba(black, 0.3));
  background: white;
  .ui-datepicker-header {
    height: 3 * $grid-padding;
    padding: $grid-padding / 2;
    .ui-datepicker-prev {
      float: left;
    }
    .ui-datepicker-next {
      float: right;
    }
    .ui-datepicker-title {
      font-weight: bold;
      padding: 7px 0;
      text-align: center;
    }
    a {
      @include user-select(none);
      color: $blue-dark;
      cursor: pointer;
      padding: $grid-padding / 5 $grid-padding / 2;
      margin: $grid-padding / 2 0;
      text-decoration: none;
      &.ui-state-disabled {
        color: $grey-dark;
      }
      &:hover:not(.ui-state-disabled),
      &:active:not(.ui-state-disabled) {
        background: $blue-dark;
        color: white;
      }
    }
  }
  .ui-datepicker-calendar {
    padding: $grid-padding;
    tr {
      border-top: none;
    }
    th,td {
      @include height(2 * $grid-padding);
    }
    th {
      color: $grey-dark;
      text-align: center;
      text-decoration: none;
    }
    td {
      margin: 1px;
      padding: 2px 4px;
      text-align: center;
      &.ui-datepicker-unselectable {
        color: $grey-dark;
        span {
        @include user-select(none);
        @include transition(none);
        display: block;
        margin: -2px -4px;
        padding: 7px;
        }
      }
      a {
        @include user-select(none);
        @include transition(none);
        cursor: pointer;
        display: block;
        margin: -2px -4px;
        padding: 7px;
        &.ui-state-highlight {
          background: $blue-lighter;
        }
        &:hover {
          background: $blue-dark;
          color: white;
          text-decoration: none;
        }
        &.ui-state-active {
          background: $blue-darker;
          color: white;
        }
      }
    }
  }
}
