td.image-container {
    width:30px;
}

.module > .image-container {
    white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; vertical-align: middle; width:30px;
}

/* line 42, ../../../app/assets/stylesheets/partials/_toggles.sass */
/*.filter-toggle > .dirty { 
    background-color: #416c81; 
    opacity: 0.80; 
    filter: alpha(opacity=1); 
    -moz-opacity: 0.80;
}*/

/* line 42, ../../../app/assets/stylesheets/partials/_toggles.sass */
/*.filter-toggle strong { color: white; }

.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}*/
/* Animated rotating icon */

/* Prevent stack and spinners from being taken inline when inside a link */
/*a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}*/
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

#alerts {
    right: 20px;
    margin-right: 0px;
    
    .alert {
        float: right;
    }
}

.tt-dropdown-menu {
    background: white;
    top: 100%;
    padding: 10px;
    position: absolute;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    p {
        margin-bottom: .5em;
    }
    .tt-cursor {
        cursor: pointer;
        outline:none;
        border-color: black;
        box-shadow:0 0 3px black;
    }
    .tt-cursor p {	
	    white-space: normal !important;
        overflow: visible !important;
        -ms-text-overflow: none !important; 
        -o-text-overflow: none !important;
        text-overflow: none !important;
    }
}
/*.tt-large .twitter-typeahead {
    width: 275px;
}*/
.twitter-typeahead {
      width: 100%;
}
.tt-suggestion {
    p {
	    white-space: nowrap !important; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis;
    }
}

textarea.display-only {
	border-style: none; 
	border-color: Transparent; 
	overflow: auto;
	opacity: 1 !important;
}

input.invalid, textarea.invalid, span.twitter-typeahead.invalid {
    outline:none;
    border-color:#FF0000;
    box-shadow:0 0 3px #FF0000;
}

.loading-messages {
    width: 200px;
    padding-right: 20px;

    .dropdown-content {
        width: 200px;
        li {
            width: 180px;
        }
    }
}

.no-scroll {
	overflow: hidden !important;
}
/*
.is-editing {
	background-color: whitesmoke;
}*/
/*textarea.strong { font-weight: 700; color: #7191a1; }*/

div.active.strong > div.columns > div.column a { font-weight: 700; }

a.disabled {
 opacity: .5;
 cursor: default;
}

/* Hide the date picker on load */
#ui-datepicker-div {display: none;}

#modal  {
    nav.tabs { float: left; padding-right: 0px; font-size: 14px; }
    nav.tabs li { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; -webkit-transition: opacity 500ms; -moz-transition: opacity 500ms; -o-transition: opacity 500ms; transition: opacity 500ms; border-bottom: 5px solid transparent; border-top: 5px solid transparent; color: #0d4862; cursor: pointer; line-height: 38px;  opacity: 0.5; }
    nav.tabs li.active { border-bottom-color: #0d4862; opacity: 1; }
    nav.tabs li:not(.active):hover { opacity: 1; }
    nav.tabs a { text-decoration: none !important; vertical-align: middle; padding-left: 0px;}
    nav.tabs img { vertical-align: middle; }
    .body { min-height: 300px; overflow: auto; }
    .list-items > li { border-bottom: 1px solid gainsboro; padding: 5px 0; }
}

.filter-toggle > td.image-container > img {
    white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; vertical-align: middle; 
}