.popover {
  .popover-content {
    display: none;
  }
}

#popover {
  position: absolute;
  .popover-content {
    @extend .pad;
    @include box-shadow(rgba(black, 0.25) 0 0 30px);
    background: white;
    margin: $grid-padding;
    max-width: 300px;
    min-width: 200px;
    position: absolute;
    &:before {
      content: "";
      position: absolute;
    }
    &.popover-right {
      margin-left: 30px;
      &:before {
        @include triangle(left, 10, white);
        top: 50%;
        margin-top: -10px;
        right: 100%;
      }
    }
    &.popover-left {
      margin-right: 30px;
      &:after {
        @include triangle(right, 10, white);
        top: 50%;
        margin-top: -10px;
        left: 100%;
      }
    }
    &.popover-bottom {
      margin-top: 30px;
      &:before {
        @include triangle(top, 10, white);
        left: 50%;
        margin-left: -10px;
        bottom: 100%;
      }
    }
    &.popover-top {
      margin-bottom: 30px;
      &:after {
        @include triangle(bottom, 10, white);
        left: 50%;
        margin-left: -10;
        top: 100%;
      }
    }
  }
}
