@import "fontcustom";

body {
  color: $grey-darker;
  font-family: "Helvetica Neue W02", Helvetica, Arial, sans-serif;
  //font-family: Helvetica, Arial, sans-serif
  font-size: $base-font-size;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  //(REMARKED: this does not compile:) filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
}

h1 {
  @include adjust-font-size-to(20px);
  @include adjust-leading-to(1);
  color: $blue-darker;
  font-weight: 100;
  letter-spacing: 0.5px;
}

h2 {
  @include adjust-font-size-to(18px);
  @include adjust-leading-to(1);
  color: $blue-darker;
  font-weight: 900;
}

h3 {
  @include adjust-font-size-to(14px);
  @include adjust-leading-to(1);
  color: $blue-darker;
  font-weight: 700;
}

h4 {
  @include adjust-font-size-to(14px);
  @include adjust-leading-to(1);
  color: $blue-darker;
  font-weight: 400;
}

.large {
  @include adjust-font-size-to(14px);
  @include adjust-leading-to(1);
}

em, .italic {
  font-style: italic;
}

strong, .bold {
  color: $gray-strong;
  font-weight: 700;
}

small {
  font-size: 0.85em;
  line-height: inherit;
}

p {
  @include trailer(1);
}

a {
  @include transition(color 500ms);
  color: $blue-darker;
  text-decoration: none;
  &, &:hover, &:active, &:focus {
    outline: none;
  }
  &:hover, &:focus {
    text-decoration: underline;
  }
  &.fill {
    @include stretch(0px, 0px, 0px, 0px);
  }
}

.hoverable {
  .hover-toggle {
    display: none;
    &.active {
      display: inherit;
    }
  }
  &:hover .hover-toggle {
    display: inherit;
  }
}

header[role=banner],
header[role=navigation] {
  a:hover {
    text-decoration: none;
  }
}

.line {
  @include height(3 * $grid-padding);
  &.short {
    @include height(2 * $grid-padding);
  }
  .line-reset {
    line-height: $base-line-height;
    padding: {
      top: 7px;
      bottom: 7px;
    }
  }
}

.ellipsis {
  @include ellipsis;
}

.nowrap {
  white-space: nowrap;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.grey {
  color: $grey-dark;
}

.grey-darker {
  color: $grey-darker;
}

.blue {
  color: $blue;
}

.blue-dark {
  color: $blue-dark;
}

.blue-darker {
  color: $blue-darker;
}

.empty-message {
  @extend em;
  @extend .pad-vertical;
  display: none;
  &:only-child {
    display: block;
  }
}
