<div class="body" data-bind="with: allergy">
    <div class="row">
        <div class="span2 align-right grey">
            Name:
        </div>
        <div class="span3 pad-left" data-bind="text: allergyName">
        </div>
        <div class="span2 align-right grey">
            Status:
        </div>
        <div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.allergyStatuses, value: status, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Reaction:
        </div>
        <div class="span3 pad-left">
            <div class="span9" data-bind="multiselect: { options: $parent.reactions, values: reactionIds, idValue: 'id', text: 'name', label: 'reactions', stringValue: reactionString }"></div>
        </div>
        <div class="span2 align-right grey">
            Severity:
        </div>
        <div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.severities, value: severity, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
        </div>
    </div>
    <div class="row pad-top" data-bind="if: source">
        <div class="span2 align-right grey">
            Source:
        </div>
        <div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.allergySources, value: source, text: 'name', label: 'action-status', caption: 'Choose...' }"></div>
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Start Date:
        </div>
        <div class="span3 pad-left">
			<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
				{
					observableDateTime: startDate, dateErrors: startDateErrors, showInvalid: setInvalidStartDate,
					maxDate: 'today', datepickerOptions:{ maxDate: '+0' }, datepickerDynamicOptions: {}, dateName: 'startDate'
				}
			} -->
			<!-- /ko -->
        </div>
        <div class="span2 align-right grey">
            End Date:
        </div>
        <div class="span3 pad-left">
				<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
					{
						observableDateTime: endDate, dateErrors: endDateErrors, showInvalid: setInvalidEndDate,
						maxDate: 'today', datepickerOptions:{maxDate: '+0'}, datepickerDynamicOptions: {minDate: startDate}, dateName: 'endDate'
					}
				} -->
				<!-- /ko -->
        </div>
    </div>
    <div class="row pad-top"></div>
    <div class="row">
        <div class="span3 grey">
            Notes:
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <textarea data-bind="value: notes"></textarea>
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Created On:
        </div>
        <div class="span2 pad-left grey" data-bind="DateOrDash: createdOn">
        </div>
        <div class="span2 align-right grey">
            Updated On:
        </div>
        <div class="span2 pad-left grey" data-bind="DateOrDash: updatedOn">
        </div>
        <div class="span2 align-right grey">
            System:
        </div>
        <div class="span2 pad-left grey" data-bind="text: systemName">
        </div>
    </div>
</div>