<div class="row">
	<nav class="tabs span12">
		<ul>
			<!-- ko foreach: $parent.tabs -->					
				<li data-bind="css: { 'active': $parent.activeTab() === name }, click: function(){ $parents[1].setActiveTab($parent, name) }, clickBubble: false, visible: isShowing">
					<!-- ko if: imgAlt -->
						<img data-bind="attr:{ alt: imgAlt, src: imgSource }" />
					<!-- /ko -->
					<!-- ko if: cssClass -->
						<i data-bind="attr:{ class: cssClass }"></i>
					<!-- /ko -->	
					<a role="menuitem" data-bind="text: name, style: {color: hasErrors() ? 'red' : 'black'}"></a>						
				</li>
			<!-- /ko -->				
		</ul>
	</nav>
</div>