<div class="body" data-bind="with: goal">
    <div class="column">
        <section class="accordion">
            <div class="row accordion-toggle">
            </div>
            <div class="accordion-content">
                <div class="row pad-top">
                    <div class="span3 align-right">
                        <span class="grey">Description</span>
                    </div>
                    <div class="span9">
                        <input data-bind="value: name, valueUpdate: 'afterkeydown'" class="string optional" maxlength="255" type="text" />
                        <span><em class="grey" data-bind="visible: !name()">Description is required</em></span>
                    </div>
                </div>
                <div class="row pad-top">
                    <div class="span3 align-right">
                        <span class="grey">Focus Area(s)</span>
                    </div>
                    <div class="span6" data-bind="multiselect: { options: $parent.focusAreas, values: focusAreaIds, idValue: 'id', text: 'name', label: 'focusAreas', stringValue: focusAreaString }"></div>
                </div>
                <div class="row pad-top">
                    <div class="span3 align-right">
                        <span class="grey">Program(s)</span>
                    </div>
                    <div class="span6" data-bind="multiselect: { options: $parent.availablePrograms, values: programIds, idValue: 'id', text: 'name', label: 'programs', stringValue: programString }"></div>
                </div>
                <div class="row pad-vertical">
                    <div class="span3 align-right">
                        <span class="grey">Source</span>
                    </div>
                    <div class="span3" data-bind="if: $parent.sources">
                        <div data-bind="chsnsingle: { options: $parent.sources, value: source, text: 'name', label: 'sources' }"></div>
                        <span>
                            <em class="grey" data-bind="visible: !source()">Goal source is required</em>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="accordion">
            <div class="row accordion-toggle">
                <h4>Attributes</h4>
            </div>
            <div class="accordion-content">
                <div class="column">
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Type</span>
                        </div>
                        <div class="span3">
                            <div data-bind="chsnsingle: { options: $parent.goalTypes, value: type, text: 'name', label: 'goaltypes' }"></div>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Status</span>
                        </div>
                        <div class="span3">
                            <div data-bind="chsnsingle: { options: $parent.goalTaskStatuses, value: status, text: 'name', label: 'goaltypes', disabled: isNew() }"></div>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Start Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: startDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Target Value</span>
                        </div>
                        <div class="span9">
                            <input data-bind="value: targetValue" maxlength="255" />
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Target Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: targetDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">End Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: endDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <!-- ko foreach: customAttributes().sort($parent.alphabeticalOrderSort) -->
                    <!-- ko compose: path -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>			
			<div class="row pad-top">
				<div class="row pad-top filter-toggle" data-bind="click: $parent.toggleOpen, visible: details">
					<h5 class="grey pad-bottom">Existing Details</h5>
					<span data-bind="visible: (!($parent.existingDetailsOpen())), text: '...'"></span>				
				</div>
				<pre data-bind="text: details, visible: $parent.existingDetailsOpen" ></pre>
				<div class="row pad-top divider">
					<h5 class="grey pad-bottom">New Details</h5>
					<textarea data-bind="value: newDetails, valueUpdate: 'afterkeydown'" class="string optional" maxlength="5000" type="text" style="height: 10em; resize: both;"></textarea>
				</div>				
			</div>
        </section>
    </div>
</div>