<div class="body" data-bind="with: module">
	<div class="column">
		<div class="row pad-top">
			<div class="span3 align-left">
				<span>Assigned Date:
				</span>
			</div>
      <div class="span9" data-bind="DateOrNothing: assignDate"></div>
			</div>
		</div>
		<div class="row pad-top">
			<div class="span3 align-left">
				<span>Assigned By:
				</span>
			</div>
      <div class="span9" data-bind="with: assignBy"><span data-bind="text: preferredName"></span></div>
		</div>
		<div class="row pad-top">
			<div class="span3 align-left">
				<span>Assigned To:
				</span>
			</div>
			<div class="span5">
				<input class="span12" type="text" data-bind="typeahead: { name: 'assignedToIdTypeAhead', taOptions: $parent.careManagersBloodhound, displayKey: 'preferredName'}, value: $parent.assignToDisplay, initOptions: { minLength: 3 }" placeholder="Enter name" />
        <!-- <select data-bind="options: $parent.careManagers, value: assignToId, optionsText: 'preferredName', optionsValue: 'id'"></div> -->
				</select>
			</div>
			<div class="span4">
				<button class="button small warning" data-bind="enable: assignToId(), click: $parent.removeAssignment">Remove Assignment</button>
			</div>
		</div>

		<!-- <div class="row pad-top divider">
			<div class="span3 align-left">
				<span>Action Status:
				</span>
			</div>
			<div class="span9">
				<select style="display: none;">
					<option>In Progress	</option>
					<option>Not Started</option>
					<option>Closed</option>
					<option>Removed </option>
				</select>
			</div>
			<div class="row pad-top">
				<div class="span3 align-left">
					<span>Reason:
					</span>
				</div>
				<div class="span9">
					<textarea>
					</textarea>
				</div>
			</div>
		</div>
		<div class="row pad-top">
			<div class="span3 align-left">
				<span>Start Date:
				</span>
			</div>
			<div class="span3">
				<input class="datepicker" type="text" value="03/15/2014">
			</div>
		</div>
		<div class="row pad-top">
			<div class="span3 align-left">
				<span>End Date:
				</span>
			</div>
			<div class="span3">
				<input class="datepicker" type="text" id="dp1401893998028">
			</div>
		</div> -->
	</div>
</div>