<div data-bind="with: note">
	<div class="column">
		<section class="accordion">
			<div class="row accordion-toggle"></div>
				<div class="accordion-content">
					<div class="row pad-top filter-toggle" data-bind="click: $parent.toggleOpen">
						<h5 class="grey">Existing Content</h5>
						<span data-bind="visible: (!($parent.existingContentOpen())), text: '...'"></span>						
					</div>
					<pre data-bind="text: text, visible: $parent.existingContentOpen" class="pad-top"></pre>
					<div class="row pad-top divider">
						<h5 class="grey pad-bottom">New Content</h5>
						<textarea data-bind="value: newContent, valueUpdate: 'afterkeydown'" class="string optional" maxlength="5000" type="text" style="height: 150px; resize: both;"></textarea>
					</div>
					<div class="row pad-top">
					<div class="span3">
						<h5 class="grey pad-bottom">Method</h5>
						<div class="icon-list">
							<div data-bind="chsnsingle: { options: $parent.methods, value: method, text: 'name', label: 'methods' }"></div>
						</div>
					</div>
					<div class="span3">
						<h5 class="grey pad-bottom">Who</h5>
						<div class="icon-list">
							<div data-bind="chsnsingle: { options: $parent.whos, value: who, text: 'name', label: 'whose' }"></div>
						</div>
					</div>
					<div class="span3">
						<h5 class="grey pad-bottom">Source</h5>
						<div class="icon-list">
							<div data-bind="chsnsingle: { options: $parent.sources, value: source, text: 'name', label: 'sources' }"></div>
						</div>
					</div>
					<div class="span3">
						<h5 class="grey pad-bottom">Outcome</h5>
						<div class="icon-list">
							<div data-bind="chsnsingle: { options: $parent.outcomes, value: outcome, text: 'name', label: 'outcomes' }"></div>
						</div>
					</div>
				</div>
				<div class="row pad-top">
					<div class="span6">
						<h5 class="grey pad-bottom">Date/Time of Contact</h5>
						<div class="row">
							<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
								{
									observableDateTime: contactedOn, dateErrors: contactedOnErrors, dateName: 'startDate', timeName: 'startTime',
									datepickerOptions:{ }, datepickerDynamicOptions: {}, showTime: true, dateCss: 'span6', timeCss: 'span6'
								}
							} -->
							<!-- /ko -->
						</div>
					</div>
					<div class="span3">
						<h5 class="grey pad-bottom">Duration</h5>
						<div class="span6"> 
							<input type="text" data-bind="value: duration, valueUpdate: 'afterkeydown', numeric: duration, 
								attr:{maxlength: 4, max: 1440, min: 1, title:'Duration: enter a number of minutes from 1 to 1440'},
								css: { 'invalid': (validationErrorsArray().indexOf('duration') !== -1)}"></input>						
						</div>
						<span class="grey align-left"> minutes</span>
					</div>
				</div>

				<div class="row pad-top">
					<div class="span6">
						<h5 class="grey pad-bottom">Validated identity</h5>
						<!-- <label class="control-group"> -->
							<div class="checker" data-bind="hoverToggle: 'hover'">
								<span data-bind="css: { 'checked': validatedIdentity() === true }">
									<input type="checkbox" data-bind="checked: validatedIdentity" />
								</span>
							</div>
						<!-- </label> -->
					</div>
					<div class="span6">
						<h5 class="grey pad-bottom">Program(s)</h5>
						<div class="icon-list span10" data-bind="multiselect: { options: $parent.availablePrograms, values: programIds, idValue: 'id', text: 'nameByElementState', label: 'programs', stringValue: programString }"></div>
					</div>
				</div>
				<div class="row pad-top">
					<span class="grey">Created On: 	</span>
					<span class="pad-left" data-bind="DateTime: createdOn"></span> by <span data-bind="text: createdBy().preferredName"></span>
				</div>
				<div class="row pad-top" data-bind="if: updatedOn">
					<span class="grey">Updated On:  </span>
					<span class="pad-left" data-bind="DateTime: updatedOn"></span> by <span data-bind="text: updatedBy().preferredName"></span>
				</div>
				<div class="row pad-top" data-bind="if: dataSource">
					<span class="grey" >System:</span>
					<span class="pad-left" data-bind="text: dataSource"></span>
				</div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</section>
	</div>
</div>