<div class="pad-bottom" data-bind="with: observation">
	<div class="row pad">
		<div class="span2">
			<span data-bind="text: name, attr: { title: name }"></span>
		</div>
		<div class="span2" data-bind="with: $parent.systolicObservationValue">
			<input type="text" placeholder="Systolic" title="Systolic" data-bind="value: value, valueUpdate: 'afterkeydown', css: { 'invalid': ($parent.validationErrorsArray().indexOf('systolic') !== -1) }">       
		</div>
		<div class="span1">
			<span data-bind="with: units">(<span data-bind="text: $data, attr: { title: $data }"></span>)</span>
		</div>
		<div class="span2">        
			<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
				{
					observableDateTime: startDate, dateErrors: startDateErrors, showInvalid: setInvalidStartDate, 
					maxDate: 'today', datepickerOptions:{ maxDate: '+0' }, datepickerDynamicOptions: {}, dateName: 'startDate'
				}
			} -->
			<!-- /ko -->
		</div>
		<div class="span4">
			<label>
				<span data-bind="text: $parent.customBPString, attr: { title: $parent.customBPString }"></span>
			</label>
		</div>
		<div class="span1 pull-left">
			<a href="#" data-bind="click: $parent.addNew, enable: $parent.canAdd, css: { 'disabled': !$parent.canAdd() }">
				<i class="icon-plus"></i>
			</a>
		</div>
	</div>
	<div class="row pad">
		<div class="span2">
			&nbsp;
		</div>
		<div class="span2" data-bind="with: $parent.diastolicObservationValue">
			<input type="text" placeholder="Diastolic" title="Diastolic" data-bind="value: value, valueUpdate: 'afterkeydown', css: { 'invalid': ($parent.validationErrorsArray().indexOf('diastolic') !== -1) }">
		</div>
		<div class="span1">
			<span data-bind="with: units">(<span data-bind="text: $data, attr: { title: $data }"></span>)</span>
		</div>
	</div>
</div>	