<div class="body">
    <div class="row" data-bind="visible: isDuplicate">
        <span class="errorheader" style="margin-top: 10px; border: 1px solid; background: #fbcbc7; color: #871409; display: block; font-size: 11px; padding: 5px;">
            <a href="#">
                <i class="icon-warning red"></i>
            </a>An individual with the same first name, last name and date of birth already exists. Do you want to continue and create this individual? <button class="btn small color" data-bind="click: forceSave">Proceed and Create</button></span>
    </div>
    <div class="row">
        <h2 class="span12" data-bind="text: fullName"></h2>
    </div>
	<!-- ko compose: "templates/validation.errors.html" -->
	<!-- /ko -->    
    <div class="row">
        <label class="span6">
            <span>First Name</span>
            <input type="text" data-bind="value: firstName, valueUpdate: 'afterkeydown', css: { invalid: (validationErrorsArray().indexOf('firstName') !== -1) }" placeholder="first name" />
        </label>
        <label class="span6">
            <span>Middle Name</span>
            <input type="text" data-bind="value: middleName, valueUpdate: 'afterkeydown'" placeholder="middle name" />
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>Last Name</span>
            <input type="text" data-bind="value: lastName, valueUpdate: 'afterkeydown', css: { invalid: (validationErrorsArray().indexOf('lastName') !== -1) }" placeholder="last name" />
        </label>
        <label class="span6">
            <span>Suffix</span>
            <input type="text" data-bind="value: suffix, valueUpdate: 'afterkeydown'" placeholder="suffix" />
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>Preferred Name</span>
            <input type="text" data-bind="value: preferredName, valueUpdate: 'afterkeydown'" placeholder="preferred name" />
        </label>
        <label class="span6">
            <span>DOB</span>
            <input type="text" data-bind="value: dOB, date: dOB, valueUpdate: 'afterkeydown', css: { invalid: (validationErrorsArray().indexOf('dOB') !== -1) }" />
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>Override SSN - <span data-bind="with: formattedSSN">(<span data-bind="text: $data"></span>)</span>:</span>
            <input type="text" data-bind="ssn: fullSSN, value: fullSSN, valueUpdate: 'afterkeydown', css: { invalid: (validationErrorsArray().indexOf('fullSSN') !== -1) }" />
        </label>
        <label class="span6">
        	<div class="row">
            <span class="span5 line">Protected</span>
            <div style="padding-top: 2%;" class="span4" data-bind="chsnsingle: { options:  $root.protectedStatuses, value: protected, text: 'Name', idValue: 'Id' }"></div>
          </div>
        </label>
    </div>
    <div class="row">
        <label class="span6" data-bind="with: genderModel">
            <div class="row">
                <span class="span3 line">Gender</span>
                <div class="span2 line align-right">
                    <img alt="Patient small" class="" data-bind="attr: { src: SmallImgSrc }" />
                </div>
                <div style="padding-top: 2%;" class="span4" data-bind="chsnsingle: { options:  $root.genders, value: $parent.gender, text: 'Description', idValue: 'Gender' }"></div>
            </div>
        </label>
        <label class="span6" data-bind="with: priorityModel">
            <div class="row">
                <span class="span3 line">Priority</span>
                <div class="span2 line align-right">
                    <img style="vertical-align: middle;" data-bind="attr: { src: imageSource }">
                </div>
                <div style="padding-top: 2%;" class="span4" data-bind="chsnsingle: { options:  $root.priorities, value:  $parent.priority, text: 'levelName', idValue: 'id' }"></div>
            </div>
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <div class="row">
                <span class="span5 line">Marital Status</span>
									<div style="padding-top: 2%;" class="span7" data-bind="chsnsingle: { options: $root.maritalStatuses, value: maritalStatusId, text: 'name', idValue: 'id', isCancel: true, caption: 'None Selected' }">
									</div>
            </div>
        </label>
        <label class="span6">
            <div class="row">
                <span class="span5 line">Deceased</span>
                <div style="padding-top: 2%;" class="span4" data-bind="chsnsingle: { options:  $root.deceasedStatuses, value:  deceasedId, text: 'name', idValue: 'id', isCancel: true, caption: 'None Selected' }">
                </div>
            </div>
        </label>
    </div>
	<div class="line"></div><div class="line"></div>
</div>