<div class="panel-wrapper">
    <div class="row">
        <!-- ko foreach: columns -->
        <div class="grey hover-parent" data-bind="css: cssClass">
            <span data-bind="text: displayName"></span>
            <!-- ko if: $parent.canSort -->
                <i class="pull-right filter-toggle pad-right " data-bind="click: $parent.toggleSort, css: ($parent.selectedSortColumn() === sortProperty ? 'fa fa-caret-up' : ($parent.selectedSortColumn() === sortProperty + ' desc' ? 'fa fa-caret-down' : ''))"></i>
            <!-- /ko -->
            <!-- ko if: ($parent.canSort && ($parent.selectedSortColumn() !== sortProperty && $parent.selectedSortColumn() !== sortProperty + ' desc'))  -->
                <i class="pull-right hover-show fa fa-caret-up filter-toggle pad-right" data-bind="click: $parent.toggleSort"></i>
            <!-- /ko -->
        </div>
        <!-- /ko  -->
    </div>
    <div data-bind="foreach: computedTasks">
        <div class="row divider" data-bind="foreach: $parent.columns">
            <div class="ellipsis" data-bind="compose: { model: $parent, view: path }, css: cssClass">
            </div>
        </div>
    </div>
    <div class="row" data-bind="visible: computedTasks().length === 0">
        <em>No data meets your filter criteria</em>
    </div>
</div>