<div class="intervention row rule" data-bind="with: intervention">
    <div class="details span12">
        <div class="status line">
            <div class="pull-left" data-bind="with: status">
                <i data-bind="css: iconClass"></i>
            </div>
            <div class="name pad-icon-left accordion-toggle" data-bind="click: $parent.editIntervention">
                <div class="line-reset" data-bind="with: status">
                    <span data-bind="text: $parent.description, css: textClass">
                    </span>
                </div>
            </div>
        </div>
        <!-- ko if: $parent.isExpanded -->
        <div class="accordion-content muted pad pad-icon-left">
            <div class="row pad-bottom">
                <div class="span6 grey">
                    Start Date
                </div>
                <div class="span6" data-bind="DateOrDash: startDate">
                </div>
            </div>
            <div class="row pad-bottom">
                <div class="span6 grey">
                    Category
                </div>
                <div class="span6">
                    <span data-bind="with: category">
                        <span data-bind="text: name"></span>
                    </span>                    
                    <span data-bind="if: !category()">-</span>
                </div>
            </div>
            <div class="row pad-bottom">
                <div class="span6 grey">
                    Assigned To
                </div>
                <div class="span6">
                    <span data-bind="with: assignedTo">
                        <span data-bind="text: preferredName"></span>
                    </span>                    
                    <span data-bind="if: !assignedTo()">-</span>
                </div>
            </div>
            <div class="row">
                <div class="pull-left">
                    <a class="edit_intervention icon-outset" href="#" data-bind="click: $parent.editIntervention"><i class="icon-edit"></i>Edit</a>
                </div>
                <div class="pull-right">
                    <a class="delete_intervention" href="#" data-bind="click: $parent.deleteIntervention"><i class="icon-cancel"></i>Delete</a>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>