<div data-bind="foreach: computedPrograms">
    <section class="accordion" data-bind="css: { 'open': isOpen() }">
        <div class="row accordion-toggle" data-bind="click: $parent.toggleOpen">			
			<h2 class="span12 ellipsis">
				<div data-bind="if: (elementState() == 5 || elementState() == 6)" class="pull-left">  
					<i data-bind="css: { 'icon-check': elementState() == 5, 'icon-warning': elementState() == 6 }" ></i>
				</div>
                <a href="#" data-bind="text: displayName, clickBubble: false" >
				</a>								
                <a data-bind="click: $parent.setActiveProgram, clickBubble: false, css: { 'active': $parent.activeProgram() === $data }, arrowMover: ''" class="icon filter-toggle pull-right" href="#" title="Program Details">
                    <i class="icon-info"></i>
                </a>
            </h2>
        </div>
        <div class="accordion-content" data-bind="visible: isOpen">
            <table class="goal-action">
                <tbody>
                    <tr>
                        <th class="filters">
                            <i class="pointer toggle" data-bind="css: allModulesOpen() ? 'icon-single-chevron-up' : 'icon-angle-double-down', click: $parent.toggleAllExpanded"></i>
                            Modules
                        </th>
                        <th>
                          <span class="span9">Action</span>
                          <span class="span1"><i class="icon-priority-empty large grey-darker" stye="font-size: 24px;"></i></span>
                          <span class="span1"><i class="fa fa-spinner lightestblue" style="font-size: 17px; width: 25px;"></i></span>
                          <span class="span1"><i class="icon-check green" stye="font-size: 20px;"></i></span>
                        </th>
                    </tr>
                    <!-- ko foreach: modules -->
                    <tr data-bind="visible: enabled() === true">
                        <td class="filter-toggle module" data-bind="clickToggle: isOpen, clickBubble: false, css: { 'active': $parents[1].activeModule() === $data }, arrowMover: ''">
                            <span class="image-container span1">
                                <!-- ko if: completed() === true -->
                                <i class="icon-check green"></i>
                                <!-- /ko -->
                            </span>
                            <span data-bind="with: name" class="span9">
                                <!-- ko if: $parent.completed() === true -->
                                <em class="grey" data-bind="text: $data, attr: { 'title': $data }"></em><em> - <span data-bind="Date: $parent.dateCompleted"></span></em>
                                <!-- /ko -->
                                <!-- ko if: $parent.completed() === false -->
                                <span data-bind="text: $data, attr: { 'title': $data }"></span>
                                <!-- /ko -->
                            </span>
                            <span class="details pull-right" data-bind="click: $parents[1].setActiveModule, clickBubble: false">
                                <i class="icon-info"></i>
                            </span>
                        </td>
                        <td class="flush">
                            <!-- ko if: isOpen -->
                            <table class="nowrap">
                                <tbody data-bind="foreach: actions().sort($root.alphabeticalOrderSort)">
                                    <tr class="filter-toggle" data-bind="css: { 'active': $data === $parents[2].activeAction(), 'dirty': hasChanges() }, visible: !archived() && enabled()">
                                        <td class="image-container" data-bind="click: $parents[2].setActiveAction, arrowMover: ''">
                                            <!-- ko if: hasChanges() -->
                                            <i data-bind="attr: { class: (isSaving() ? 'fa-spin' : '') + ' fa fa-spinner lightestblue' }" />
                                            <!-- /ko -->
                                            <!-- ko if: (!hasChanges() && completed() === true)  -->
                                            <i class="icon-check green"></i>
                                            <!-- /ko -->
                                        </td>
                                        <td class="ellipsis" data-bind="click: $parents[2].setActiveAction, with: name, arrowMover: ''">
                                            <!-- ko if: $parent.enabled() === false || $parent.completed() === true && !$parent.isSaving() || $parent.completed() === true && !$parent.hasChanges() && $parent.isSaving() -->
                                                <em class="grey" data-bind="text: $data, attr: { 'title': $data }"></em>
                                                <!-- ko if: $parent.completed() === true -->
                                                <em><span data-bind="text: '(' + $parent.history().length + ')', visible: $parent.history().length > 0"></span> - <span data-bind="Date: $parent.dateCompleted, attr: { 'title': $parent.dateCompleted }"></span></em>
                                                <!-- /ko -->
                                            <!-- /ko -->
                                            <!-- ko if: $parent.enabled() === true && $parent.completed() === false && !$parent.hasChanges() -->
                                                <span data-bind="text: $data, attr: { 'title': $data }"></span> <span data-bind="text: '(' + $parent.history().length + ')', visible: $parent.history().length > 0"></span>
                                            <!-- /ko -->
                                            <!-- ko if: $parent.hasChanges() -->
                                                <strong class="inprogress" ><span data-bind="text: $data, attr: { 'title': $data }"></span> <span data-bind="text: '(' + $parent.history().length + ')', visible: $parent.history().length > 0"></span></strong>
                                            <!-- /ko -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /ko -->
                            <!-- ko if: !isOpen() -->
                            <div class="span12 filter-toggle pad-left" data-bind="clickToggle: isOpen">
                                <div class="row">
                                  <span class="span9 transparent">-</span>
                                  <span class="span1" data-bind="text: notStartedActionsCount, css: { 'transparent': notStartedActionsCount() === '-' }"></span>
                                  <span class="span1" data-bind="text: openActionsCount, css: { 'transparent': openActionsCount() === '-' }"></span>
                                  <span class="span1 grey" data-bind="text: completeActionsCount, css: { 'transparent': completeActionsCount() === '-' }"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </section>
</div>
<div data-bind="visible: computedPrograms().length === 0">
    <section class="accordion open">
        <div class="row accordion-toggle">
            <h2>
                <a></a>
            </h2>
        </div>
        <div class="accordion-content">
            <table class="goal-action">
                <tbody>
                    <tr>
                        <td>
                            <em class="grey">No programs match the criteria.</em>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>