/* RadColorPicker Default skin */
.RadColorPicker_Atmosphere .rcpViews,
.RadColorPicker_Atmosphere .rcpHeader,
.RadColorPicker_Atmosphere .rcpPageView
{
	background-color: #f5f5f5;
}

.RadColorPicker_Atmosphere .rcpColorPreview,
.RadColorPicker_Atmosphere .rcpInput,
.RadColorPicker_Atmosphere .rcpHexInput,
.RadColorPicker_Atmosphere .rcpMillionColorsPalette,
.RadColorPicker_Atmosphere .rcpMillionColorsSlider div.rslTrack
{
	border:1px solid;
	border-color:#bbb #fff #fff #bbb;
}

.RadColorPicker_Atmosphere .rcpPalette,
.RadColorPicker_Atmosphere input,
.RadColorPicker_Atmosphere a
{
	color:#000;
}

.RadColorPicker_Atmosphere .rcpHeader,
.RadColorPicker_Atmosphere .rcpHeader .rcpImageButton,
.RadColorPicker_Atmosphere .rcpRecentColors,
.RadColorPicker_Atmosphere .rcpIcon a,
.RadColorPicker_Atmosphere .rcpTabs a,
.RadColorPicker_Atmosphere .rcpTabs a span,
.RadColorPicker_Atmosphere .rcpButton,
.RadColorPicker_Atmosphere .rcpButton span,
.RadColorPicker_Atmosphere .rcpMillionColorsHandle,
.RadColorPicker_Atmosphere .rcpSlider div.rslTrack,
/* overwrite sliders */
.RadColorPicker_Atmosphere .rcpSlider .rslTrack a.rslDraghandle,
.RadColorPicker_Atmosphere div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url('ColorPicker/ColorPickerSprites.png');
	background-repeat:no-repeat;
}

/* Rounded corners and shadows */
.RadColorPicker_Atmosphere .rcpPalette,
.RadColorPicker_Atmosphere .rcpRoundedRight,
.RadColorPicker_Atmosphere .rcpRoundedBottomRight,
.RadColorPicker_Atmosphere .rcpRightShadow,
.RadColorPicker_Atmosphere .rcpCornerShadow
{
	background-image:url('ColorPicker/rcpVerticalSprites.png');
}

.RadColorPicker_Atmosphere .rcpRoundedBottomLeft,
.RadColorPicker_Atmosphere .rcpBottomShadow
{
	background-image:url('ColorPicker/ColorPickerSprites.png');
}

* html .RadColorPicker_Atmosphere .rcpPalette,
* html .RadColorPicker_Atmosphere .rcpRoundedRight,
* html .RadColorPicker_Atmosphere .rcpRoundedBottomRight,
* html .RadColorPicker_Atmosphere .rcpRoundedBottomLeft
{
	background-image:url('ColorPicker/rcpVerticalSpritesIE6.png');
}
