/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/* RadComboBox Default skin */

/*global*/

.RadComboBox_Atmosphere, .RadComboBox_Atmosphere .rcbInput, .RadComboBoxDropDown_Atmosphere
{
    font: 12px "Segoe UI" , Arial, sans-serif !important;
    color: #333;
}

/* combobox */

.RadComboBox_Atmosphere .rcbInputCellLeft, .RadComboBox_Atmosphere .rcbInputCellRight, .RadComboBox_Atmosphere .rcbArrowCellLeft, .RadComboBox_Atmosphere .rcbArrowCellRight
{
    background-image: url('ComboBox/rcbSprite.png');
}

* html .RadComboBox_Atmosphere .rcbInputCellLeft, * html .RadComboBox_Atmosphere .rcbInputCellRight, * html .RadComboBox_Atmosphere .rcbArrowCellLeft, * html .RadComboBox_Atmosphere .rcbArrowCellRight
{
    background-image: url('ComboBox/rcbSpriteIE6.png');
}

.RadComboBox_Atmosphere td.rcbInputCellLeft
{
    background-position: 0 0;
}
.RadComboBox_Atmosphere td.rcbInputCellRight
{
    background-position: 100% 0;
}

.RadComboBox_Atmosphere .rcbHovered .rcbInputCellLeft
{
    background-position: 0 0;
}
.RadComboBox_Atmosphere .rcbHovered .rcbInputCellRight
{
    background-position: 100% 0;
}

.RadComboBox_Atmosphere .rcbFocused .rcbInputCellLeft
{
    background-position: 0 0;
}
.RadComboBox_Atmosphere .rcbFocused .rcbInputCellRight
{
    background-position: 100% 0;
}

.RadComboBox_Atmosphere .rcbHovered .rcbReadOnly td.rcbInputCellLeft
{
    background-position: 0 -22px;
}
.RadComboBox_Atmosphere .rcbHovered .rcbReadOnly td.rcbInputCellRight
{
    background-position: 100% -22px;
}

.RadComboBox_Atmosphere .rcbFocused .rcbReadOnly td.rcbInputCellLeft
{
    background-position: 0 -44px;
}
.RadComboBox_Atmosphere .rcbFocused .rcbReadOnly td.rcbInputCellRight
{
    background-position: 100% -44px;
}

.RadComboBox_Atmosphere .rcbInputCell .rcbEmptyMessage
{
    color: #666;
}

.RadComboBox_Atmosphere .rcbHovered .rcbInputCell .rcbInput
{
    color: #000;
}

.RadComboBox_Atmosphere td.rcbArrowCellLeft
{
    background-position: -18px -88px;
}
.RadComboBox_Atmosphere td.rcbArrowCellRight
{
    background-position: 0 -88px;
}

.RadComboBox_Atmosphere .rcbHovered .rcbArrowCellLeft
{
    background-position: -54px -88px;
}
.RadComboBox_Atmosphere .rcbHovered .rcbArrowCellRight
{
    background-position: -36px -88px;
}

.RadComboBox_Atmosphere .rcbFocused .rcbArrowCellLeft
{
    background-position: -90px -88px;
}
.RadComboBox_Atmosphere .rcbFocused .rcbArrowCellRight
{
    background-position: -72px -88px;
}

.RadComboBox_Atmosphere td.rcbArrowCellHidden, .RadComboBox_Atmosphere .rcbHovered td.rcbArrowCellHidden, .RadComboBox_Atmosphere .rcbFocused td.rcbArrowCellHidden
{
    background-position: -15px -88px;
}

.RadComboBox_Atmosphere_rtl td.rcbArrowCellHidden, .RadComboBox_Atmosphere_rtl .rcbHovered td.rcbArrowCellHidden, .RadComboBox_Atmosphere_rtl .rcbFocused td.rcbArrowCellHidden
{
    background-position: -18px -88px;
}

/* Read-only styles */

.RadComboBox_Atmosphere .rcbReadOnly td.rcbArrowCellLeft
{
    background-position: -18px -88px;
}
.RadComboBox_Atmosphere .rcbReadOnly td.rcbArrowCellRight
{
    background-position: -2px -88px;
}

.RadComboBox_Atmosphere .rcbHovered .rcbReadOnly .rcbArrowCellLeft
{
    background-position: -54px -88px;
}
.RadComboBox_Atmosphere .rcbHovered .rcbReadOnly .rcbArrowCellRight
{
    background-position: -38px -88px;
}

.RadComboBox_Atmosphere .rcbFocused .rcbReadOnly .rcbArrowCellLeft
{
    background-position: -90px -88px;
}
.RadComboBox_Atmosphere .rcbFocused .rcbReadOnly .rcbArrowCellRight
{
    background-position: -74px -88px;
}

.RadComboBox_Atmosphere .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -15px -88px;
}
.RadComboBox_Atmosphere .rcbHovered .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -51px -88px;
}
.RadComboBox_Atmosphere .rcbFocused .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -87px -88px;
}

.RadComboBox_Atmosphere_rtl .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -18px -88px;
}
.RadComboBox_Atmosphere_rtl .rcbHovered .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -54px -88px;
}
.RadComboBox_Atmosphere_rtl .rcbFocused .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -90px -88px;
}

/* dropdown */

.RadComboBoxDropDown_Atmosphere .rcbHeader, .RadComboBoxDropDown_Atmosphere .rcbFooter, .RadComboBoxDropDown_Atmosphere .rcbMoreResults, .RadComboBoxDropDown_Atmosphere .rcbMoreResults a
{
    background-image: url('ComboBox/rcbSprite.png');
}

* html .RadComboBoxDropDown_Atmosphere .rcbHeader, * html .RadComboBoxDropDown_Atmosphere .rcbFooter, * html .RadComboBoxDropDown_Atmosphere .rcbMoreResults, * html .RadComboBoxDropDown_Atmosphere .rcbMoreResults a
{
    background-image: url('ComboBox/rcbSpriteIE6.png');
}

.RadComboBoxDropDown_Atmosphere
{
    background: #fff;
    border-color: #c6c7d2;
    border-top-color: #83868d;
}

.RadComboBoxDropDown_Atmosphere .rcbHeader, .RadComboBoxDropDown_Atmosphere .rcbFooter
{
    background-color: #f1f2f4;
    background-position: 0 -110px;
}

.RadComboBoxDropDown_Atmosphere .rcbHeader
{
    border-bottom-color: #d5d5d5;
}

.RadComboBoxDropDown_Atmosphere .rcbFooter
{
    border-top-color: #d5d5d5;
}

.RadComboBoxDropDown_Atmosphere .rcbItem em
{
    background: #e5e5e5;
}

.RadComboBoxDropDown_Atmosphere .rcbHovered
{
    background: #dfdfdf;
    color: #000;
}

.RadComboBoxDropDown_Atmosphere .rcbCheckAllItems, .RadComboBoxDropDown_Atmosphere .rcbCheckAllItemsHovered
{
    color: #999999;
    font-style: italic;
}
.RadComboBoxDropDown_Atmosphere .rcbCheckAllItemsHovered
{
    color: #000000;
}

.RadComboBoxDropDown_Atmosphere .rcbSeparator
{
    color: #fff;
    background: #8a8a8a;
}

.RadComboBox_Atmosphere .rcbDisabled .rcbInputCell .rcbInput, .RadComboBoxDropDown_Atmosphere .rcbDisabled
{
    color: #999;
}

.RadComboBox_Atmosphere .rcbDisabled td.rcbInputCellLeft
{
    background-position: 0 -66px;
}
.RadComboBox_Atmosphere .rcbDisabled td.rcbInputCellRight
{
    background-position: 100% -66px;
}
.RadComboBox_Atmosphere .rcbDisabled td.rcbArrowCellLeft
{
    background-position: -126px -88px;
}
.RadComboBox_Atmosphere .rcbDisabled td.rcbArrowCellRight
{
    background-position: -108px -88px;
}
.RadComboBox_Atmosphere .rcbDisabled .rcbReadOnly td.rcbArrowCellRight
{
    background-position: -110px -88px;
}
.RadComboBox_Atmosphere table.rcbDisabled td.rcbArrowCellHidden, .RadComboBox_Atmosphere .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -123px -88px;
}
.RadComboBox_Atmosphere_rtl table.rcbDisabled td.rcbArrowCellHidden, .RadComboBox_Atmosphere_rtl .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -126px -88px;
}

.RadComboBoxDropDown_Atmosphere .rcbLoading
{
    background: #f0f0f0;
}

.RadComboBoxDropDown_Atmosphere .rcbMoreResults
{
    border-top-color: #c6c7d2;
    background-position: 0 -132px;
    background-color: #e6e6e6;
    color: #8a8a8a;
}

.RadComboBoxDropDown_Atmosphere .rcbMoreResults a
{
    background-position: -157px -94px;
}

/* Check box style */

.filterCheckBox input
{
    /*margin-left: 8px*/
    vertical-align: middle;
}

.filterCheckBox label
{
    display: inline;
    vertical-align: middle;
    font-weight: normal;
}

.displayStyle
{
    display: none;
}


