.RadDock_Atmosphere .rdMiddle .rdLeft,
.RadDock_Atmosphere .rdMiddle .rdRight
{
	background-image: url('Dock/VerticalSprite.gif');
}

.RadDock_Atmosphere .rdTop .rdLeft,
.RadDock_Atmosphere .rdTop .rdRight,
.RadDock_Atmosphere .rdTop .rdCenter,
.RadDock_Atmosphere .rdBottom .rdLeft,
.RadDock_Atmosphere .rdBottom .rdRight,
.RadDock_Atmosphere .rdBottom .rdCenter
{
	background-image: url('Dock/HorizontalSprite.gif');
}

.RadDock_Atmosphere .rdCenter .rdCommands a span
{
	background-image: url('Dock/CommandSprite.gif');
}

.RadDock_Atmosphere .rdMiddle .rdCenter,
.RadDock_Atmosphere .rdBottom .rdCenter
{
	background-color: #fff;
}

.RadDock_Atmosphere .rdContent
{
	color: black;
}

.RadDock_Atmosphere .rdTitleBar em
{
	color: #000;
}