/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/*Telerik RadGrid Default Skin*/

/*global*/

.RadGrid_Atmosphere
{
    border-bottom: solid 0px #828282;
    border-top: solid 0px #828282;
    background: #fff;
    color: #333;
}

.RadGrid_Atmosphere, .RadGrid_Atmosphere .rgMasterTable, .RadGrid_Atmosphere .rgDetailTable, .RadGrid_Atmosphere .rgGroupPanel table, .RadGrid_Atmosphere .rgCommandRow table, .RadGrid_Atmosphere .rgEditForm table, .RadGrid_Atmosphere .rgPager table, .GridToolTip_Atmosphere
{
    font: 12px/16px "segoe ui" ,arial,sans-serif;
}

.RadGrid_Atmosphere .rgAdd, .RadGrid_Atmosphere .rgRefresh, .RadGrid_Atmosphere .rgEdit, .RadGrid_Atmosphere .rgDel, .RadGrid_Atmosphere .rgFilter, .RadGrid_Atmosphere .rgPagePrev, .RadGrid_Atmosphere .rgPageNext, .RadGrid_Atmosphere .rgPageFirst, .RadGrid_Atmosphere .rgPageLast, .RadGrid_Atmosphere .rgExpand, .RadGrid_Atmosphere .rgCollapse, .RadGrid_Atmosphere .rgSortAsc, .RadGrid_Atmosphere .rgSortDesc, .RadGrid_Atmosphere .rgUpdate, .RadGrid_Atmosphere .rgCancel, .RadGrid_Atmosphere .rgUngroup, .RadGrid_Atmosphere .rgExpXLS, .RadGrid_Atmosphere .rgExpDOC, .RadGrid_Atmosphere .rgExpPDF, .RadGrid_Atmosphere .rgExpCSV
{
    background-image: url('Grid/sprite.gif');
}

.RadGrid_Atmosphere .rgMasterTable
{
    margin: 0px;
    border-bottom: solid 1px #828282 !important;
    border-top: solid 1px #828282 !important;
}

/*header*/

.RadGrid_Atmosphere .rgHeaderDiv
{
    background: #eee 0 -7550px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
    background-position: 0 -7050px;
}

.RadGrid_Atmosphere .rgHeader, .RadGrid_Atmosphere th.rgResizeCol
{
    border: 0;
    border-bottom: 0px solid #828282;
    background: #eaeaea 0 -2300px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Atmosphere th.rgSorted
{
    background-color: #c4c4c4;
    background-position: 0 -2600px;
}

.RadGrid_Atmosphere .rgHeader, .RadGrid_Atmosphere .rgHeader a
{
    color: #333;
}

/*rows*/

.RadGrid_Atmosphere .rgRow
{
    color: #545454;
    background-color: #FFFFFF;
}

.RadGrid_Atmosphere .rgAltRow
{
    color: #545454;
    background-color: #F2F7FD;
}


.RadGrid_Atmosphere .rgRow .rgSorted
{
    /*border-bottom: solid 1px #C0C0C0 !important;     border-bottom-color: #FFFFFF;     background-color: #FFFFFF;*/
}

.RadGrid_Atmosphere .rgRow td, .RadGrid_Atmosphere .rgEditRow td, .RadGrid_Atmosphere .rgFooter td
{
    border-top: solid 1px #C0C0C0;
    border-right: solid 1px #C0C0C0;
    border-color: #C0C0C0;
}

.RadGrid_Atmosphere .rgAltRow td
{
    border-top: solid 1px #C0C0C0;
    border-right: solid 1px #C0C0C0;
    border-color: #C0C0C0;
}

.RadGrid_Atmosphere .rgRow a:hover, .RadGrid_Atmosphere .rgAltRow a:hover
{
    color: #114861 !important;
    font-weight: bold;
}

.RadGrid_Atmosphere .rgRow a, .RadGrid_Atmosphere .rgAltRow a, .RadGrid_Atmosphere .rgEditRow a, .RadGrid_Atmosphere tr.rgEditRow a, .RadGrid_Atmosphere tr.rgHoveredRow a, .RadGrid_Atmosphere tr.rgActiveRow a, .RadGrid_Atmosphere .rgFooter a, .RadGrid_Atmosphere .rgEditForm a
{
    color: #000;
}


.RadGrid_Atmosphere .rgRow a, .RadGrid_Atmosphere .rgAltRow a, .RadGrid_Atmosphere .rgEditRow a, .RadGrid_Atmosphere tr.rgEditRow a, .RadGrid_Atmosphere tr.rgHoveredRow a, .RadGrid_Atmosphere tr.rgActiveRow a, .RadGrid_Atmosphere .rgFooter a, .RadGrid_Atmosphere .rgEditForm a
{
    color: #717171;
    font-weight: bold;
}

.RadGrid_Atmosphere .rgSelectedRow
{
    color: #333333;
}


.RadGrid_Atmosphere .rgActiveRow, .RadGrid_Atmosphere .rgHoveredRow
{
    background: #c5c5c5 0 -2900px repeat-x url('Grid/sprite.gif');
    color: #333;
}
* + html .RadGrid_Atmosphere .rgActiveRow .rgSorted, * + html .RadGrid_Atmosphere .rgHoveredRow .rgSorted
{
    background-color: #c5c5c5;
}
* html .RadGrid_Atmosphere .rgActiveRow .rgSorted, * html .RadGrid_Atmosphere .rgHoveredRow .rgSorted
{
    background-color: #c5c5c5;
}

.RadGrid_Atmosphere .rgEditRow
{
    background: #fff 0 -4900px repeat-x url('Grid/sprite.gif');
    color: #333;
}
* + html .RadGrid_Atmosphere .rgEditRow .rgSorted
{
    background-color: #fff;
}
* html .RadGrid_Atmosphere .rgEditRow .rgSorted
{
    background-color: #fff;
}

.RadGrid_Atmosphere .rgActiveRow td, .RadGrid_Atmosphere .rgActiveRow td.rgSorted, .RadGrid_Atmosphere .rgHoveredRow td, .RadGrid_Atmosphere .rgHoveredRow td.rgSorted
{
    color: #545454;
    background-color: #FFFFFF;
}

.RadGrid_Atmosphere .rgDrag
{
    background-image: url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_Atmosphere .rgFooterDiv, .RadGrid_Atmosphere .rgFooter
{
    background: #eee;
}

.RadGrid_Atmosphere .rgFooter td
{
    border-top: 1px solid #828282;
    border-bottom: 1px solid #fff;
}

/*status*/

.RadGrid_Atmosphere .rgPager .rgStatus
{
    border: 1px solid;
    border-color: #828282 #c9c9c9 #eee #c9c9c9;
    border-left-width: 0;
}

.RadGrid_Atmosphere .rgStatus div
{
    background-image: url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_Atmosphere .rgPager
{
    background: #eee;
}

.RadGrid_Atmosphere td.rgPagerCell
{
    border-top: 1px solid #828282 !important;
    border-color: #828282 #eee #eee;
    border-right-width: 0;
}

.RadGrid_Atmosphere .rgInfoPart
{
    color: #8a8a8a;
}

.RadGrid_Atmosphere .rgInfoPart strong
{
    color: #4c4e54;
}

.RadGrid_Atmosphere .rgPageFirst
{
    background-position: 0 -550px;
}
.RadGrid_Atmosphere .rgPageFirst:hover
{
    background-position: 0 -600px;
}
.RadGrid_Atmosphere .rgPagePrev
{
    background-position: 0 -700px;
}
.RadGrid_Atmosphere .rgPagePrev:hover
{
    background-position: 0 -750px;
}
.RadGrid_Atmosphere .rgPageNext
{
    background-position: 0 -850px;
}
.RadGrid_Atmosphere .rgPageNext:hover
{
    background-position: 0 -900px;
}
.RadGrid_Atmosphere .rgPageLast
{
    background-position: 0 -1000px;
}
.RadGrid_Atmosphere .rgPageLast:hover
{
    background-position: 0 -1050px;
}

.RadGrid_Atmosphere .rgPager .rgPagerButton
{
    border-color: #d0d0d0 #aeaeae #8b8b8b;
    background: #e8e8e8 repeat-x 0 -1550px url('Grid/sprite.gif');
    color: #000;
    font-family: "segoe ui" ,arial,sans-serif;
}

.RadGrid_Atmosphere .rgNumPart a:hover, .RadGrid_Atmosphere .rgNumPart a:hover span, .RadGrid_Atmosphere .rgNumPart a.rgCurrentPage, .RadGrid_Atmosphere .rgNumPart a.rgCurrentPage span
{
    background: no-repeat url('Grid/sprite.gif');
}

.RadGrid_Atmosphere .rgNumPart a
{
    color: #000;
}

.RadGrid_Atmosphere .rgNumPart a:hover
{
    background-position: 100% -1250px;
}

.RadGrid_Atmosphere .rgNumPart a:hover span
{
    background-position: 0 -1150px;
}

.RadGrid_Atmosphere .rgNumPart a.rgCurrentPage, .RadGrid_Atmosphere .rgNumPart a.rgCurrentPage:hover
{
    background-position: 100% -1450px;
}

.RadGrid_Atmosphere .rgNumPart a.rgCurrentPage span, .RadGrid_Atmosphere .rgNumPart a.rgCurrentPage:hover span
{
    background-position: 0 -1350px;
}

/*sorting, reordering*/

.RadGrid_Atmosphere .rgHeader .rgSortAsc
{
    background-position: 3px -248px;
    height: 10px;
}

.RadGrid_Atmosphere .rgHeader .rgSortDesc
{
    background-position: 3px -198px;
    height: 10px;
}

.GridReorderTop_Atmosphere, .GridReorderBottom_Atmosphere
{
    background: 0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Atmosphere
{
    background-position: 0 -50px;
}

/*filtering*/

.RadGrid_Atmosphere .rgFilterRow
{
    border-right: solid 1px #C0C0C0;
    background: #eee;
}

.RadGrid_Atmosphere .rgFilterRow td
{
    border-right: solid 1px #C0C0C0;
    border-bottom: 1px solid #828282;
    border-top: 1px solid #828282;
}

.RadGrid_Atmosphere .rgFilter
{
    background-position: 0 -300px;
}

.RadGrid_Atmosphere .rgFilter:hover
{
    background-position: 0 -350px;
}

.RadGrid_Atmosphere .rgFilterActive, .RadGrid_Atmosphere .rgFilterActive:hover
{
    background-position: 0 -400px;
}

.RadGrid_Atmosphere .rgFilterBox
{
    border-color: #8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
    font-family: "segoe ui" ,arial,sans-serif;
    color: #333;
}

/*filter context menu*/

.RadMenu_Atmosphere .rgHCMClear, .RadMenu_Atmosphere .rgHCMFilter
{
    border-color: #d0d0d0 #a8a8a8 #8b8b8b;
    background: #e8e8e8 center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
    color: #000;
    font-family: "segoe ui" ,arial,sans-serif;
}

.RadMenu_Atmosphere .rgHCMClear:hover, .RadMenu_Atmosphere .rgHCMFilter:hover
{
    border-color: #d1d1d1 #b9b9b9 #a3a3a3;
    background-position: center -67px;
    background-color: #e5e5e5;
}

/*context menu*/

.GridContextMenu_Atmosphere .rmLeftImage
{
    background-image: url('Common/contextMenu.gif');
}

.GridContextMenu_Atmosphere .rgHCMSortAsc .rmLeftImage
{
    background-position: 0 0;
}

.GridContextMenu_Atmosphere .rgHCMSortDesc .rmLeftImage
{
    background-position: 0 -40px;
}

.GridContextMenu_Atmosphere .rgHCMUnsort .rmLeftImage
{
    background-position: 0 -80px;
}

.GridContextMenu_Atmosphere .rgHCMGroup .rmLeftImage
{
    background-position: 0 -120px;
}

.GridContextMenu_Atmosphere .rgHCMUngroup .rmLeftImage
{
    background-position: 0 -160px;
}

.GridContextMenu_Atmosphere .rgHCMCols .rmLeftImage
{
    background-position: 0 -200px;
}

.GridContextMenu_Atmosphere .rgHCMFilter .rmLeftImage
{
    background-position: 0 -240px;
}

.GridContextMenu_Atmosphere .rgHCMUnfilter .rmLeftImage
{
    background-position: 0 -280px;
}

/*grouping*/

.RadGrid_Atmosphere .rgGroupPanel
{
    border: 0;
    border-bottom: 1px solid #828282;
    background: #eee 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Atmosphere .rgGroupPanel td
{
    border: 0;
    padding: 3px 4px;
}

.RadGrid_Atmosphere .rgGroupPanel td td
{
    padding: 0;
}

.RadGrid_Atmosphere .rgGroupPanel .rgSortAsc
{
    background-position: 4px -144px;
}

.RadGrid_Atmosphere .rgGroupPanel .rgSortDesc
{
    background-position: 4px -94px;
}

.RadGrid_Atmosphere .rgUngroup
{
    background-position: 0 -6998px;
}

.RadGrid_Atmosphere .rgGroupItem
{
    border: 1px solid;
    border-color: #c4c4c4 #c4c4c4 #9e9e9e;
    background: #c6c6c6 0 -6500px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Atmosphere .rgMasterTable td.rgGroupCol, .RadGrid_Atmosphere .rgMasterTable td.rgExpandCol
{
    border-color: #d9d9d9;
    background: #d9d9d9 none;
    border-top-color: #C0C0C0;
    border-top-style: solid !important;
    border-top-width: 1px !important;
}

.RadGrid_Atmosphere .rgGroupHeader
{
    background: #d9d9d9;
    font-size: 1.1em;
    line-height: 21px;
    color: #000;
}

.RadGrid_Atmosphere .rgGroupHeader td
{
    border-top: 1px solid #828282;
    border-bottom: 1px solid #d9d9d9;
}

.RadGrid_Atmosphere .rgGroupHeader td.rgGroupCol
{
    border-top-color: #828282;
}

.RadGrid_Atmosphere .rgExpand
{
    background-position: 5px -496px;
}

.RadGrid_Atmosphere .rgCollapse
{
    background-position: 3px -444px;
}

/*editing*/

.RadGrid_Atmosphere .rgEditForm
{
    border-bottom: 1px solid #828282;
}

.RadGrid_Atmosphere .rgUpdate
{
    background-position: 0 -1800px;
}

.RadGrid_Atmosphere .rgCancel
{
    background-position: 0 -1850px;
}

/*hierarchy*/



.RadGrid_Atmosphere .rgDetailTable
{
    padding-left: 0px;
    background: #F2F7FD !important;
    font-weight: normal !important;
    border: none !important;
    border-top: solid 1px #C0C0C0 !important; /*margin-left: 20px;*/
}

.RadGrid_Atmosphere .rgDetailTable tr
{
    padding-left: 0px;
    background: #F2F7FD !important;
    font-weight: normal !important;
    border: none !important;
    border-top: solid 0px #C0C0C0 !important; /*margin-left: 20px;*/
}

.RadGrid_Atmosphere .rgDetailTable .rgHeader, .rgDetailTable th.rgResizeCol
{
    background-color: #F2F7FD !important;
    background-image: none;
    filter: none;
    font-weight: bold;
    color: #333333;
}

.RadGrid_Atmosphere .rgDetailTable .rgHeader td, .rgDetailTable .rgFilterRow td
{
    border: solid 0px #C0C0C0 !important;
    background: none !important;
    background-color: #F2F7FD !important;
    border-top: none !important;
}

.RadGrid_Atmosphere .rgDetailTable .rgRow td, .rgDetailTable .rgAltRow td
{
    border: solid 0px #C0C0C0 !important;
    background-color: #F2F7FD !important;
}




.RadGrid_Atmosphere .rgDetailTableAlt
{
    padding-left: 0px;
    background: #FFFFFF !important;
    font-weight: normal !important;
    border: none !important;
    border-top: solid 1px #C0C0C0 !important; /*margin-left: 20px;*/
}

.RadGrid_Atmosphere .rgDetailTableAlt tr
{
    padding-left: 0px;
    background: #FFFFFF !important;
    font-weight: normal !important;
    border: none !important;
    border-top: solid 0px #C0C0C0 !important;
}

.RadGrid_Atmosphere .rgDetailTableAlt .rgHeader, .rgDetailTableAlt th.rgResizeCol
{
    background-color: #FFFFFF !important;
    background-image: none;
    filter: none;
    font-weight: bold;
    color: #333333;
}

.RadGrid_Atmosphere .rgDetailTableAlt .rgRow td, .rgDetailTableAlt .rgAltRow td
{
    border: solid 0px #C0C0C0 !important;
    background: none !important;
    background-color: #FFFFFF !important;
    border-top: none !important;
}

.RadGrid_Atmosphere .rgDetailTableAlt .rgRow td, .rgDetailTableAlt .rgAltRow td
{
    border: solid 0px #C0C0C0 !important;
    background-color: #FFFFFF !important;
}

/*command row*/

.RadGrid_Atmosphere .rgCommandRow
{
    background: #c5c5c5 0 -2099px repeat-x url('Grid/sprite.gif');
    color: #000;
}

.RadGrid_Atmosphere .rgCommandCell
{
    border: 1px solid;
    border-color: #999 #f2f2f2;
    border-top-width: 0;
    padding: 0;
}

.RadGrid_Atmosphere tfoot .rgCommandCell, .RadGrid_Atmosphere .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell
{
    border-top-width: 1px;
    border-bottom-width: 0;
}

.RadGrid_Atmosphere .rgCommandTable td
{
    border: 0;
    padding: 2px 7px;
}

.RadGrid_Atmosphere .rgCommandTable
{
    border: 0;
    border-top: 1px solid #fdfdfd;
    border-bottom: 1px solid #e7e7e7;
}

.RadGrid_Atmosphere .rgCommandRow a
{
    color: #000;
    text-decoration: none;
}

.RadGrid_Atmosphere .rgAdd
{
    margin-right: 3px;
    background-position: 0 -1650px;
}

.RadGrid_Atmosphere .rgRefresh
{
    margin-right: 3px;
    background-position: 0 -1600px;
}

.RadGrid_Atmosphere .rgEdit
{
    background-position: 0 -1700px;
}

.RadGrid_Atmosphere .rgDel
{
    background-position: 0 -1750px;
}

.RadGrid_Atmosphere .rgSelected .rgDel
{
    background-position: 0 -1775px;
}

.RadGrid_Atmosphere .rgExpXLS, .RadGrid_Atmosphere .rgExpDOC, .RadGrid_Atmosphere .rgExpPDF, .RadGrid_Atmosphere .rgExpCSV
{
    background-image: url('Common/export.gif');
}

.RadGrid_Atmosphere .rgExpXLS
{
    background-position: 0 0;
}
.RadGrid_Atmosphere .rgExpDOC
{
    background-position: 0 -50px;
}
.RadGrid_Atmosphere .rgExpPDF
{
    background-position: 0 -100px;
}
.RadGrid_Atmosphere .rgExpCSV
{
    background-position: 0 -150px;
}

/*multirow select*/

.GridRowSelector_Atmosphere
{
    background: #4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_Atmosphere
{
    border-top: 1px dashed #666;
}

/*tooltip*/

.GridToolTip_Atmosphere
{
    border: 1px solid #828282;
    padding: 3px;
    background: #fff;
    color: #333;
}

/*rtl*/

.RadGridRTL_Atmosphere .rgPageFirst
{
    background-position: 0 -1000px;
}
.RadGridRTL_Atmosphere .rgPageFirst:hover
{
    background-position: 0 -1050px;
}
.RadGridRTL_Atmosphere .rgPagePrev
{
    background-position: 0 -850px;
}
.RadGridRTL_Atmosphere .rgPagePrev:hover
{
    background-position: 0 -900px;
}
.RadGridRTL_Atmosphere .rgPageNext
{
    background-position: 0 -700px;
}
.RadGridRTL_Atmosphere .rgPageNext:hover
{
    background-position: 0 -750px;
}
.RadGridRTL_Atmosphere .rgPageLast
{
    background-position: 0 -550px;
}
.RadGridRTL_Atmosphere .rgPageLast:hover
{
    background-position: 0 -600px;
}

.RadGridRTL_Atmosphere .rgExpand
{
    background-position: -20px -496px;
}


DIV.RadGrid_Atmosphere TH.rgResizeCol
{
    background: none !important;
    border: none !important;
    background-color: #FFFFFF !important;
    filter: - !important;
    background-image: none !important;
    border-top: none !important;
}

DIV.RadGrid_Atmosphere .rgHeader A
{
    color: #FFFFFF;
}


DIV.RadGrid_Atmosphere .rgHeader
{
    background-image: none;
    background-color: #DFE3E5 !important;
    filter: none;
    font-weight: bold;
}

DIV.RadGrid_Atmosphere .rgHeader A
{
    color: #114861 !important;
}

DIV.RadGrid_Atmosphere .SelectedItem
{
    background: #C0DEEB !important;
}
DIV.RadGrid_Atmosphere .SelectedItem td
{
    border-color: #C0DEEB !important;
}

/*
DIV.RadGrid_Atmosphere .rgRow TD
{
   border-right: solid 1px #C0C0C0;
    border-top: solid 1px #C0C0C0;
    color: #717171 !important;
}

DIV.RadGrid_Atmosphere .rgRow
{
    background-color: #F0F0F0;
}

DIV.RadGrid_Atmosphere .rgAltRow TD
{
    background-color: #FFFFFF;
}

DIV.RadGrid_Atmosphere .rgAltRow
{
    background-color: #FFFFFF;
}
*/
/* Custom Footer */

.pagerCombo
{
    margin-left: 5px !important;
    width: 50px !important;
}

.lblPageSize
{
    margin-left: 100px !important;
}

.imageExpand
{
    height: 10px;
    width: 9px;
    background: url("/Assets/Images/plus-small.png") 0 0;
    cursor: pointer;
}

.imageCollapse
{
    height: 10px;
    width: 9px;
    background: url("/Assets/Images/minus-small.png") 0 0;
    cursor: pointer;
}
