/* RadImageEditor Default Skin */

.RadImageEditor_Atmosphere,
.RadDock_Atmosphere.rieDialogs .riePrintContent
{
	border-color: #828282;
	background-color: #ececec;
}

.RadImageEditor_Atmosphere .rieStatusBarInfo .rieLabel
{
	color: #828282;
}

.RadImageEditor_Atmosphere .rieStatusBarInfo span
{
	color: #000;
}

/* ImageEditor Dialogs using RadDock as Wrapper */
.RadDock_Atmosphere.rieDialogs .rbPrimaryIcon,
.RadImageEditor_Atmosphere .rieResizeHandle,
.RadImageEditor_Atmosphere .rieBackgroundImg .rtbIcon /* Custom skins */
{
	background-image: url('ImageEditor/ImageEditorTools.png');
}

*html .RadDock_Atmosphere.rieDialogs .rbPrimaryIcon,
*html .RadImageEditor_Atmosphere .rieResizeHandle,
*html .RadImageEditor_Atmosphere .rieBackgroundImg .rtbIcon /* Custom skins */
{
	background-image: url('ImageEditor/ImageEditorToolsIE6.gif');
}

.RadDock_Atmosphere.rieDialogs .rieThumbsBottomRow td,
.RadDock_Atmosphere.rieDialogs .rieDialogsThumbsLeft,
.RadDock_Atmosphere.rieDialogs .rieThumbsLink,
.RadImageEditor_Atmosphere .rieContentArea
{
	border-color: #828282;
}

.RadDock_Atmosphere.rieDialogs .rieActiveThumbsLink,
.RadDock_Atmosphere.rieDialogs .rieThumbsLink:hover,
.RadDock_Atmosphere.rieDialogs .riePrintContent img
{
	border-color: #515151;
	background-color: #e2e2e2;
}
