.RadListBox_Atmosphere .rlbGroup
{
    border: 1px solid #8e8e8e;
    background: #FFF;
}

.RadListBox_Atmosphere .rlbTemplateContainer
{
    border-color: #8e8e8e;
}

.RadListBox_Atmosphere .rlbText,
.RadListBox_Atmosphere .rlbItem,
.RadListBox_Atmosphere .rlbButtonText,
.RadListBox_Atmosphere .rlbEmptyMessage
{
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #333;
}

.RadListBox_Atmosphere .rlbHighlight
{
    color: #ff3333;
}

.RadListBox_Atmosphere .rlbText,
.RadListBox_Atmosphere .rlbItem
{
	line-height: 18px;
}

.RadListBox_Atmosphere .rlbGroup .rlbHovered
{
	background: #DFDFDF;
}

.RadListBox_Atmosphere .rlbGroup .rlbSelected
{
	background: #c5c5c5;
}

.RadListBox_Atmosphere .rlbDisabled .rlbText
{
	color: #AAA;
}

.RadListBox_Atmosphere .rlbDisabled .rlbImage
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

.RadListBox_Atmosphere .rlbHeader,
.RadListBox_Atmosphere .rlbFooter
{
    background-image: url('ListBox/rlbHeaderFooter.png');
    background-position: 0 0;
    background-repeat: repeat-x;
    background-color: #f1f2f4;
}

.RadListBox_Atmosphere .rlbFooter
{
    background-position: 0 -200px;
    background-color: #e6e6e6;
}

.RadListBox_Atmosphere .rlbDropClue
{
    background-image: url('ListBox/rlbDropClue.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
	left: -10px;
	width: 10px;
}

.RadListBox_Atmosphere .rlbGroup .rlbDropClueAbove
{
	border-top-style: dotted;
	border-top-color: #8e8e8e;
}

.RadListBox_Atmosphere .rlbGroup .rlbDropClueBelow
{
	border-bottom-style: dotted;
	border-bottom-color: #8e8e8e;
}

.RadListBox_Atmosphere .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_Atmosphere .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_Atmosphere .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_Atmosphere .rlbGroup .rlbHovered.rlbDropClueBelow
{
	border-color: #FFF;
}

/* Buttons normal state vertical layout*/
.RadListBox_Atmosphere .rlbButtonText
{
	background: transparent url('ListBox/rlbSprite.png') no-repeat;
}

.RadListBox_Atmosphere .rlbButton:hover .rlbButtonTL,
.RadListBox_Atmosphere .rlbButton:hover .rlbButtonTR,
.RadListBox_Atmosphere .rlbButton:hover .rlbButtonBL,
.RadListBox_Atmosphere .rlbButton:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonHover.png');
}

* html .RadListBox_Atmosphere .rlbButton:hover .rlbButtonTL,
* html .RadListBox_Atmosphere .rlbButton:hover .rlbButtonTR,
* html .RadListBox_Atmosphere .rlbButton:hover .rlbButtonBL,
* html .RadListBox_Atmosphere .rlbButton:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonHoverIE6.png');
}

.RadListBox_Atmosphere .rlbButton .rlbButtonTL,
.RadListBox_Atmosphere .rlbButton .rlbButtonTR,
.RadListBox_Atmosphere .rlbButton .rlbButtonBL,
.RadListBox_Atmosphere .rlbButton .rlbButtonBR,
.RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonTL,
.RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonTR,
.RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonBL,
.RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonNormal.png');
}

* html .RadListBox_Atmosphere .rlbButton .rlbButtonTL,
* html .RadListBox_Atmosphere .rlbButton .rlbButtonTR,
* html .RadListBox_Atmosphere .rlbButton .rlbButtonBL,
* html .RadListBox_Atmosphere .rlbButton .rlbButtonBR,
* html .RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonTL,
* html .RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonTR,
* html .RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonBL,
* html .RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonNormalIE6.png');
}

.RadListBox_Atmosphere .rlbButton:hover .rlbButtonText 
{ 
	color: #FFF; 
}

.RadListBox_Atmosphere .rlbDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbDisabled:hover .rlbButtonText
{
	color: #888;
}

.RadListBox_Atmosphere .rlbMoveUp .rlbButtonText { background-position: 0 0; }
.RadListBox_Atmosphere .rlbMoveUp:hover .rlbButtonText { background-position: -400px 0; }
.RadListBox_Atmosphere .rlbMoveUpDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbMoveUpDisabled:hover .rlbButtonText { background-position: -200px 0; }

.RadListBox_Atmosphere .rlbMoveDown .rlbButtonText { background-position: 0 -25px; }
.RadListBox_Atmosphere .rlbMoveDown:hover .rlbButtonText { background-position: -400px -25px; }
.RadListBox_Atmosphere .rlbMoveDownDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbMoveDownDisabled:hover .rlbButtonText { background-position: -200px -25px; }

.RadListBox_Atmosphere .rlbMoveToTop .rlbButtonText { background-position: 0 -275px; }
.RadListBox_Atmosphere .rlbMoveToTop:hover .rlbButtonText { background-position: -400px -275px; }
.RadListBox_Atmosphere .rlbMoveToTopDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbMoveToTopDisabled:hover .rlbButtonText { background-position: -200px -275px; }

.RadListBox_Atmosphere .rlbMoveToBottom .rlbButtonText { background-position: 0 -300px; }
.RadListBox_Atmosphere .rlbMoveToBottom:hover .rlbButtonText { background-position: -400px -300px; }
.RadListBox_Atmosphere .rlbMoveToBottomDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbMoveToBottomDisabled:hover .rlbButtonText { background-position: -200px -300px; }

.RadListBox_Atmosphere .rlbDelete .rlbButtonText { background-position: 0 -50px; }
.RadListBox_Atmosphere .rlbDelete:hover .rlbButtonText { background-position: -400px -50px; }
.RadListBox_Atmosphere .rlbDeleteDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbDeleteDisabled:hover .rlbButtonText { background-position: -200px -50px; }


.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText { background-position: 0 -100px; }
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText { background-position: 0 -75px; }
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText { background-position: -400px -100px; }
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText { background-position: -400px -75px; }

.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText { background-position: -200px -100px; }

.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -200px -75px; }


.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText { background-position: 0 -150px; }
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText { background-position: 0 -125px; }
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText { background-position: -400px -150px; }
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText { background-position: -400px -125px; }

.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -200px -150px; }

.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -200px -125px; }


.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText { background-position: 0 -200px; }
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText { background-position: 0 -175px; }
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText { background-position: -400px -200px; }
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText { background-position: -400px -175px; }

.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText { background-position: -200px -200px; }

.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -200px -175px; }


.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText { background-position: 0 -250px; }
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText { background-position: 0 -225px; }
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText { background-position: -400px -250px; }
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText { background-position: -400px -225px; }

.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -200px -250px; }

.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Atmosphere .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -200px -225px; }

