/* RadScheduler Default skin */

/* common */
.RadScheduler_Atmosphere,
.RadScheduler_Atmosphere a,
.RadScheduler_Atmosphere input,
.RadScheduler_Atmosphere select,
.RadScheduler_Atmosphere textarea
{
	font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

.RadScheduler_Atmosphere,
.RadScheduler_Atmosphere a,
.RadScheduler_Atmosphere input,
.RadScheduler_Atmosphere select,
.RadScheduler_Atmosphere textarea
{
	color: #333;
}

.RadScheduler_Atmosphere textarea
{
	background: #fff;
}

/* header */

/* header sprites */
.RadScheduler_Atmosphere .rsHeader,
.RadScheduler_Atmosphere .rsHeader ul a:hover,
.RadScheduler_Atmosphere .rsHeader ul a:hover span,
.RadScheduler_Atmosphere .rsHeader .rsSelected,
.RadScheduler_Atmosphere .rsHeader .rsSelected em,
.RadScheduler_Atmosphere .rsHeader .rsDatePickerActivator,
.RadScheduler_Atmosphere .rsHeader .rsPrevDay,
.RadScheduler_Atmosphere .rsHeader .rsNextDay
{
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Atmosphere .rsHeader
{
	border: 1px solid #929292;
}

.RadScheduler_Atmosphere .rsHeader,
.RadScheduler_Atmosphere .rsHeader a,
.RadScheduler_Atmosphere .rsHeader ul span,
.RadScheduler_Atmosphere .rsHeader ul em
{
	color: #000;
}

.RadScheduler_Atmosphere .rsHeader a
{
	color: #333;
}

.RadScheduler_Atmosphere .rsHeader .rsSelected em,
.RadScheduler_Atmosphere .rsHeader ul a:hover span
{ 
	color: #FFF;
}

/* content */

.RadScheduler_Atmosphere .rsContent
{
	background: #fff;
}

/* <headers> */

.RadScheduler_Atmosphere .rsHorizontalHeaderTable
{
	color: #333;
	background: #e4e4e4;
}

.RadScheduler_Atmosphere .rsHorizontalHeaderWrapper {
	border-color: #d2d2d2;
	background: #eee;
}

.RadScheduler_Atmosphere .rsSpacerCell,
.RadScheduler_Atmosphere .rsAllDayHeader,
.RadScheduler_Atmosphere .rsVerticalHeaderWrapper,
.RadScheduler_Atmosphere .rsVerticalHeaderTable
{
	background: #f1f1f1 url('Scheduler/rsVerticalHeaderBg.png') repeat-y;
}

.RadScheduler_Atmosphere .rsVerticalHeaderTable th
{
	border-color: #868686 #d2d2d2;
	color: #333;
}

.RadScheduler_Atmosphere .rsHorizontalHeaderTable th
{
	border-color: #d2d2d2;
	background-color: #E4E4E4;
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Atmosphere .rsVerticalHeaderTable th
{
	border-color: transparent #d2d2d2;
}
* html .RadScheduler_Atmosphere .rsVerticalHeaderTable th { border-bottom-color: #f1f1f1; }

.RadScheduler_Atmosphere table.rsVerticalHeaderTable .rsAlt th
{
	border-color: #d2d2d2 #d2d2d2;
}

/* </headers> */

/* <all-day-row> */

.RadScheduler_Atmosphere .rsAllDayRow
{
	background: #eee;
}

.RadScheduler_Atmosphere .rsSpacerCell,
.RadScheduler_Atmosphere .rsAllDayHeader,
.RadScheduler_Atmosphere .rsVerticalHeaderTable .rsAllDayHeader
{
	border-color: #d2d2d2 #d2d2d2;
}

.RadScheduler_Atmosphere .rsAllDayRow td,
.RadScheduler_Atmosphere .rsContentTable .rsAllDayRow td
{
	border-color: #d2d2d2; 
	border-style: solid;
}

.RadScheduler_Atmosphere .rsVerticalHeaderTable .rsMainHeader th
{
	border-bottom-color: #d2d2d2;
}

.RadScheduler_Atmosphere .rsSpacerCell,
.RadScheduler_Atmosphere .rsContent .rsAllDayHeader
{
	border-bottom-color: #d2d2d2;
}

/* </all-day-row> */

.RadScheduler_Atmosphere .rsContent,
.RadScheduler_Atmosphere .rsTopWrap .rsFooter
{
	border: 1px solid #929292;
	border-top: 0;
}

.RadScheduler_Atmosphere .rsContentTable td
{
	border-color: #e8eaec #e8eaec;
	border-bottom-style: dotted;
}

.RadScheduler_Atmosphere .rsContentTable .rsAlt td
{
	border-color: #c7cbd1 #e8eaec;
	border-bottom-style: solid;
}

.RadScheduler_Atmosphere .rsMonthView .rsOtherMonth
{
	background-color: #F9F9F9;
}

/* <appointments> */
.RadScheduler_Atmosphere .rsApt .rsArrowTop,
.RadScheduler_Atmosphere .rsApt .rsArrowBottom,
.RadScheduler_Atmosphere .rsApt .rsArrowLeft,
.RadScheduler_Atmosphere .rsApt .rsArrowRight,
.RadScheduler_Atmosphere .rsApt .rsAptDelete,
.RadScheduler_Atmosphere .rsApt .rsAptResize,
.RadScheduler_Atmosphere .rsApt .rsAptReminder,
.RadScheduler_Atmosphere .rsApt .rsAptRecurrence,
.RadScheduler_Atmosphere .rsApt .rsAptRecurrenceException
{
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_Atmosphere .rsAptCreate,
.RadScheduler_Atmosphere .rsMonthView .rsAptCreate
{
	background-color: #c5c5c5;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_Atmosphere .rsAptCreateRow2,
.RadScheduler_Atmosphere .rsMonthView .rsAptCreateRow2
{
	background-color: #c5c5c5;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: repeat-x;
}

.RadScheduler_Atmosphere .rsNonWorkHour,
.RadScheduler_Atmosphere .rsSunCol,
.RadScheduler_Atmosphere .rsSatCol
{
	background-color: #f9f9f9;
}

.RadScheduler_Atmosphere .rsAptCreateRow3,
.RadScheduler_Atmosphere .rsMonthView .rsAptCreateRow3,
.RadScheduler_Atmosphere .rsAptCreateRow4,
.RadScheduler_Atmosphere .rsMonthView .rsAptCreateRow4,
.RadScheduler_Atmosphere .rsAptCreateRow5,
.RadScheduler_Atmosphere .rsMonthView .rsAptCreateRow5
{
	background: #c5c5c5;
}

.RadScheduler_Atmosphere .rsFullTime 
{
	color: #000;
}

.RadScheduler_Atmosphere .rsSelectedSlot,
.RadScheduler_Atmosphere .rsMonthView .rsSelectedSlot
{
    background: #909090;
    border-color: #808080;
}

.RadScheduler_Atmosphere .rsContentTable td.rsAptCreate.rsSelectedSlot
{
    background: #808080;
    border-color: #707070;
}

.RadScheduler_Atmosphere .rsContentTable td.rsSelectedSlot
{
    background: #909090;
    border-color: #808080;
}

/* <New appointment imageless rendering */
.RadScheduler_Atmosphere .rsAptIn, 
.RadScheduler_Atmosphere .rsAptMid, 
.RadScheduler_Atmosphere .rsAptContent
{
    background-color: #efefef;
	border-color: #949494;
}

.RadScheduler_Atmosphere .rsAptContent
{
    background-color: #dbdbdb;
    background-image: url('Scheduler/rsAppointmentBg.png');
}
/* </New appointment imageless rendering> */

.RadScheduler_Atmosphere .rsAptSimple
{
	background-color: #dbdbdb;
	border-color: #949494;
}

/* </appointments> */

/* <footer> */

.RadScheduler_Atmosphere .rsFooter
{
	background: #eee;
}

.RadScheduler_Atmosphere .rsFooter a
{
	color: #555;
	background-color: transparent;
	background-image: url('Scheduler/rsSprites.png');
	background-repeat: no-repeat;
}

.RadScheduler_Atmosphere div.rsFooter a:hover
{
	color: #888;
}

/* </footer> */

/* <inline edit form> */

.RadScheduler_Atmosphere .rsEditOptions a,
.RadScheduler_Atmosphere .rsAptEditResizeHandle,
.RadScheduler_Atmosphere .rsAptEditFormWrapper
{
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Atmosphere .rsAptEditFormOuter, /* top */
.RadScheduler_Atmosphere .rsAptEditFormInner  /* bottom */
{
	background-image: url('Scheduler/rsInlineEditHSprite.png');
}

.RadScheduler_Atmosphere .rsAptEditFormMiddle, /* left */
.RadScheduler_Atmosphere .rsAptEditFormMiddle2 /* right */
{
	background-image: url('Scheduler/rsInlineEditVSprite.png');
}

.RadScheduler_Atmosphere .rsAptEditFormWrapper .rsAptEditTextareaWrapper
{
	border-color: #828282;
	background: #fff;
}

.RadScheduler_Atmosphere .rsAptEditFormWrapper .rsAptEditTextareaWrapper textarea
{
	background: #fff;
}

.RadScheduler_Atmosphere .rsAptEditFormWrapper .rsEditOptions 
{
	background: #eee;
}

/* <inline edit form template> */

.RadScheduler_Atmosphere .rsAptEditFormWrapper .rsTemplateWrapper 
{
	background: #eee;
}

/* </inline edit form template> */

/* </inline edit form> */

/* <advanced edit form> */

.RadScheduler_Atmosphere .rsAdvancedEdit .rsAdvContentWrapper
{
	background: #f0f0f0;
	border: 1px solid #828282;
	border-top-color: #DDD;
}

* html .RadScheduler_Atmosphere div.rsAdvancedModal .rsAdvContentWrapper
{
	background: #f0f0f0;
}

/* <xref input skins> */

.RadScheduler_Atmosphere .rsAdvancedEdit .rsAdvInput,
.RadScheduler_Atmosphere .rsAdvancedEdit select,
.RadScheduler_Atmosphere .rsAdvancedEdit .textareaWrapper
{
	border-color: #8e8e8e #b8b8b8 #b8b8b8 #8e8e8e;
}

.RadScheduler_Atmosphere .rsAdvancedEdit .rsInvalid textarea,
.RadScheduler_Atmosphere .rsAdvancedEdit .rsInvalid input,
.RadScheduler_Atmosphere .rsAdvancedEdit .rsAdvTimePicker .riEmpty
{
	background-image: url('Input/sprite.gif');
	background-color: #fff;
}

.RadScheduler_Atmosphere .rsAdvancedEdit input.rsInvalid
{
	border-color: #d51923; 
	color: #d51923;
}
/* </xref input skins> */

.RadScheduler_Atmosphere .rsAdvancedEdit h2,
.RadScheduler_Atmosphere .rsAdvancedEdit h3
{
	color: #6b6b6b;
}

.RadScheduler_Atmosphere .rsAdvancedEdit h2
{
	border-bottom: 1px solid #CCC;
}

.RadScheduler_Atmosphere .rsAdvancedEdit h2 span
{
	background: #f0f0f0;
}

.RadScheduler_Atmosphere .rsAdvancedEdit .rsAdvancedSubmitArea
{
	border-color: #CCC;
}

.RadScheduler_Atmosphere .rsAdvancedEdit div.rsAdvancedSubmitArea a 
{
	color: #333;
	background-image: url('Scheduler/rsSprites.png');
}

/* </advanced edit form> */

/* <date/time picker> */

.RadScheduler_Atmosphere .rsTimePick .RadInput_Atmosphere input.riEnabled,
.RadScheduler_Atmosphere .rsTimePick .RadInput_Atmosphere input.riHover,
.RadScheduler_Atmosphere .rsTimePick .RadInput_Atmosphere input.riFocused
{
	background-image: url('Scheduler/rsSprites.png');
}

/* </date/time picker> */

/* <modal dialogs> */

.RadScheduler_Atmosphere .rsModalBgTopLeft,
.RadScheduler_Atmosphere .rsModalBgTopRight,
.RadScheduler_Atmosphere .rsModalBgBottomLeft,
.RadScheduler_Atmosphere .rsModalBgBottomRight
{
    background-image: url('Scheduler/rsModalBg.png');
}

div.RadScheduler_Atmosphere .rsAnimating
{
    background-image: url('Scheduler/rsModalBgIE6.png');
}

* html .RadScheduler_Atmosphere .rsModalBgTopLeft,
* html .RadScheduler_Atmosphere .rsModalBgTopRight,
* html .RadScheduler_Atmosphere .rsModalBgBottomLeft,
* html .RadScheduler_Atmosphere .rsModalBgBottomRight
{
    background-image: url('Scheduler/rsModalBgIE6.png');
}

.RadScheduler_Atmosphere .rsAdvancedEdit .rsAdvTitle,
.RadScheduler_Atmosphere .rsAdvancedEdit .rsAdvInnerTitle
{
    background-image: url('Scheduler/rsModalTitleBg.png');
}

.RadScheduler_Atmosphere .rsAdvancedEdit a.rsAdvEditClose,
.RadScheduler_Atmosphere .rsModalWrapper .rsModalWindowClose
{
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Atmosphere .rsAdvancedEdit a.rsAdvEditClose
{
	margin-top: -23px;
}

.RadScheduler_Atmosphere .rsAdvancedEdit a.rsAdvEditClose:hover,
.RadScheduler_Atmosphere .rsModalWrapper a.rsModalWindowClose:hover
{
	background-position: -30px -341px;
}

.RadScheduler_Atmosphere .rsModalWrapper .rsModalTitle
{
	color: #000;
	background-image: url('Scheduler/rsSprites.png');
}

.RadScheduler_Atmosphere .rsModalWrapper .rsModalInner
{
	border-color: #828282;
	background: #fff;
}

.RadScheduler_Atmosphere .rsModalWrapper .rsModalIcon,
.RadScheduler_Atmosphere .rsModalWrapper .rsModalButtons a
{
	background-image: url('Scheduler/rsSprites.png');
}

/* Inline Edit buttons + ModalDialog buttons */
.RadScheduler_Atmosphere .rsModalWrapper .rsModalButtons a,
.RadScheduler_Atmosphere .rsTopWrap .rsAptEditFormWrapper .rsEditOptions a
{
	color: #333;
}

/* </modal dialogs> */

.RadScheduler_Atmosphere .rsBottomIndicator .rsOvertimeArrow
{
	background: transparent url('Scheduler/rsSprites.png') no-repeat -180px -31px;
}        	

.RadScheduler_Atmosphere .rsTopIndicator .rsOvertimeArrow
{
	background: transparent url('Scheduler/rsSprites.png') no-repeat -134px -31px;
}        	





.RadScheduler_Atmosphere .rsAptSelected .rsAptIn,
.RadScheduler_Atmosphere .rsAptSelected .rsAptMid,
.RadScheduler_Atmosphere .rsAptSelected .rsAptContent {
	border-color: #000000;
	background-image: none;
}