/* RadSplitter for ASP.NET AJAX - Default Skin */

/* Borders */
.RadSplitter_Atmosphere,
.RadSplitter_Atmosphere .rspPaneTabContainer,

/* Vertical RadSplitter items */
.RadSplitter_Atmosphere .rspPane, 
.RadSplitter_Atmosphere .rspResizeBar,
.RadSplitter_Atmosphere .rspSlideContainerResize,

/* Horizontal RadSplitter items */
.RadSplitter_Atmosphere .rspPaneHorizontal,
.RadSplitter_Atmosphere .rspResizeBarHorizontal,
.RadSplitter_Atmosphere .rspSlideContainerResizeHorizontal
{
	border-color:#828282;
}

/* When ShowContentDuringLoad="false" */
.RadSplitter_Atmosphere .rspLoading
{
    background-image: url('Common/loading.gif');
}

/* RadSplitBar/RadSlidingPane resize elements */
.RadSplitter_Atmosphere .rspResizeBar,
.RadSplitter_Atmosphere .rspSlideContainerResize
{
	background:#ececec url('Splitter/ResizeBarVerticalSprites.gif') repeat-y 0 0;
    border-right-color:#989697;
}

.RadSplitter_Atmosphere .rspResizeBarOver,
.RadSplitter_Atmosphere .rspSlideContainerResizeOver
{
    background-position:-4px 0;
}

.RadSplitter_Atmosphere .rspResizeBarHorizontal,
.RadSplitter_Atmosphere .rspSlideContainerResizeHorizontal
{
	background:#ececec url('Splitter/ResizeBarHorizontalSprites.gif') repeat-x 0 0;
    border-bottom-color:#989697;
}

.RadSplitter_Atmosphere .rspResizeBarOverHorizontal,
.RadSplitter_Atmosphere .rspSlideContainerResizeOverHorizontal
{
    background-position:0 -4px;
}

/* RadSlidingPane tab */
.RadSplitter_Atmosphere .rspPaneTabContainer,
/* RadSlidingPane buttons */
.RadSplitter_Atmosphere .rspSlideHeaderDockIcon,
.RadSplitter_Atmosphere .rspSlideHeaderUndockIcon,
.RadSplitter_Atmosphere .rspSlideHeaderCollapseIcon,
/* RadSplitBar buttons */
.RadSplitter_Atmosphere .rspCollapseBarExpand,
.RadSplitter_Atmosphere .rspCollapseBarCollapse,

.RadSplitter_Atmosphere .rspCollapseBarHorizontalExpand,
.RadSplitter_Atmosphere .rspCollapseBarHorizontalCollapse
{
    background-image:url('Splitter/ExpandCollapseBarsCommands.gif');
    background-repeat:no-repeat;
}

/* RadSlidingPane tab */
.RadSplitter_Atmosphere .rspPaneTabContainer
{
    background-position:-81px 0;
    background-repeat:repeat-y;
}

/* RadSplitBar buttons */
.RadSplitter_Atmosphere .rspCollapseBarCollapse
{	
	background-position:0 0;
}
.RadSplitter_Atmosphere .rspCollapseBarCollapseOver
{
    background-position:-192px 0;
}

.RadSplitter_Atmosphere .rspCollapseBarExpand
{	
	background-position:-4px 0;
}
.RadSplitter_Atmosphere .rspCollapseBarExpandOver
{
    background-position:-196px 0;
}

.RadSplitter_Atmosphere .rspCollapseBarHorizontalExpand
{
    background-position:-8px -4px;
}
.RadSplitter_Atmosphere .rspCollapseBarHorizontalExpandOver
{
    background-position:-8px -12px;
}

.RadSplitter_Atmosphere .rspCollapseBarHorizontalCollapse
{
    background-position:-8px 0;
}
.RadSplitter_Atmosphere .rspCollapseBarHorizontalCollapseOver
{
    background-position:-8px -8px;
}

/* RadSlidingPane buttons */
.RadSplitter_Atmosphere .rspSlideHeaderUndockIcon
{
	background-position:-50px 0;
}

.RadSplitter_Atmosphere .rspSlideHeaderDockIcon
{
	background-position:-35px 0;
}

.RadSplitter_Atmosphere .rspSlideHeaderCollapseIcon
{
	background-position:-65px 0;
}

/* RadSlidingPane header */
.RadSplitter_Atmosphere .rspSlideHeader, 
/* RadSlidingPane title */
.RadSplitter_Atmosphere .rspSlideTitleContainer,
/* RadSlidingPane tab, SlideDirection=Top/Bottom */
.RadSplitter_Atmosphere .rspBottom .rspPaneTabContainer,
.RadSplitter_Atmosphere .rspTop .rspPaneTabContainer
{
	background-image:url('Splitter/slideTitleContainerBgr.gif');
	background-repeat:repeat-x;
}

.RadSplitter_Atmosphere .rspBottom .rspPaneTabContainer,
.RadSplitter_Atmosphere .rspTop .rspPaneTabContainer
{
    background-position:0 -1px;
}

/* RadSlidingPane header elements */
.RadSplitter_Atmosphere .rspSlideTitleContainer,
.RadSplitter_Atmosphere .rspSlideHeaderIconWrapper
{
	border-bottom:solid 1px #828282;
}

/* RadSlidingPane title text */
.RadSplitter_Atmosphere .rspSlideTitle,
/* RadSlidingPane tab text */
.RadSplitter_Atmosphere .rspPaneTabText
{
	font:normal 10px "Segoe UI", Arial, Sans-serif;
	color:#000;
}
.RadSplitter_Atmosphere .rspSlideTitle
{	
	font-size:12px;
}

/* RadSlidingPane content - this element should not be transparent as it shows above content in adjacent RadPanes */
.RadSplitter_Atmosphere .rspSlideContent
{
	background-color:#fff;
}