/* <RadToolBar / Default> */

/* <tool wrapper> */

/* <horizontal> */

.RadToolBar_Atmosphere .rtbOuter
{
	border: 1px solid #9c9c9c;
}

.RadToolBar_Atmosphere .rtbMiddle
{
	border: 1px solid #efefef;
	background: #fafafa url('ToolBar/rtbControlBg.png') repeat-x 0 100%;
}

/* </horizontal> */

/* <vertical> */

.RadToolBar_Atmosphere_Vertical .rtbMiddle
{
	background: #fafafa url('ToolBar/rtbVerticalControlBg.png') repeat-y 100% 0;
}

/* </vertical> */

/* </tool wrapper> */

/* <buttons> */

.RadToolBar_Atmosphere .rtbWrap,
.RadToolBar_Atmosphere .rtbTemplate
{
	font: normal 12px/20px "Segoe UI", Arial, sans-serif;
	color: #000;
}

/* <button states> */

.RadToolBar_Atmosphere .rtbSplBtnFocused .rtbWrap, .RadToolBar_Atmosphere .rtbSplBtnFocused .rtbOut, .RadToolBar_Atmosphere .rtbSplBtnFocused .rtbMid, .RadToolBar_Atmosphere .rtbSplBtnFocused .rtbIn,
.RadToolBar_Atmosphere .rtbItemFocused .rtbWrap, .RadToolBar_Atmosphere .rtbItemFocused .rtbOut, .RadToolBar_Atmosphere .rtbItemFocused .rtbMid, .RadToolBar_Atmosphere .rtbItemFocused .rtbIn,
.RadToolBar_Atmosphere .rtbItemHovered .rtbWrap, .RadToolBar_Atmosphere .rtbItemHovered .rtbOut, .RadToolBar_Atmosphere .rtbItemHovered .rtbMid, .RadToolBar_Atmosphere .rtbItemHovered .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbHoverBg.png');
}

.RadToolBar_Atmosphere .rtbItemClicked .rtbWrap, .RadToolBar_Atmosphere .rtbItemClicked .rtbOut, .RadToolBar_Atmosphere .rtbItemClicked .rtbMid, .RadToolBar_Atmosphere .rtbItemClicked .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbClickedBg.png');
}

.RadToolBar_Atmosphere .rtbSplBtnExpanded .rtbWrap, .RadToolBar_Atmosphere .rtbSplBtnExpanded .rtbOut, .RadToolBar_Atmosphere .rtbSplBtnExpanded .rtbMid, .RadToolBar_Atmosphere .rtbSplBtnExpanded .rtbIn,
.RadToolBar_Atmosphere .rtbDropDownExpanded .rtbWrap, .RadToolBar_Atmosphere .rtbDropDownExpanded .rtbOut, .RadToolBar_Atmosphere .rtbDropDownExpanded .rtbMid, .RadToolBar_Atmosphere .rtbDropDownExpanded .rtbIn,
.RadToolBar_Atmosphere .rtbChecked .rtbWrap, .RadToolBar_Atmosphere .rtbChecked .rtbOut, .RadToolBar_Atmosphere .rtbChecked .rtbMid, .RadToolBar_Atmosphere .rtbChecked .rtbIn,
.RadToolBar_Atmosphere li.rtbChecked .rtbWrap:hover, .RadToolBar_Atmosphere li.rtbChecked .rtbWrap:hover .rtbOut, .RadToolBar_Atmosphere li.rtbChecked .rtbWrap:hover .rtbMid, .RadToolBar_Atmosphere li.rtbChecked .rtbWrap:hover .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbActiveBg.png');
}

.RadToolBar_Atmosphere .rtbItemFocused .rtbWrap,
.RadToolBar_Atmosphere .rtbItemHovered .rtbWrap
{
	color: #000;
}

.RadToolBar_Atmosphere .rtbDropDownExpanded .rtbWrap,
.RadToolBar_Atmosphere .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_Atmosphere .rtbChecked .rtbWrap,
.RadToolBar_Atmosphere .rtbItemClicked .rtbWrap
{
	color: #fff;
}

/* </button states> */

/* <Drop Down Arrows> */


.RadToolBar_Atmosphere .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbDropArrows.png');
}

* html .RadToolBar_Atmosphere .rtbSplBtn .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbItem .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbDropArrows.gif');
}

.RadToolBar_Atmosphere .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbExpandUp .rtbVOriented .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbUpArrows.png');
}

* html .RadToolBar_Atmosphere .rtbExpandUp .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbExpandUp .rtbVOriented .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbUpArrows.gif');
}

.RadToolBar_Atmosphere .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbItemClicked .rtbChoiceArrow
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbClickedDropArrows.png');
}

* html .RadToolBar_Atmosphere .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbSplBtnClicked .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbItemClicked .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedDropArrows.gif');
}

.RadToolBar_Atmosphere .rtbSplBtnClicked .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbItemClicked .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbItemClicked .rtbExpandUp .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedUpArrows.png');
}

* html .RadToolBar_Atmosphere .rtbSplBtnClicked .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbItemClicked .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Atmosphere .rtbItemClicked .rtbExpandUp .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedUpArrows.gif');
}

/* </Drop Down Arrows> */

.RadToolBar_Atmosphere_Horizontal li.rtbSeparator 
{
	border-left: 1px solid #939393;
	background: #f7f7f7;
}

.RadToolBar_Atmosphere_Vertical li.rtbSeparator
{
	border-top: 1px solid #939393;
	background: #f7f7f7;
}

/* </buttons> */


/* <disabled states> */

.RadToolBar_Atmosphere .rtbDisabled .rtbWrap:hover,
.RadToolBar_Atmosphere .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_Atmosphere .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_Atmosphere .rtbDisabled .rtbWrap:hover .rtbIn
{
	background-image: none;
}

.RadToolBar_Atmosphere .rtbDisabled .rtbWrap { color: #888\9 }

.RadToolBar_Atmosphere .rtbDisabled .rtbChoiceArrow,
.RadToolBar_Atmosphere .rtbDisabled .rtbWrap .rtbChoiceArrow
{ background-image: url('ToolBar/rtbDropArrows.gif')\9 }

@media screen and (-webkit-min-device-pixel-ratio:0)  /* WebKit alpha + opacity/cleartype bug, like IE wasn't enough... */
{
	.RadToolBar_Atmosphere .rtbDisabled .rtbWrap { color: #888; }
	
	.RadToolBar_Atmosphere .rtbDisabled .rtbChoiceArrow,
	.RadToolBar_Atmosphere .rtbDisabled .rtbWrap .rtbChoiceArrow
	{
		background-image: url('ToolBar/rtbDropArrows.gif');
	}
}

/* </disabled states */

/* <drop-down> */


/* <Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Atmosphere .rtbTopFix,
.RadToolBarDropDown_Atmosphere .rtbBottomFix,
.RadToolBarDropDown_Atmosphere .rtbGroup
{
	background-image: url('ToolBar/rtbDropDownBg.png');
	background-color: #fff; 
	background-repeat: repeat-y;
}

.RadToolBarDropDown_Atmosphere .rtbBottomLeft,
.RadToolBarDropDown_Atmosphere .rtbRoundedCorners
{
	background-image:  url('ToolBar/rtbRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadToolBarDropDown_Atmosphere .rtbTopRight,
.RadToolBarDropDown_Atmosphere .rtbBottomRight
{
	background-image:  url('ToolBar/rtbRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadToolBarDropDown_Atmosphere .rtbTopFix,
.RadToolBarDropDown_Atmosphere .rtbBottomFix,
.RadToolBarDropDown_Atmosphere .rtbRoundedCorners .rtbFirst
{
	border-color: #979797;
}

.RadToolBarDropDown_Atmosphere_rtl .rtbBottomLeft,
.RadToolBarDropDown_Atmosphere_rtl .rtbRoundedCorners
{
	background-image: url('ToolBar/rtbRoundedLeft_rtl.png');
}

.RadToolBarDropDown_Atmosphere_rtl .rtbTopRight,
.RadToolBarDropDown_Atmosphere_rtl .rtbBottomRight
{
	background-image: url('ToolBar/rtbRoundedRight_rtl.png');
}

.RadToolBarDropDown_Atmosphere_rtl div.rtbTopFix,
.RadToolBarDropDown_Atmosphere_rtl div.rtbBottomFix,
.RadToolBarDropDown_Atmosphere_rtl .rtbGroup
{
	background-position: 100% 0;
}

/* </Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Atmosphere 
{
	border-color: #828282;
	background-color: #fff;
	background-image: url('ToolBar/rtbDropDownBg.png');
}

.RadToolBarDropDown_Atmosphere .rtbWrap,
.RadToolBarDropDown_Atmosphere .rtbTemplate
{
	font-weight: normal;
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #000;
}

.RadToolBarDropDown_Atmosphere .rtbItemHovered,
.RadToolBarDropDown_Atmosphere .rtbItemFocused,
.RadToolBarDropDown_Atmosphere .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_Atmosphere .rtbItemFocused .rtbWrap
{
	background-image: url('ToolBar/rtbDropDownHover.png');
}

.RadToolBarDropDown_Atmosphere .rtbDisabled .rtbWrap
{
	color: #999;
}

.RadToolBarDropDown_Atmosphere .rtbSeparator
{
	border-color: #939393;
	background: #f7f7f7;
}

/* </drop-down> */

/* </RadToolBar / Default> */