.RadTreeView_Atmosphere,
.RadTreeView_Atmosphere a.rtIn,
.RadTreeView_Atmosphere .rtEdit .rtIn input
{
	color: #000;
	font: 12px/18px "Segoe UI", Arial, sans-serif;
}

.RadTreeView_Atmosphere .rtPlus, 
.RadTreeView_Atmosphere .rtMinus
{
	background-image: url('TreeView/PlusMinus.png');
}

.RadTreeView_Atmosphere .rtChecked,
.RadTreeView_Atmosphere .rtUnchecked,
.RadTreeView_Atmosphere .rtIndeterminate
{
	background-image: url('TreeView/TriState.png');
}

.RadTreeView_Atmosphere .rtHover .rtIn
{
	color: #000;
	border-color: #b5b5b5 #b5b5b5 #9e9e9e;
	background-color: #C5C5C5;
	background-image: url('TreeView/ItemHoveredBg.png');
}

.RadTreeView_Atmosphere .rtSelected .rtIn
{
	color: #fff;
	border-color: #8d8d8d #7e7e7e #6c6c6c;
	background-color: #828282;
	background-image: url('TreeView/ItemSelectedBg.png');
}

.RadTreeView_Atmosphere .rtSelected .rtLoadingBefore,
.RadTreeView_Atmosphere .rtSelected .rtLoadingAfter,
.RadTreeView_Atmosphere .rtSelected .rtLoadingBelow
{
	color: #333;
}

.RadTreeView_Atmosphere .rtLoadingIcon
{
	background-image: url('TreeView/LoadingIcon.gif');
}

.RadTreeView_Atmosphere .rtLI .rtEdit .rtIn
{
	border-color: #6c6c6c;
	background: #fff;
}

.RadTreeView_Atmosphere_disabled .rtIn,
.RadTreeView_Atmosphere .rtDisabled .rtIn
{
	color: #ccc;
}


/* <node lines> */

.RadTreeView_Atmosphere .rtLines .rtLI,
.RadTreeView_Atmosphere .rtLines .rtFirst .rtUL { background-image: url('Common/NodeSpan.png'); }
.RadTreeView_Atmosphere_rtl .rtLines .rtLI,
.RadTreeView_Atmosphere_rtl .rtLines .rtFirst .rtUL { background-image:url('Common/NodeSpan_rtl.png'); }

.RadTreeView_Atmosphere .rtLines .rtFirst,
.RadTreeView_Atmosphere .rtLines .rtFirst .rtUL { background-image: url('Common/FirstNodeSpan.png'); }
.RadTreeView_Atmosphere_rtl .rtLines .rtFirst,
.RadTreeView_Atmosphere_rtl .rtLines .rtFirst .rtUL { background-image: url('Common/FirstNodeSpan_rtl.png'); }
.RadTreeView_Atmosphere .rtLines .rtLast,
.RadTreeView_Atmosphere .rtLines .rtLast .rtUL { background-image: none; }

.RadTreeView_Atmosphere .rtLines .rtTop { background-image:url('Common/TopLine.png'); }
.RadTreeView_Atmosphere_rtl .rtLines .rtTop { background-image:url('Common/TopLine_rtl.png'); }
.RadTreeView_Atmosphere .rtLines .rtMid { background-image:url('Common/MiddleLine.png'); }
.RadTreeView_Atmosphere_rtl .rtLines .rtMid { background-image:url('Common/MiddleLine_rtl.png'); }
.RadTreeView_Atmosphere .rtLines .rtBot { background-image:url('Common/BottomLine.png'); }
.RadTreeView_Atmosphere_rtl .rtLines .rtBot { background-image: url('Common/BottomLine_rtl.png'); }
.RadTreeView_Atmosphere .rtLines .rtLast .rtTop { background-image:url('Common/SingleLine.png'); }
.RadTreeView_Atmosphere_rtl .rtLines .rtLast .rtTop { background-image:url('Common/SingleLine_rtl.png'); }

/* </node lines> */
