/* RadWindow for ASP.NET AJAX Default Skin */

/* Window Background */

/* Horiznotal */
.RadWindow_Atmosphere .rwTopLeft,
.RadWindow_Atmosphere .rwTopRight,
.RadWindow_Atmosphere .rwTitlebar,
.RadWindow_Atmosphere .rwFooterLeft,
.RadWindow_Atmosphere .rwFooterRight,
.RadWindow_Atmosphere .rwFooterCenter,
.RadWindow_Atmosphere .rwTopResize,
.RadWindow_Atmosphere .rwStatusbar div,
.RadWindow_Atmosphere .rwStatusbar,
.RadWindow_Atmosphere .rwPopupButton,
.RadWindow_Atmosphere .rwPopupButton span,
.RadWindow_Atmosphere.rwMinimizedWindow .rwCorner
{
    background-image: url('Window/WindowHorizontalSprites.gif');
}


/* Vertical */
.RadWindow_Atmosphere .rwBodyLeft,
.RadWindow_Atmosphere .rwBodyRight,
.RadWindow_Atmosphere .rwStatusbarRow .rwCorner
{
	background-image: url('Window/WindowVerticalSprites.gif');
}

/* Window Shadows */

/* Horiznotal */
.RadWindow_Atmosphere .rwShadow .rwTopLeft,
.RadWindow_Atmosphere .rwShadow .rwTopRight,
.RadWindow_Atmosphere .rwShadow .rwTitlebar,
.RadWindow_Atmosphere .rwShadow .rwFooterLeft,
.RadWindow_Atmosphere .rwShadow .rwFooterRight,
.RadWindow_Atmosphere .rwShadow .rwFooterCenter,
.RadWindow_Atmosphere .rwShadow .rwTopResize,
.RadWindow_Atmosphere .rwShadow .rwStatusbar div,
.RadWindow_Atmosphere .rwShadow .rwStatusbar,
.RadWindow_Atmosphere .rwShadow .rwPopupButton,
.RadWindow_Atmosphere .rwShadow .rwPopupButton span,
.RadWindow_Atmosphere .rwShadow .rwBodyLeft,
.RadWindow_Atmosphere .rwShadow .rwBodyRight,
.RadWindow_Atmosphere .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_Atmosphere .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url('Window/WindowHorizontalSprites.png');
}

/* Vertical */
.RadWindow_Atmosphere .rwShadow .rwBodyLeft,
.RadWindow_Atmosphere .rwShadow .rwBodyRight,
.RadWindow_Atmosphere .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_Atmosphere .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url('Window/WindowVerticalSprites.png');
}

/* Shadows End */

.RadWindow_Atmosphere .rwStatusbar input
{
    background-color: #f7f3e9;
}

.RadWindow_Atmosphere .rwControlButtons a
{
    background-image: url('Window/CommandButtonSprites.gif');
}

.RadWindow_Atmosphere a.rwIcon
{
	background-image: url('Window/WindowHorizontalSprites.gif');
}

div.RadWindow_Atmosphere .rwTitlebarControls em
{
	color: black;
}

div.RadWindow_Atmosphere .rwDialogInput
{
	border-top: solid 1px #abadb3;
	border-right: solid 1px #dbdfe6;
	border-bottom: solid 1px #e3e9ef;
	border-left: solid 1px #e2e3ea;
}

div.RadWindow_Atmosphere .rwDialogInput:hover
{
	border-top: solid 1px #5794bf;
	border-right: solid 1px #b7d5ea;
	border-bottom: solid 1px #c7e2f1;
	border-left: solid 1px #c5daed;
	color: #565656;
}

.RadWindow_Atmosphere td.rwWindowContent
{
    background-color: #fff;
}

/* Loading Indicators */
div.RadWindow_Atmosphere tr td.rwLoading
{
	background-color: #fff;
}

/* When ShowContentDuringLoad="true" */
.RadWindow_Atmosphere td.rwWindowContent.rwLoading
{
    background-image: url('Common/loading.gif');
}

/* When ShowContentDuringLoad="false" */
.RadWindow_Atmosphere input.rwLoading
{
    background-image: url('Common/loading_small.gif');
}

div.RadWindow_Atmosphere a.rwCancel,
div.RadWindow_Atmosphere a.rwCancel span
{
    background: none;
    cursor: pointer;
}

div.RadWindow_Atmosphere a.rwCancel span span
{
    color: #000000;
    text-decoration: underline;
}

/* Shadow Control Buttons */

.RadWindow_Atmosphere .rwShadow .rwControlButtons 
{
	margin: 5px -2px 0 0;
}

.RadWindow_Atmosphere .rwShadow .rwControlButtons 
{
	margin: 5px -1px 0 0\9;
}

/* ctrl buttons when winodw is minimized */
.RadWindow_Atmosphere.rwMinimizedWindowShadow .rwShadow .rwControlButtons 
{
	margin: 7px -8px 0 0;
}

/* Icon when winodw is minimized */
.RadWindow_Atmosphere.rwMinimizedWindowShadow .rwShadow .rwIcon 
{
	margin: 9px 6px 0 0;
}

/*title buttons when winodw is minimized */
.RadWindow_Atmosphere.rwMinimizedWindowShadow .rwShadow em 
{
	margin: 4px 0 0 -1px;
}

.RadWindow_Atmosphere .rwShadow .rwControlButtons li
{
	float: left;
	padding: 0;
}

.RadWindow_Atmosphere .rwShadow .rwControlButtons a
{
	width: 26px; 
}

.rwInactiveWindow .rwShadow .rwTopLeft,
.rwInactiveWindow .rwShadow .rwTopRight,
.rwInactiveWindow .rwShadow .rwTitlebar,
.rwInactiveWindow .rwShadow .rwFooterLeft,
.rwInactiveWindow .rwShadow .rwFooterRight,
.rwInactiveWindow .rwShadow .rwFooterCenter,
.rwInactiveWindow .rwShadow .rwTopResize,
.rwInactiveWindow .rwShadow .rwStatusbar div,
.rwInactiveWindow .rwShadow .rwStatusbar,
.rwInactiveWindow .rwShadow .rwPopupButton,
.rwInactiveWindow .rwShadow .rwPopupButton span,
.rwInactiveWindow .rwShadow.rwMinimizedWindow .rwCorner,
.RadWindow_Atmosphere.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopLeft,
.RadWindow_Atmosphere.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTitlebar,
.RadWindow_Atmosphere.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopRight,
.RadWindow_Atmosphere.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterLeft,
.RadWindow_Atmosphere.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterCenter,
.RadWindow_Atmosphere.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterRight
{
    background-image: url('Window/WindowHorizontalSprites.gif') !important;
}

.rwInactiveWindow .rwShadow .rwBodyLeft,
.rwInactiveWindow .rwShadow .rwBodyRight,
.rwInactiveWindow .rwShadow .rwStatusbarRow .rwCorner,
.RadWindow_Atmosphere.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyLeft,
.RadWindow_Atmosphere.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyRight
{
	background-image: url('Window/WindowVerticalSprites.gif') !important;
}


