<div class="row pad pad-top">
    <!-- ko if: activeStep() -->
    <h2 class="pad vertical" data-bind="text: header"></h2>
    <!-- /ko -->
    <p data-bind="text: header"></p>
    <div class="span12">
        <div class="row">
            <button class="btn color" type="button" data-bind="text: text, click: completeAction, disable: !computedResponse() && !activeStep() || $parent.completed() === true || $parents[1].programsSaving() === true" />
            <button class="pull-right" data-bind="click: $parent.saveAction, enable: !completed() && $parent.hasChanges() && !$parents[1].programsSaving()">Save</button>
        </div>
    </div>
</div>