<div class="row pad pad-top">
    <!-- ko with: header -->
    <h2 class="pad vertical" data-bind="text: $data"></h2>
    <!-- /ko -->
    <h3 data-bind="html: question, css: { 'grey': !computedResponse() && !activeStep() }"></h3>
    <em class="gray" data-bind="html: notes"></em>
    <!-- ko ifnot: $parent.completed() -->
    <!-- ko with: computedResponse -->
    <div class="span6">
        <input data-bind="datepicker: value, datepickerOptions: {  }, disable: (!$parent.computedResponse() && !$parent.activeStep()|| $parents[1].completed())" type="text" class="datepicker">
    </div>
    <div class="span6">
		<!-- ko if: Modernizr.inputtypes.time -->
			<input data-bind="timepicker: value, valueUpdate: blur, disable: (!$parent.computedResponse() && !$parent.activeStep() || $parents[1].completed() || !value())" type="time">
		<!-- /ko -->
		<!-- ko ifnot: Modernizr.inputtypes.time -->
			<input id="value" data-bind="jqtimepicker:{observableDateTime:value}, disable: (!$parent.computedResponse() && !$parent.activeStep() || $parents[1].completed() || !value())" type="text">
		<!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: $parent.completed() -->
    <br>
    <!-- ko if: computedResponse().value -->
    <strong class="push1"><span data-bind="Date: computedResponse().value"></span> <span data-bind="LongTime: computedResponse().value"></span></strong>
    <!-- /ko -->
    <!-- ko ifnot: computedResponse().value -->
    <strong><em class="push1">&ltNot Answered&gt</em></strong>
    <!-- /ko -->
    <!-- /ko -->
</div>