<div class="row pad pad-top">
    <!-- ko with: header -->
    <h2 class="pad vertical" data-bind="text: $data"></h2>
    <!-- /ko -->
    <h3 data-bind="html: question, css: { 'grey': !computedResponse() && !activeStep() }"></h3>
    <em class="gray" data-bind="html: notes"></em>
    <!-- ko ifnot: $parent.completed() -->
    <!-- ko foreach: responses().sort($root.alphabeticalOrderSort) -->
    <label class="control-group">
        <div class="radio" data-bind="hoverToggle: 'hover'">
            <span data-bind="css: { 'checked': $parent.computedResponse() === $data }">
                <input type="radio" data-bind="clickRadio: $parent.computedResponse, disable: (!$parent.computedResponse() && !$parent.activeStep()|| $parents[1].completed())" />
            </span>
        </div>
        <strong data-bind="text: text, css: { 'grey': !$parent.computedResponse() && !$parent.activeStep() }"></strong>
    </label>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: $parent.completed() -->
    <br>
    <!-- ko if: computedResponse() -->
    <strong class="push1" data-bind="text: computedResponse().text"></strong>
    <!-- /ko -->
    <!-- ko ifnot: computedResponse() -->
    <strong><em class="push1">&ltNot Answered&gt</em></strong>
    <!-- /ko -->
    <!-- /ko -->
</div>