<div class="row pad pad-top">
    <!-- ko with: header -->
    <h2 class="pad vertical" data-bind="text: $data"></h2>
    <!-- /ko -->
    <h3 data-bind="html: question, css: { 'grey': !computedResponse() && !activeStep() }"></h3>
    <em class="gray" data-bind="html: notes"></em>
    <!-- ko ifnot: $parent.completed() --> 
	<div class="span6">
		<label class="control-group">
			<div data-bind="chsnsingle: { options: responses().sort($root.alphabeticalOrderSort), value: computedResponse, text: 'text', label: 'programs', disabled: (!computedResponse() && !activeStep() || $parent.completed()), 
							title: computedResponse()? computedResponse().text() : null }"></div>
		</label>
	</div>
    <!-- /ko -->
    <!-- ko if: $parent.completed() -->
    <br>
    <!-- ko if: computedResponse() -->
    <strong class="push1" data-bind="text: computedResponse().text"></strong>
    <!-- /ko -->
    <!-- ko ifnot: computedResponse() -->
    <strong><em class="push1">&ltNot Answered&gt</em></strong>
    <!-- /ko -->
    <!-- /ko -->
</div>