/*Telerik RadFilter Default skin*/

/*sprite*/

.RadFilter_Atmosphere .rfLeft,
.RadFilter_Atmosphere .rfMid,
.RadFilter_Atmosphere .rfTools,
.RadFilter_Atmosphere .rfRight,
.RadFilter_Atmosphere .rfOper:hover,
.RadFilter_Atmosphere .rfField:hover,
.RadFilter_Atmosphere .rfExp:hover,
.RadFilter_Atmosphere .rfOper:focus,
.RadFilter_Atmosphere .rfField:focus,
.RadFilter_Atmosphere .rfExp:focus,
.RadFilter_Atmosphere .rfOper:active,
.RadFilter_Atmosphere .rfField:active,
.RadFilter_Atmosphere .rfExp:active,
.RadFilter_Atmosphere .rfAddGr,
.RadFilter_Atmosphere .rfAddExp,
.RadFilter_Atmosphere .rfDel,
.RadFilter_Atmosphere .rfApply a,
.RadFilter_Atmosphere .rfApply input
{
	background-image:url('Filter/sprite.gif');
}

/*global*/

.RadFilter_Atmosphere,
.RadFilter_Atmosphere .rfText,
.RadFilter_Atmosphere .rfApply input
{
	font-size:12px;
	font-family:"segoe ui",arial,sans-serif;
}

.RadFilter_Atmosphere,
.RadFilter_Atmosphere a,
.RadFilter_Atmosphere .rfText,
.RadFilter_Atmosphere .rfApply input
{
	color:#000;
}

/*lines*/

.RadFilter_Atmosphere .rfLines li li
{
	background-image:url('Filter/rfLine.gif');
}

.RadFilter_Atmosphere .rfLines li li .rfDiv
{
	background-image:url('Filter/rfMiddle.gif');
}

.RadFilter_Atmosphere .rfLines li li.rfLast .rfDiv
{
	background-image:url('Filter/rfLast.gif');
}

/*item elements*/

.RadFilter_Atmosphere .rfLeft
{
	background-position:0 0;
}

.RadFilter_Atmosphere .rfRight
{
	background-position:100% 0;
}

.RadFilter_Atmosphere .rfMid,
.RadFilter_Atmosphere .rfTools
{
	background-position:0 -100px;
}

.RadFilter_Atmosphere .rfField
{
	color:#545454;
}

.RadFilter_Atmosphere .rfOper:hover,
.RadFilter_Atmosphere .rfField:hover,
.RadFilter_Atmosphere .rfExp:hover,
.RadFilter_Atmosphere .rfOper:focus,
.RadFilter_Atmosphere .rfField:focus,
.RadFilter_Atmosphere .rfExp:focus,
.RadFilter_Atmosphere .rfOper:active,
.RadFilter_Atmosphere .rfField:active,
.RadFilter_Atmosphere .rfExp:active
{
	background-position:100% -76px;
	color:#000;
}

.RadFilter_Atmosphere .rfText
{
	border-color:#8e8e8e #b8b8b8 #b8b8b8 #8e8e8e;
}

.RadFilter_Atmosphere .rfAddExp
{
	background-position:-300px 0;
}
.RadFilter_Atmosphere .rfAddExp:hover
{
	background-position:-350px 0;
}

.RadFilter_Atmosphere .rfAddGr
{
	background-position:-400px 0;
}
.RadFilter_Atmosphere .rfAddGr:hover
{
	background-position:-450px 0;
}

.RadFilter_Atmosphere .rfDel
{
	background-position:-150px 0;
}
.RadFilter_Atmosphere .rfDel:hover
{
	background-position:-200px 0;
}

/*preview*/

.RadFilter_Atmosphere .rfPreview strong
{
	color:#25800b;
}

.RadFilter_Atmosphere .rfPreview em,
.RadFilter_Atmosphere .rfPreview .rfBr
{
	color:#0043dc;
}

/*apply*/

.RadFilter_Atmosphere .rfApply a
{
	background-position:100% -29px;
}
.RadFilter_Atmosphere .rfApply input
{
	background-position:0 -50px;
}

/*rtl*/

.RadFilterRTL_Atmosphere .rfLines li li
{
	background-image:url('Filter/rfLine-rtl.gif');
}

.RadFilterRTL_Atmosphere .rfLines li li .rfDiv
{
	background-image:url('Filter/rfMiddle-rtl.gif');
}

.RadFilterRTL_Atmosphere .rfLines li li.rfLast .rfDiv
{
	background-image:url('Filter/rfLast-rtl.gif');
}

.RadFilterRTL_Atmosphere .rfLeft
{
	background-position:100% 0;
}

.RadFilterRTL_Atmosphere .rfRight
{
	background-position:0 0;
}

.RadFilterRTL_Atmosphere .rfOper:hover,
.RadFilterRTL_Atmosphere .rfField:hover,
.RadFilterRTL_Atmosphere .rfExp:hover,
.RadFilterRTL_Atmosphere .rfOper:focus,
.RadFilterRTL_Atmosphere .rfField:focus,
.RadFilterRTL_Atmosphere .rfExp:focus,
.RadFilterRTL_Atmosphere .rfOper:active,
.RadFilterRTL_Atmosphere .rfField:active,
.RadFilterRTL_Atmosphere .rfExp:active
{
	background-position:-586px -76px;
}