<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="Select 500 Status code with time taken" 
         value= "SELECT 
                   sc-status as [error code], 
                   cs-uri-stem, time, 
                   time-taken as [time taken], 
                   COUNT(*) as [count]
                 FROM 
                   #Path#
                 WHERE 
                   sc-status=500 
                 GROUP BY sc-status, cs-uri-stem, time-taken, time" />
    <add key="500 status code summary"
         value= "SELECT 
                   cs-uri-stem as [URI], 
                   COUNT(*) as [count]
                 FROM 
                   #Path# 
                 WHERE 
                   sc-status=500 
                 GROUP BY cs-uri-stem ORDER BY COUNT(*) DESC" />
    <add key="Columns"
         value="date,time,s-ip,cs-method,cs-uri-stem,cs-uri-query,s-port,cs-username,c-ip,cs(User-Agent),sc-status,sc-substatus,sc-win32-status,time-taken"/>
  </appSettings>
</configuration>