<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PhytelServicesConnName" value="Phytel" />
    <add key="Contracts" value="ORLANDOHEALTH001" />
    <add key="TakeCount" value="1200" />
    <add key="DDPatientServiceUrl" value="http://azurePhytelDev.cloudapp.net:59901/Patient" />
    <add key="DDPatientSystemUrl" value="http://azurePhytelDev.cloudapp.net:59901/PatientSystem" />
    <add key="DDPatientNoteUrl" value="http://azurePhytelDev.cloudapp.net:59901/PatientNote" />
    <add key="DDContactServiceUrl" value="http://azurePhytelDev.cloudapp.net:59901/Contact" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>