<header role="banner">
    <img class="brand" data-bind="attr: { src: currentBrand().imageSource }" />
    <div class="options">
        <div class="user-menu dropdown" data-bind="with: $parent.session.currentUser, clickToggle: $parent.userMenuOpen, css: { 'open': $parent.userMenuOpen }">
            <div class="dropdown-toggle">
                <a class="disabled" data-bind="text: 'User - ' + userName()"></a>
            </div>
            <div class="dropdown-content">
                <li data-bind="click: $parents[1].session.logOff">
                    <a href="#" data-bind="click: $parents[1].session.logOff">Sign Out</a>
                </li>
            </div>
        </div>
    </div>
    <div class="loading-messages">
        <div class="messages-dropdown open" data-bind="visible: $parent.compLoadingMessages().length !== 0 && $parent.loadingMessagesShowing() === true ">
            <div class="dropdown-toggle">
                <span class="disabled"><strong>Loading...</strong><i class="icon-spinner icon-spin grey icon-2x"></i></span>
            </div>
            <ul class="messages-content" data-bind="foreach: $parent.compLoadingMessages">
                <li class="ellipsis" data-bind="visible: Showing"><span data-bind="text: Message"></span></li>
            </ul>
        </div>
    </div>
</header>