<div class="controls">
	<!-- ko if: $data.showEditButton -->
    <div class="toggle" data-bind="click: $parents[1].editClickFunc, clickBubble: false" style="margin-right: 4px;">
		<a href="#">
			<i class="icon-edit"></i>
		</a>
    </div>	
	<!-- /ko -->
	<!-- ko if: $data.showDeleteButton -->
	<div class="toggle">
		<a href="#" data-bind="click: $parents[1].deleteClickFunc, clickBubble: false">
			<i class="icon-cancel red"></i>
		</a>
	</div>
	<!-- /ko -->
    <div class="toggle single-arrow-left" data-method="open" data-target="column" data-type="remove" data-bind="click: $parents[1].minimizeThisColumn, enable: $parent.isOpen(), clickBubble: false">
    </div>
    <div class="toggle double-arrow-right" style="margin-right: 2px;" data-method="open" data-target="column" data-type="add" data-bind="click: $parents[1].maximizeThisColumn, enable: !$parent.isOpen(), clickBubble: false">
    </div>
    <div class="toggle fullscreen" data-method="fullscreen" data-target="widget" data-type="both" data-bind="click: $parents[1].toggleFullScreen, clickBubble: false">
    </div>
</div>