/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.cp_Body
{
    height: 100px;
    float: left;
    margin-left: 20px;
    clear: both;
}
.cp_table tr td
{
    border: 0 solid;
}

.cp_table_col2
{
    width: 214px;
    text-align: right;
}
.cp_table_colbuttons
{
    padding: 0px 10px 0px 0px;
    width: 200px;
    text-align: right;
}
.cp_labels 
{ 
  float:right;
  clear:left;
  font-size:12px;
  line-height:10px;
  font-weight:bold;
  color:#333333;
  padding-bottom:15px;
  padding-right:10px;
  vertical-align:middle;
}

.cp_textboxes
{
  float:left;
  width:198px;
  height:18px;
}

.cp_validator
{
    color:Red;
    float:right;
    vertical-align:middle;
}

.cp_instructions
{
    float: left;
    clear: both;
    margin-top:5px;
    margin-left:16px;
    font-size:11px;
}
.cp_instructions_body li:before
{
    content:"\002D";
}
.cp_instructions_body
{
    margin-left:25px;
}