/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
.fp_panel
{
    height: 120px;
    float: left;
    margin-left: 20px;
    clear: both;
}



.fp_usernametable 
{
  width: auto;
  height: 75px;
  margin-bottom:20px;
}

.fp_usernametable tr td
{
    border:none;
}

.fp_usernametable_col2
{
    width: 205px;
    text-align: right;
}

.fp_questiontable 
{
  width: auto;
  height: 100px;
  margin-bottom:20px;
}

.fp_questiontable tr td
{
    border:none;
}

.fp_questiontable_col2
{
    width: auto;
    text-align: left;
}

.fp_questiontable_buttoncell
{
    width: auto;
    text-align: left;
    padding-top:5px; 
    padding-left:87px;
}

.fp_questionliterals
{
  float:right;
  clear:left;
  font-size:12px;
  line-height:10px;
  font-weight:normal;
  color:#333333;
  padding-bottom:5px;
  padding-right:5px;
  vertical-align:middle;
}

.fp_labels 
{ 
  float:right;
  clear:left;
  font-size:12px;
  line-height:10px;
  font-weight:bold;
  color:#333333;
  padding-bottom:10px;
  padding-right:10px;
  vertical-align:middle;
}

.fp_usernametextbox
{
  float:left;
  width:200px;
  height:18px;
}

.fp_answertextbox
{
  float:left;
  width:200px;
  height:18px;
}

.fp_instructions
{
    clear: both;
    margin-top:20px;
    margin-left:16px;
    font-size:11px;
}
