/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
#drpFacilityDiv .ui-select span, #drpFacilityDiv .ui-multiselect span {
  overflow:hidden;
  text-overflow:ellipsis;
}

#drpProviderDiv .ui-select span, #drpProviderDiv .ui-multiselect span {
  overflow:hidden;
  text-overflow:ellipsis;
}

#drpDatedate {
  width:120px !important;
}


.div_outr_buttons
{
    float:right;
    width:200px;
    height:35px;
}

.div_outr_header
{
    float:left;
    width:610px;
    padding-left:5px;
}

.outr_PatientName_Col
{
    width:180px; float:left; padding:0; margin:0;
}

.outr_Phone_Col
{
    width:105px; float:left; padding:0; margin:0;
}

.outr_ApptTime_Col
{
    width:60px; float:left; padding:0; margin:0;
}

.outr_Reason_Col
{
    width:180px; float:left; padding:0; margin:0;
}

.outr_Provider_Col
{
    width:170px; float:left; padding:0; margin:0;
}

.outr_Facility_Col
{
    width:135px; float:left; padding:0; margin:0;
}

.outr_FacilityHdr_Col
{
    width:135px; float:left; padding:0; margin:0;
}
