/*!	
	Licensed Materials - Property of IBM
	PID : 5725-Z49
	Copyright IBM Corp. 2013, 2016
	US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/* global styles css reset (prevent mode) */
        .RadEditor table,
        .reToolbar,
        .reToolbar li,
        .reTlbVertical,
        .reDropDownBody ul,
        .reDropDownBody ul li,
        .RadWindow table,
        .RadWindow table td,
        .RadWindow table td ul,
        .RadWindow table td ul li
        {
            margin: 0 !important;
            padding: 0 !important;
            border: 0 !important;
            list-style: none !important;
        }
        .reWrapper_corner,
        .reWrapper_center,
        .reLeftVerticalSide,
        .reRightVerticalSide,
        .reToolZone,
        .reEditorModes,
        .reResizeCell,
        .reToolZone table td,
        .RadEditor .reToolbar,
        .RadEditor .reEditorModes
        {
            border: 0 !important;
        }
        .reToolbar li,
        .reToolbar ul li,
        .reInsertTable .reTlbVertical .reToolbar li
        {
            float: left !important;
            clear: none !important;
            border: 0 !important;
        }