.tile
{
    margin: 2px;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    overflow: hidden;
    -moz-box-shadow: 3px 3px 6px #333;
    -webkit-box-shadow: 3px 3px 6px #333;
    box-shadow: 3px 3px 6px #333;
    display: none;    
    
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
    
}

.tile .content
{
    margin: 5px 10px;
    overflow: hidden;
    color: #333;
}
.tile:hover
{
    box-shadow: 0 0 15px #888;
    -webkit-box-shadow: 0 0 15px #888;
    -moz-box-shadow: 0 0 15px #888;
    -o-box-shadow: 0 0 15px #888;
    
    border:1px solid #888888;  
              
   /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888');
            
}
.tile:hover
{        
    /*-ms-transform: scale(1.02, 1.02);*/
}

.tile header
{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width: 100%;
    float: left;
    padding: 0px 0px 5px 0px;
}
.tile header:hover
{
    cursor: move;
}
.tile header span
{
    float: left;
    text-transform: uppercase;
}
.tile header span:nth-child(2)
{
    font-size: 9pt;
    float: right;
    margin: 4px 8px 2px 0px;
}

.tile section
{
    margin-top: 35px;
}

.tile footer
{
}
.tile footer span
{
    font-weight: bold;
}

.tile .stickyfooter
{
    clear: both;
    position: absolute;
    bottom: 0px;
    padding: 5px 5px;
    width: 100%;
}
.tile .stickyfooter .Right
{
    padding-right: 20px;
}
.tile .smallblock
{
    background-color: #dedede;
}

.divSmallArea, .divMediumArea
{
    width: 238px;
    height: 195px;
    padding: 0px;
}

.divLargeArea
{
    height: 280px;
    padding: 0px;
}

.divHeader
{
    background-color: #DFE3E5;
    color: #333333;
    font-weight: bold;
    height: 25px;
    cursor: move;
}

.divContentArea
{
    height: 140px;
}

.divContent
{
    padding-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.divLargeChartArea
{
    width: 480px;
    height: 280px;
}

.divLargeChartAreaForDiabetes
{
    width: 100%;
    height: 100%;
}

.radPannelStyle
{
    width: 100% !important;
    height: 100%;
}

p
{
    padding: 0 0 1em;
}
.accordion_list
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.accordion_head
{
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    margin: 1px;
    background-color: rgb(223, 227, 229);
    height: 20px;
    width: 100%;
    font-weight: bold;
    color: #666666;    
}

.accordion_body
{
    height: 130px;
    padding: 5px 10px 15px;
    width: 460px;
}

/*diabetes chart section*/
.tab_list
{
    float: left;
    width:100%;
    margin:1px 0;
    background-color: rgb(223, 227, 229);
}

.tab_list li 
{
    float: left;
    padding:0px 8px;
    border-right:1px solid #ffffff;
    line-height:25px;
    cursor:pointer;
}

.tab_list li:hover
{
    background:#ffffff;
}

.diabetesChartArea 
{
    width: 480px;
    height: 245px;
    float:left;
}