/* RadButton Default Skin */

.RadButton_Atmosphere.rbSkinnedButton,
.RadButton_Atmosphere .rbDecorated,
.RadButton_Atmosphere.rbVerticalButton,
.RadButton_Atmosphere.rbVerticalButton .rbDecorated,
.RadButton_Atmosphere .rbSplitRight,
.RadButton_Atmosphere .rbSplitLeft
{
	background-image:url('Button/ButtonSprites.gif');
}

.RadButton_Atmosphere .rbToggleCheckbox,
.RadButton_Atmosphere .rbToggleCheckboxChecked,
.RadButton_Atmosphere .rbToggleCheckboxFilled,
.RadButton_Atmosphere .rbToggleRadio,
.RadButton_Atmosphere .rbToggleRadioChecked
{
	background-image:url('Button/ToggleSprite.gif');
}

.RadButton_Atmosphere.rbToggleButton,
.RadButton_Atmosphere.rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_Atmosphere.rbToggleButton:hover
{
	color: #6a6a6a;
}

.RadButton_Atmosphere.rbLinkButton
{
	border: 1px solid #666;
	color: #333;
	text-decoration: none;
}

.RadButton_Atmosphere.rbLinkButton:hover
{
	background-color: #c5c5c5;
	color: #333;
}

.RadButton_Atmosphere.rbLinkButtonChecked,
.RadButton_Atmosphere.rbLinkButtonChecked:hover
{
	background-color: #838080;
	color: #fff;
	border: 1px solid #535252;
}

.RadButton_Atmosphere.rbLinkButton.rbDisabled,
.RadButton_Atmosphere.rbLinkButton.rbDisabled:hover
{
	background-color: #f9f8f8;
	border: 1px solid #d0d0d0;
	color: #6a6a6a;
}

.RadButton_Atmosphere.rbLinkButton:hover .rbSplitLeft,
.RadButton_Atmosphere.rbLinkButton:hover .rbSplitRight
{
	background-color: #fff;
}

.RadButton_Atmosphere.rbLinkButton .rbSplitRight
{
	border-left: 1px solid #666;
}

.RadButton_Atmosphere.rbLinkButton .rbSplitRight:hover
{
	background-color: #dedcdc;
	border-left: 1px solid #535252;
}

.RadButton_Atmosphere.rbLinkButton .rbSplitRight:active,
.RadButton_Atmosphere.rbLinkButton .rbSplitRight:focus
{
	background-color: #bab6b6;
	border-left: 1px solid #535252;
}

.RadButton_Atmosphere.rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #666;
}

.RadButton_Atmosphere.rbLinkButton .rbSplitLeft:hover
{
	background-color: #dedcdc;
	border-right: 1px solid #535252;
}

.RadButton_Atmosphere.rbLinkButton .rbSplitLeft:active,
.RadButton_Atmosphere.rbLinkButton .rbSplitLeft:focus
{
	background-color: #bab6b6;
	border-right: 1px solid #535252;
}

.RadButton_Atmosphere.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_Atmosphere.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_Atmosphere.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_Atmosphere.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	border-right: 1px solid #D0D0D0;
}

.RadButton_Atmosphere.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton_Atmosphere.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton_Atmosphere.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton_Atmosphere.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	border-left: 1px solid #D0D0D0;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_Atmosphere.rbLinkButton,
*html .RadButton_Atmosphere.rbLinkButton:hover
{
	border: 1px solid #666 !important;
}

