/* RadUpload / Default skin */

/* <general styles> */

.RadUpload_Atmosphere,
.RadUpload_Atmosphere a,
.RadUpload_Atmosphere input,
.RadUploadProgressArea_Atmosphere,
.RadUploadProgressArea_Atmosphere input
{
    font: normal 11px/10px "Segoe UI", Arial, sans-serif;
}

/* </general styles> */

/* <file inputs> */

.RadUpload_Atmosphere .ruStyled .ruFileInput
{
    border-color: #abadb3;
}

.RadUpload_Atmosphere .ruFakeInput
{
    border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
    color: #333;
}
* html .RadUpload_Atmosphere .ruFileWrap .ruInputHover { border-color: #abadb3; }
*+html .RadUpload_Atmosphere .ruFileWrap .ruInputHover { border-color: #abadb3; }

.RadUpload_Atmosphere .ruReadOnly .ruFakeInput
{
	background: #f3f3f3;
}

/* </file inputs> */

/* <buttons> */

.RadUpload_Atmosphere .ruButton,
.RadUploadProgressArea_Atmosphere .ruButton
{
    background-image: url('Upload/ruSprite.png');
    color: #000;
}

.RadUpload_Atmosphere .ruRemove
{
	color: #333;
}

div.RadUpload_Atmosphere .ruInputs .ruButtonHover,
div.RadUpload_Atmosphere .ruActions .ruButtonHover,
div.RadUploadProgressArea_Atmosphere .ruActions .ruButtonHover
{
    background-position: 100% -23px;
}

div.RadUpload_Atmosphere .ruFileWrap .ruButtonHover
{
    background-position: 100% 0;
}

/* </buttons> */

/* <submit button> */
/* (use this class to style a single button for uploads) */

.RadUploadSubmit
{
    background-image: url('Upload/ruSprite.png');
    color: #000;
}

/* </submit button> */

/* <progress area> */

.RadUploadProgressArea_Atmosphere .ruProgress
{
    border-color: #868686;
    background-image: url('Upload/ruSprite.png');
    background-color: #fff;
}

.RadUploadProgressArea_Atmosphere .ruProgress li
{
    color: #666;
}

.RadUploadProgressArea_Atmosphere .ruProgress li.ruCurrentFile
{
    color: #222;
}

.RadUploadProgressArea_Atmosphere .ruProgress .ruBar
{
    border-color: #b1b1b1 #a2a2a2 #8e8e8e;
    background-image: url('Upload/ruSprite.png');
}
 
.RadUploadProgressArea_Atmosphere .ruProgress .ruBar div
{
    background-image: url('Upload/ruProgress.gif');
}

.RadUploadProgressArea_Atmosphere_rtl .ruProgress .ruBar div
{
    background-image: url('Upload/ruProgress.gif');
}
 
.RadUploadProgressArea_Atmosphere .ruProgress .ruActions
{
	border-top-color: #dfdfdf;
	background: #f0f0f0;
}

.RadUploadProgressArea_Atmosphere .ruProgress .ruActions
{
	border-top-color: #828282;
	background: #f0f0f0;
}

/* </progress area> */

/* <RadAsyncUpload> */

.RadUpload_Atmosphere .ruUploadInvalid
{
    background-repeat: no-repeat;
    background-position: 100% -297px;
    background-image: url('Input/sprite.gif');
}

.RadUpload_Atmosphere_rtl .ruUploadInvalid
{
    background-position: 3px -297px;
}

.RadUpload_Atmosphere .ruFileProgress,
.RadUpload_Atmosphere .ruFileProgressWrap
{
    background-image: url('Upload/AsyncProgress.png');
}

.RadUpload_Atmosphere .ruFileProgress,
.RadUpload_Atmosphere_rtl .ruFileProgressWrap { background-position: 0 0; }
.RadUpload_Atmosphere .ruFileProgressWrap,
.RadUpload_Atmosphere_rtl .ruFileProgress { background-position: 100% 0; }

.RadUpload_Atmosphere .ruProgressStarted,
.RadUpload_Atmosphere_rtl .ruProgressComplete { background-position: 0 -5px; }
.RadUpload_Atmosphere .ruProgressComplete,
.RadUpload_Atmosphere_rtl .ruProgressStarted { background-position: 100% -5px; }

/* </RadAsyncUpload> */
