<section class="open" data-type="fixed">

    <div class="column ">

        <div class="widget-wrapper">

            <div class="widget open" data-bind="columnSizer: true">

                <div class="content" style="height: 629px;">

                    <div class="content-fill">

                        <div class="wrapper">

                            <div class="content" style="height: 629px;">

                                <div class="header">

                                    <div class="table-cell">

                                        <header>
                                            <h1>Cohorts</h1>
                                        </header>
                                    </div>
                                </div>

                                <div class="table-row">

                                    <div class="table-cell">

                                        <div class="body" style="height: 589px;">

                                            <div class="content">
                                                <table id="filters"><tbody>
                                                    <tr>
                                                        <th colspan="3">Choose up to three:
                                                        </th>
                                                    </tr>
                                                    <tr class="condition active" id="condition_7">
                                                        <td class="narrow">
                                                            <div class="checker">
                                                                <span class="checked">
                                                                    <input checked="true" data-comparator="contains" data-key="conditions" type="checkbox" value="7">
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td class="narrow">
                                                            <div class="indicator" style="background: rgb(31, 119, 180);">
                                                            </div>
                                                        </td>
                                                        <td>Arthritis
                                                        </td>
                                                    </tr>
                                                    <tr class="condition active" id="condition_1">
                                                        <td class="narrow">
                                                            <div class="checker">
                                                                <span class="checked">
                                                                    <input checked="" data-comparator="contains" data-key="conditions" type="checkbox" value="1">
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td class="narrow">
                                                            <div class="indicator" style="background: rgb(255, 127, 14);">
                                                            </div>
                                                        </td>
                                                        <td>Asthma
                                                        </td>
                                                    </tr>
                                                    <tr class="condition" id="condition_2">
                                                        <td class="narrow">
                                                            <div class="checker">
                                                                <span>
                                                                    <input data-comparator="contains" data-key="conditions" type="checkbox" value="2">
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td class="narrow">
                                                            <div class="indicator" style="background: rgb(44, 160, 44);">
                                                            </div>
                                                        </td>
                                                        <td>Diabetes
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section data-type="flex">
    <div class="column open">
        <div class="widget-wrapper">

            <div class="widget open" data-bind="columnSizer: true">

                <div class="content" style="height: 629px;">

                    <div class="content-fill">

                        <div class="wrapper">

                            <div class="content" style="height: 629px;">

                                <div class="header">

                                    <div class="table-cell">

                                        <header><h1>Population</h1></header>
                                    </div>
                                </div>

                                <div class="table-row">

                                    <div class="table-cell">

                                        <div class="body" style="height: 589px;">

                                            <div class="content">
                                                <svg id="visualizer" height="576" width="576">
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column ">
        <div class="widget-wrapper">

            <div class="widget open" data-bind="columnSizer: true">

                <div class="content" style="height: 629px;">

                    <div class="content-fill">

                        <div class="wrapper">

                            <div class="content" style="height: 629px;">

                                <div class="header">

                                    <div class="table-cell">

                                        <header><h1>Individuals</h1>

                                            <div class="options">
                                                <select class="dark" data-placeholder="Actions" id="actions" name="actions" style="display: none;">

                                                    <option value=""></option>


                                                    <option value="Send Campaign">Send Campaign</option>


                                                    <option value="Assign Care Program">Assign Care Program</option>


                                                    <option value="Export">Export</option>


                                                    <option value="Print">Print</option>
                                                </select>

                                                <div class="chosen-container chosen-container-single dark chosen-container-single-nosearch" style="width: 142px;" title="" id="actions_chosen"><a class="chosen-single chosen-default" tabindex="-1">

                                                    <span>Actions
                                                    </span>

                                                    <div><b></b>
                                                    </div></a>

                                                    <div class="chosen-drop">

                                                        <div class="chosen-search">
                                                            <input type="text" autocomplete="off" readonly="">
                                                        </div>
                                                        <ul class="chosen-results">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div></header>
                                        </div>
                                    </div>

                                    <div class="table-row">

                                        <div class="table-cell">

                                            <div class="body">

                                                <div class="content">
                                                    <table class="nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th class="narrow">
                                                                    <div class="checker" id="uniform-selectAll">
                                                                        <span>
                                                                            <input id="selectAll" name="selectAll" type="checkbox" value="1">
                                                                        </span>
                                                                    </div>
                                                                </th>
                                                                <th class="narrow">ID
                                                                </th>
                                                                <th>Individual Name
                                                                </th>
                                                                <th>Care Gaps
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data-id="1">
                                                                <td class="narrow">
                                                                    <div class="checker" id="uniform-selected">
                                                                        <span>
                                                                            <input id="selected" name="selected" type="checkbox" value="1">
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                                <td class="narrow">1
                                                                </td>
                                                                <td>
                                                                    <a href="/patients/1/care_plans">Billy Condo</a>
                                                                </td>
                                                                <td>3
                                                                </td>
                                                            </tr>
                                                            <tr data-id="2" style="display: none;">
                                                                <td class="narrow">
                                                                    <div class="checker" id="uniform-selected">
                                                                        <span>
                                                                            <input id="selected" name="selected" type="checkbox" value="1">
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                                <td class="narrow">2
                                                                </td>
                                                                <td>
                                                                    <a href="/patients/1/care_plans">Johnny Hairband</a>
                                                                </td>
                                                                <td>2
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>