 <div>  
    <div class="span2 align-right grey">
        <span data-bind="text: selectionLabel"><span>
    </div>   
    
    <!-- ko ifnot: isCreateNew() -->
    <div class="span3 pad-left">
        <div data-bind="chsnsingle: { options: selectOptions(), value: selectedValue, text: 'Text', idValue: 'Text', 
						label: optionsLabel, caption: 'Choose...' , disabled: !isEnabled()}"></div>
    </div> 
    <!-- /ko -->

    <!-- ko if: isCreateNew() -->    
    <div class="span3 pad-left">
        <input type="text" data-bind="value: selectedValue, attr: {placeholder: placeholderText}, valueUpdate: 'afterkeydown'" size="50"/>
    </div>
    <!-- /ko -->
</div>