<div class="span3 accordion open" data-bind="with: computedGoal">
    <header class="rule">
        <div class="span12">
            <div class="large grey muted line pad-horizontal">
                Goal Details
                <a class="accordion-toggle pull-left open pad-right" data-bind="css: { 'open': isExpanded }, clickToggle: isExpanded">
                    <i class="icon-angle-double-down"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="span12 details">
        <div class="status">
            <div class="rule"></div>
            <div class="row pad-icon-left rule">
                <div class="span6 grey">
                    Start Date
                </div>
                <div class="span6" data-bind="DateOrDash: startDate">
                </div>
            </div>
            <div class="row pad-icon-left">
                <div class="span6 grey">
                    Target Value
                </div>
                <div class="span6" data-bind="text: targetValue() ? targetValue() : '-'">
                </div>
            </div>
            <div class="row pad-icon-left">
                <div class="span6 grey">
                    Target Date
                </div>
                <div class="span6" data-bind="DateOrDash: targetDate">
                </div>
            </div>
            <div class="row pad-icon-left">
                <div class="span6 grey">
                    Type
                </div>
                <div class="span6">
                    <span data-bind="with: type">
                        <span data-bind="text: name"></span>
                    </span>                    
                    <span data-bind="if: !type()">-</span>
                </div>
            </div>
        </div>
        <!-- ko if: isExpanded -->
        <div class="accordion-content pad pad-icon-left muted">
            <div class="row pad-bottom">
                <div class="span6 grey">
                    Focus Area(s)
                </div>
                <div class="span6" data-bind="text: focusAreaString, attr: { 'title': focusAreaString }">
                </div>
            </div>
            <div class="row pad-bottom">
                <div class="span6 grey">
                    Program(s)
                </div>
                <div class="span6" data-bind="text: programString">
                </div>
            </div>
            <div class="row pad-bottom">
                <div class="span6 grey">
                    Source
                </div>
                <div class="span6">
                    <span data-bind="with: source">
                        <span data-bind="text: name"></span>
                    </span>                    
                    <span data-bind="if: !source()">-</span>
                </div>
            </div>
            <div class="row pad-bottom">
                <div class="span6 grey">
                    End Date
                </div>
                <div class="span6" data-bind="DateOrDash: endDate">
                </div>
            </div>
            <div data-bind="foreach: customAttributes().sort($parent.alphabeticalOrderSort)">
                <div data-bind="compose: displayPath">
                </div>
            </div>
            <div class="row">
                <div class="pull-left">
                    <a class="edit_goal icon-outset" href="#" data-bind="click: $parent.edit"><i class="icon-edit"></i>Edit</a>
                </div>
                <div class="pull-right">
                    <a class="delete_goal" href="#" data-bind="click: $parent.delete"><i class="icon-cancel"></i>Delete</a>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="span12 transparent">-</div>
    <div class="">
        <div class="span12">
            <div class="large grey muted line pad-horizontal pad-icon-left">
                Barriers
                <a class="accordion-toggle pull-right" data-bind="click: $parent.addBarrier">
                    <i class="icon-plus"></i>
                </a>
            </div>
        </div>
        <!-- ko foreach: barriers -->
            <!-- ko compose: { model: 'viewmodels/patients/sections/barrier.details', activationData: { barrier: $data  } } -->
            <!-- /ko -->
        <!-- /ko -->
        <div class="span12" data-bind="visible: barriers().length === 0">
            <div class="status line">
                <div class="name pad-icon-left">
                    <div class="line-reset">
                        <em class="grey">No barriers.</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>