<div>
    <!-- ko with: navigation -->
    <!-- ko compose: 'shell/banner.html' --><!-- /ko -->
    <!-- ko compose: 'shell/subnav.html' --><!-- /ko -->
    <!-- /ko -->
    <main role="application" class="page-host" data-bind="router: { cacheViews: true }">
    </main>
    <!-- ko with: currentModal -->
    <div id="modal" data-bind="visible: Showing">
        <div class="content" data-bind="with: Entity">
            <header>
                <h2 class="title">
                    <span data-bind="text: $parent.Title"></span>
                    <i class="close pull-right icon-cancel blue" data-bind="click: $parent.cancelChanges"></i>
                </h2>
            </header>
            <!-- ko if: ($parent.TemplatePath().indexOf('html') === -1) -->
                <!-- ko compose: { model: $parent.TemplatePath, activationData: { selectedPatient: selectedPatient, activeDataType: activeDataType, showDropdown: true, showActions: false  } } -->
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: ($parent.TemplatePath().indexOf('html') === -1) -->
                <!-- ko compose: $parent.TemplatePath -->
                <!-- /ko -->
            <!-- /ko -->
            <footer>
                <div class="pull-right">
                    <a class="btn cancel" data-bind="click: $parent.cancelChanges">Cancel</a>
                    <button class="btn color" data-bind="enable: canSave, click: $parent.saveChanges">Save</button>
                </div>
            </footer>
        </div>
    </div>
    <!-- /ko -->
    <div id="alerts" data-bind="foreach: alerts">
        <!-- ko compose: alertPath -->
        <!-- /ko -->
    </div>
</div>