<header role="navigation">
    <div class="menu_toggle" data-bind="click: $parent.toggleNavVisibility">
        <img src="/NightingaleUI/Content/images/main_menu_toggle.png" data-phyautomation="navigation-context-button" />
        <img data-bind="attr: { src: !!currentRoute().config.settings ? currentRoute().config.settings.imageSource : '' }" data-phyautomation="route-image" />
        <span data-bind="text: !!currentRoute().config.settings ? currentRoute().config.settings.content : '' " data-phyautomation="route-header"></span>
    </div>
    <div>
    <!-- ko compose: 'shell/sidebar.html' --><!-- /ko -->
    </div>
    <nav class="tabs" data-bind="if: currentRoute">
        <ul data-bind="foreach: currentRoute().config.settings.pages">
            <li data-bind="click: $parent.setSubRoute, css: { 'active': $parent.currentSubRoute() === $data }" data-phyautomation="route-tabs">
                <a role="menuitem" data-bind="text: content, css: { 'active': $parent.currentSubRoute() === $data }"></a>
            </li>
        </ul>
    </nav>
    <div id="quick-add">
        <!-- ko compose: 'viewmodels/shell/quickadd/quickaddpopover' -->
        <!-- /ko -->
    </div>
</header>