<table data-bind="with: selectedPatient">
    <thead>
        <tr>
            <th>Goal Name</th>
            <th>Focus Areas</th>
            <th>Status</th>
            <th>Tasks </th>
            <th>Barriers </th>
            <th>Interventions </th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: goals">
        <!-- ko if: !isNew() -->
        <tr class="filter-toggle" data-bind="click: $parents[1].setActiveGoal, css: { active: $parents[1].activeGoal() === $data }">
            <td data-bind="text: name, attr: { 'title': name }"></td>
            <td data-bind="text: focusAreaString, attr: { 'title': name }"></td>
            <td data-bind="with: status"><span data-bind="text: name, attr: { 'title': name }"></span></td>
            <td data-bind="text: tasks().length, attr: { 'title': tasks().length }"></td>
            <td data-bind="text: barriers().length, attr: { 'title': barriers().length }"></td>
            <td data-bind="text: interventions().length, attr: { 'title': interventions().length }"></td>
            <td class="narrow">
                <a class="filter-toggle" href="#" data-bind="click: $parents[1].editGoal, clickBubble: false">
                    <i class="icon-edit"></i>
                </a>
            </td>
            <td class="narrow">
                <a href="#" data-bind="click: $parents[1].deleteGoal, clickBubble: false"><i class="icon-cancel"></i></a>
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
    <!-- ko if: goals().length === 0 -->
    <tbody>
        <tr>
            <td>
                <em class="grey">No goals defined for the individual.</em>
            </td>
        </tr>
    </tbody>
    <!-- /ko -->
</table>