<div class="body" data-bind="with: activeGoal">
    <div class="">
        <!--<div class="row pad-top">
            <div class="span3">
                <span class="grey">Name</span>
            </div>
            <div class="span9">
                <p data-bind="text: name"></p>
            </div>
        </div>
        <div class="row pad-top">
            <div class="span3">
                <span class="grey">Focus Area(s)</span>
            </div>
            <div class="span9">
                <p data-bind="text: focusAreaString"></p>
            </div>
        </div>
        <div class="row pad-top">
            <div class="span3">
                <span class="grey">Program(s)</span>
            </div>
            <div class="span9">
                <p data-bind="text: programString"></p>
            </div>
        </div>
        <div class="row pad-vertical">
            <div class="span3">
                <span class="grey">Source</span>
            </div>
            <div class="span9">
                <p data-bind="with: source"><span data-bind="text: name"></span></p>
            </div>
        </div>
        <section class="accordion">
            <div class="row accordion-toggle">
                <h4>Attributes</h4>
            </div>
            <div class="accordion-content">
                <div class="column">
                    <div class="row pad-top">
                        <div class="span3">
                            <span class="grey">Type</span>
                        </div>
                        <div class="span9">
                            <p data-bind="with: type"><span data-bind="text: name"></span></p>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3">
                            <span class="grey">Status</span>
                        </div>
                        <div class="span9">
                            <p data-bind="with: status"><span data-bind="text: name"></span></p>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3">
                            <span class="grey">Start Date</span>
                        </div>
                        <div class="span6">
                            <p data-bind="Date: startDate"></p>
                        </div>
                        <div class="span3"></div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3">
                            <span class="grey">Target Value</span>
                        </div>
                        <div class="span9">
                            <p data-bind="text: targetValue"></p>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3">
                            <span class="grey">Target Date</span>
                        </div>
                        <div class="span9">
                            <p data-bind="Date: targetDate"></p>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3">
                            <span class="grey">End Date</span>
                        </div>
                        <div class="span9">
                            <p data-bind="Date: endDate"></p>
                        </div>
                    </div>
                    <!-- koa foreach: customAttributes().sort($parent.alphabeticalOrderSort) -->
                    <!-- koa compose: displayPath -->
                    <!-- /kao -->
                    <!-- /kao -->
                <!--</div>
            </div>
        </section>-->
        <div class="row">
            <h4>Tasks</h4>
            <div class="row pad-top">
                <div class="span5 line short grey">Name</div>
                <div class="span7 line short grey">Status</div>
            </div>
            <!-- ko foreach: tasks().sort($parent.alphabeticalDescriptionSort) -->
            <div class="row">
                <div class="span5 line short ellipsis" data-bind="text: description, attr: { 'title': description }"></div>
                <div class="span7 line short ellipsis" data-bind="with: status"><span data-bind="text: name, attr: { 'title': name }"></span></div>
            </div>
            <!-- /ko -->
        </div>
        <div class="row pad-top divider">
            <h4>Barriers</h4>
            <div class="row pad-top">
                <div class="span5 line short grey">Name</div>
                <div class="span7 line short grey">Status</div>
            </div>
            <!-- ko foreach: barriers().sort($parent.alphabeticalNameSort) -->
            <div class="row">
                <div class="span5 line short ellipsis" data-bind="text: name, attr: { 'title': name }"></div>
                <div class="span7 line short ellipsis" data-bind="with: status"><span data-bind="text: name, attr: { 'title': name }"></span></div>
            </div>
            <!-- /ko -->
        </div>
        <div class="row pad-top divider">
            <h4>Interventions</h4>
            <div class="row pad-top">
                <div class="span5 line short grey">Name</div>
                <div class="span7 line short grey">Status</div>
            </div>
            <!-- ko foreach: interventions().sort($parent.alphabeticalDescriptionSort) -->
            <div class="row">
                <div class="span5 line short ellipsis" data-bind="text: description, attr: { 'title': description }"></div>
                <div class="span7 line short ellipsis" data-bind="with: status"><span data-bind="text: name, attr: { 'title': name }"></span></div>
            </div>
            <!-- /ko -->
        </div>

    </div>
</div>