<div class="body" data-bind="with: activeGoal">
    <div class="wasAForm">
        <div class="row pad-top">
            <div class="span3 align-right">
                <span class="grey">Focus Area(s)</span>
            </div>
            <div class="span9" data-bind="multiselect: { options: $parent.focusAreas, values: focusAreaIds, idValue: 'id', text: 'name', label: 'focusAreas', stringValue: focusAreaString }"></div>
        </div>
        <div class="row pad-top">
            <div class="span3 align-right">
                <span class="grey">Program(s)</span>
            </div>
            <div class="span9" data-bind="multiselect: { options: $parent.availablePrograms, values: programIds, idValue: 'id', text: 'name', label: 'programs', stringValue: programString }"></div>
        </div>
        <div class="row pad-top">
            <div class="span3 align-right">
                <span class="grey">Goal Name</span>
            </div>
            <div class="span9">
                <input data-bind="value: name, valueUpdate: 'afterkeydown'" class="string optional" maxlength="255" type="text" />
                <span><em class="grey" data-bind="visible: !name()">Goal name is required</em></span>
            </div>
        </div>
        <div class="row pad-vertical">
            <div class="span3 align-right">
                <span class="grey">Source</span>
            </div>
            <div class="span9" data-bind="if: $parent.sources">
                <div data-bind="chsnsingle: { options: $parent.sources, value: source, text: 'name', label: 'sources' }"></div>
                <span>
                    <em class="grey" data-bind="visible: !source()">Goal source is required</em>
                </span>
            </div>
        </div>
        <section class="accordion">
            <div class="row accordion-toggle" data-bind="clickToggle: $parent.attributesSectionOpen">
                <h4>Attributes</h4>
            </div>
            <div class="accordion-content" data-bind="visible: $parent.attributesSectionOpen">
                <div class="column">
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Type</span>
                        </div>
                        <div class="span9">
                            <div data-bind="chsnsingle: { options: $parent.goalTypes, value: type, text: 'name', label: 'goaltypes' }"></div>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Status</span>
                        </div>
                        <div class="span9">
                            <div data-bind="chsnsingle: { options: $parent.goalTaskStatuses, value: status, text: 'name', label: 'goaltypes', disabled: isNew() }"></div>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Start Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: startDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Target Value</span>
                        </div>
                        <div class="span9">
                            <input data-bind="value: targetValue" maxlength="255" />
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Target Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: targetDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">End Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: endDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <!-- ko foreach: customAttributes().sort($parent.alphabeticalOrderSort) -->
                    <!-- ko compose: path -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </section>
        <section class="accordion">
            <div class="row accordion-toggle" data-bind="clickToggle: $parent.barriersSectionOpen">
                <h4 class="pull-left">Barriers</h4>
                <a class="btn color small pull-right" href="#" data-bind="click: $parent.addBarrier, clickBubble: false">
                    <i class="icon-plus"></i>
                    <span class="pad-left">Add Barrier</span>
                </a>
            </div>
            <div class="accordion-content" data-bind="visible: $parent.barriersSectionOpen">
                <div data-bind="visible: barriers().length === 0" class="empty-message">No barriers.</div>
                <!-- ko foreach: barriers -->
                <section class="data-set clearfix">
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Category</span>
                        </div>
                        <div class="span7">
                            <div data-bind="chsnsingle: { options: $parents[1].barrierCategories, value: category, text: 'name', label: 'barriercategories' }"></div>
                        </div>
                        <a class="delete pull-right" href="#" data-bind="click: $parents[1].removeBarrier">
                            <i class="icon-cancel"></i>
                        </a>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Name</span>
                        </div>
                        <div class="span9">
                            <input data-bind="value: name" class="string optional" maxlength="255" type="text" />
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Status</span>
                        </div>
                        <div class="span9">
                            <div data-bind="chsnsingle: { options: $parents[1].barrierStatuses, value: status, text: 'name', label: 'barrierstatuses', disabled: $parent.isNew() }"></div>
                        </div>
                    </div>
                </section>
                <!-- /ko -->
            </div>
        </section>
        <section class="accordion">
            <div class="row accordion-toggle" data-bind="clickToggle: $parent.tasksSectionOpen">
                <h4 class="pull-left">Individual Tasks</h4>
                <a class="btn color small pull-right" href="#" data-bind="click: $parent.addTask, clickBubble: false">
                    <i class="icon-plus"></i>
                    <span class="pad-left">Add Task</span>
                </a>
            </div>
            <div class="accordion-content" data-bind="visible: $parent.tasksSectionOpen">
                <div data-bind="visible: tasks().length === 0" class="empty-message">No tasks.</div>
                <!-- ko foreach: tasks -->
                <section class="data-set clearfix">
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Description</span>
                        </div>
                        <div class="span7">
                            <input data-bind="value: description" class="string optional" maxlength="500" type="text" />
                        </div>
                        <a class="delete pull-right" href="#" data-bind="click: $parents[1].removeTask">
                            <i class="icon-cancel"></i>
                        </a>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Status</span>
                        </div>
                        <div class="span9">
                            <div data-bind="chsnsingle: { options: $parents[1].goalTaskStatuses, value: status, text: 'name', label: 'goaltaskstatuses', disabled: $parent.isNew() }"></div>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Start Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: startDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Target Value</span>
                        </div>
                        <div class="span9">
                            <input data-bind="value: targetValue" maxlength="255" />
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Target Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: targetDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Associated Barrier(s)</span>
                        </div>
                        <!-- ko if: goal -->
                        <div class="span9" data-bind="multiselect: { options: $parents[1].computedBarriers, values: barrierIds, idValue: 'id', text: 'name', label: 'barriers', stringValue: barrierString }"></div>
                        <!-- /ko -->
                        <!-- ko if: !goal() -->
                        <span class="span9">No barriers</span>
                        <!-- /ko -->
                    </div>
                    <!-- ko foreach: customAttributes().sort($parents[1].alphabeticalOrderSort) -->
                    <!-- ko compose: path -->
                    <!-- /ko -->
                    <!-- /ko -->
                </section>
                <!-- /ko -->
            </div>
        </section>
        <section class="accordion">
            <div class="row accordion-toggle" data-bind="clickToggle: $parent.interventionsSectionOpen">
                <h4 class="pull-left">Care Manager Interventions</h4>
                <a class="btn color small pull-right" href="#" data-bind="click: $parent.addIntervention, clickBubble: false">
                    <i class="icon-plus"></i>
                    <span class="pad-left">Add Intervention</span>
                </a>
            </div>
            <div class="accordion-content" data-bind="visible: $parent.interventionsSectionOpen">
                <div data-bind="visible: interventions().length === 0" class="empty-message">No interventions.</div>
                <!-- ko foreach: interventions -->
                <section class="data-set clearfix">
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Description</span>
                        </div>
                        <div class="span7">
                            <input data-bind="value: description" class="string optional" maxlength="500" type="text" />
                        </div>
                        <a class="delete pull-right" href="#" data-bind="click: $parents[1].removeIntervention">
                            <i class="icon-cancel"></i>
                        </a>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Status</span>
                        </div>
                        <div class="span9">
                            <div data-bind="chsnsingle: { options: $parents[1].interventionStatuses, value: status, text: 'name', label: 'interventionstatuses', disabled: $parent.isNew() }"></div>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Category</span>
                        </div>
                        <div class="span9">
                            <div data-bind="chsnsingle: { options: $parents[1].interventionCategories, value: category, text: 'name', label: 'interventioncategories' }"></div>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Assigned To</span>
                        </div>
                        <div class="span9">
                            <div data-bind="chsnsingle: { options: $parents[1].careManagers, value: assignedToId, text: 'preferredName', label: 'caremanagers', idValue: 'id' }"></div>
                        </div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Start Date</span>
                        </div>
                        <div class="span6">
                            <input data-bind="datepicker: startDate, datepickerOptions: { }" type="text" class="datepicker">
                        </div>
                        <div class="span3"></div>
                    </div>
                    <div class="row pad-top">
                        <div class="span3 align-right">
                            <span class="grey">Associated Barrier(s)</span>
                        </div>
                        <!-- ko if: goal -->
                        <div class="span9" data-bind="multiselect: { options: $parents[1].computedBarriers, values: barrierIds, idValue: 'id', text: 'name', label: 'barriers', stringValue: barrierString }"></div>
                        <!-- /ko -->
                        <!-- ko if: !goal() -->
                        <span class="span9">No barriers</span>
                        <!-- /ko -->
                    </div>
                </section>
                <!-- /ko -->
            </div>
        </section>
        <div class="row pad-top divider">
            <button class="btn" data-bind="click: $parent.cancel">Cancel</button>
            <button class="btn color" data-bind="click: $parent.save, enable: $parent.canSave">Save</button>
        </div>
    </div>
</div>