<section class="accordion" data-bind="css: { 'open': isOpen() }, with: program">
    <div class="row accordion-toggle" data-bind="clickToggle: $parent.isOpen">
        <h2>
            <a href="#" data-bind="text: name, clickBubble: false" ></a>
        </h2>
    </div>
    <div class="accordion-content" data-bind="visible: $parent.isOpen">
        <table class="goal-action">
            <tbody>
                <tr><th>Modules</th><th class="icon">Action</th></tr>
                <!-- ko foreach: modules -->
                <tr data-bind="visible: enabled() === true">
                    <td class="flush">
                        <table class="nowrap">
                            <tbody>
                                <tr>
                                    <td class="image-container">
                                        <!-- ko if: completed() === true -->
                                        <i class="icon-check green"></i>
                                        <!-- /ko -->
                                    </td>
                                    <td class="module" data-bind="with: name">
                                        <!-- ko if: $parent.completed() === true -->
                                        <em class="grey" data-bind="text: $data, attr: { 'title': $data }"></em><em> - <span data-bind="Date: $parent.dateCompleted"></span></em>
                                        <!-- /ko -->
                                        <!-- ko if: $parent.completed() === false -->
                                        <span data-bind="text: $data, attr: { 'title': $data }"></span>
                                        <!-- /ko -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="flush">
                        <table class="nowrap">
                            <tbody data-bind="foreach: actions().sort($root.alphabeticalOrderSort)">
                                <tr>
                                    <td class="filter-toggle image-container" data-bind="click: $parents[2].setActiveAction, css: { 'active': $data === $parents[2].activeAction(), 'dirty': hasChanges() }">
                                        <!-- ko if: hasChanges() -->
                                        <img src="/NightingaleUI/Content/images/in_progress.png" class="grey" data-bind="css: { 'icon-spin': isSaving() }" />
                                        <!-- /ko -->
                                        <!-- ko if: completed() === true -->
                                        <i class="icon-check green"></i>
                                        <!-- /ko -->
                                    </td>
                                    <td class="filter-toggle" data-bind="click: $parents[2].setActiveAction, css: { 'active': $data === $parents[2].activeAction(), 'dirty': hasChanges() }, with: name">
                                        <!-- ko if: $parent.enabled() === false || $parent.completed() === true && !$parent.isSaving() || $parent.completed() === true && !$parent.hasChanges() && $parent.isSaving() -->
                                        <em class="grey" data-bind="text: $data, attr: { 'title': $data }"></em>
                                        <!-- ko if: $parent.completed() === true -->
                                        <em> - <span data-bind="Date: $parent.dateCompleted, attr: { 'title': $parent.dateCompleted }"></span></em>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if: $parent.enabled() === true && $parent.completed() === false && !$parent.hasChanges() -->
                                        <span data-bind="text: $data, attr: { 'title': $data }"></span>
                                        <!-- /ko -->
                                        <!-- ko if: $parent.hasChanges() -->
                                        <strong class="inprogress" data-bind="text: $data, attr: { 'title': $data }"></strong>
                                        <!-- /ko -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</section>