<form data-bind="with: selectedPatient">
    <ul class="add-form">
        <li data-bind="with: $parent.newNote">
            <div class="input text optional note_content">
                <label class="text optional" for="note_content">Content</label>
                <textarea data-bind="value: text, valueUpdate: 'afterkeydown'" class="text optional" maxlength="5000"></textarea>
            </div>
        </li>
    </ul>
    <div class="row pad-top" data-bind="with: $parent.newNote">
        <div class="span12 pad-bottom">
            <label>
                <span>Related Program(s)</span>
            </label>
            <div class="span12" data-bind="multiselect: { options: $parents[1].availablePrograms, values: programIds, idValue: 'id', text: 'name', label: 'programs', stringValue: programString }"></div>
        </div>
    </div>
    <!-- ko foreach: $parent.lastThreeNotes -->
    <div class="row pad-top divider" data-bind="if: createdOn">
        <a class="span12" href="#" data-bind="click: $parents[1].viewDetails">
            <div class="row">
                <strong data-bind="Date: createdOn"></strong> : <span data-bind="with: createdBy"><span data-bind="text: preferredName"></span> - </span>
            </div>
            <div class="row">
                <span class="span12 ellipsis" data-bind="text: text"></span>
            </div>
        </a>
    </div>
    <!-- /ko -->
    <div class="position bottom left">
        <div class="pad vertical">
            <a class="btn color" href="#" data-bind="click: $parent.gotoHistory">View More</a>
        </div>
    </div>
    <div class="position bottom right">
        <div class="pad vertical">
            <button data-bind="click: $parent.cancel" class="cancel">Cancel</button>
            <input data-bind="click: $parent.save, enable: $parent.canSave" type="submit" value="Save">
        </div>
    </div>
</form>