  <div class="body">
    <div class="row">
        <nav class="tabs">
            <ul>
                <li data-bind="css: { 'active': activeTab() === 'general' }, setActiveTab: 'general'">
                    <img alt="Phone blue small" src="/NightingaleUI/Content/images/settings_blue.png" />
                    <a role="menuitem">General</a>
                </li>
                <li data-bind="css: { 'active': activeTab() === 'phones' }, setActiveTab: 'phones'">
                    <i class="icon-phone blue"></i>
                    <a role="menuitem" data-bind="style: {color: phoneValidationErrors().length > 0 ? 'red' : 'black'}">Phone</a>
                </li>
                <li data-bind="css: { 'active': activeTab() === 'texts' }, setActiveTab: 'texts'">
                    <i class="icon-sms blue"></i>
                    <a role="menuitem">Text</a>
                </li>
                <li data-bind="css: { 'active': activeTab() === 'emails' }, setActiveTab: 'emails'">
                    <i class="icon-email blue"></i>
                    <a role="menuitem">Email</a>
                </li>
                <li data-bind="css: { 'active': activeTab() === 'addresses' }, setActiveTab: 'addresses'">
                    <i class="icon-address blue"></i>
                    <a role="menuitem">Address</a>
                </li>
                <li data-bind="css: { 'active': activeTab() === 'languages' }, setActiveTab: 'languages'">
                    <img alt="Language blue small" src="/NightingaleUI/Content/images/nav_population.png" />
                    <a role="menuitem">Language</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row pad top">
        <h2 class="span12" data-bind="text: $parent.fullName, attr: { title: $parent.fullName }"></h2>
    </div>
    <div class="row modal-tab" data-bind="visible: activeTab() === 'general'">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4>Communication Modes</h4>
                    <ul>
                        <li class="row pad-top">
                            <strong class="span4">Mode</strong>
                            <strong class="span4">Opt-Out?</strong>
                            <strong class="span4">Preferred?</strong>
                        </li>
						<div class="pad-top">
							<!-- ko foreach: modes -->
							<li>
								<strong class="span4" data-bind="text: name, attr: { title: name }"></strong>
								<label class="control-group span4">
									<div class="checker" data-bind="hoverToggle: 'hover'">
										<span data-bind="css: { 'checked': optOut }">
											<input type="checkbox" data-bind="clickToggle: optOut" />
										</span>
									</div>
								</label>
								<label class="control-group span4">
									<div class="checker" data-bind="hoverToggle: 'hover'">
										<span data-bind="css: { 'checked': preferred }">
											<input type="checkbox" data-bind="disable: optOut, clickToggle: preferred" />
										</span>
									</div>
								</label>
							</li>
							<!-- /ko -->
						</div>                        
                    </ul>
                </div>
            </div>
            <div class="row pad-top">
                <div class="span6">
                    <h4>Preferred Days of Week</h4>
                    <ul class="pad-top">
                        <!-- ko foreach: $root.daysOfWeek -->
                        <li>
                            <label class="control-group">
                                <div class="checker" data-bind="hoverToggle: 'hover'">
                                    <span data-bind="css: { 'checked': ($parent.preferredDaysOfWeek().indexOf(Code) !== -1 || $parent.preferredDaysOfWeek() === 'Any') }">
                                        <input type="checkbox" data-bind="clickToggleInArray: $parent.preferredDaysOfWeekIds, setValue: Id" />
                                    </span>
                                </div>
                                <strong data-bind="text: Name, attr: { title: Name }"></strong>
                            </label>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
                <div class="span6">
                    <h4>Preferred Times of Day</h4>
                    <ul class="pad-top">
                        <!-- ko foreach: $root.timesOfDay -->
                        <li>
                            <label class="control-group">
                                <div class="checker" data-bind="hoverToggle: 'hover'">
                                    <span data-bind="css: { 'checked': ($parent.preferredTimesOfDay().indexOf(name()) !== -1) }">
                                        <input type="checkbox" data-bind="clickToggleInArray: $parent.preferredTimesOfDayIds, setValue: id()" />
                                    </span>
                                </div>
                                <strong data-bind="text: name, attr: { title: name }"></strong>
                            </label>
                        </li>
                        <!-- /ko -->
                    </ul>
					<div class="pad-top">
						<h4>Time Zone</h4>
						<div class="span6 pad-top">
							<select class="row" data-bind="options: $root.timeZones, value: timeZoneId, optionsValue: 'id', optionsText: 'name'"></select>
							<!-- <div class="row" data-bind="chsnsingle: { options: $root.timeZones, value: timeZoneId, idValue: 'id', text: 'name' }"></div> -->
						</div>						
					</div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row modal-tab" data-bind="visible: activeTab() === 'texts'">
        <ul class="list-items">
            <li class="row">
                <strong class="span2">Preferred?</strong>
                <strong class="span10">Number</strong>
            </li>
            <li class="row">
                <div class="span2">
                    <div class="radio" data-bind="hoverToggle: 'hover'">
                        <span data-bind="css: { 'checked': !preferredText() }">
                            <input type="radio" data-bind="clickRadio: preferredText, setValue: 'null', disable: textOptedOut" />
                        </span>
                    </div>
                </div>
                <strong class="span10"> None</strong>
            </li>
            <!-- ko foreach: phones -->
            <!-- ko if: (isText() && !optOut()) -->
            <li class="row">
                <div class="span2">
                    <div class="radio" data-bind="hoverToggle: 'hover'">
                        <span data-bind="css: { 'checked': textPreferred }">
                            <input type="radio" data-bind="clickRadio: $parent.preferredText, setValue: $data, disable: $parent.textOptedOut" />
                        </span>
                    </div>
                </div>
                <div class="span10">
                    <!-- ko compose: 'templates/phone.html' -->
                    <!-- /ko -->
                </div>
            </li>
            <!-- /ko -->
            <!-- /ko -->
        </ul>
    </div>
    <div class="row modal-tab" data-bind="visible: activeTab() === 'phones'">
		<div class="row validation-summary" data-bind="if: phoneValidationErrors().length > 0">            
			<ul data-bind="foreach: phoneValidationErrors">
				<li class="validation-errors">
					<h5 data-bind="text: Message"></h5>
				</li>
			</ul>
		</div>
		
        <ul class="list-items">
            <li class="row">
                <strong class="span2">Preferred?</strong>
                <strong class="span2">Type</strong>
                <strong class="span3">Number</strong>
                <strong class="span3">Opt-out?</strong>
                <button class="span2 btn small color pull-right" data-bind="click: addPhone, disable: phoneOptedOut, attr: { 'title': phoneOptedOut() ? 'Phone opted out' : 'Add Phone' }">
                    <i class="icon-plus"></i>
                    <span class="pad-left">Phone</span>
                </button>
            </li>
            <li class="row">
                <div class="span2">
                    <div class="radio" data-bind="hoverToggle: 'hover'">
                        <span data-bind="css: { 'checked': !preferredPhone() }">
                            <input type="radio" data-bind="clickRadio: preferredPhone, disable: phoneOptedOut, setValue: 'null'" />
                        </span>
                    </div>
                </div>
                <strong class="span10"> None</strong>
            </li>
            <!-- ko foreach: phones().sort(function (l, r) { return (l.id() == r.id()) ? (l.id() > r.id() ? 1 : -1) : (l.id() > r.id() ? 1 : -1) }) -->
            <li class="row">
                <div class="span2">
                    <div class="radio" data-bind="hoverToggle: 'hover'">
                        <span data-bind="css: { 'checked': phonePreferred }">
                            <input type="radio" data-bind="clickRadio: $parent.preferredPhone, disable: ($parent.phoneOptedOut() || optOut), setValue: $data" />
                        </span>
                    </div>
                </div>
                <div class="span2">
                    <div class="row" data-bind="visible: $parent.phoneOptedOut, with: type"><span data-bind="text: name, attr: { title: name }"></span></div>
                    <select class="row" data-bind="options: $root.phoneTypes, value: typeId, optionsValue: 'id', optionsText: 'name', visible: !$parent.phoneOptedOut()"></select>
                    <!-- <div class="row" data-bind="visible: !$parent.phoneOptedOut(), chsnsingle: { options: $root.phoneTypes, value: typeId, idValue: 'id', text: 'name', label: 'phones' }"></div> -->
                </div>
                <div class="span4">
                    <!-- ko compose: 'templates/phone.edit.html' -->
                    <!-- /ko -->
                    <label class="row">
                        <span>SMS</span>
                        <div class="checker" data-bind="hoverToggle: 'hover'">
                            <span data-bind="css: { 'checked': isText }">
                                <input type="checkbox" data-bind="clickToggle: isText, disable: $parent.phoneOptedOut" />
                            </span>
                        </div>
                    </label>
                </div>
                <div class="span2">
                    <div class="row">
                        <div class="checker" data-bind="hoverToggle: 'hover'">
                            <span data-bind="css: { 'checked': optOut }">
                                <input type="checkbox" data-bind="clickToggle: optOut, disable: $parent.phoneOptedOut" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="span1">
                    <div class="row">
                        <a href="#" data-bind="click: $parent.removePhone"><i class="icon-cancel red"></i></a>
                    </div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="row modal-tab" data-bind="visible: activeTab() === 'emails'">
        <ul class="list-items">
            <li class="row">
                <strong class="span2">Preferred?</strong>
                <strong class="span2">Type</strong>
                <strong class="span3">Email Address</strong>
                <strong class="span3">Opt-out?</strong>
                <button class="span2 btn small color pull-right" data-bind="click: addEmail, disable: emailOptedOut, attr: { 'title': emailOptedOut() ? 'Email opted out' : 'Add Email' }">
                    <i class="icon-plus"></i>
                    <span class="pad-left">Email</span>
                </button>
            </li>
            <li class="row">
                <div class="span2">
                    <div class="radio" data-bind="hoverToggle: 'hover'">
                        <span data-bind="css: { 'checked': !preferredEmail() }">
                            <input type="radio" data-bind="clickRadio: preferredEmail, setValue: 'null'" />
                        </span>
                    </div>
                </div>
                <strong class="span10"> None</strong>
            </li>
            <!-- ko foreach: emails().sort(function (l, r) { return (l.id() == r.id()) ? (l.id() > r.id() ? 1 : -1) : (l.id() > r.id() ? 1 : -1) }) -->
            <li class="row">
                <div class="span2">
                    <div class="radio" data-bind="hoverToggle: 'hover'">
                        <span data-bind="css: { 'checked': preferred }">
                            <input type="radio" data-bind="clickRadio: $parent.preferredEmail, disable: ($parent.emailOptedOut() || optOut), setValue: $data" />
                        </span>
                    </div>
                </div>
                <div class="span2" data-bind="visible: $parent.emailOptedOut, with: type"><span data-bind="text: name, attr: { title: name }"></span></div>
                    <select class="span2" data-bind="options: $root.emailTypes, value: typeId, optionsValue: 'id', optionsText: 'name', visible: !$parent.emailOptedOut()"></select>
                <div class="span4">
                    <!-- ko compose: 'templates/email.edit.html' -->
                    <!-- /ko -->
                </div>
                <div class="span2">
                    <div class="row">
                        <div class="checker" data-bind="hoverToggle: 'hover'">
                            <span data-bind="css: { 'checked': optOut }">
                                <input type="checkbox" data-bind="clickToggle: optOut, disable: $parent.emailOptedOut" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="span1">
                    <div class="row">
                        <a href="#" data-bind="click: $parent.removeEmail"><i class="icon-cancel red"></i></a>
                    </div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="row modal-tab" data-bind="visible: activeTab() === 'addresses'">
        <ul class="list-items">
            <li class="row">
                <strong class="span2">Preferred?</strong>
                <strong class="span3">Type</strong>
                <strong class="span3">Address</strong>
                <strong class="span2">Opt-out?</strong>
                <button class="span2 btn small color pull-right" data-bind="click: addAddress, disable: addressOptedOut, attr: { 'title': addressOptedOut() ? 'Address opted out' : 'Add Address' }">
                    <i class="icon-plus"></i>
                    <span class="pad-left">Address</span>
                </button>
            </li>
            <li class="row">
                <div class="span2">
                    <div class="radio" data-bind="hoverToggle: 'hover'">
                        <span data-bind="css: { 'checked': !preferredAddress() }">
                            <input type="radio" data-bind="clickRadio: preferredAddress, disable: addressOptedOut, setValue: 'null'" />
                        </span>
                    </div>
                </div>
                <strong class="span10"> None</strong>
            </li>
            <!-- ko foreach: addresses -->
            <li class="row">
                <div class="span2">
                    <div class="radio" data-bind="hoverToggle: 'hover'">
                        <span data-bind="css: { 'checked': preferred }">
                            <input type="radio" data-bind="clickRadio: $parent.preferredAddress, disable: ( $parent.addressOptedOut() || optOut), setValue: $data" />
                        </span>
                    </div>
                </div>
                <div class="span2" data-bind="visible: $parent.addressOptedOut, with: type"><span data-bind="text: name, attr: { title: name }"></span></div>
                <select class="span2" data-bind="options: $root.addressTypes, value: typeId, optionsValue: 'id', optionsText: 'name', visible: !$parent.addressOptedOut()"></select>
                <div class="span5">
                    <!-- ko compose: 'templates/address.edit.html' -->
                    <!-- /ko -->
                </div>
                <div class="span1">
                    <div class="row">
                        <div class="checker" data-bind="hoverToggle: 'hover'">
                            <span data-bind="css: { 'checked': optOut }">
                                <input type="checkbox" data-bind="clickToggle: optOut, disable: $parent.addressOptedOut" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="span1">
                    <div class="row">
                        <a href="#" data-bind="click: $parent.removeAddress"><i class="icon-cancel red"></i></a>
                    </div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="row modal-tab" data-bind="visible: activeTab() === 'languages'">
		<div class="row validation-summary" data-bind="if: languageValidationErrors().length > 0">            
			<ul data-bind="foreach: languageValidationErrors">
				<li class="validation-errors">
					<h5 data-bind="text: Message"></h5>
				</li>
			</ul>
		</div>
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4>Add new spoken language</h4>
                    <div class="row pad-top">
                        <div class="span3" data-bind="chsnsingle: { options: $root.languages, value: newLanguage, text: 'name', label: 'languages' }"></div>
						<label class="span2"></label>
                        <button class="span3 btn small color pull-right" data-bind="click: addLanguage, enable: canAddLanguage">
                            <i class="icon-plus"></i>
                            <span class="pad-left">Language</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="list-items">
                    <li class="row">
                        <strong class="span2">Preferred?</strong>
                        <strong class="span10">Language</strong>
                    </li>
                    <li class="row">
                        <div class="span2">
                            <div class="radio" data-bind="hoverToggle: 'hover'">
                                <span data-bind="css: { 'checked': !preferredLanguage() }">
                                    <input type="radio" data-bind="clickRadio: preferredLanguage, setValue: 'null'" />
                                </span>
                            </div>
                        </div>
                        <strong class="span10"> None</strong>
                    </li>
                    <!-- ko foreach: languages -->
                    <li class="row">
                        <div class="span2">
                            <div class="radio" data-bind="hoverToggle: 'hover'">
                                <span data-bind="css: { 'checked': preferred }">
                                    <input type="radio" data-bind="clickRadio: $parent.preferredLanguage, setValue: $data" />
                                </span>
                            </div>
                        </div>
                        <div class="span10">
                            <strong data-bind="text: name, attr: { title: name }"></strong>
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</div>