<div class="body">
    <div class="row">
        <h2 class="span12" data-bind="text: fullName"></h2>
    </div>
    <div class="row">
        <label class="span6">
            <span>First Name</span>
            <h4 data-bind="text: firstName"></h4>
        </label>
        <label class="span6">
            <span>Middle Name</span>
            <h4 data-bind="text: middleName"></h4>
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>Last Name</span>
            <h4 data-bind="text: lastName"></h4>
        </label>
        <label class="span6">
            <span>Suffix</span>
            <h4 data-bind="text: suffix"></h4>
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>Preferred Name</span>
            <h4 data-bind="text: preferredName"></h4>
        </label>
        <label class="span6">
            <span>DOB</span>
            <h4 data-bind="text: dOB"></h4>
        </label>
    </div>
    <div class="row">
        <label class="span6">
            <span>SSN</span>
            <h4 data-bind="text: formattedSSN"></h4>
        </label>
    </div>
    <div class="row">
        <label class="span6" data-bind="with: genderModel">
            <div class="row">
                <span class="span3 line">Gender</span>
                <div class="span2 line align-right">
                    <img alt="Patient small" class="" data-bind="attr: { src: SmallImgSrc }" />
                </div>
                <h4 data-bind="text: Description"></h4>
            </div>
        </label>
        <label class="span6" data-bind="with: priorityModel">
            <div class="row">
                <span class="span3 line">Priority</span>
                <div class="span2 line align-right">
                    <img data-bind="attr: { src: imageSource }">
                </div>
                <h4 data-bind="text: levelName"></h4>
            </div>
        </label>
    </div>
</div>