<section data-type="flex">
    <!-- ko if: selectedPatient() -->
    <div class="columns-wrapper">
        <!-- ko with: planColumn -->
        <div class="column" data-bind="css: { open: $parent.computedOpenColumn() === $data }">
            <div class="widget-wrapper" data-bind="foreach: widgets">
                <!-- ko compose: path -->
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
        <!-- ko with: detailsColumn -->
        <div class="column" data-bind="css: { open: $parent.computedOpenColumn() === $data }">
            <div class="widget-wrapper" data-bind="foreach: widgets">
                <!-- ko if: ($parents[1].activeAction() && name() === 'ActionDetails') -->
                <!-- ko compose: { model: path, activationData: { activeAction: $parents[1].activeAction } } -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: ($parents[1].activeModule() && name() === 'ModuleDetails') -->
                <!-- ko compose: { model: path, activationData: { activeModule: $parents[1].activeModule } } -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: ($parents[1].activeProgram() && name() === 'ProgramDetails' )-->
                <!-- ko compose: { model: path, activationData: { activeProgram: $parents[1].activeProgram } } -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: !selectedPatient() -->
    <div>
        <div class="column">
            <div class="widget-wrapper">
                <div class="widget open" data-bind="columnSizer: true">
                    <div class="content">
                        <div class="content-fill">
                            <div class="wrapper">
                                <div class="content">
                                    <div class="header">
                                        <div class="table-cell">
                                            <header>
                                                <h1>Plan</h1>
                                            </header>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <div class="body">
                                                <div class="content">
                                                    <div class="body">
                                                        <em class="grey">No individual selected.</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</section>