<div class="panel-wrapper">
	<!-- <em class="grey" data-bind="visible: noResultsFound()">No records meet your search criteria</em>
	<div class="grey row divider" data-bind="visible: (myContactSearchResults().length > 0)">
		<div class="span2">Last Name</div>
		<div class="span2">First Name</div>
		<div class="span8">Summary</div>
	</div> -->
	<div data-bind="foreach: myContactSearchResults">		
		<div class="line filter-toggle ellipsis" data-bind="click: $parent.selectContact, css:{ 'active': $parent.selectedContact() === $data }">			
			<div class="span2 grey ellipsis">
				<span data-bind="text: lastName, attr:{ title: lastName }"></span>
			</div>
			<div class="span2 grey ellipsis">
				<span data-bind="text: firstName, attr:{ title: firstName }"></span>
			</div>
			<div class="span8 grey ellipsis">
				<span data-bind="text: contactSummary, attr: { title: contactSummary }"></span>
			</div>
						
		</div>
		<div class="divider" style="margin-top: 0px; padding-top: 0px;"></div>
	</div>
	<!-- load more -->
	<div data-bind="visible: !searching()">
		<div data-bind="visible: canLoadMoreContacts">
			<div class="row pad-top">
				<button class="small" data-bind="click: loadMoreContacts">Load more...</button>
			</div>
		</div>
		<div data-bind="visible: maxContactsLoaded">
			<div class="line">
				<em>... cannot load more (try a different search criteria)</em>
			</div>
		</div>		
	</div>
</div>