<div class="body" data-bind="visible: showing">
	<div class="pad-vertical">
        <!-- ko compose: { model: 'viewmodels/patients/sections/additional.problem.observations', activationData: { selectedPatient: selectedPatient } } -->
		<!-- /ko -->
	</div>
	<div class="pad-vertical">
		<!-- ko compose: { model: 'viewmodels/patients/sections/problems.list', activationData: { selectedPatient: selectedPatient} } -->
		<!-- /ko -->
	</div>
	<section class="accordion" data-bind="visible: showActions">
		<div class="row">
			<div class="accordion-content columns">
				<div class="column">
					<form>
						<div class="row">
							<div class="pad vertical">
							</div>
							<div class="position bottom right">
								<button data-bind="click: cancelFocusProblems" class="cancel small">Cancel</button>
								<button data-bind="click: saveFocusProblems" class="small color">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>