<div class="row pad-top divider">
	<div class="span3" data-bind="text: name"></div>
	<div class="span2">
		<select data-bind="options: $parent.observationDisplays, value: displayId, optionsText: 'name', optionsValue: 'id'"></select>
	</div>
	<div class="span3">
		<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
			{
				observableDateTime: startDate, dateErrors: startDateErrors, showInvalid: setInvalidStartDate, 
				maxDate: 'today', datepickerOptions:{ maxDate: '+0' }, datepickerDynamicOptions: {}, dateName: 'startDate'
			}
		} -->
		<!-- /ko -->
	</div>
	<div class="span3">
		<select data-bind="options: $parent.observationStates, value: stateId, optionsText: 'name', optionsValue: 'id', attr: { 'disabled': isNew }"></select>
	</div>
	<div class="span1">
    <a href="#" data-bind="click: $parent.deleteFocusProblem, clickBubble: false"><i class="icon-cancel red"></i></a>
	</div>
</div>