<div class="row pad" data-bind="with: observation">
    <div class="span2">
        <span data-bind="text: name, attr: { title: name }"></span>
    </div>
    <div class="span2">
        <input type="text" data-bind="value: computedValue().value, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('value') !== -1) }">
    </div>
	<div class="span1">
		<span data-bind="with: units">(<span data-bind="text: $data, attr: { title: $data }"></span>)</span>
		&nbsp;
	</div>
    <div class="span2">
		<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
			{
				observableDateTime: startDate, dateErrors: startDateErrors, showInvalid: setInvalidStartDate, 
				maxDate: 'today', datepickerOptions:{ maxDate: '+0' }, datepickerDynamicOptions: {}, dateName: 'startDate'
			}
		} -->
		<!-- /ko -->
    </div>
    <div class="span4">
        <label>
            <span data-bind="text: computedValue().previousValueString, attr: { title: computedValue().previousValueString }"></span>
        </label>
    </div>
    <div class="span1 pull-left">
        <a href="#" data-bind="click: $parent.addNew, disable: !$parent.canAdd(), css: { 'disabled': !$parent.canAdd() }">
            <i class="icon-plus"></i>
        </a>
    </div>
</div>