<div class="row pad-top divider">
	<div class="span1">
		<div class="radio" data-bind="hoverToggle: 'hover'">
			<span data-bind="css: { 'checked': primary }" class="checked">
				<input type="radio" data-bind="click: $parent.setPrimary, clickBubble: false">
			</span>
		</div>
	</div>
	<div class="span3" data-bind="with: system">
		<input type="text" disabled="disabled" data-bind="value: displayLabel">
	</div>
	<div class="span5">
		<input type="text" data-bind="value: value, valueUpdate: 'afterkeydown', css: { 'invalid': $parent.isInvalidProp($data.id(), 'value') }, enable: isEditable" maxlength="100"/>
	</div>
	<div class="span2">
		<div data-bind="chsnsingle: { options: $parent.patientSystemStatuses, value: patientSystemStatus, text: 'name', label: 'patientSystemStatuses' }"></div>
	</div>

	<div class="span1">
		<a href="#" data-bind="click: $parent.deletePatientSystemId, clickBubble: false, visible: isEditable"><i class="icon-cancel red"></i></a>
	</div>
</div>