<div>
    <div class="row" data-bind="with: activeDataType">
        <h3 data-bind="text: ('Additional ' + name()), attr: { title: ('Additional ' + name()) }"></h3>
    </div>
    <div class="accordion-content columns">
        <div class="column">
            <form>
                <div class="row pad top">
                    <div class="span6">
                        <div class="row">
                            <input class="span12" type="text" data-bind="typeahead: { name: 'giveMeANAME', taOptions: addtlObsBloodhound, displayKey: 'name' }, value: selectedAdditionalObservation" placeholder="Enter name" />
                        </div>
                    </div>
                    <div class="span6 pull-left">
                        <a href="#" data-bind="click: addNewObservation, enable: canAdd, css: { 'disabled': !canAdd() }">
                            <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="row pad top" data-bind="if: additionalObservationsToEnter().length !== 0">
                    <div class="row pad top">
                        <div class="span2">
                            <strong>Element</strong>
                        </div>
                        <div class="span2">
                            <strong>Value</strong>
                        </div>
						<div class="span1">
                            <strong>Units</strong>
                        </div>
                        <div class="span2">
                            <strong>Date</strong>
                        </div>
                        <div class="span4">
                            <strong></strong>
                        </div>
                        <div class="span1">
                            <strong></strong>
                        </div>
                    </div>
                    <!-- ko foreach: additionalObservationsToEnter -->
                    <!-- ko if: groupId() -->
                    <!-- ko compose: { model: 'viewmodels/templates/observation.bloodpressure.add', activationData: { observation: $data, addNew: $parent.addNew  } } -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: !groupId() -->
                    <!-- ko compose: { model: 'viewmodels/templates/observation.add', activationData: { observation: $data, addNew: $parent.addNew   } } -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </form>
        </div>
    </div>
</div>