<section class="accordion hoverable open">
    <div class="row line accordion-toggle">
        <strong class="ellipsis" data-bind="clickToggle: isOpen">Care Team</strong>			<!-- this needs to chage -->
        <a class="edit hover-toggle" href="#" data-bind="click: editCareTeam">Edit</a>
    </div>
    <div class="accordion-content columns" data-bind="visible: isOpen">
        <ul class="dotted column">
            <!-- ko if: canAssignToMe -->
            <li class="row center pad top">
                <div class="span2">
                    <img alt="Care team image" class="profile-pic" src="/NightingaleUI/Content/images/patient_neutral_small.png" data-phyautomation="gender">
                </div>
                <div class="span10">
                    <button data-bind="click: assignToMe" class="btn color small">Assign to me</button>
                    <br>
                    <small class="grey">Primary Care Manager</small>
                    <br>
                </div>
            </li>
            <!-- /ko -->
            <!-- ko foreach: primaryCareTeam -->
            <li class="row center pad top">
                <div class="span2" data-bind="with: contact">
                    <img alt="Care team image" class="profile-pic" data-bind="attr: { src: genderModel().SmallImgSrc }" data-phyautomation="gender">
                </div>
                <div class="span10">
					<div data-bind="with: contact">
						<strong data-bind="text: firstLastOrPreferredName, attr: { 'title': firstLastOrPreferredName }"></strong>
					</div>
                    <small class="grey" data-bind="with: roleType, attr: { 'title': roleType().role() }">
                        <span data-bind="text: role()"></span>
                    </small>
                    <br>
                </div>
            </li>
            <!-- /ko -->
        </ul>
        <ul class="dotted column">
            <!-- ko if: canReassignToMe -->
            <li class="row center pad top">
                <div class="span2">
                    <img alt="Care team image" class="profile-pic" src="/NightingaleUI/Content/images/patient_neutral_small.png" data-phyautomation="gender">
                </div>
                <div class="span10">
                    <button data-bind="click: reassignToMe" class="btn color small">Assign to me</button>
                    <br>
                    <small class="grey">Primary Care Manager</small>
                    <br>
                </div>
            </li>
            <!-- /ko -->
            <!-- ko foreach: secondaryCareTeam -->
            <li class="row center pad top">
                <div class="span2">
                    <img alt="Care team image" class="profile-pic" data-bind="attr: { src: genderModel().SmallImgSrc }" data-phyautomation="gender">
                </div>
                <div class="span10">
                   <!--  <strong data-bind="text: preferredName, attr: { 'title': preferredName }"></strong>
                    <br>
                    <small class="grey" data-bind="attr: { 'title': type().name() }" data-bind="text: type().name()"></small>	
                    <br> --> 
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</section>