<section class="accordion hoverable open" data-phyautomation="patients-demographics-pane">
		<div class="row line accordion-toggle">
				<strong class="ellipsis" data-bind="clickToggle: isOpen">Individual Details</strong>
				<a class="edit hover-toggle" href="#" data-bind="click: toggleEditing" data-phyautomation="patient-demographics-edit">Edit</a>
		</div>
		<div class="accordion-content columns" data-bind="visible: isOpen, with: selectedPatient">
				<div class="column" data-phyautomation="patients-demographics-left">
						<div class="row">
								<div class="span4">
										<img alt="Individual image" class="profile-pic" data-bind="attr: { src: genderModel().LargeImgSrc }" data-phyautomation="gender">
								</div>
								<div class="span8 pad vertical">
										<h2 class="row">
												<span class="span12 ellipsis" data-bind="text: fullFirstName, attr: { 'title': fullFirstName }" data-phyautomation="full-first-name"></span>
										</h2>
										<h2 class="row">
												<span class="span12 ellipsis" data-bind="text: fullLastName, attr: { 'title': fullLastName }" data-phyautomation="full-last-name"></span>
										</h2>
								</div>
						</div>
						<div class="row" data-bind="with: deceased()">
							<div class="span4 grey" data-bind="if: (name() === 'Yes')">
								Deceased
							</div>
						</div>
						<div class="row pad-top">
							<div class="span4 grey">
								Age
							</div>
							<div class="span8">
								<span data-bind="text: age" data-phyautomation="age">
								</span>
								<span class="grey" data-bind="with: dOB">
									<span data-bind="text: '(' + $data + ')'" data-phyautomation="dob">
									</span>
								</span>
							</div>
						</div>
						<div class="row" data-bind="if: minor">
							<div class="span4 grey">
								&nbsp;
							</div>
							<div class="span8">
								Minor
							</div>
						</div>
						<div class="row pad-top" data-bind="visible: $parent.primaryId" >
								<div class="span4 grey ellipsis" data-bind="text: $parent.primaryIdLabel, attr:{ 'title': $parent.primaryIdTitle }"></div>
								<div class="span8 ellipsis">
										<span class="row" data-bind="text: $parent.primaryIdValue, attr: { 'title': $parent.primaryIdValue }"></span>
								</div>
						</div>
						<div class="row pad-top">
								<div class="span4 grey">
										Priority
								</div>
								<div class="span8" style="height: 15.33px;">
										<!-- ko with : priorityModel -->
										<img alt="Priority" data-bind="attr: { src: imageSource }" data-phyautomation="priority" />
										<!-- /ko -->
								</div>
						</div>
						<div class="row pad-top">
								<div class="span4 grey">
										Flagged
								</div>
								<div class="span8" style="height: 15.33px;">
										<a href="#" data-bind="click: $parent.toggleFlagged">
												<i data-bind="attr: { class: (flagged() ? 'red' : 'grey') + ' icon-flag' }" data-phyautomation="flagged"></i>
										</a>
								</div>
						</div>
				</div>
				<div class="column" data-phyautomation="patients-demographics-right">
					<div class="row" data-bind="with: formattedSSN">
						<div class="span5 grey">SSN</div>
						<div class="span6 filter-toggle" data-bind="text: $data, click: $parents[1].showFullSSN"></div>
					</div>

					<div class="row pad-top">
						<div class="span5 grey">Protected</div>
						<div class="span6 filter-toggle" data-bind="text: protected() ? 'Yes' : 'No'"></div>
					</div>
					<div class="row" data-bind="with: maritalStatus">
						<div class="span5 grey pad-top">Marital Status</div>
						<div class="span6 filter-toggle pad-top" data-bind="text: name()"></div>
					</div>
					<div class="row pad-top">
						<div class="span5 grey">System</div>
						<div class="span6 filter-toggle" data-bind="text: dataSource, attr {title: dataSource}"></div>
					</div>					
				</div>
		</div>
</section>