<div class="force-down" data-bind="with: newPatientMedication, css:{'body': medication !== undefined}">
    <div class="row">
        <div class="span12 line">
            <div class="row">
                <div class="span2 align-right grey">
                    &nbsp
                </div>
                <div class="span3 pad-left">
                    <div data-bind="chsnsingle: { options: $parent.categories, value: category, text: 'name', label: 'medication-category', caption: 'Choose...' }"></div>
                </div>
                <div class="span2 align-right grey">
                    Type:
                </div>
                <div class="span3 pad-left">
                    <div data-bind="chsnsingle: { options: $parent.types, value: type, text: 'name', label: 'medication-type', caption: 'Choose...', isRequired: true }, css: { 'invalid': !type() }"></div>
                </div>
            </div>
            <div class="row pad-top">
                <div class="span2 align-right grey">
                    Name:
                </div>
                <div class="span3 pad-left">
                    <!-- ko if: isNew -->
                        <input class="span12" type="text" data-bind="typeahead: { name: 'medications', taOptions: $parent.medicationBloodhound, displayKey: 'DisplayName' }, value: name, valueUpdate: 'afterkeydown', initOptions: { hint: false, highlight: true, minLength: 3, overrideSelected: $parent.overrideSelected }, showResultsCount: $parent.resultsMessage, css: { 'invalid': !$parent.canAdd() }" placeholder="Search Medications" />
                    <!-- /ko -->
                    <!-- ko ifnot: isNew -->
                        <span><pre data-bind="text: name"></pre></span>
                    <!-- /ko -->
                </div>
                <div class="span2 align-right grey">
                    Status:
                </div>
                <div class="span3 pad-left">
                    <div data-bind="chsnsingle: { options: $parent.statuses, value: status, text: 'name', label: 'medication-status', caption: 'Choose...' }"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Source:
        </div>
        <div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.sources, value: source, text: 'name', label: 'medication-source', caption: 'Choose...' }"></div>
        </div>
        <div class="span2 align-right grey">
            Prescribed by:
        </div>
        <div class="span3 pad-left">
        	<input type="text" data-bind="value: prescribedBy" size="50" />
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Start Date:
        </div>
        <div class="span3 pad-left">
        	<input id="startDate" data-bind="value: startDate, datepickerEditable: startDate, css: { 'invalid': (validationErrorsArray().indexOf('startDate') !== -1) }, valueUpdate: 'afterkeydown' " type="text" class="datepicker" > 
        </div>
        <div class="span2 align-right grey">
            End Date:
        </div>
        <div class="span3 pad-left">
        	<input id="endDate" data-bind="value: endDate, datepickerEditable: endDate, datepickerDynamicOptions: { minDate: startDate }, css: { 'invalid': (validationErrorsArray().indexOf('endDate') !== -1) }, valueUpdate: 'afterkeydown' " type="text" class="datepicker" >
        </div>
    </div>
    <div class="row pad-top divider filters">       
        <!-- ko compose: { model: 'viewmodels/patients/sections/dropdown.w.addnew' , activationData: 
                { selectedValue: strength, 
					optionIdValueProp: 'Text',
                    isCreateNew: $parent.isAddingNewStrengthValue,
					isEditModeOnly: $parent.isNewMedicationName,
                    isCreateNewEnabled: $parent.isCreateNewEnabled,
                    isEnabled: $parent.isDropdownEnabled,
                    selectOptions: $parent.strengths, 
                    selectionLabel: 'Strength',
                    optionsLabel: 'medication-strength',
                    placeholderText: 'Enter new strength',
                    AddNewOptionText: $parent.addNewOptionText,
					isAddNewOption: true
                }} -->
        <!-- /ko -->
        <i class="pointer icon-cancel pull-right pad-right toggle" data-bind="click: $parent.resetDropdowns"></i>
    </div>
    <div class="row pad-top">
        
        <!-- ko compose: { model: 'viewmodels/patients/sections/dropdown.w.addnew' , activationData: 
                { selectedValue: form, 
					optionIdValueProp: 'Text',
                    isCreateNew: $parent.isAddingNewFormValue,
					isEditModeOnly: $parent.isNewMedicationName,
                    isCreateNewEnabled: $parent.isCreateNewEnabled,
                    isEnabled: $parent.isDropdownEnabled,
                    selectOptions: $parent.dosageForms, 
                    selectionLabel: 'Dose Form',
                    optionsLabel: 'dosage-form',
                    placeholderText: 'Enter new dose form',
                    AddNewOptionText: $parent.addNewOptionText,
					isAddNewOption: true
                }} -->
        <!-- /ko -->
                   
        <!-- ko compose: { model: 'viewmodels/patients/sections/dropdown.w.addnew' , activationData: 
                { selectedValue: route, 
					optionIdValueProp: 'Text',
                    isCreateNew: $parent.isAddingNewRouteValue,
					isEditModeOnly: $parent.isNewMedicationName,
                    isCreateNewEnabled: $parent.isCreateNewEnabled,
                    isEnabled: $parent.isDropdownEnabled,
                    selectOptions: $parent.routes, 
                    selectionLabel: 'Route',
                    optionsLabel: 'medication-route',
                    placeholderText: 'Enter new route',
                    AddNewOptionText: $parent.addNewOptionText,
					isAddNewOption: true
                }} -->
        <!-- /ko -->

        </div>
    <div class="row pad-top">

    </div>
    <div class="row pad-top divider">
        <div class="span2 align-right grey">
            Quantity:
        </div>
        <div class="span3 pad-left">
        	<input type="text" data-bind="value: freqQuantity" />
        </div>
		<!-- ko compose: { model: 'viewmodels/patients/sections/dropdown.w.addnew' , activationData: 
                { selectedValue: frequency, 
                    isCreateNew: $parent.isAddingNewFrequencyValue,
                    isCreateNewEnabled: $parent.isCreateNewFrequencyEnabled,
                    isEnabled: $parent.isDropdownEnabled,
                    selectOptions: $parent.frequency,
					optionTextProp: 'name',
                    selectionLabel: 'Frequency',
                    optionsLabel: 'medication-freq-howoften',
                    placeholderText: 'Enter new frequency',
                    AddNewOptionText: $parent.addNewOptionText,
					isAddNewOption: false,
					newCustomValue:	customFrequency 
                }} -->
        <!-- /ko -->
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">Reason:</div>
        <div class="span8 pad-left">
            <input data-bind="value: reason" placeholder="reason for medication" size="100" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="span3 grey">
            Notes:
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <textarea data-bind="value: notes" maxlength="1000"></textarea>
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Created On:
        </div>
        <div class="span2 pad-left grey" data-bind="DateOrDash: createdOn">
        </div>
        <div class="span2 align-right grey">
            Updated On:
        </div>
        <div class="span2 pad-left grey" data-bind="DateOrDash: updatedOn">
        </div>
        <div class="span2 align-right grey">
            System:
        </div>
        <div class="span2 pad-left grey" data-bind="text: systemName">
        </div>
    </div>
</div>