<div class="force-down" data-bind="with: newPatientMedication, css:{'body': medication !== undefined}">
    <div class="row">
        <div class="span12 line">
            <div class="row">
                <div class="span2 align-right grey">
                    &nbsp
                </div>
                <div class="span3 pad-left">
                    <div data-bind="chsnsingle: { options: $parent.categories, value: category, text: 'name', label: 'medication-category', caption: 'Choose...' }"></div>
                </div>
                <div class="span2 align-right grey">
                    Type:
                </div>
                <div class="span3 pad-left">
                    <div data-bind="chsnsingle: { options: $parent.types, value: type, text: 'name', label: 'medication-type', caption: 'Choose...', isRequired: true }, css: { 'invalid': !type() }"></div>
                </div>
            </div>
            <div class="row pad-top">
                <div class="span2 align-right grey">
                    Name:
                </div>
                <div class="span3 pad-left">
					<div class="row">
                    <!-- ko if: isNew -->
                        <input class="span12" type="text" data-bind="typeahead: { name: 'medications', taOptions: $parent.medicationBloodhound, displayKey: 'DisplayName' }, value: name, valueUpdate: 'afterkeydown', initOptions: { hint: false, highlight: true, minLength: 3, overrideSelected: $parent.overrideSelected }, showResultsCount: $parent.resultsMessage, css: { 'invalid': !$parent.canAdd() }" placeholder="Search Medications" />
                    <!-- /ko -->
                    <!-- ko ifnot: isNew -->
                        <span><pre data-bind="text: name"></pre></span>
                    <!-- /ko -->
					</div>
                </div>
                <div class="span2 align-right grey">
                    Status:
                </div>
                <div class="span3 pad-left">
                    <div data-bind="chsnsingle: { options: $parent.statuses, value: status, text: 'name', label: 'medication-status', caption: 'Choose...' }"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Source:
        </div>
        <div class="span3 pad-left">
        	<div data-bind="chsnsingle: { options: $parent.sources, value: source, text: 'name', label: 'medication-source', caption: 'Choose...' }"></div>
        </div>
    </div>
    <div class="row pad-top divider filters">
        <!-- ko compose: { model: 'viewmodels/patients/sections/dropdown.w.addnew' , activationData:
                { selectedValue: strength,
					optionIdValueProp: 'Text',
                    isCreateNew: $parent.isAddingNewStrengthValue,
					isEditModeOnly: $parent.isNewMedicationName,
                    isCreateNewEnabled: $parent.isCreateNewEnabled,
                    isEnabled: $parent.isDropdownEnabled,
                    selectOptions: $parent.strengths,
                    selectionLabel: 'Strength',
                    optionsLabel: 'medication-strength',
                    placeholderText: 'Enter new strength',
                    AddNewOptionText: $parent.addNewOptionText,
					isAddNewOption: true
                }} -->
        <!-- /ko -->

        <!-- ko compose: { model: 'viewmodels/patients/sections/dropdown.w.addnew' , activationData:
                { selectedValue: route,
                    optionIdValueProp: 'Text',
                    isCreateNew: $parent.isAddingNewRouteValue,
                    isEditModeOnly: $parent.isNewMedicationName,
                    isCreateNewEnabled: $parent.isCreateNewEnabled,
                    isEnabled: $parent.isDropdownEnabled,
                    selectOptions: $parent.routes,
                    selectionLabel: 'Route',
                    optionsLabel: 'medication-route',
                    placeholderText: 'Enter new route',
                    AddNewOptionText: $parent.addNewOptionText,
                    isAddNewOption: true
                }} -->
        <!-- /ko -->
        <i class="pointer icon-cancel pull-right pad-right toggle" data-bind="click: $parent.resetDropdowns"></i>
    </div>
    <div class="row pad-top">

        <!-- ko compose: { model: 'viewmodels/patients/sections/dropdown.w.addnew' , activationData:
                { selectedValue: form,
					optionIdValueProp: 'Text',
                    isCreateNew: $parent.isAddingNewFormValue,
					isEditModeOnly: $parent.isNewMedicationName,
                    isCreateNewEnabled: $parent.isCreateNewEnabled,
                    isEnabled: $parent.isDropdownEnabled,
                    selectOptions: $parent.dosageForms,
                    selectionLabel: 'Dose Form',
                    optionsLabel: 'dosage-form',
                    placeholderText: 'Enter new dose form',
                    AddNewOptionText: $parent.addNewOptionText,
					isAddNewOption: true
                }} -->
        <!-- /ko -->
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Quantity:
        </div>
        <div class="span3 pad-left">
            <input type="text" data-bind="value: freqQuantity" />
        </div>
        <!-- ko compose: { model: 'viewmodels/patients/sections/dropdown.w.addnew' , activationData:
                { selectedValue: frequency,
                    isCreateNew: $parent.isAddingNewFrequencyValue,
                    isCreateNewEnabled: $parent.isCreateNewFrequencyEnabled,
                    isEnabled: $parent.isDropdownEnabled,
                    selectOptions: $parent.frequency,
                    optionTextProp: 'name',
                    selectionLabel: 'Frequency',
                    optionsLabel: 'medication-freq-howoften',
                    placeholderText: 'Enter new frequency',
                    AddNewOptionText: $parent.addNewOptionText,
                    isAddNewOption: false,
                    newCustomValue: customFrequency
                }} -->
        <!-- /ko -->
    </div>
    <div class="row pad-top divider">
        <div class="span2 align-right grey">
            Ordered By:
        </div>
        <div class="span3 pad-left">
            <input type="text" data-bind="value: orderedBy" size="50" />
        </div>
        <div class="span2 align-right grey">
            Ordered Date:
        </div>
        <div class="span3 pad-left">
            <!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
                {
                    observableDateTime: orderedDate,
                    dateErrors: orderedDateErrors, showInvalid: $parent.setInvalidOrderedDate,
                    datepickerOptions:{}, datepickerDynamicOptions: {}, dateName: 'orderedDate'
                }
            } -->
            <!-- /ko -->
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Rx Number:
        </div>
        <div class="span3 pad-left">
            <input type="text" data-bind="value: rxNumber" size="50" />
        </div>
        <div class="span2 align-right grey">
            Rx Date:
        </div>
        <div class="span3 pad-left">
            <!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
                {
                    observableDateTime: rxDate,
                    dateErrors: rxDateErrors, showInvalid: $parent.setInvalidRxDate,
                    datepickerOptions:{}, datepickerDynamicOptions: {}, dateName: 'rxDate'
                }
            } -->
            <!-- /ko -->
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Prescribed by:
        </div>
        <div class="span3 pad-left">
            <input type="text" data-bind="value: prescribedBy" size="50" />
        </div>
        <div class="span2 align-right grey">
            Prescribed Date:
        </div>
        <div class="span3 pad-left">
            <!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
                {
                    observableDateTime: prescribedDate,
                    dateErrors: prescribedDateErrors, showInvalid: $parent.setInvalidPrescribedDate,
                    datepickerOptions:{}, datepickerDynamicOptions: {}, dateName: 'prescribedDate'
                }
            } -->
            <!-- /ko -->
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Pharmacy:
        </div>
        <div class="span3 pad-left">
            <input type="text" data-bind="value: pharmacy" size="500" />
        </div>
    </div>
    <div class="row pad-top divider">
        <div class="span2 align-right grey">
            Start Date:
        </div>
        <div class="span3 pad-left">
            <!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
                {
                    observableDateTime: startDate, dateErrors: startDateErrors, showInvalid: $parent.setInvalidStartDate,
                    datepickerOptions:{}, datepickerDynamicOptions: {}, dateName: 'startDate'
                }
            } -->
            <!-- /ko -->
        </div>
        <div class="span2 align-right grey">
            End Date:
        </div>
        <div class="span3 pad-left">
            <!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
                {
                    observableDateTime: endDate, dateErrors: endDateErrors, showInvalid: $parent.setInvalidEndDate,
                    datepickerOptions:{}, datepickerDynamicOptions: {minDate: startDate}, dateName: 'endDate'
                }
            } -->
            <!-- /ko -->
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Duration:
        </div>
        <div class="span1 pad-left">
            <input type="number" data-bind="value: duration" size="50" />
        </div>
        <div class="span2">
            <div data-bind="chsnsingle: { options: $parent.durationUnits, value: durationUnitId, text: 'name', label: 'medication-duration-unit', caption: 'Choose...', idValue: 'id' }"></div>
        </div>
        <div class="span2 align-right grey" data-bind="if: otherDuration">
            Other Duration:
        </div>
        <div class="span3 pad-left" data-bind="if: otherDuration">
            <input type="text" data-bind="value: otherDuration" size="50" />
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Review:
        </div>
        <div class="span3 pad-left">
            <div data-bind="chsnsingle: { options: $parent.medicationReviews, value: reviewId, idValue: 'id', text: 'name', label: 'medication-review', caption: 'Choose...' }"></div>
        </div>
    </div>
    <div class="row pad-top" data-bind="visible: $parent.showRefusalReason">
        <div class="span2 align-right grey">
            Refusal Reason:
        </div>
        <div class="span5 pad-left">
            <div data-bind="chsnsingle: { options: $parent.refusalReasons, value: refusalReasonId, idValue: 'id', text: 'name', label: 'medication-refusal-reason', caption: 'Choose...' }"></div>
        </div>
        <div class="span1 align-right grey" data-bind="if: $parent.showOtherReason">
            Other Reason:
        </div>
        <div class="span3 pad-left" data-bind="if: $parent.showOtherReason">
            <input type="text" data-bind="value: otherRefusalReason" size="100" />
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">Reason:</div>
        <div class="span8 pad-left">
            <input data-bind="value: reason" placeholder="reason for medication" size="250" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="span3 grey">
            Notes:
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <textarea data-bind="value: notes" maxlength="1000"></textarea>
        </div>
    </div>
    <div class="row pad-top">
        <div class="span2 align-right grey">
            Created On:
        </div>
        <div class="span2 pad-left grey" data-bind="DateOrDash: createdOn">
        </div>
        <div class="span2 align-right grey">
            Updated On:
        </div>
        <div class="span2 pad-left grey" data-bind="DateOrDash: updatedOn">
        </div>
        <div class="span2 align-right grey">
            System:
        </div>
        <div class="span2 pad-left grey" data-bind="text: systemName">
        </div>
    </div>
</div>