<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PhytelServicesConnName" value="Phytel" />
    <add key="DDCareMemberUrl" value="http://azurePhytelDev.cloudapp.net:59901/CareMember" />
    <add key="DDPatientServiceUrl" value="http://localhost:8888/Patient" />
    <add key="ASEProcessID" value="30" />
    <add key="ASEAPI" value="http://azurePhytelDev.cloudapp.net:59901/ASEAPI/1.0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>