
html, body {
  height:100%;
}

/*
select[multiple] { display:none; }


.ui-select select, .ui-multiselect select {
  position:absolute;
  width:100%;
  z-index:1;
  opacity:0;
  filter:alpha(opacity=0);
}

*/

.ui-select, .ui-multiselect {
  position:relative;
  background:none;
  font:normal 12px/1.5em Arial, Helvetica, sans-serif;
  color:#333333;
  text-decoration:none !important;
  line-height:22px;
  height:22px;
  padding:0 26px 0 0;
  margin:0.2em 0 !important;
  border:none !important;
  white-space:nowrap;
  display:inline-block;
  text-align:left;
  cursor:pointer;
  width:auto !important;
}

.ui-select span, .ui-multiselect span 
{
    position:relative;
    line-height:22px;
    height:22px;
    width:100%;
    padding:0px 0.4em;
    margin:0 !important;
    border:none !important;
    text-shadow:1px 1px 0px #ffffff;
    display:block !important;
    -webkit-min-device-pixel-ratio:0;
}

.ui-select span.ui-icon, .ui-multiselect span.ui-icon 
{
    background-position:right top;
    position:absolute;
    padding:0 !important;
    width:26px;
    height:22px;
    display:block !important;
    z-index:1;
}

.ui-multiselect-menu 
{
    display:none;
    position:absolute;
    top:5px;
    width: auto !important;
    min-width: 200px !important;
    z-index:5;
    background:#f4f4f4;
    -webkit-box-shadow:0 3px 10px rgba(0,0,0,0.25);
    -moz-box-shadow:0 3px 10px rgba(0,0,0,0.25);
    box-shadow:0 3px 10px rgba(0,0,0,0.25);
    padding:0 !important;
    margin:0 !important;
    border:1px solid #888888;
}

.patient-search-textbox 
{
    font-size:11px;
    line-height:15px;
    margin:2px 0 0 20px;
    padding:4px 3px 2px 3px;  
    height:16px;
    width:190px;
    border:none;
    background-color:#fff;
    float:left;
}

.patient-search-textbox:focus 
{  
    outline: none;  
} 
