<div class="row pad-top">
    <div class="span3 align-right">
        <span class="grey" data-bind="text: name"></span>
    </div>
    <div class="span5">
        <input data-bind="datepicker: value, datepickerOptions: {  }" type="text" class="datepicker">
    </div>
    <div class="span4">        
		<!-- ko if: Modernizr.inputtypes.time -->
			<input data-bind="timepicker: value, attr: { 'disabled': !value() }" type="time">			
		<!-- /ko -->
		<!-- ko ifnot: Modernizr.inputtypes.time -->
			<input data-bind="jqtimepicker: value, attr: { 'disabled': !value() }" type="text">
		<!-- /ko -->
    </div>
</div>