@{
    ViewBag.Title = "Home Page";
}

<div class="route">
    <section class="open" data-type="flex">
        <div class="column">
            <div class="widget footer open">
                <div class="content">
                    <div class="wrapper">
                        <div class="content">
                            <div class="header">
                                <div class="table-cell">
                                    <header>
                                        <h1>Designer widget</h1>
                                        <div class="controls">
                                            <div class="toggle single-arrow-left" data-method="open" data-type="remove">
                                            </div>
                                            <div class="toggle double-arrow-right" data-method="open" data-type="add">
                                            </div>
                                            <div class="toggle fullscreen" data-method="fullscreen" data-type="both">
                                            </div>
                                        </div>
                                    </header>
                                </div>
                            </div>
                            <div class="body">
                                <div class="row pad pad-top">
                                </div>
                            </div>
                            <div class="footer">
                                <div class="table-cell">
                                    <footer>
                                        <nav class="pagination">
                                            <span class="page current">
                                                1
                                            </span>
                                            <span class="page">
                                                <a href="/designer/template_programs?programs=2" rel="next">2</a>
                                            </span>
                                            <span class="next">
                                                <a href="/designer/template_programs?programs=2" rel="next"><img alt="Collapse right" src="/images/collapse_right.png"></a>
                                            </span>
                                            <span class="last">
                                                <a href="/designer/template_programs?programs=2"><img alt="Expand right" src="/images/expand_right.png"></a>
                                            </span>
                                        </nav>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column open">
            <div class="widget open footer">
                <div class="content">
                    <div class="wrapper">
                        <div class="content">
                            <div class="header">
                                <div class="table-cell">
                                    <header>
                                        <h1>Column-Two</h1>
                                        <div class="controls">
                                            <div class="toggle single-arrow-left" data-method="open" data-type="remove">
                                            </div>
                                            <div class="toggle double-arrow-right" data-method="open" data-type="add">
                                            </div>
                                            <div class="toggle fullscreen" data-method="fullscreen" data-type="both">
                                            </div>
                                        </div>
                                        <div class="options">
                                        </div>
                                    </header>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="table-cell">
                                    <footer>
                                        <nav class="pagination">
                                            <span class="page current">
                                                1
                                            </span>
                                            <span class="page">
                                                <a href="/designer/template_programs?modules=2" rel="next">2</a>
                                            </span>
                                            <span class="next">
                                                <a href="/designer/template_programs?modules=2" rel="next"><img alt="Collapse right" src="/images/collapse_right.png"></a>
                                            </span>
                                            <span class="last">
                                                <a href="/designer/template_programs?modules=2"><img alt="Expand right" src="/Images/expand_right.png"></a>
                                            </span>
                                        </nav>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>