<form>
    <div class="row pad top">
        <div class="span3">
            <span class="grey">
                Category
            </span>
        </div>
        <div class="span9">
            <span class="grey">
                Assign
            </span>
        </div>
    </div>
    <div class="row pad top">
        <div class="span3">
            <div data-bind="chsnsingle: { options: categories, value: selectedCategory, text: 'Name', label: 'category' }"></div>
        </div>
        <div class="span6">
            <div data-bind="chsnsingle: { options: contractPrograms, value: selectedProgram, text: 'name', label: 'programs' }"></div>
        </div>
    </div>
    <div class="position bottom right">
        <div class="pad vertical">
            <button data-bind="click: cancelAssign" class="cancel">Cancel</button>
            <input data-bind="click: saveAssign, disable: !canSave()" type="submit" value="Save">
        </div>
    </div>
</form>