<form>
    <div class="span6 pad bottom">
        <label>
            <span>Action</span>
        </label>
        <select>
            <option>Left Message</option>
            <option>Spoke with patient</option>
            <option>Busy</option>
        </select>
        <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 140px;" title="">
            <a class="chosen-single" tabindex="-1">
                <span>Left Message</span>
                <div><b></b></div>
            </a>
            <div class="chosen-drop">
                <div class="chosen-search">
                    <input type="text" autocomplete="off" readonly="" />
                </div>
                <ul class="chosen-results"></ul>
            </div>
        </div>
    </div>
    <div class="span6 pad bottom">
        <label>
            <span>Call Notes</span>
            <input type="text" />
        </label>
    </div>
    <div class="span6 pad bottom">
        <label>
            <span>Date/Time</span>
            <input class="datepicker hasDatepicker" type="text" id="dp1386105161754" />
        </label>
    </div>
    <div class="position bottom right">
        <div class="pad vertical">
            <button class="cancel">Cancel</button>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>