<form>    
    <div class="row pad accordion divider" data-bind="with: $parent.newNote">
		<!-- ko compose: "templates/validation.errors.html" -->
		<!-- /ko --> 
        <div class="accordion-toggle" data-bind="clickToggle: $parents[1].gnContentOpen">
            <div class="bold line">Content:
            </div>
        </div>
        <div class="accordion-content" data-bind="visible: $parents[1].gnContentOpen">
			<div class="row pad-top">
				<div class="span2">
                    <h5 class="grey pad-bottom">Duration</h5>
                </div>
                <div class="span2">
                    <input type="text" data-bind="value: duration, valueUpdate: 'afterkeydown', numeric: duration, 
						attr:{maxlength: 4, max: 1440, min: 1, title:'Duration: enter a number of minutes from 1 to 1440'},
						css: { 'invalid': (validationErrorsArray().indexOf('duration') !== -1) }"></input>
                </div>
				<span class="span2 grey align-left">(minutes)</span>
			</div>
            <div class="row pad-top">
                <div class="span12">
                    <label>
                        <div class="input inline text optional note_content">
                            <textarea data-bind="value: text, valueUpdate: 'afterkeydown'" class="text optional" maxlength="5000"></textarea>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row pad-top">
                <div class="span12 pad-bottom">
                    <label>
                        <span>Program(s)</span>
                    </label>
                    <div class="row">
                        <div class="span9" data-bind="multiselect: { options: $parents[1].availablePrograms, values: programIds, idValue: 'id', text: 'nameByElementState', label: 'programs', stringValue: programString }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad accordion divider" data-bind="with: $parent.newNote">
        <div class="accordion-toggle" data-bind="clickToggle: $parents[1].gnLastNotesOpen">
            <div class="bold line">Past Notes:
            </div>
        </div>
        <div class="accordion-content" data-bind="visible: $parents[1].gnLastNotesOpen, foreach: $parents[1].lastThreeNotes">
            <div class="row pad-top divider" data-bind="if: createdOn">
                <a class="span12" href="#" data-bind="click: $parents[2].viewDetails">
                    <div class="row">
                        <strong data-bind="Date: createdOn"></strong> : <span data-bind="with: createdBy"><span data-bind="text: preferredName"></span> - </span>
                    </div>
                    <div class="row">
                        <span class="span12 ellipsis" data-bind="text: text"></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="accordion-content" data-bind="visible: $parents[1].lastThreeNotes().length === 0">
            <em>No notes have been entered</em>
        </div>
    </div>
    <div class="row pad-top divider" data-bind="visible: !$parent.gnLastNotesOpen()">
    </div>
    <div class="position bottom left">
        <div class="pad vertical">
            <a class="btn color" href="#" data-bind="click: $parent.gotoHistory">View More</a>
        </div>
    </div>
    <div class="position bottom right">
        <div class="pad vertical">
            <button data-bind="click: $parent.cancelNote" class="cancel">Cancel</button>
            <input data-bind="click: $parent.saveNote, enable: $parent.canSave" type="submit" value="Save">
        </div>
    </div>
</form>