<div data-bind="with: patientIsSelected">
    <div class="quickadd" data-bind="css: { 'open': $parent.isShowing }">
        <div class="quickadd-toggle" data-bind="clickToggle: $parent.isShowing">
            <div class="toggle down-up"></div>
            <strong>Quick Add</strong>
        </div>
        <div class="quickadd-content">
            <header data-bind="foreach: $parent.quickAddSections">
                <div class="tab">
                    <a data-bind="click: $parents[1].setActiveTab, css: { 'active': $parents[1].activeQuickAddTab() === $data }, attr: { 'data-tab': Type }" href="#">
                        <i data-bind="attr: { class: IconPath }"></i>
                        <span class="pad-left" data-bind="text: Title"></span>
                    </a>
                </div>
            </header>
            <div class="body pad" data-bind="foreach: $parent.quickAddSections">
                <section data-bind="css: { 'active': $parents[1].activeQuickAddTab() === $data }, attr: { 'data-tab': Type }">
                    <!-- ko compose: { model: Path, activationData: { data: $parents[1] } } -->
                    <!-- /ko -->
                </section>
            </div>
        </div>
    </div>
</div>