<form class="simple_form new_note">
	<div data-bind="with: $parent.newUtilization">
		<!-- ko compose: "templates/validation.errors.html" -->
		<!-- /ko -->	 	
	</div>
		<div class="row pad accordion divider">
			<div class="accordion-toggle" data-bind="clickToggle: $parent.utDetailsOpen" >
				<div class="row">
					<div class="bold line pull-left">
						Visit:
					</div>
				</div>
			</div>
			<div class="accordion-content pad" data-bind="with: $parent.newUtilization, visible: $parent.utDetailsOpen">
				<div class="row">
					<div class="span3">
						<h5 class="grey pad-bottom">Type</h5>
						<div class="icon-list">
							<div data-bind="chsnsingle: { options: $parents[1].visitTypes, value: visitType, text: 'name', label: 'visitTypes' }, 
											css: { 'invalid': (validationErrorsArray().indexOf('visitType') !== -1) }"></div>
						</div>
					</div>
					<div class="span9" data-bind="visible: showOtherVisitType" >
						<h5 class="grey pad-bottom">Other Type</h5>
						<input data-bind="value: otherType, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('otherType') !== -1) }"
							maxlength="100" type="text"/>
					</div>
				</div>
			<div class="row pad-top">
				<div class="span3">
					<h5 class="grey pad-bottom">Visit/Admit Date</h5>
					<div class="row">
						<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
							{
								observableDateTime: admitDate, dateErrors: admitDateErrors, dateName: 'admitDate', showInvalid: setInvalidAdmitDate,
								datepickerOptions:{ }, datepickerDynamicOptions: {}, dateCss: 'span12'
							}
						} -->
						<!-- /ko -->
					</div>
				</div>
			<div class="span3">
				<h5 class="grey pad-bottom">Admitted ?</h5>
				<div class="checker" data-bind="hoverToggle: 'hover'">
					<span data-bind="css: { 'checked': admitted() === true }">
						<input type="checkbox" data-bind="checked: admitted" />
					</span>
				</div>
			</div>
			<div class="span6">
				<h5 class="grey pad-bottom">Discharge Date</h5>
				<div class="span6">
					<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
						{
							observableDateTime: dischargeDate, dateErrors: dischargeDateErrors, dateName: 'dischargeDate', showInvalid: setInvalidDischargeDate,
							datepickerOptions:{ }, datepickerDynamicOptions: {minDate: admitDate}, dateCss: 'span12', showTime: false
						}
					} -->
					<!-- /ko -->
				</div>
				<div data-bind="visible: utilizationLengthStr">
					<span class="grey" data-bind="text: utilizationLengthDesc"></span>
					<span class="pad-left" data-bind="text: utilizationLengthStr"></span>
				</div>
			</div>
		</div>
			<div class="row pad-top">			
				<h5 class="grey pad-bottom">Location</h5>
				<div class="icon-list span6">
					<div data-bind="chsnsingle: { options: $parents[1].utilizationLocations, value: utilizationLocation, text: 'name', label: 'utilizationLocations', isCancel: true}"></div>
				</div>				
			</div>
			<div class="row" data-bind="visible: showOtherLocation" >
				<div class="pad-top">
					<h5 class="grey pad-bottom">Other Location</h5>
					<input data-bind="value: otherLocation, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('otherLocation') !== -1) }"
						maxlength="100" type="text"/>
				</div>
			</div>
			<div class="row pad-top">
				<div class="span3">
					<h5 class="grey pad-bottom">Disposition</h5>
					<div class="icon-list">
						<div data-bind="chsnsingle: { options: $parents[1].dispositions, value: disposition, text: 'name', label: 'dispositions', isCancel: true }"></div>
					</div>
				</div>
				<div class="span9" data-bind="visible: showOtherDisposition" >
					<h5 class="grey pad-bottom">Other Disposition</h5>
					<input data-bind="value: otherDisposition, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('otherDisposition') !== -1) }"
						maxlength="100" type="text"/>
				</div>
			</div>
				</div>
		</div>
		<div class="row pad accordion open divider" data-bind="with: $parent.newUtilization">
				<div class="accordion-toggle" data-bind="clickToggle: $parents[1].utContentOpen">
						<div class="bold line">Content:
						</div>
				</div>
				<div class="accordion-content pad" data-bind="visible: $parents[1].utContentOpen">
						<div class="row">
				<div class="span3">
					<h5 class="grey pad-bottom">Source</h5>
					<div class="icon-list">
						<div data-bind="chsnsingle: { options: $parents[1].utilizationSources, value: utilizationSource, text: 'name', label: 'utilizationSources', isCancel: true }"></div>
					</div>
				</div>
				<div class="span6">
					<h5 class="grey pad-bottom">Program(s)</h5>
					<div class="icon-list span10" data-bind="multiselect: { options: $parents[1].availablePrograms, values: programIds, idValue: 'id', text: 'nameByElementState', label: 'programs', stringValue: programString }"></div>
				</div>
						</div>
						<div class="row pad-top">
								<div class="span12">
										<label>
						<h5 class="grey pad-bottom">Reason</h5>
												<div>
														<textarea data-bind="value: text, valueUpdate: 'afterkeydown', css: { 'invalid': (validationErrorsArray().indexOf('text') !== -1) }"
								style="resize: both;" maxlength="5000"></textarea>
												</div>
										</label>
								</div>
						</div>
				</div>
		</div>
		<div class="row pad-top accordion divider">
				<div class="accordion-toggle" data-bind="clickToggle: $parent.utLastNotesOpen">
						<div class="bold line">Past Notes:
						</div>
				</div>
				<div class="accordion-content" data-bind="visible: $parent.utLastNotesOpen, foreach: $parent.lastThreeNotes">
						<div class="row pad-top divider" data-bind="if: createdOn">
								<a class="span12" href="#" data-bind="click: $parents[1].viewDetails">
										<div class="row">
												<strong data-bind="Date: createdOn"></strong> : <span data-bind="with: createdBy"><span data-bind="text: preferredName"></span> - </span>
										</div>
										<div class="row">
												<span class="span12 ellipsis" data-bind="text: text"></span>
										</div>
								</a>
						</div>
				</div>
				<div class="accordion-content" data-bind="visible: $parent.lastThreeNotes().length === 0">
						<em>No notes have been entered</em>
				</div>
	</div>
		<div class="row pad-top divider" data-bind="visible: !$parent.utLastNotesOpen()">
		</div>
		<div class="position bottom left">
				<div class="pad vertical">
						<a class="btn color" href="#" data-bind="click: $parent.gotoHistory">View More</a>
				</div>
		</div>
		<div class="position bottom right">
				<div class="pad vertical">
						<button data-bind="click: $parent.cancelUtilization" class="cancel">Cancel</button>
						<input data-bind="click: $parent.saveUtilization, enable: $parent.canSaveUtilization" type="submit" value="Save">
				</div>
		</div>
</form>