#contentcolumn {
    margin-right: 280px; /*Set right margin to RightColumnWidth*/
}

/*
Be careful of the margins and padding in rightcolumn.  
Width must be less the amount of padding on ALL sides from the actual margin settings.
So, if the margin-right above is set to 280px, the margin-left below must be negative the same amount,
and if you have 5px padding in rightcolumn, that makes the available width = this:

width = margin-right MINUS padding * 2

*/

#rightcolumn {
    float: left;
    width: 270px;
    /*Width of right column in pixels*/
    margin-left: -280px;
    /*Set left margin to -(RightColumnWidth) */
    padding: 5px;
    
    background: #999; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c0c0c0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c0c0c0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ffffff,  #c0c0c0); /* for firefox 3.6+ */ 
    
}

.innertube {
    /*margin: 10px;
    Margins for inner DIV inside each column (to provide padding)*/
    margin-right: 10px;
    margin-top: 0;
}

#contentwrapper {
    float: left;
    width: 100%;
}