.loginContainer 
{
  width: 940px;
  margin-left:20px;
}
.login label 
{
  float:left;
  clear:left;
  font-size:12px;
  line-height:17px;
  font-weight:bold;
  color:#333333;
  padding-bottom:8px;
  display:block;
  width:70px;
}
.login input 
{
  float:left;
  width:200px;
  height:18px;
  line-height:18px;
}

.login span.failureNotification
{
    float:left;
    height:18px;
    line-height:18px;
}

.login_header
{
    width:950px; 
    height:51px; 
    padding-top:10px;
    margin-left: 14px;
    border-bottom: 1px solid #cccccc;
}
.login_header:after
{
  content:"\0020";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}

.login_instructions
{
    margin-left:14px;
    margin-top:6px;
    margin-bottom:8px;
}

.failureNotification
{
    color:#FF0000;
}

.phytel_news 
{
  width:965px;
  height:450px;
  margin-top:19px;
  border-top: 1px solid #cccccc;
  margin-left: 12px;
}
.phytel_news_content
{
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom:15px;
  width:300px;
}
.phytel_news h1 
{ 
    font-size:13px; 
}
.rssItem
{
   line-height: 18px;
   border:0;
}
.forgot_password
{
    margin-left:70px;
    font-size:11px;
    float:left;
    margin-right:54px;
}
#Content_MainLogin_PasswordRecoveryLink
{
    font-size:11px;
    color:#333333;
    margin-left:73px;
}
#Content_MainLogin_PasswordRecoveryLink:hover
{
    cursor:pointer
}
.validationMessageContainer
{
    position:absolute;
    top:195px;
    padding: 5px 0px 5px 5px;
    margin-left: -10px;
    visibility: visible;
    display: block;
}