<div class="panel-wrapper">
    <div class="row">
        <!-- ko foreach: columns -->
        <div class="grey hover-parent" data-bind="css: cssClass">
            <span data-bind="text: displayName"></span>
            <!-- ko if: $parent.canSort && canSort -->
                <i class="pull-right filter-toggle pad-right " data-bind="click: $parent.toggleSort, css: ($parent.selectedSortColumn() === sortProperty ? 'fa fa-caret-up' : ($parent.selectedSortColumn() === sortProperty + ' desc' ? 'fa fa-caret-down' : ''))"></i>
            <!-- /ko -->
            <!-- ko if: ($parent.canSort  && canSort && ($parent.selectedSortColumn() !== sortProperty && $parent.selectedSortColumn() !== sortProperty + ' desc'))  -->
                <i class="pull-right hover-show fa fa-caret-up filter-toggle pad-right" data-bind="click: $parent.toggleSort"></i>
            <!-- /ko -->
        </div>
        <!-- /ko  -->
    </div>
    <div data-bind="foreach: computedAllergies">
        <div class="row divider filter-toggle" data-bind="foreach: $parent.columns, css: { 'active': $parent.activeAllergy() === $data }">
            <div data-bind="compose: { model: $parent, view: path }, css: cssClass"></div>
        </div>
        <div class="row pad allergydtl muted toggle" data-bind="visible: isExpanded">
			<div class="row pad-top">
                <div class="span2">
                    <strong>Type:</strong>
                </div>
                <div class="span10" data-bind="text: typeString"></div>
            </div>
            <div class="row pad-top">
                <div class="span2">
                    <strong>Reaction:</strong>
                </div>
                <div class="span10" data-bind="text: reactionString"></div>
            </div>
			<div class="row pad-top" data-bind="if: source">
                <div class="span2">
                    <strong>Source:</strong>
                </div>
                <div class="span10" data-bind="text: source().name()"></div>
            </div>
			<div class="row pad-top">
				<div class="span2">
                    <strong>Start Date:</strong>
                </div>
                <div class="span3" data-bind="DateOrDash: startDate"></div>
				<div class="span2">
                    <strong>End Date:</strong>
                </div>
                <div class="span3" data-bind="DateOrDash: endDate"></div>
			</div>
            <div class="row pad-top">
                <div class="span2">
                    <strong>Notes</strong>
                </div>
                <div class="span10">
                    <textarea disabled="disabled" data-bind="value: notes"></textarea>
                </div>
            </div>
			<div class="row pad-top">
                <div class="span2">
                    <strong>System:</strong>
                </div>
                <div class="span10" data-bind="text: systemName"></div>
            </div>
        </div>
    </div>
    <div class="row" data-bind="visible: computedAllergies().length === 0">
        <em>No data meets your filter criteria</em>
    </div>
</div>