<div class="body" data-bind="with: intervention" style="min-height: 400px;">
    <div class="column">
        <section class="data-set clearfix">
			<!-- ko compose: "templates/validation.errors.html" -->
			<!-- /ko -->
            <div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Description</span>
                </div>
                <div class="span7">
                    <input data-bind="value: description, valueUpdate: 'afterkeydown', css: {'invalid': (validationErrorsArray().indexOf('description') !== -1) }" class="string optional" maxlength="500" type="text" />                    
                </div>
            </div>
            <div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Status</span>
                </div>
                <div class="span3">
                    <div data-bind="chsnsingle: { options: $parent.interventionStatuses, value: status, text: 'name', label: 'interventionstatuses', disabled: $parent.isNew() }"></div>
                </div>
            </div>
			<div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Due Date</span>
                </div>
                <div class="span6">
					<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
						{
							observableDateTime: dueDate, dateErrors: dueDateErrors, showInvalid: $parent.setInvalidDueDate, 
							datepickerOptions:{}, datepickerDynamicOptions: {}, dateName: 'dueDate'
						}
					} -->
					<!-- /ko -->                    
                </div>
                <div class="span3"></div>
            </div>
            <div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Start Date</span>
                </div>
                <div class="span6">
					<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
						{
							observableDateTime: startDate, dateErrors: startDateErrors, showInvalid: $parent.setInvalidStartDate, 
							datepickerOptions:{}, datepickerDynamicOptions: {}, dateName: 'startDate'
						}
					} -->
					<!-- /ko -->                    
                </div>
                <div class="span3"></div>
            </div>
			
            <div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Category</span>
                </div>
                <div class="span3">
                    <div data-bind="chsnsingle: { options: $parent.interventionCategories, value: category, text: 'name', label: 'interventioncategories' }"></div>
                </div>
            </div>
            <div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Assigned To</span>
                </div>
                <div class="span9">
                    <input class="span12" type="text" data-bind="typeahead: { name: 'assignedToIdTypeAhead', taOptions: $parent.careManagersBloodhound, displayKey: 'preferredName'}, value: $parent.assignedToDisplay, initOptions: { minLength: 3 }" placeholder="Enter name" />
                </div>
            </div>
            <div class="row pad-top">
                <div class="span3 align-right">
                    <span class="grey">Associated Barrier(s)</span>
                </div>
                <!-- ko if: goal -->
                <div class="span6" data-bind="multiselect: { options: $parent.computedBarriers, values: barrierIds, idValue: 'id', text: 'name', label: 'barriers', stringValue: barrierString }"></div>
                <!-- /ko -->
                <!-- ko if: !goal() -->
                <span class="span9">No barriers</span>
                <!-- /ko -->
            </div>
			<div class="row pad-top">
				<div class="row pad-top filter-toggle" data-bind="click: $parent.toggleOpen, visible: details">
					<h5 class="grey pad-bottom">Existing Details</h5>
					<span data-bind="visible: (!($parent.existingDetailsOpen())), text: '...'"></span>				
				</div>
				<pre data-bind="text: details, visible: $parent.existingDetailsOpen" ></pre>
				<div class="row pad-top divider">
					<h5 class="grey pad-bottom">New Details</h5>
					<textarea data-bind="value: newDetails, valueUpdate: 'afterkeydown'" class="string optional" maxlength="5000" type="text" style="height: 10em; resize: both;"></textarea>
				</div>				
			</div>
        </section>
    </div>
</div>