<div class="panel-wrapper">
    <div class="row">
        <div class="grey hover-parent span1">
            <span></span>
        </div>
        <div class="grey hover-parent span6">
            <span>Medication</span>
        </div>
        <div class="grey hover-parent span2">
            <span>Date</span>
        </div>
        <div class="grey hover-parent span2">
            <span>Status</span>
        </div>
    </div>
    <div data-bind="foreach: computedMedicationGroups">
        <div class="row divider filter-toggle" data-bind="css: { 'active': $parent.activeMedication() === firstMedication() }">
            <div class="span1 ellipsis filters" data-bind="with: firstMedication">
                <a class="toggle" href="#" data-bind="clickToggle: $parent.isExpanded"><i data-bind="css: $parent.isExpanded() ? 'icon-single-chevron-up' : 'icon-angle-double-down'"></i></a>
            </div>
            <div class="span6 ellipsis" data-bind="with: firstMedication">
                <a class="edit" href="#" data-bind="click: setActiveMedication, attr: { title: computedDisplayName }">
                    <pre data-bind="text: (computedDisplayName() ? computedDisplayName() : '-')"></pre>
                </a>
            </div>
            <div class="span2 ellipsis" data-bind="with: firstMedication">
                <span data-bind="DateOrDash: medSortDate"></span>
            </div>
            <div class="span2 ellipsis" data-bind="with: firstMedication">
                <!-- ko with: status -->
                    <span class="pull-left filters" data-bind="if: id() === '1'">
                        <a href="#" data-bind="click: $parent.inactivate"><i class="icon-checkbox-on blue toggle" title="Deactivate"></i></a>
                    </span>
                    <div class="pull-left filters" data-bind="if: id() === '2'">
                        <a href="#" data-bind="click: $parent.activatePatientMedication"><i class="icon-checkbox-off blue toggle" title="Activate"></i></a>
                    </div>
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="foreach: sortedMedications, visible: isExpanded">
            <!-- ko if: $data !== $parent.firstMedication() -->
                <div class="row divider filter-toggle" data-bind="css: { 'active': $parents[1].activeMedication() === $data }">
                    <div class="span1 ellipsis filters">
                        &nbsp;
                    </div>
                    <div class="span6 ellipsis">
                        <a class="edit" href="#" data-bind="click: setActiveMedication, attr: { title: computedDisplayName }">
                            <pre data-bind="text: (computedDisplayName() ? computedDisplayName() : '-')"></pre>
                        </a>
                    </div>
                    <div class="span2 ellipsis">
                        <span data-bind="DateOrDash: medSortDate"></span>
                    </div>
                    <div class="span2 ellipsis">
                        <!-- ko with: status -->
                            <span class="pull-left filters" data-bind="if: id() === '1'">
                                <a href="#" data-bind="click: $parent.inactivate"><i class="icon-checkbox-on blue toggle" title="Deactivate"></i></a>
                            </span>
                            <div class="pull-left filters" data-bind="if: id() === '2'">
                                <a href="#" data-bind="click: $parent.activatePatientMedication"><i class="icon-checkbox-off blue toggle" title="Activate"></i></a>
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            <!-- /ko -->
            <!-- ko if: $parent.sortedMedications().length === 1 -->
                <em>No additional medications</em>
            <!-- /ko -->
        </div>
    </div>
    <div class="row" data-bind="visible: computedMedicationGroups().length === 0">
        <em>No data meets your filter criteria</em>
    </div>
</div>
