<div data-bind="visible: type().name().toLowerCase() === 'touchpoint'">									
	<div class="row pad-top">
		<strong>Content:</strong>
	</div>
	<div class="row pad-top">
		<textarea readonly="readonly" class="display-only span12" data-bind="text: text, autoHeight: text, attr: { 'title': text }"></textarea>
	</div>
	<div class="row pad-top divider"></div>
	<div data-bind="if: duration">
		<div class="row pad-top" >
			<strong class="span3">Duration:</strong>
			<span class="pad-top" data-bind="text: duration"></span> minutes
		</div>
	</div>
	<div class="row pad-top" data-bind="with: method">
		<strong class="span3">Method:</strong>
		<span class="span9" data-bind="text: name"></span>
	</div>
	<div class="row pad-top" data-bind="with: outcome">
		<strong class="span3">Outcome:</strong>
		<span class="span9" data-bind="text: name"></span>
	</div>
	<div class="row pad-top" data-bind="with: who">
		<strong class="span3">Who:</strong>
		<span class="span9" data-bind="text: name"></span>
	</div>
	<div class="row pad-top" data-bind="with: source">
		<strong class="span3">Source:</strong>
		<span class="span9" data-bind="text: name"></span>
	</div>
	<div data-bind="if: type().name().toLowerCase() === 'touchpoint'">
		<div class="row pad-top"></div>
			<strong class="span3">Validated:</strong>
			<span class="span9" data-bind="text: validatedIdentity() ? 'Yes' : 'No' "></span>
		</div>
	<div data-bind="if: contactedOn">
		<div class="row pad-top">
			<strong class="span3">Date / Time:</strong>
			<span class="span9" data-bind="DateTime: contactedOn"></span>
		</div>
	</div>
</div> 