<div data-bind="visible: type().name().toLowerCase() === 'utilization'">
	<div class="row pad-top">
		<strong>Reason:</strong>
	</div>
	<div class="row pad-top">
		<textarea readonly="readonly" class="display-only span12" data-bind="text: text, autoHeight: text, attr: { 'title': text }"></textarea>
	</div>
	<div class="row pad-top divider"></div>

	<div class="row pad-top" data-bind="visible: visitType, with: visitType">
		<strong class="span3">Visit Type:</strong>
		<div class="span9">
			<span data-bind="text: name" ></span>
			<span class="pad-left" data-bind="visible: $parent.showOtherVisitType && $parent.otherType, text: ('- ' + $parent.otherType())" ></span>
		</div>
	</div>
	<div class="row pad-top" data-bind="visible: admitDate">
		<strong class="span3">Visit/Admit Date:</strong>
		<span class="span9" data-bind="DateOrNothing: admitDate"></span>
	</div>
	<div class="row pad-top" data-bind="visible: (admitted() === true || admitted() === false)">
		<strong class="span3">Admitted:</strong>
		<span class="span9" data-bind="text: admitted() ? 'Yes' : 'No' "></span>
	</div>
	<div class="row pad-top" data-bind="visible: dischargeDate">
		<strong class="span3">Discharge Date:</strong>
		<span class="span9" data-bind="DateOrNothing: dischargeDate"></span>
	</div>
	<div class="row pad-top" data-bind="visible: utilizationLengthStr">
		<strong class="span3">
			<span  data-bind="text: utilizationLengthDesc"></span> :
		</strong>
		<span data-bind="text: utilizationLengthStr"></span>
	</div>
	<div class="row pad-top" data-bind="visible: utilizationLocation, with: utilizationLocation">
		<strong class="span3">Location:</strong>
		<div class="span9">
			<span data-bind="text: name" ></span>
			<span class="pad-left" data-bind="text: ('- ' + $parent.otherLocation()), visible: $parent.showOtherLocation && $parent.otherLocation" ></span>
		</div>
	</div>
	<div class="row pad-top" data-bind="visible: disposition, with: disposition">
		<strong class="span3">Disposition:</strong>
		<div class="span9">
			<span data-bind="text: name" ></span>
			<span class="pad-left" data-bind="text: ('- ' + $parent.otherDisposition()), visible: $parent.showOtherDisposition && $parent.otherDisposition" ></span>
		</div>
	</div>
	<div class="row pad-top" data-bind="visible: utilizationSource, with: utilizationSource">
		<strong class="span3">Source:</strong>
		<span class="span9" data-bind="text: name"></span>
	</div>
</div> 