<div class="row pad top" data-bind="with: observation">
    <div class="span2">
        <span data-bind="text: name, attr: { title: name }"></span> <span data-bind="with: units">(<span data-bind="text: $data, attr: { title: $data }"></span>)</span>
    </div>
    <div class="span3">
        <div class="row">
            <div class="span6" data-bind="with: $parent.systolicObservationValue">
                <input type="text" placeholder="Systolic" data-bind="value: value, valueUpdate: 'afterkeydown', css: { 'invalid': ($parent.validationErrorsArray().indexOf('systolic') !== -1) }">
            </div>
            <div class="span6" data-bind="with: $parent.diastolicObservationValue">
                <input type="text" placeholder="Diastolic" data-bind="value: value, valueUpdate: 'afterkeydown', css: { 'invalid': ($parent.validationErrorsArray().indexOf('diastolic') !== -1) }">
            </div>
        </div>
    </div>
    <div class="span3">        
		<!-- ko compose: { model: 'viewmodels/templates/datetimepicker', activationData:
			{
				observableDateTime: startDate, dateErrors: startDateErrors, showInvalid: setInvalidStartDate, 
				maxDate: 'today', datepickerOptions:{ maxDate: '+0' }, datepickerDynamicOptions: {}
			}
		} -->
		<!-- /ko -->
    </div>
    <div class="span3">
        <label>
            <span data-bind="text: $parent.customBPString, attr: { title: $parent.customBPString }"></span>
        </label>
    </div>
    <div class="span1 pull-left">
        <a href="#" data-bind="click: $parent.addNew, enable: $parent.canAdd, css: { 'disabled': !$parent.canAdd() }">
            <i class="icon-plus"></i>
        </a>
    </div>
</div>