<div class="body">
	<div class="column"> 
        <section class="accordion">
			<div class="accordion-content">
				<div class="row pad-top">
					<div class="span3 align-right">
						<span class="grey">Status</span>
					</div>
					<div class="span3" data-bind="chsnsingle: { options:  $root.patientStatuses, value: patientStatus, text: 'name'}"></div>        
				</div>	
				<div class="row pad-top" data-bind="visible: (statusId() !== '1')">
					<div class="span3 align-right">
						<span class="grey">Reason</span>
					</div>
					<div class="span3" data-bind="chsnsingle: { options:  $root.patientStatusReasons, value: patientStatusReason, text: 'name'}"></div>						
				</div>
				<div class="row pad-top">
					<div class="span3 align-right">
						<span class="grey">System</span>
					</div>
					<span class="span3" data-bind="text: (statusDataSource || 'N/A')"></span>		
				</div>				
			</div>
	    </section> 			
    </div>
	
    
</div>