<div class="row">
	<div class="pull-right span12 line">
		<div class="span10">
	        <div class="pull-right">
	            <input class="span12" type="text" data-bind="typeahead: { name: 'focusProblems', taOptions: probObsBloodhound, displayKey: 'name' }, value: selectedObservation, valueUpdate: 'afterkeydown'" placeholder="Search Focus Problem" />
	        </div>
		</div>
		<div class="span2">
			<button class="btn color small pull-right" data-bind="click: addNewObservation, enable: canAdd">
				<i class="icon-plus"></i>
				<span class="pad-left">Add</span>
			</button>
		</div>
	</div>
</div>