<div class="pad-top" data-bind="foreach: currentUser().computedRecentIndividuals">	
    <div class="row ellipsis" data-bind="click: $parent.choosePatient, css: { 'filter-toggle active strong': $parent.selectedPatient() === $data  }">
        <div class="columns patient-list">
            <div class="column ellipsis">
                <img alt="Patient small" class="pull-left" data-bind="attr: { src: genderModel().SmallImgSrc }" />
                <a href="#" class="line" data-bind="text: fullLastName() + ', ' + fullFirstName(), attr: { 'title': (fullLastName() + ', ' + fullFirstName()) }"></a>
            </div>
            <div class="column ellipsis">
                <span class="line grey pad horizontal" data-bind="with: dOB"><span data-bind="text: '(' + $data + ')', attr: { 'title': $data }" data-phyautomation="dob"></span></span>
            </div>
        </div>
    </div>
</div>