SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [spPhy_RPT_SaveObjectiveLookUp] 
	@MongoID varchar(50),
	@LookUpType varchar(MAX),
	@Name varchar(MAX),
	@Description varchar(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	If Exists(Select Top 1 1 From RPT_ObjectiveLookUp Where MongoId = @MongoID)
	Begin
		Update RPT_ObjectiveLookUp
		Set LookUpType = @LookUpType,
			Name = @Name,
			[Description] = @Description
		Where MongoId = @MongoID
	End
	Else
	Begin
		Insert Into RPT_ObjectiveLookUp(LookUpType, Name, [Description], MongoId) values (@LookUpType, @Name, @Description, @MongoID)
	End
END
GO
