<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="PhytelServices" value="https://www.myget.org/F/phytelservices/" />
    <add key="PhytelDTO" value="https://www.myget.org/F/phyteldto/" />
  </packageSources>
  <disabledPackageSources />
</configuration>