<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <add key="ASEProcessID" value="76"/>
    <add key="CommAPIConfigPath" value="C:\Program Files\Phytel.Net\CommAPI\"/>
    <add key="CommAPIConfigFileName" value="CommAPI.config"/>
    <!--QA Jango TransGroupID-->
    <add key="Jango_TransGroupID_AC" value="433487"/>
    <add key="Jango_TransGroupID_Campaign" value="433489"/>
    <!--Model Jango TransGroupID-->
    
    <!--<add key="Jango_TransGroupID_AC" value="338236" />
    <add key="Jango_TransGroupID_Campaign" value="433500" />-->
    
    <!--Prod Jango TransGroupID-->
    
    <!--<add key="Jango_TransGroupID_AC" value="277263" />
    <add key="Jango_TransGroupID_Campaign" value="433501" />-->

    <add key="ApiKey" value="bda11d91-7ade-4da1-855d-24adfe39d174"/>
    <add key="RestTimeout" value="100000"/>
    <add key="Rest" value="http://localhost:3333"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true"/>
        <windowsAuthentication enabled="false"/>
        <basicAuthentication enabled="false"/>
      </authentication>
    </security>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>