<div class="body" data-bind="visible: showing">
    <div class="row">
		<div data-bind="with: note"> 
			<!-- ko compose: "templates/validation.errors.html" -->
			<!-- /ko -->
		</div>
		<section class="accordion" >
            <!-- <div class="row" data-bind="with: $parent.activeDataType">
                <h3 data-bind="text: name, attr: { title: name }"></h3>
            </div> -->
            
			<!-- ko compose: { model: templatePath, activationData: { note: note } } -->
			<!-- /ko -->            
        </section>
	</div>
</div>		