<div class="row pad-top divider">
	<div class="span3" data-bind="text: name"></div>
	<div class="span3">
		<select data-bind="options: $parent.observationDisplays, value: displayId, optionsText: 'name', optionsValue: 'id'"></select>
	</div>
	<div class="span2">
		<!-- <input class="datepicker" readonly="readonly" type="text" data-bind="datepicker: startDate, datepickerOptions: { maxDate: '+0' }, css: { invalid: (validationErrorsArray().indexOf('startDate') !== -1) }" /> -->
		<input class="datepicker" type="text" data-bind="value: startDate, datepicker: startDate, date: startDate, valueUpdate: 'afterkeydown', datepickerOptions: { maxDate: '+0' }, css: { 'invalid': (validationErrorsArray().indexOf('startDate') !== -1) }">
	</div>
	<div class="span3">
		<select data-bind="options: $parent.observationStates, value: stateId, optionsText: 'name', optionsValue: 'id', attr: { 'disabled': isNew }"></select>
	</div>
	<div class="span1">
    <a href="#" data-bind="click: $parent.deleteFocusProblem, clickBubble: false"><i class="icon-cancel red"></i></a>
	</div>
</div>