<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="JasperServer" value="https://reporting.phytel.com" />
  </appSettings>
  <system.web>
    <customErrors mode="Off">
      <error statusCode="500" redirect="/../ErrorMessage.aspx" />
      <error statusCode="401" redirect="/../AccessDenied.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
    <machineKey validationKey="0E4F841C0509C2F69A676083DF684EC0B9FCA4F7BB4D1495F05431EB46294DDD94FF2F99F7F85916CC4A82B32F0997958160BF116B9E60B58F7656F63E1E005C" decryptionKey="D4E60DEA28AF7E0AD44EA10B256E8CF521D02D515326EE1583DD74C538510F06" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms loginUrl="../Login.aspx" timeout="540" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
