<div class="tab" data-bind="css: { 'active': tab.isActive() }, with: activeAction">
	<div class="fullscreen-span6">
    <h4 class="line short pull-left pad-right fullscreen-only">Current</h4>
    <!-- ko foreach: computedPath -->
        <!-- ko compose: stepType().path -->
        <!-- /ko -->
    <!-- /ko -->
	</div>
	<div class="fullscreen-only span6 muted" data-bind="with: $parent.selectedHistoricalAction">
        <h4 class="line short pull-left pad-right">History</h4>
        <div class="span6" data-bind="chsnsingle: { options: $parents[1].availableHistoricalActions, value: $parents[1].selectedHistoricalAction, text: 'formattedCompletedDate', label: 'action-actions', caption: 'Choose...' }"></div>        
        <!-- ko foreach: computedPath -->
            <!-- ko compose: stepType().path -->
            <!-- /ko -->
        <!-- /ko -->
	</div>
    <div class="fullscreen-only span6" data-bind="visible: !$parent.selectedHistoricalAction()">
        <em>No historical data</em>
    </div>
</div>