<div class="tab" data-bind="css: { 'active': tab.isActive() }">
    <div class="row pad-top">
        <table class="goal-action">
            <thead>
                <tr>
                    <th>
                        <strong>Focus Area(s)</strong>
                    </th>
                    <th>
                        <strong>Goal</strong>
                    </th>
                    <th>
                        <strong>Source</strong>
                    </th>
                    <th>
                        <strong>Type</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Healthy Eating</td>
                    <td class="wrap">Verbalize benefits of healthy eating</td>
                    <td>Program</td>
                    <td>Short-Term</td>
                </tr>
                <tr>
                    <td>Healthy Eating</td>
                    <td class="wrap">Increase daily servings of fruits/veggies </td>
                    <td>Program</td>
                    <td>Short-Term				</td>
                </tr>
                <tr>
                    <td>Healthy Eating</td>
                    <td>Improve diet</td>
                    <td>Program</td>
                    <td>Short-Term</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>