 <div>  
    <div class="span2 align-right grey">
        <span data-bind="text: selectionLabel"><span>
    </div>   
    
    <!-- ko ifnot: isCreateNew() -->
    <div class="span3 pad-left">
        <div data-bind="chsnsingle: { options: selectOptions(), value: selectedValue, text: optionTextProp, idValue: optionIdValueProp, 
						label: optionsLabel, caption: 'Choose...' , disabled: !isEnabled(),
						isSearch: isSearch, stickeySearchItemText: AddNewOptionText, 
						isCancel: true, title: getSelectedValueText(), isFocused: isDropDownFocused, searchQueryText: searchQueryText}"></div>
    </div> 
    <!-- /ko -->

    <!-- ko if: isCreateNew() -->    
    <div class="span3 pad-left filters">
        <input type="text" data-bind="value: getCustomValue(), 
					attr: {placeholder: placeholderText, title: getCustomValue()}, valueUpdate: 'afterkeydown', hasFocus: isFocused,
					event: { 'keyup': checkEscape }" 
					style="width: 84%;" />
		<i class="pointer close pull-right icon-cancel toggle" data-bind="click: cancelChanges"></i>
    </div>
    <!-- /ko -->
</div>